@import "compass";
@import "h5bp";

@include h5bp-normalize;
@include h5bp-base-styles;

$color_black: #000000;
$color_white: #F0F7F7;
$color_accent: #96864D;

*, *:before, *:after {
  @include box-sizing(border-box); 
}

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/cardoi99-webfont.eot');
    src: url('../fonts/cardoi99-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cardoi99-webfont.woff') format('woff'),
         url('../fonts/cardoi99-webfont.ttf') format('truetype'),
         url('../fonts/cardoi99-webfont.svg#cardoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/cardob101-webfont.eot');
    src: url('../fonts/cardob101-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cardob101-webfont.woff') format('woff'),
         url('../fonts/cardob101-webfont.ttf') format('truetype'),
         url('../fonts/cardob101-webfont.svg#cardobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/cardo104s-webfont.eot');
    src: url('../fonts/cardo104s-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cardo104s-webfont.woff') format('woff'),
         url('../fonts/cardo104s-webfont.ttf') format('truetype'),
         url('../fonts/cardo104s-webfont.svg#cardoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  background: $color_white;
  color: $color_black;
  font-family: 'Cardo', serif;
  font-size: 18px;
}

header {
  background: $color_accent;
  margin-bottom: 10px;
  padding: 10px 0;
  
  h1 {
    margin: 0;
    
    a {
      color: $color_white;
      text-decoration: none;
    }
  }
}

section {
  width: 89%;
  max-width: 970px;
  margin: 0 auto;
}

section.chapters {
  text-align: center;
  margin-bottom: 20px;

  span {
    font-weight: bold;
  }
  
  ul {
    padding: 0;
    display: inline;
    li {
      display: inline;
      
      a {
        text-decoration: none;
        color: $color_accent;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.chapter {
  .line {
    @include clearfix;
    
    &.odd {
      background: lighten($color_accent, 40%);
    }
    
    p {
      margin: 0;
      float: left;
      width: 100%;
      padding: 10px;
      
      &.line-number {
        width: 20%;
        padding-bottom: 0;
      }
      &.he {
        width: 80%;
        padding-bottom: 0;
        text-align: right;
        line-height: 30px;
      }
      &.nl {
        padding: 0 10px;
        line-height: 25px
      }
      
      &.margin {
        color: lighten($color_black, 30%);
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .chapter {
    .line {
      p {
        width: 50%;
        
        &.line-number {
          padding-bottom: 10px;
          width: 10%;
        }
        &.he, &.nl, &.margin {
          padding: 10px;
          width: 30%;
        }
      }
    }
  }
}

footer section {
  border-top: 1px dotted $color_accent;
  margin-top: 50px;
  
  p {
    text-align: center;
    font-style: italic;
    color: lighten($color_black, 50%);
  }
}