<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אֵלֶּה הַתּוֹלְדוֹת יֵשׁוּעַ הֵמָּשִׁיחַ בֵּן דָּוִד בֵּן אַבְרָהָם
      </p>
      <p class="nl">
        
          Dit is het voorgeslacht van Jesjoea, de Messias, de Zoon van Davied, de Zoon Avrahaam.
        
      </p>
      <p class="margin">
        
          Dit vers is een typisch Hebreeuwse schrijfwijze, zoals ook in Gen. 5 en Ruth 4:18-22.<br />‘dit is’ in Münster staat: ‘Het tellen van’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        אַבְרָהָם הוֹלִיד אֵת יִצְחָק וַיִצְחָק הוֹלִיד אֵת יַעֲקֹב וְיַעֲקֹב הוֹלִיד אֵת יְהוּדָה וְאֶחָיוְהוּדָה וְאֶחָיו
      </p>
      <p class="nl">
        
          Avrahaam verwekte Jitschaaq.<br />En Jitschaaq verwekte Jaäqov.<br />En Jaäqov verwekte J’hoedah en zijn broers.
        
      </p>
      <p class="margin">
        
          Avrahaam: (Abraham) vader heeft lief, volgens Gen. 17:5: vader van vele volkeren<br />Jitschaaq: (Izak of Izaäk) hij lacht<br />Jaäqov: (Jakob) hij houdt de hiel vast<br />J'hoedah: (Juda) JAHWEH zal geprezen worden
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְיהוּדָה הוֹלִיד אֵת פֶּרֶץ וָזֶרַח מִתָּמָר וּפֶּרֶץ הוֹלִיד אֵת חֶצְרוֹן וְחֶצְרוֹן הוֹלִיד אֵת רָםן וְחֶצְרוֹן הוֹלִיד אֵת רָםאֵת רָם
      </p>
      <p class="nl">
        
          En J’hoedah verwekte Perrets en Zerrach bij Tamaar.<br />En Perrets verwekte Chetsron.<br />En Chetsron verwekte Raam.
        
      </p>
      <p class="margin">
        
          Perrets: (Perez) breuk<br />Zerrach: (Zerah) lichtglans<br />Tamaar: palmboom, een Filistijnse<br />Chetsron (Hezron) omsloten<br />Raam: (Ram of Aram) verheven
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְרָם הוֹלִיד אֵת עַמִּינָדָב וְעַמִּינָדָב הוֹלִיד אֵת נַחְשׁוֹן וְנַחְשׁוֹן הוֹלִיד אֵת שַׂלְמוֹןן וְנַחְשׁוֹן הוֹלִיד אֵת שַׂלְמוֹן
      </p>
      <p class="nl">
        
          En Raam verwekte Amminadaav.<br />En Amminadaav verwekte Nachsjon.<br />En Nachsjon verwekte Salmon.
        
      </p>
      <p class="margin">
        
          Amminadaav: (Aminadab) mijn verwant is vrijgevig<br />Nachsjon: (Nahesson) slang<br />Salmon: ‘kleed’ of ‘vonk’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְשַׂלְמוֹן הוֹלִיד אֵת בּוֹעַז מִרָחָב הַזוֹנָה וְבּוֹעַז הוֹלִיד אֵת עוֹבֵד מִרוּת וְעוֹבֵד הוֹלִיד אֵת יִשַׁי הוֹלִיד אֵת יִשַׁי
      </p>
      <p class="nl">
        
          En Salmon verwekte Boaz bij Rachaav, de hoer.<br />En Boaz verwekte Oveed bij Roet.<br />En Oveed verwekte Jisjaj.
        
      </p>
      <p class="margin">
        
          Boaz: in hem is mijn sterkte<br />Rachaav: (Rachab) breed uitgestrekt, een Kanaänitische <br />Oveed: (Obed) dienaar<br />Roet: (Ruth) metgezellin(?), een Moabitische<br />Jisjaj: (Isaï) Hij is mijn JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְיִשַׁי הוֹלִיד אֵת דָּוִד הַמֶּלֶךְ וְדָּוִד הַמֶּלֶךְ הוֹלִיד אֵת אֵשֶׁת שְׁלֹמֹה מִאֵשֶׁת אוּרִיָּהמֹה מִאֵשֶׁת אוּרִיָּה
      </p>
      <p class="nl">
        
          En Jisjaj verwerkte Davied, de koning.<br />En Davied, de koning, verwekte Sj’lomoh, bij haar die was de vrouw van OeriJAH.
        
      </p>
      <p class="margin">
        
          Davied: (David) beminde<br />Sj'lomoh: (Salomo) ‘rijk aan vrede’ of ‘Hij is de vrede’<br />OeriJAH: (Uria) Licht is mijn JAHWEH, een Hethiet
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְשְׁלֹמֹה הוֹליִד אֵת רְחַבְעָם וּרְחַבְעָם הוֹלִיד אֵת אֲבִיָּה וְאֲבִיָּה הוֹלִיד אֵת אָסָא אֵת אָסָא
      </p>
      <p class="nl">
        
          En Sj’lomoh verwekte R’chavaam.<br />En R’chavaam verwekte AviJAH.<br />En AviJAH verwekte Asa.
        
      </p>
      <p class="margin">
        
          R'chavaam: (Rehabeam) uitgebreid is het volk, zijn moeder heette Naämah, een Ammonitische<br />AviJAH: (Abia) vader is JAHWEH<br />Asa: genezen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאָסָא הוֹלִיד אֵת יְהוֹשָׁפָט וִיְהוֹשָׁפָט הוֹלִיד אֵת יוֹרָם וִיוֹרָם הוֹלִיד אֵת עוּזּיָּה
      </p>
      <p class="nl">
        
          En Asa verwekte J’HOsjaphaat.<br />En J’HOsjaphaat verwekte JOram.<br />En JOram verwekte OeziJAH.
        
      </p>
      <p class="margin">
        
          J’HOsjaphaat: (Josafat) JAHWEH richt<br />JOram: JAHWEH is verheven<br />OeziJAH of OeziJAHU: (Uzzia) sterkte is JAHWEH<br />In 1 Kron. 3:12 wordt OeziJAH AzarJAH (Azaria) genoemd
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְעוּזּיָּה הוֹלִיד אֵת יוֹתָם וְיוֹתָם הוֹלִיד אֵת אָחָז וְאָחָז הוֹלִיד אֵת חִזְקִיָּה
      </p>
      <p class="nl">
        
          En OeziJAH verwekte JOtam.<br />En JOtam verwekte Achaaz.<br />En Achaaz verwekte ChizqiJAH.
        
      </p>
      <p class="margin">
        
          JOtam: (Jotham) JAHWEH is volmaakt<br />Achaz: Hij houdt vast<br />ChizqiJAH of ChizqiJAHU: (Hizkia) sterkte is JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְחִזְקִיָּה הוֹלִיד אֵת מְנַשֶׁה וּמְנַשֶׁה הוֹלִיד אֵת אָמוֹן וְאָמוֹן הוֹלִיד אֵת יֹאשִׁיָּה
      </p>
      <p class="nl">
        
          En ChizqiJAH verwekte M’nasjeh.<br />En M’nasjeh verwekte Amon.<br />En Amon verwekte JosjiJAH.
        
      </p>
      <p class="margin">
        
          M'nasjeh: (Manasse) doende vergeten<br />Amon, betrouwbaar<br />JosjiJAH of JosjiJAHU: (Josia) JAHWEH schraagt
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיֹאשִׁיָּה הוֹלִיד אֵת יְכָנְיָה וְאֶחָיו בַּגָּלוּת בָּבֶל
      </p>
      <p class="nl">
        
          En JosjiJAH verwekte J’chonJAH en zijn broers tijdens de ballingschap in Bavel.
        
      </p>
      <p class="margin">
        
          J'chonJAH: (Jechonia) JAHWEH bevestigt<br />Bavel: (Babel) verwarring (van talen), zie Gen. 11:9
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְּאַחַר גָּלוּת בָּבֶל יְכָנְיָה הוֹלִיד אֵת שְׁאַלְתִּיאֵל וּשְׁאַלְתִּיאֵל הוֹלִיד אֵת זְרֻובָּבֶל
      </p>
      <p class="nl">
        
          En na de ballingschap in Bavel verwekte J’chonJAH Sjealtieel.<br />En Sjealtieel verwekte Z’roebavel.
        
      </p>
      <p class="margin">
        
          ‘gevestigd’, letterlijk: ‘etsen’ en ‘graveren’<br />Sjealtieel: (Sealthiël) ik heb El gevraagd<br />Z'roebavel: (Zerubbabel) zaad van Bavel
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וּזְרֻובָּבֶל הוֹלִיד אֵת אֲבִיהוּד וְאֲבִיהוּד הוֹלִיד אֵת אֶלְיָקִים וְאֶלְיָקִים הוֹלִיד אֵת עַזּוּר
      </p>
      <p class="nl">
        
          En Z’roebavel verwekte Abihoed. <br />En Abihoed verwekte Eljaqiem. <br />En Eljaqiem verwekte Azzoer.
        
      </p>
      <p class="margin">
        
          Avihoed: (Abihud) vader is majesteit<br />DuTillet, en Münster in de kantlijn, noemt de naam ‘Avner’ (vader is lamp) als zoon van Abihoed en vader van Eljakim.<br />Eljaqiem: (Eljakim) El zal bevestigen <br />Azzoer: (Azor) geholpen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְעַזּוּר הוֹלִיד אֵת צָדוֹק וְצָדוֹק הוֹלִיד אֵת אָקִים וְאָקִים הוֹלִיד אֵת אֱלִיהוּד
      </p>
      <p class="nl">
        
          En Azzoer verwekte Tsadoq.<br />En Tsadoq verwekte Aqiem.<br />En Aqiem verwekte Elihoed.
        
      </p>
      <p class="margin">
        
          Tsadoq: (Zadok) rechtvaardig<br />Aqiem: (Akim) verkorte vorm van Jojaqiem (Jojakim), JAHWEH richt op<br />Elihoed: (Eliud) El is majesteit
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וֶאֱלִיהוּד הוֹלִיד אֵת אֶלְעָזָר וְאֶלְעָזָר הוֹלִיד אֵת מַתָּן וּמַתָּן הוֹלִיד אֵת יַעֲקֹב
      </p>
      <p class="nl">
        
          En Elihoed verwekte Elazaar. <br />En Elazaar verwekte Mattaan.<br />En Mattaan verwekte Jaäqov.
        
      </p>
      <p class="margin">
        
          Elazaar: (Eleazar) El heeft geholpen<br />Mattaan: (Matthan) gave (van El) 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיַעֲקֹב הוֹלִיד אֵת יוֹסֵף <br />הוּא יוֹסֵף אֲבִי מִרְיָם אִם יֵשׁוּעַ הַנִקְרָא מָשִׁיחַ וְבְּלֹעֵז קרִיסטוֹס
      </p>
      <p class="nl">
        
          En Jaäqov verwekte JOseeph.<br />Hij, JOseeph, is de vader van Mirjaam, de moeder van Jesjoea, die genoemd wordt de Messias en in de vreemde taal genoemd wordt Christos.
        
      </p>
      <p class="margin">
        
          JOseeph: (Jozef) JAHWEH voege bij<br />‘vader’ is overgenomen uit twee ongepubliceerde versies van Shem Tov, in de Peshitta staat ‘gabra’ (גַּברָה), wat betekent: ‘machtige man’ of ‘huisvader’.<br />Mirjaam: weerspannige(?)<br />‘de moeder van Jesjoea’ in DuTillet en Münster staat: ‘uit welke geboren wordt Jesjoea’<br />Jesjoea: (Jezus) JAHWEH is verlossing<br />Messias: Máshiàch en Christos (Christus): gezalfde<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכֹּל תּוֹלְדוֹת מֵאַבְרָהָם עֲד דָּוִד תּוֹלְדוֹת יד וּמִדָּוִד עֲד גָּלוּת בָּבֶל תּוֹלְדוֹת יד וְמִגָּלוּת בָּבֶל עֲד יֵשׁוּעַ הַמָשִׁיחַ תּוֹלְדוֹת יד
      </p>
      <p class="nl">
        
          En al van het geslacht van Avrahaam tot het geslacht van Davied is veertien. En van Davied tot de ballingschap in Bavel veertien geslachten. En van de ballingschap in Bavel tot Jesjoea, de Messias, veertien geslachten.
        
      </p>
      <p class="margin">
        
          Vier koningen van Jehoedah ontbreken, zie 1 Kron. 3:11-12 en 15: AchazJAH (Ahazia), JOaasj (Joas), AmmatsJAH (Amazia) en JOjaqiem, vanwege Deut. 29:20  <br />Er worden vier vrouwen bij name genoemd: Tamaar, Rachaav, Roet en Mirjaam. Dan is er nog de vrouw van OeriJAH: Bat-Sjeva (Batseba). Het noemen van namen van vrouwen in een Hebreeuws geslachtsregister is ongebruikelijk.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְלֶידֶת יֵּשּׁוּעַ הַמָשִׁיחַ כֵּן הָיָה בִּזָה הַאוֹפֵן<br />וַיְהִי כַּאֲשֶׁר הָיְתָה אִמּוֹ מִרְיָם אֲרוּסָה לְיוֹסֵף קוֹדְם שְׁיָדֹעַ אוֹתִה נִמְצָאֹת מְעוּבֶּרֶת מִרוּחַ הַקֹּדֶשׁ
      </p>
      <p class="nl">
        
          En de geboorte van Jesjoea, de Messias, gebeurde als volgt: het gebeurde toen Zijn moeder, Mirjaam, door JOseeph in ondertrouw genomen was, voordat zij samengekomen waren en zij was zwanger uit de Heilige Geest. 
        
      </p>
      <p class="margin">
        
          Samengekomen, letterlijk: ‘seksueel bekennen’ of ‘gemeenschap hebben’<br />‘zij was zwanger uit’, in DuTillet staat: ‘zij zwanger werd bevonden door’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיוֹסֵף אִישָׁהּ צָדִּיק הָיָה וְלֹא רָצָה לְיָשַׁב עֻמּה וְלֹא לְגָּלוּתַה לְהַבִיאָה לְבּוּשָׁה וְלֹא לְאֱוסָרֶהָ לְמוֹת אֵבֶל הָיָה רוֹצֶה לְכְּסוּת עָלָיה
      </p>
      <p class="nl">
        
          En JOseeph, haar man, was rechtvaardig en wilde niet bij haar blijven, maar wilde haar heimelijk verlaten om haar niet tot schande te maken, zodat zij omwille van de verbintenis niet gedood wordt. Hij wilde haar eer herstellen. 
        
      </p>
      <p class="margin">
        
          ‘En JOseeph, haar man, was rechtvaardig’ in de Peshitta staat: ‘Omdat haar echtgenoot, JOseeph, rechtvaardig was’, het woord voor echtgenoot (ba’la) vormt een tegenstelling tot ‘gabra’ in vers 16<br />Verlaten, letterlijk: deportatie<br />Verbintenis, daarmee wordt de ondertrouw bedoeld, het huwelijk is al wettelijk. Ondertrouw duurt ongeveer twaalf maanden.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְבַּחָשָׁבוּ חוֹשַׁב בִּזָה הַדָּבָר בַּלִבּוֹ וְהִנֵה מַלְאָךְ יַהְוֶה נִרְאָה אֵלָיו בַּחֲלוֹם וְאָמַר יוֹסֵף בֶּן דָּוִד אַל תִּירָא לָקַחַת אִשְׁתֶּךָ מִרְיָם כִּי שֶׁנְוָלָד מֵמֶּנַה שְׁמִרוּחַ הַקָדוֹשׁ הִיא מְעוּבֶּרֶת
      </p>
      <p class="nl">
        
          En terwijl hij dit beraamde en overlegde in zijn hart, maar zie! de Engel van JAHWEH verscheen hem in een droom en zei: JOseeph, zoon van Davied, wees niet bevreesd uw vrouw Mirjaam tot u te nemen, want de telg in haar is uit de Heilige Geest, zij is zwanger.
        
      </p>
      <p class="margin">
        
          Beraamde, letterlijk: ‘denkend beramen’<br />‘Engel van JAHWEH’, in DuTillet staat: ‘de Engel’, met lidwoord. De term ‘Engel van JAHWEH’ wordt gezien als verschijning van Jesjoea, de Messias. Teksten die daarvan getuigen zijn bijvoorbeeld: Richt. 13:18 en Jes. 9:5.<br />‘dat is vanuit’ letterlijk: ‘dat zij is bedekt’, zie ook vers 18.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְהִנֵּה הִיא תֵּלֵד בֵּן וְתִֹקְרָא שְׁמוֹ יֵשּׁוּעַ כִּי הוּא יְוֹשִּׁיעַ אֵת עַמִּי מְכֹּל מִעֲוֹנוֹתָם
      </p>
      <p class="nl">
        
          En zie! Zij zal een Zoon baren en u zult Zijn naam noemen Jesjoea, want Hij zal Mijn volk verlossen van alle zonden.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen de naam ‘Jesjoea’, dat is ‘JAHWEH is verlossing’, en het woord ‘verlossen’: יְוֹשִׁיעַ (jê’osji’à).<br />Alleen in Shem Tov staat ‘Mijn volk’ in plaats van ‘Zijn volk’, het verschil tussen een waav (ו) en jod (י).<br />Alleen DuTillet bevat het woord: ‘alle’ (מְכֹּל).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        כָל זֹה לְגְמוֹר מָה שֶׁנִכְתָּב מִאֵת הַנָּבִיא יְשַׁעְיָה עַל פִּי יַהְוֶה לֵאמֹר
      </p>
      <p class="nl">
        
          Dit alles is vervuld om hetgeen geschreven is en door de mond van de profeet J’sjaJAH gesproken is door JAHWEH namelijk:
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: over de mond<br />J'sjaJAH of J'sjaJAHU: (Jesaja) JAHWEH is (mijn) heil
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        הִנֵּה הָעַלְמָה הָרָה וְיֹלֶדֶת בֵּן וְקָרָאת שְׁמוֹ עִמָּנוּאֵל<br />שֶׁרֹצֵה לוֹמַר עִמָּנוּ אֱלֹהִים
      </p>
      <p class="nl">
        
          “Zie! De maagd zal zwanger worden en een Zoon baren. En Zijn naam noemen: Immanoe'eel!”<br />Dat betekent: Elohiem met ons.
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 7:14<br />‘maagd’ in de Septhuagint wordt het Hebreeuwse woord עַלְמָה (àlmáh) vertaald met Griekse woord παρθένος (parthenos), dit woord wordt tevens gebruikt door Textus Receptus.<br />Er is woordverband tussen ‘mijn volk’ (àmi) en de naam ‘Immanoe’eel’<br />Elohiem: (God) machtige, een titel voor JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיָּקִץ יוֹסֵף מִשְׁנַתוֹ וַיַּעַשׂ כְכֹּל אֲשֶׁר צִּוָּה אוֹתוֹ מַלְאָךְ יַהְוֶה וְיִקַחַ אֵת אִשְׁתּוֹ
      </p>
      <p class="nl">
        
          En toen JOseeph wakker geworden was uit zijn slaap, ging hij doen alles zoals de Engel van JAHWEH bevolen had en hij nam zijn vrouw.
        
      </p>
      <p class="margin">
        
          ‘en hij nam zijn vrouw’ dat wil zeggen dat JOseeph en Mirjaam trouwden.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְלֹא יָדַע אוֹתָהּ עָד שֶׁיָלְדָה בְנָהּ הַבְכֹוֹר וַיִּקִרָא אֵת שְׁמוֹ יֵשׁוּעַ
      </p>
      <p class="nl">
        
          Maar hij had geen gemeenschap met haar totdat zij haar eerstgeboren Zoon baarde en hij noemde Zijn naam: JESJOEA.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>