<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אֵלֶּה תּוֹלְדוֹת יֵשׁוּעַ בֶּן-דָּוִד בֶּן-אַבְרָהָם
      </p>
      <p class="nl">
        
          Dit is het voorgeslacht van Jesjoea, de Zoon van Davied, de Zoon Avraham.
        
      </p>
      <p class="margin">
        
          Dit vers is een typisch Hebreeuwse schrijfwijze, zoals ook in Gen. 5 en Ruth 4:18-22.<br />‘dit is’ in Münster staat: ‘Het tellen van’<br />‘Jesjoea’, in Münster staat: ‘Jesjoea, de Messias’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        אַבְרָהָם הוֹלִיד אֶת-יִצְחָק וַיִצְחָק הוֹלִיד אֶת-יַעֲקֹב וְיַעֲקֹב הוֹלִיד אֶת-יְהוּדָה וְאֶחָיו
      </p>
      <p class="nl">
        
          Avraham verwekte Jitschaaq. <br />En Jitschaaq verwekte Jaäqov. <br />En Jaäqov verwekte J’hoedah en zijn broers.
        
      </p>
      <p class="margin">
        
          Avraham: (Abraham) vader heeft lief, volgens Gen. 17:5: vader van vele volkeren<br />Jitschaaq: (Izak of Izaäk) hij lacht<br />Jaäqov: (Jakob) hij houdt de hiel vast<br />J’hoedah: (Juda) JAHWEH zal geprezen worden
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וִיהוּדָה הוֹלִיד אֶת-פֶּרֶץ וְזֶרַח מִתָּמָר וּפֶּרֶץ הוֹלִיד אֶת-חֶצְרוֹן וְחֶצְרוֹן הוֹלִיד אֶת-רָם
      </p>
      <p class="nl">
        
          En J’hoedah verwekte Perrets en Zerrach bij Tamaar.<br />En Perrets verwekte Chetsron.<br />En Chetsron verwekte Raam.
        
      </p>
      <p class="margin">
        
          Perrets: (Perez) breuk<br />Zerrach: (Zerah) lichtglans<br />Tamaar: palmboom, een Filistijnse<br />Chetsron (Hezron) omsloten<br />Raam: (Ram of Aram) verheven
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְרָם הוֹלִיד אֶת-עַמִּינָדָב וְעַמִּינָדָב הוֹלִיד אֶת-נַחְשׁוֹן וְנַחְשׁוֹן הוֹלִיד אֶת-שַׂלְמוֹן
      </p>
      <p class="nl">
        
          En Raam verwekte Amminadaav.<br />En Amminadaav verwekte Nachsjon.<br />En Nachsjon verwekte Salmon.
        
      </p>
      <p class="margin">
        
          Amminadaav: (Aminadab) mijn verwant is vrijgevig<br />Nachsjon: (Nahesson) slang<br />Salmon: ‘kleed’ of ‘vonk’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְשַׂלְמוֹן הוֹלִיד אֶת-בּוֹעַז מִרָחָב הַזּוֹנָה וְבּוֹעַז הוֹלִיד אֶת-עוֹבֵד מִרוּת וְעוֹבֵד הוֹלִיד אֶת-יִשַׁי
      </p>
      <p class="nl">
        
          En Salmon verwekte Boaz bij Rachaav, de hoer.<br />En Boaz verwekte Oveed bij Roet.<br />En Oveed verwekte Jisjaj.
        
      </p>
      <p class="margin">
        
          Boaz: in hem is mijn sterkte<br />Rachaav: (Rachab) breed uitgestrekt, een Kanaänitische <br />Oveed: (Obed) dienaar<br />Roet: (Ruth) metgezellin(?), een Moabitische<br />Jisjaj: (Isaï) Hij is mijn JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְיִשַׁי הוֹלִיד אֶת-דָּוִד הַמֶּלֶךְ וְדָּוִד הַמֶּלֶךְ הוֹלִיד אֶת-שְׁלֹמֹה מִאֵשֶׁת אוּרִיָּה
      </p>
      <p class="nl">
        
          En Jisjaj verwerkte Davied, de koning.<br />En Davied, de koning, verwekte Sj’lomoh, bij haar die was de vrouw van OeriJAH.
        
      </p>
      <p class="margin">
        
          Davied: (David) beminde<br />Sj'lomoh: (Salomo) ‘rijk aan vrede’ of ‘Hij is de vrede’<br />OeriJAH: (Uria) Licht is mijn JAHWEH, een Hethiet
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְשְׁלֹמֹה הוֹליִד אֶת-רְחַבְעָם וּרְחַבְעָם הוֹלִיד אֶת-אֲבִיָּה וְאֲבִיָּה הוֹלִיד אֶת-אָסָא
      </p>
      <p class="nl">
        
          En Sj’lomoh verwekte R’chavaam.<br />En R’chavaam verwekte AviJAH.<br />En AviJAH verwekte Asa.
        
      </p>
      <p class="margin">
        
          R'chavaam: (Rehabeam) uitgebreid is het volk, zijn moeder heette Naämah, een Ammonitische<br />AviJAH: (Abia) vader is JAHWEH<br />Asa: genezen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאָסָא הוֹלִיד אֶת-יְהוֹשָׁפָט וִיְהוֹשָׁפָט הוֹלִיד אֶת-יוֹרָם וִיוֹרָם הוֹלִיד אֶת-עוּזּיָּה
      </p>
      <p class="nl">
        
          En Asa verwekte J’hosjaphaat. <br />En J’hosjaphaat verwekte Joram. <br />En Joram verwekte OeziJAH.
        
      </p>
      <p class="margin">
        
          J’hosjaphaat: (Josafat) JAHWEH richt<br />Joram: (Joram) JAHWEH is verheven<br />OeziJAH of OeziJAHOE: (Uzzia) sterkte is JAHWEH<br />In 1 Kron. 3:12 wordt OeziJAH AzarJAH (Azaria) genoemd
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְעוּזּיָּה הוֹלִיד אֶת-יוֹתָם וְיוֹתָם הוֹלִיד אֶת-אָחָז וְאָחָז הוֹלִיד אֶת-חִזְקִיָּה
      </p>
      <p class="nl">
        
          En OeziJAH verwekte Jotaam. <br />En Jotaam verwekte Achaaz. <br />En Achaaz verwekte ChizqiJAH.
        
      </p>
      <p class="margin">
        
          Jotaam: (Jotham) JAHWEH is volmaakt<br />Achaaz: (Achaz) Hij houdt vast<br />ChizqiJAH of ChizqiJAHOE: (Hizkia) sterkte is JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְחִזְקִיָּה הוֹלִיד אֶת-מְנַשֶׁה וּמְנַשֶׁה הוֹלִיד אֶת-אָמוֹן וְאָמוֹן הוֹלִיד אֶת-יֹאשִׁיָּה
      </p>
      <p class="nl">
        
          En ChizqiJAH verwekte M’nasjeh.<br />En M’nasjeh verwekte Amon.<br />En Amon verwekte JosjiJAH.
        
      </p>
      <p class="margin">
        
          M’nasjeh: (Manasse) doende vergeten<br />Amon, betrouwbaar<br />JosjiJAH of JosjiJAHOE: (Josia) JAHWEH schraagt
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיֹאשִׁיָּה הוֹלִיד אֶת-יְכָנְיָה וְאֶחָיו בַּגָּלוּת בָּבֶל
      </p>
      <p class="nl">
        
          En JosjiJAH verwekte J’chanJAH en zijn broers tijdens de ballingschap in Bavel.
        
      </p>
      <p class="margin">
        
          J’chanJAH: (Jechonia) JAHWEH bevestigt<br />Bavel: (Babel) verwarring (van talen), zie Gen. 11:9
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְאַחַר גָּלוּת בָּבֶל יְכָנְיָה הוֹלִיד אֶת-שְׁאַלְתִּיאֵל וּשְׁאַלְתִּיאֵל הוֹלִיד אֶת-זְרוּבָּבֶל
      </p>
      <p class="nl">
        
          En na de ballingschap in Bavel verwekte J’chanJAH Sjealtieel. <br />En Sjealtieel verwekte Z’roebavel.
        
      </p>
      <p class="margin">
        
          ‘gevestigd’, letterlijk: ‘etsen’ en ‘graveren’<br />Sjealtieel: (Sealthiël) ik heb El gevraagd<br />Z'roebavel: (Zerubbabel) zaad van Bavel
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וּזְרוּבָּבֶל הוֹלִיד אֶת-אֲבִיהוּד וְאֲבִיהוּד הוֹלִיד אֶת-אֶלְיָקִים וְאֶלְיָקִים הוֹלִיד אֶת-עַזּוּר
      </p>
      <p class="nl">
        
          En Z’roebavel verwekte Avihoed. <br />En Avihoed verwekte Eljaqiem. <br />En Eljaqiem verwekte Azzoer.
        
      </p>
      <p class="margin">
        
          Avihoed: (Abihud) vader is majesteit<br />DuTillet, en Münster in de kantlijn, noemt de naam ‘Avner’ (vader is lamp) als zoon van Abihoed en vader van Eljakim.<br />Eljaqiem: (Eljakim) El zal bevestigen <br />Azzoer: (Azor) geholpen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְעַזּוּר הוֹלִיד אֶת-צָדוֹק וְצָדוֹק הוֹלִיד אֶת-אָקִים וְאָקִים הוֹלִיד אֶת-אֱלִיהוּד
      </p>
      <p class="nl">
        
          En Azzoer verwekte Tsadoq.<br />En Tsadoq verwekte Aqiem.<br />En Aqiem verwekte Elihoed.
        
      </p>
      <p class="margin">
        
          Tsadoq: (Zadok) rechtvaardig<br />Aqiem: (Akim) verkorte vorm van Jojaqiem (Jojakim), JAHWEH richt op<br />Elihoed: (Eliud) El is majesteit
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְאֱלִיהוּד הוֹלִיד אֶת-אֶלְעָזָר וְאֶלְעָזָר הוֹלִיד אֶת-מַתָּן וּמַתָּן הוֹלִיד אֶת-יַעֲקֹב
      </p>
      <p class="nl">
        
          En Elihoed verwekte Elazaar. <br />En Elazaar verwekte Mattaan.<br />En Mattaan verwekte Jaäqov.
        
      </p>
      <p class="margin">
        
          Elazaar: (Eleazar) El heeft geholpen<br />Mattaan: (Matthan) gave (van El) 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיַעֲקֹב הוֹלִיד אֶת-יוֹסֵף <br />הוּא יוֹסֵף אֲבִי מִרְיָם אִם יֵשׁוּעַ הַנִּקְרָא מָשִׁיחַ וּבְלֹעֵז קְרִיסְטוֹס
      </p>
      <p class="nl">
        
          En Jaäqov verwekte Joseeph. <br />Hij, Joseeph, is de vader van Mirjaam, de moeder van Jesjoea, die genoemd wordt de Messias en in de vreemde taal genoemd wordt Christos.
        
      </p>
      <p class="margin">
        
          Joseeph: (Jozef) JAHWEH voege bij<br />‘vader’ is overgenomen uit twee ongepubliceerde versies van Shem Tov, in de Peshitta staat ‘gabra’ (גַּברָה), wat betekent: ‘machtige man’ of ‘huisvader’.<br />Mirjaam: weerspannige(?)<br />‘de moeder van Jesjoea’ in DuTillet en Münster staat: ‘uit welke geboren wordt Jesjoea’<br />Jesjoea: (Jezus) JAHWEH is verlossing<br />Messias en Christos (Christus): gezalfde<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכֹל תּוֹלְדוֹת מִאַבְרָהָם עַד דָּוִד תּוֹלְדוֹת י"ד וּמִדָּוִד עַד גָּלוּת בָּבֶל תּוֹלְדוֹת י"ד וּמִגָּלוּת בָּבֶל עַד יֵשׁוּעַ תּוֹלְדוֹת י"ד
      </p>
      <p class="nl">
        
          En al van het geslacht van Avraham tot het geslacht van Davied is veertien. En van Davied tot de ballingschap in Bavel veertien geslachten. En van de ballingschap in Bavel tot Jesjoea veertien geslachten.
        
      </p>
      <p class="margin">
        
          Vier koningen van J’hoedah ontbreken, zie 1 Kron. 3:11-12 en 15: AchazJAH (Ahazia), JOaasj (Joas), AmmatsJAH (Amazia) en JOjaqiem, vanwege Deut. 29:20  <br />Er worden vier vrouwen bij name genoemd: Tamaar, Rachaav, Roet en Mirjaam. Dan is er nog de vrouw van OeriJAH: Bat-Sjeva (Batseba) Het noemen van namen van vrouwen in een Hebreeuws geslachtsregister is ongebruikelijk
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְלֵידַת מִיֵּשּׁוּעַ הָיָה בְּזֶה הָאוֹפַן וַיְהִי כַּאֲשֶׁר הָיְתָה אִמּוֹ אֲרוּסָה לְיוֹסֵף קוֹדְם שֶׁיָּדַע אוֹתָהּ נִמְצֵאת מֵעוֹבֶרֶת מֵרוּחַ הַקֹּדֶשׁ
      </p>
      <p class="nl">
        
          En de geboorte van Jesjoea gebeurde op deze manier: het gebeurde toen Zijn moeder door Joseeph in ondertrouw genomen was, voordat zij samengekomen waren en zij was zwanger uit de Heilige Geest. 
        
      </p>
      <p class="margin">
        
          Samengekomen, letterlijk: ‘seksueel bekennen’ of ‘gemeenschap hebben’<br />‘zij was zwanger uit’, in DuTillet staat: ‘zij zwanger werd bevonden door’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיוֹסֵף אִישָׁהּ צַדִּיק הָיָה וְלֹא רָצָה לֵישֵׁב עִמָּהּ וְלֹא לְגַּלוֹתָהּ לְהָבִיאָהּ לַבּוּשָׁה וְלֹא לְאוֹסְרָהּ לָמוּת אֲבָל הָיָה רוֹצֶה לְכַסּוֹת עָלֶיהָ
      </p>
      <p class="nl">
        
          En Joseeph, haar man, was rechtvaardig en wilde niet bij haar blijven, maar wilde haar heimelijk verlaten om haar niet tot schande te maken, zodat zij omwille van de verbintenis niet gedood wordt. Hij wilde haar eer herstellen. 
        
      </p>
      <p class="margin">
        
          ‘En Joseeph, haar man, was rechtvaardig’ in de Peshitta staat: ‘Omdat haar echtgenoot, Joseeph, rechtvaardig was’, het woord voor echtgenoot (ba’la) vormt een tegenstelling tot ‘gabra’ in vers 16<br />Verlaten, letterlijk: deportatie<br />Verbintenis, daarmee wordt de ondertrouw bedoeld, het huwelijk is al wettelijk. Ondertrouw duurt ongeveer twaalf maanden.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וּבְחָשָׁבוֹ בְּזֶה הַדָּבָר בְּלִבּוֹ וְהִנֵה מַלְאַךְ נִרְאָה אֵלָיו בַּחֲלוֹם לֵאמוֹר יוֹסֵף בֶּן-דָּוִד אַל תִּירָא לִקַּחַת אִשְׁתְּךָ מִרְיָם שְׁמָּרוּחַ הַקָּדוֹשׁ הִיא מֵעוֹבֶרֶת
      </p>
      <p class="nl">
        
          En terwijl hij dit beraamde en overlegde in zijn hart, maar zie! een engel verscheen hem in een droom, door te zeggen: Joseeph, zoon van Davied, wees niet bevreesd uw vrouw Mirjaam tot u te nemen uit de Heilige Geest is zij zwanger.
        
      </p>
      <p class="margin">
        
          Beraamde, letterlijk: ‘denkend beramen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְתֵלֵד בֵּן וְתִּקְרָא שְׁמוֹ יֵשּׁוּעַ כִּי הוּא יוֹשִׁיעַ אֶת-עַמִּי מֵעֲוֹנוֹתָם
      </p>
      <p class="nl">
        
          En zij zal een Zoon baren, en u zult Zijn naam noemen Jesjoea, want Hij zal Mijn volk verlossen van hun zonden.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen de naam ‘Jesjoea’, dat is ‘JAHWEH is verlossing’, en het woord ‘verlossen’: יוֹשִׁיעַ (josji’a)<br />Alleen in Shem Tov staat ‘Mijn volk’ in plaats van ‘Zijn volk’, het verschil tussen een waav (ו) en jod (י)<br />‘van hun zonden’, in DuTillet staat: ‘van al hun zonden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        כֹּל זֶה לְגַמוֹר מָה שֶׁנִּכְתַּב מֵאֵת הַנָּבִיא עַל פִּי יַהְוֶה
      </p>
      <p class="nl">
        
          Dit alles is vervuld om hetgeen geschreven is en door de mond van de profeet gesproken is door JAHWEH:
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: over de mond<br />‘de profeet’ is hier de profeet J’sjaJAH of J’sjaJAHOE (Jesaja), zijn naam betekent: JAHWEH is (mijn) heil
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        הִנֵּה הָעַלְמָה הָרָה וְתֵלֵד בֵּן וְקָרָאת שְׁמוֹ עִמָּנוּאֵל<br />שֶׁרֹצֵה לוֹמַר עִמָּנוּ אֱלֹהִים
      </p>
      <p class="nl">
        
          “Zie! De maagd zal zwanger worden en een Zoon baren. En Zijn naam noemen: Immanoe'eel!”<br />Dat betekent: Elohiem met ons.
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 7:14<br />‘maagd’ in de Septuagint wordt het Hebreeuwse woord עַלְמָה (almah) vertaald met Griekse woord παρθένος (parthenos), dit woord wordt tevens gebruikt in Griekse handschriften.<br />Er is woordverband tussen ‘mijn volk’ (ami) en de naam ‘Immanoe’eel’<br />Elohiem: (God) machtige, een titel voor JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיִּקַץ יוֹסֵף מִשְׁנַתוֹ וַיַּעַשׂ כְּכֹל אֲשֶׁר צִּוָּה אוֹתוֹ מַלְאַךְ יַהְוֶה וְיִּקַּח אֶת-אִשׁתּוֹ
      </p>
      <p class="nl">
        
          En toen Joseeph wakker geworden was uit zijn slaap, ging hij doen alles zoals de Engel van JAHWEH bevolen had en hij nam zijn vrouw.
        
      </p>
      <p class="margin">
        
          ‘en hij nam zijn vrouw’ dat wil zeggen dat Joseeph en Mirjaam trouwden<br />‘Engel van JAHWEH’, dit wordt gezien als verschijning van Jesjoea, de Messias. Teksten die daarvan getuigen zijn bijvoorbeeld: Richt. 13:18 en Jes. 9:5
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְלֹא יָדַע אוֹתָהּ עַד שֶׁיָלְדָה בְּנָהּ הַבְּכוֹר וַיִּקְרָא אֶת-שְׁמוֹ יֵשׁוּעַ
      </p>
      <p class="nl">
        
          Maar hij had geen gemeenschap met haar totdat zij haar eerstgeboren Zoon baarde en hij noemde Zijn naam: JESJOEA.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>