<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אֵלֶּה תּוֹלְדוֹת יֵשׁוּעַ בֶּן־דָּוִד בֶּן־אַבְרָהָם
      </p>
      <p class="nl">
        
          Dit is het voorgeslacht van Jesjoea, Zoon van David, Zoon van Avraham.
        
      </p>
      <p class="margin">
        
          Dit vers is een typisch Hebreeuwse schrijfwijze, zoals ook in Gen. 5 en Ruth 4:18-22.<br />‘het voorgeslacht’, letterlijk: de verwekkingen<br />‘Jesjoea’, in Münster staat: ‘Jesjoea, de Messias’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        אַבְרָהָם הוֹלִיד אֶת־יִצְחָק וַיִצְחָק הוֹלִיד אֶת־יַעֲקֹב יַעֲקֹב הוֹלִיד אֶת־יְהוּדָה וְאֶחָיו
      </p>
      <p class="nl">
        
          Avraham verwekte Jitschaq. <br />En Jitschaq verwekte Jaäqov. <br />Jaäqov verwekte J<sup>e</sup>hoedah en zijn broers.
        
      </p>
      <p class="margin">
        
          Avraham: (Abraham): vader van vele volkeren<br />Jitschaq: (Izak of Izaäk) hij lacht<br />Jaäqov: (Jakob) hij houdt de hiel vast<br />J<sup>e</sup>hoedah: (Juda) JHWH zal lof geprezen worden
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        יהוּדָה הוֹלִיד אֶת־פֶּרֶץ וְזֶרַח מִתָּמָר פֶּרֶץ הוֹלִיד אֶת־חֶצְרוֹן וְחֶצְרוֹן הוֹלִיד אֶת־רָם
      </p>
      <p class="nl">
        
          J<sup>e</sup>hoedah verwekte Perets en Zerach bij Tamar. <br />Perets verwekte Chetsron. <br />En Chetsron verwekte Ram.
        
      </p>
      <p class="margin">
        
          Perets: (Perez) breuk<br />Zerach: (Zerah) lichtglans<br />Tamar: palmboom<br />Chetsron (Hezron) omsloten<br />Ram: (Ram of Aram) verheven
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְרָם הוֹלִיד אֶת־עַמִּינָדָב וְעַמִּינָדָב הוֹלִיד אֶת־נַחְשׁוֹן וְנַחְשׁוֹן הוֹלִיד אֶת־שַׂלְמוֹן
      </p>
      <p class="nl">
        
          En Ram verwekte Amminadav.<br />En Amminadav verwekte Nachsjon.<br />En Nachsjon verwekte Salmon.
        
      </p>
      <p class="margin">
        
          Amminadav: (Aminadab) mijn verwant is vrijgevig<br />Nachsjon: (Nahesson) slang<br />Salmon: ‘kleed’ of ‘vonk’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        שַׂלְמוֹן הוֹלִיד אֶת־בּוֹעַז מִרָחָב הַזּוֹנָה בּוֹעַז הוֹלִיד אֶת־עוֹבֵד מִרוּת וְעוֹבֵד הוֹלִיד אֶת־יִשַׁי
      </p>
      <p class="nl">
        
          Salmon verwekte Boaz bij Rachav, de hoer.<br />Boaz verwekte Ovéd bij Roet.<br />En Ovéd verwekte Jisjaj.
        
      </p>
      <p class="margin">
        
          Boaz: in hem is mijn sterkte<br />Rachav: (Rachab) breed uitgestrekt, een Kanaänitische <br />Ovéd: (Obed) dienaar<br />Roet: (Ruth) metgezellin(?), een Moabitische<br />Jisjaj: (Isaï) Hij is mijn JHWH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        יִשַׁי הוֹלִיד אֶת־דָּוִד הַמֶּלֶךְ דָּוִד הַמֶּלֶךְ הוֹלִיד אֶת־שְׁלֹמֹה מִאֵשֶׁת אוּרִיָּה
      </p>
      <p class="nl">
        
          Jisjaj verwerkte David, de koning. <br />David, de koning, verwekte Sj<sup>e</sup>lomoh, uit de vrouw van OeriJAH.
        
      </p>
      <p class="margin">
        
          David: beminde<br />Sj<sup>e</sup>lomoh: (Salomo) ‘rijk aan vrede’ of ‘Hij is de vrede’<br />OeriJAH: (Uria) Licht is mijn JHWH, een Hethiet
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        שְׁלֹמֹה הוֹליִד אֶת־רְחַבְעָם רְחַבְעָם הוֹלִיד אֶת־אֲבִיָּה אֲבִיָּה הוֹלִיד אֶת־אָסָא
      </p>
      <p class="nl">
        
          Sj<sup>e</sup>lomoh verwekte R<sup>e</sup>chav‘am. <br />R<sup>e</sup>chav‘am verwekte AviJAH. <br />AviJAH verwekte Asa.
        
      </p>
      <p class="margin">
        
          R<sup>e</sup>chav‘am: (Rehabeam) uitgebreid is het volk<br />AviJAH: (Abia) vader is JHWH<br />Asa: genezen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        אָסָא הוֹלִיד אֶת־יְהוֹשָׁפָט יְהוֹשָׁפָט הוֹלִיד אֶת־יוֹרָם וְיוֹרָם הוֹלִיד אֶת־עוּזּיָּה
      </p>
      <p class="nl">
        
          Asa verwekte J<sup>e</sup>hosjaphat. <br />J<sup>e</sup>hosjaphat verwekte Joram. <br />En Joram verwekte OeziJAH.
        
      </p>
      <p class="margin">
        
          J<sup>e</sup>hosjaphat: (Josafat) JHWH richt<br />Joram: (Joram) JHWH is verheven<br />OeziJAH of OeziJAHOE: (Uzzia) sterkte is JHWH, in 1 Kron. 3:12: AzarJAH (Azaria)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        עוּזּיָּה הוֹלִיד אֶת־יוֹתָם יוֹתָם הוֹלִיד אֶת־אָחָז וְאָחָז הוֹלִיד אֶת־חִזְקִיָּה
      </p>
      <p class="nl">
        
          OeziJAH verwekte Jotam. <br />Jotam verwekte Achaz. <br />En Achaz verwekte ChiezqiJAH.
        
      </p>
      <p class="margin">
        
          Jotam: (Jotham) JHWH is volmaakt<br />Achaaz: (Achaz) Hij houdt vast<br />ChiezqiJAH of ChiezqiJAHOE: (Hizkia) sterkte is JHWH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        חִזְקִיָּה הוֹלִיד אֶת־מְנַשֶׁה מְנַשֶׁה הוֹלִיד אֶת־אָמוֹן אָמוֹן הוֹלִיד אֶת־יֹאשִׁיָּה
      </p>
      <p class="nl">
        
          ChiezqiJAH verwekte M<sup>e</sup>nasjeh. <br />M<sup>e</sup>nasjeh verwekte Amon. <br />Amon verwekte JosjieJAH.
        
      </p>
      <p class="margin">
        
          M<sup>e</sup>nasjeh: (Manasse) doende vergeten<br />Amon, betrouwbaar<br />JosjieJAH of JosjieJAHOE: (Josia) JHWH schraagt
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        יֹאשִׁיָּה הוֹלִיד אֶת־יְכָנְיָה וְאֶחָיו בַּגָּלוּת בָּבֶל
      </p>
      <p class="nl">
        
          JosjieJAH verwekte J<sup>e</sup>chon<sup>e</sup>JAH en zijn broers tijdens de ballingschap in Bavel.
        
      </p>
      <p class="margin">
        
          J<sup>e</sup>chon<sup>e</sup>JAH: (Jechonia) JHWH bevestigt<br />Bavel: (Babel) verwarring (van talen), zie Gen. 11:9
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְאַחַר גָּלוּת בָּבֶל יְכָנְיָה הוֹלִיד אֶת־שְׁאַלְתִּיאֵל שְׁאַלְתִּיאֵל הוֹלִיד אֶת־זְרוּבָּבֶל
      </p>
      <p class="nl">
        
          En na de ballingschap in Bavel verwekte J<sup>e</sup>chon<sup>e</sup>JAH Sj<sup>e</sup>’alti’él. <br />Sj<sup>e</sup>’alti’él verwekte Z<sup>e</sup>roebbavel.
        
      </p>
      <p class="margin">
        
          Sj<sup>e</sup>’alti’él: (Sealthiël) ik heb El gevraagd<br />Z<sup>e</sup>roebbavel: (Zerubbabel) zaad van Bavel
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        זְרוּבָּבֶל הוֹלִיד אֶת־אֲבִיהוּד וְאֲבִיהוּד הוֹלִיד אֶת־אֶלְיָקִים וְאֶלְיָקִים הוֹלִיד אֶת־עַזּוּר
      </p>
      <p class="nl">
        
          Z<sup>e</sup>roebbavel verwekte Avihoed. <br />En Avihoed verwekte Eljaqiem. <br />En Eljaqiem verwekte Azzoer.
        
      </p>
      <p class="margin">
        
          Avihoed: (Abihud) vader is majesteit<br />Eljaqiem: (Eljakim) El zal bevestigen <br />Azzoer: (Azor) geholpen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְעַזּוּר הוֹלִיד אֶת־צָדוֹק וְצָדוֹק הוֹלִיד אֶת־אָקִים וְאָקִים הוֹלִיד אֶת־אֱלִיהוּד
      </p>
      <p class="nl">
        
          En Azzoer verwekte Tsadoq. <br />En Tsadoq verwekte Aqiem. <br />En Aqiem verwekte Elihoed.
        
      </p>
      <p class="margin">
        
          Tsadoq: (Zadok) rechtvaardig<br />Aqiem: (Akim) verkorte vorm van JOjaqiem (Jojakim), JHWH richt op<br />Elihoed: (Eliud) El is majesteit
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְאֱלִיהוּד הוֹלִיד אֶת־אֶלְעָזָר וְאֶלְעָזָר הוֹלִיד אֶת־מַתָּן וּמַתָּן הוֹלִיד אֶת־יַעֲקֹב
      </p>
      <p class="nl">
        
          En Elihoed verwekte El‘azar. <br />En El‘azar verwekte Mattan. <br />En Mattan verwekte Jaäqov.
        
      </p>
      <p class="margin">
        
          El‘azar: (Eleazar) El heeft geholpen<br />Mattan: (Matthan) gave (van El) 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיַעֲקֹב הוֹלִיד אֶת־יוֹסֵף <br />הוּא יוֹסֵף אֲבִי מִרְיָם אִם יֵשׁוּעַ הַנִּקְרָא מָשִׁיחַ וּבְלֹעֵז קְרִיסְטוֹס
      </p>
      <p class="nl">
        
          En Jaäqov verwekte Joséph. <br />Hij, Joséph, is de vader van Mirjam, de moeder van Jesjoea, die Messias genoemd wordt, en in de vreemde taal genoemd wordt Christos.
        
      </p>
      <p class="margin">
        
          Joséph: (Jozef) JHWH voegt toe<br />‘vader’ is overgenomen uit twee ongepubliceerde versies, in de Peshitta staat ‘gabra’ (גַּברָה), wat betekent: ‘machtige man’ of ‘huisvader’.<br />Mirjam (Maria): opstandig<br />Jesjoea: (Jezus) JHWH is verlossing<br />Messias en Christos (Christus): gezalfde<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכֹל תּוֹלְדוֹת מִאַבְרָהָם עַד דָּוִד תּוֹלְדוֹת י"ד וּמִדָּוִד עַד גָּלוּת בָּבֶל תּוֹלְדוֹת י"ד וּמִגָּלוּת בָּבֶל עַד יֵשׁוּעַ תּוֹלְדוֹת י"ד
      </p>
      <p class="nl">
        
          En alle verwekkingen van Avraham tot David is veertien verwekkingen. En van David tot de ballingschap in Bavel veertien verwekkingen. En van de ballingschap in Bavel tot Jesjoea veertien verwekkingen.
        
      </p>
      <p class="margin">
        
          Vier koningen van Jehoedah ontbreken, zie 1 Kron. 3:11-12 en 15: AchazJAH (Ahazia), JOasj (Joas), AmmatsJAH (Amazia) en JOjaqiem, vanwege Deut. 29:20  <br />Er worden vier vrouwen bij name genoemd: Tamar, Rachav, Roet en Mirjam. Dan is er nog de vrouw van OeriJAH: Bat-Sjeva (Batseba) Het noemen van namen van vrouwen in een Hebreeuws geslachtsregister is ongebruikelijk
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְלֵידַת מִיֵּשּׁוּעַ הָיָה בְּזֶה הָאוֹפַן וַיְהִי כַּאֲשֶׁר הָיְתָה אִמּוֹ אֲרוּסָה לְיוֹסֵף קוֹדְם שֶׁיָּדַע אוֹתָהּ נִמְצֵאת מֵעוֹבֶרֶת מֵרוּחַ הַקֹּדֶשׁ
      </p>
      <p class="nl">
        
          En de geboorte van Jesjoea gebeurde op deze manier: En het gebeurde toen Zijn moeder aan Joséph verbonden was, voordat hij haar bekende, werd zij gevonden overgekomen uit de Heilige Geest. 
        
      </p>
      <p class="margin">
        
          Bekende, dat is seksuele gemeenschap hebben
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיוֹסֵף אִישָׁהּ צַדִּיק הָיָה וְלֹא רָצָה לֵישֵׁב עִמָּהּ וְלֹא לְגַּלוֹתָהּ לְהָבִיאָהּ לַבּוּשָׁה וְלֹא לְאוֹסְרָהּ לָמוּת אֲבָל הָיָה רוֹצֶה לְכַסּוֹת עָלֶיהָ
      </p>
      <p class="nl">
        
          En Joséph, haar man, was rechtvaardig en wilde niet bij haar blijven, maar wilde haar verlaten om haar niet tot schande te laten komen, zodat zij om de verbintenis niet gedood wordt. Maar hij wilde haar eer herstellen. 
        
      </p>
      <p class="margin">
        
          ‘En Joséph, haar man, was rechtvaardig’ in de Peshitta staat: ‘Omdat haar echtgenoot, Joséph, rechtvaardig was’, het woord voor echtgenoot (ba’la) vormt een tegenstelling tot ‘gabra’ in vers 16<br />Verlaten, letterlijk: deportatie<br />Verbintenis, daarmee wordt de ondertrouw bedoeld, het huwelijk is al wettelijk. Ondertrouw duurt ongeveer twaalf maanden.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וּבְחָשָׁבוֹ בְּזֶה הַדָּבָר בְּלִבּוֹ וְהִנֵה מַלְאַךְ נִרְאָה אֵלָיו בַּחֲלוֹם לֵאמוֹר יוֹסֵף בֶּן־דָּוִד אַל תִּירָא לִקַּחַת אִשְׁתְּךָ מִרְיָם שְׁמָּרוּחַ הַקָּדוֹשׁ הִיא מֵעוֹבֶרֶת
      </p>
      <p class="nl">
        
          En in zijn beramen van dit, en sprak in zijn hart, maar zie! een engel verscheen hem in een droom, door te zeggen: “Joséph, zoon van David, vrees niet om uw vrouw Mirjam te nemen, omdat uit de Heilige Geest is zij overgekomen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְתֵלֵד בֵּן וְתִּקְרָא שְׁמוֹ יֵשּׁוּעַ כִּי הוּא יוֹשִׁיעַ אֶת־עַמִּי מֵעֲוֹנוֹתָם
      </p>
      <p class="nl">
        
          En zij zal een Zoon baren, en u zult Zijn naam noemen Jesjoea, want Hij zal Mijn volk verlossen van hun overtredingen.”
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen de naam ‘Jesjoea’, dat is ‘JHWH is verlossing’, en het woord ‘verlossen’: יוֹשִׁיעַ (josji’a).<br />‘Mijn volk’ in Griekse handschriften: ‘Zijn volk’.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        כֹּל זֶה לְגַמוֹר מָה שֶׁנִּכְתַּב מֵאֵת הַנָּבִיא עַל פִּי יהוה
      </p>
      <p class="nl">
        
          Dit alles is vervuld om wat geschreven is en over de mond van de profeet van JHWH:
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet J<sup>e</sup>sja‘JAH of J<sup>e</sup>sja‘JAHOE (Jesaja), zijn naam betekent: JHWH is (mijn) heil. In verschillende Griekse handschriften wordt dit erbij vermeld.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        הִנֵּה הָעַלְמָה הָרָה וְתֵלֵד בֵּן וְקָרָאת שְׁמוֹ עִמָּנוּאֵל<br />שֶׁרֹצֵה לוֹמַר עִמָּנוּ אֱלֹהִים
      </p>
      <p class="nl">
        
          “Zie! De huwbare vrouw zal zwanger worden en een Zoon baren. En Zijn naam noemen: Immanoe’él!”<br />Dat betekent: Elohiem met ons.
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 7:14<br />‘huwbare vrouw’ in de Septuagint wordt het Hebreeuwse woord עַלְמָה (almah) vertaald met Griekse woord παρθένος (parthenos), dit woord wordt tevens gebruikt in Griekse handschriften.<br />Er is woordverband tussen “Immanie’él”, “Elohiem” en “met ons” (iemánoe).<br />Elohiem: (God) machtige, een titel voor JHWH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיִּקַץ יוֹסֵף מִשְׁנַתוֹ וַיַּעַשׂ כְּכֹל אֲשֶׁר צִּוָּה אוֹתוֹ מַלְאַךְ יהוה וְיִּקַּח אֶת־אִשׁתּוֹ
      </p>
      <p class="nl">
        
          En Joséph werd wakker uit zijn slaap, en hij deed alles wat de Engel van JHWH hem bevolen had, en hij nam zijn vrouw.
        
      </p>
      <p class="margin">
        
          ‘en hij nam zijn vrouw’ dat wil zeggen dat Joséph en Mirjam trouwden<br />‘Engel van JHWH’, dit wordt gezien als verschijning van Jesjoea, de Messias. Teksten die daarvan getuigen zijn bijvoorbeeld: Richt. 13:18 en Jes. 9:5
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְלֹא יָדַע אוֹתָהּ עַד שֶׁיָלְדָה בְּנָהּ הַבְּכוֹר וַיִּקְרָא אֶת־שְׁמוֹ יֵשׁוּעַ
      </p>
      <p class="nl">
        
          Maar hij bekende haar niet, totdat zij haar eerstgeboren Zoon baarde en hij noemde Zijn naam: JESJOEA.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>