<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אֵלֶּה תּוֹלְדוֹת יֵשׁוּ בֵּן דָּוִד בֵּן אַבְרָהָם
      </p>
      <p class="nl">
        
          Dit is het voorgeslacht van Jeshu, de zoon van David, de zoon Abraham.
        
      </p>
      <p class="margin">
        
          De spelling van Jeshu is terug te vinden in Talmud-literatuur.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        אַבְרָהָם הוֹלִיד אֵת יִצְחָק וַיִצְחָק הוֹלִיד אֵת יַעֲקֹב<br />יַעֲקֹב הוֹלִיד אֵת יְהוּדָה וְאֶחָיו
      </p>
      <p class="nl">
        
          Abraham verwekte Izak en Izak verwekte Jakob.<br />Jakob verwekte Juda en zijn broers.
        
      </p>
      <p class="margin">
        
          Abraham: Avráhám, vader van vele volkeren<br />Izak: Jitsàq, hij lacht<br />Jakob: Ja’aqov, hij houdt de hiel vast<br />Juda: Jêhoedáh, JAHWEH zal geprezen worden
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        יהוּדָה הוֹלִיד אֵת פֶּרֶץ וָזֶרַח מִתָּמָר<br />פֶּרֶץ הוֹלִיד אֵת חֶצְרוֹן <br />חֶצְרוֹן הוֹלִיד אֵת רָם
      </p>
      <p class="nl">
        
          Juda verwekte Perez en Zerah bij Tamar.<br />Perez verwekte Hezron.<br />Hezron verwekte Aram.
        
      </p>
      <p class="margin">
        
          Perez: Perets, breuk<br />Zerah: Zeràch, lichtglans<br />Hezron: Chètsron, omsloten<br />Aram: Rám, verheven
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְרָם הוֹלִיד אֵת עַמִּינָדָב וְעַמִּינָדָב הוֹלִיד אֵת נַחְשׁוֹן וְנַחְשׁוֹן הוֹלִיד אֵת שַׂלְמוֹן
      </p>
      <p class="nl">
        
          En Aram verwekte Aminadab en Aminadab verwekte Nahesson en Nahesson verwekte Salmon.
        
      </p>
      <p class="margin">
        
          Aminadab: Amminádáv, mijn verwant is vrijgevig<br />Nahesson: Náchson, slang
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        שַׂלְמוֹן הוֹלִיד אֵת בּוֹעַז מִרָחָב הַזוֹנָה <br />בּוֹעַז הוֹלִיד אֵת עוֹבֵד מִרוּת וְעוֹבֵד הוֹלִיד אֵת יִשַׁי
      </p>
      <p class="nl">
        
          Salmon verwekte Boaz bij Rachab de hoer.<br />Boaz verwekte Obed bij Ruth en Obed verwekte Isaï.
        
      </p>
      <p class="margin">
        
          Rachab: Rácháv, breed uitgestrekt<br />Obed: Oveed, dienaar<br />Ruth: Roeth, metgezellin(?)<br />Isaï: Isàj, Hij is mijn JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        יִשַׁי הוֹלִיד אֵת דָּוִד הַמֶּלֶךְ <br />וְדָּוִד הוֹלִיד אֵת אֵשֶׁת שְׁלֹמֹה מִאֵשֶׁת אוּרִיָּה
      </p>
      <p class="nl">
        
          Isaï verwerkte David, de koning.<br />En David verwekte Salomo, bij haar die was de vrouw van Uria.
        
      </p>
      <p class="margin">
        
          David: Dávied, beminde<br />Salomo: Shêlomoh, rijk aan vrede<br />Uria: Oeri-Jah, Licht is mijn JAHWEH
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְשְׁלֹמֹה הוֹליִד אֵת רְחַבְעָם<br />רְחַבְעָם הוֹלִיד אֵת אֲבִיָּה<br />וְאֲבִיָּה הוֹלִיד אֵת אָסָא
      </p>
      <p class="nl">
        
          En Salomo verwekte Rehabeam.<br />Rehabeam verwekte Abia.<br />En Abia verwekte Asa.
        
      </p>
      <p class="margin">
        
          Rehabeam: Rêchav’ám, uitgebreid is het volk<br />Abia: Avi-JAH, vader is JAHWEH<br />Asa: Asá, genezen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאָסָא הוֹלִיד אֵת יְהוֹשָׁפָט <br />יְהוֹשָׁפָט הוֹלִיד אֵת יוֹרָם<br />יוֹרָם הוֹלִיד אֵת עוֹזּיָּהוּ
      </p>
      <p class="nl">
        
          En Asa verwekte Josafat.<br />Josafat verwekte Joram.<br />Joram verwekte Uzzia.
        
      </p>
      <p class="margin">
        
          Josafat: Jêhoshaphat, JAHWEH richt<br />Joram: Jorám of Jêhorám, JAHWEH is verheven<br />DuTillet wordt יוֹרָם als יְהוֹרָם geschreven <br />Uzzia: Ozi-JAH, sterkte is JAHWEH<br />In 1 Kron. 3:12 wordt Uzzia Ahazia genoemd
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        עוֹזּיָּהוּ הוֹלִיד אֵת יוֹתָם<br />יוֹתָם הוֹלִיד אֵת אָחָז<br />אָחָז הוֹלִיד אֵת חִזְקִיָּה
      </p>
      <p class="nl">
        
          Uzzia verwekte Jotham.<br />Jotham verwekte Achaz.<br />Achaz verwekte Hizkia.
        
      </p>
      <p class="margin">
        
          Jotham: Jotám, JAHWEH is volmaakt<br />Achaz: Acház, Hij houdt vast<br />Hizkia: Chizqi-JAH, sterkte is JAHWEH
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        חִזְקִיָּה הוֹלִיד אֵת מְנַשֶׁה<br />מְנַשֶׁה הוֹלִיד אֵת אָמוֹן <br />אָמוֹן הוֹלִיד אֵת יֹאשִׁיָּה
      </p>
      <p class="nl">
        
          Hizkia verwekte Manasse.<br />Manasse verwekte Amon.<br />Amon verwekte Josia.
        
      </p>
      <p class="margin">
        
          Manasse: Mênàshèh, doende vergeten<br />Amon, betrouwbaar<br />Josia: Josi-JAH, JAHWEH schraagt
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        יֹאשִׁיָּה הוֹלִיד אֵת יְכָנְיָה וְאֶחָיו בְּגָלִותָ בָּבֶל
      </p>
      <p class="nl">
        
          Josia verwekte Jechonia en zijn broers tijdens de ballingschap in Babel.
        
      </p>
      <p class="margin">
        
          Jechonia: Jêchán-JAH, JAHWEH bevestigt
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        יְכָנְיָה הוֹלִיד אֵת שְׁאַלְתִּיאֵל <br />שְׁאַלְתִּיאֵל הוֹלִיד אֵת זְרֻובָּבֶל
      </p>
      <p class="nl">
        
          Jechonia verwekte Sealthiël.<br />Sealthiël verwekte Zerubbabel.
        
      </p>
      <p class="margin">
        
          Sealthiël: Shê’àlti’èl, ik heb God gevraagd<br />Zerubbabel: ZêruvBávèl, zaad van Babel
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        זְרֻובָּבֶל הוֹלִיד אֵת אֲבִיהוּד וְאֲבִיהוּד הוֹלִיד אֵת אֲבִנֵר<br />אֲבִנֵר הוֹלִיד אֵת אֶקִים
      </p>
      <p class="nl">
        
          Zerubbabel verwekte Abihud en Abihud verwekte Abner.<br />Abner verwekte Eljakim.
        
      </p>
      <p class="margin">
        
          Abihud: Avihoed, vader is majesteit<br />Abner: vader is lamp <br />In Griekse en Aramese handschriften ontbreekt de naam Abner<br />Eljakim of Elkim, God zal bevestigen <br />DuTillet wordt אֶקִים als אֶלְיָקִים geschreven 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְאֶקִים הוֹלִיד אֵת עַזּוּר<br />עַזּוּר הוֹלִיד אֵת צָדוֹק<br />צָדוֹק הוֹלִיד אֵת אַמְנֹן וְאַמְנֹן הוֹלִיד אֵת אֱלִיהוּד
      </p>
      <p class="nl">
        
          En Eljakim verwekte Azor.<br />Azor verwekte Zadok.<br />Zadok verwekte Amnon en Amnon verwekte verwekte Eliud.
        
      </p>
      <p class="margin">
        
          Azor: Azzoer, geholpen<br />Zadok: Tsádoq, rechtvaardig<br />Amnon, betrouwbaar<br />Eliud: Elihoed, God is majesteit
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְאֱלִיהוּד הוֹלִיד אֵת אֶלְעָזָר וְאֶלְעָזָר הוֹלִיד אֵת מַתָּן וְמַתָּן הוֹלִיד אֵת יַעֲקֹב
      </p>
      <p class="nl">
        
          En Eliud verwekte Eleazar en Eleazar verwekte Matthan en Matthan verwekte Jakob.
        
      </p>
      <p class="margin">
        
          Eleazar: Elázár, God heeft geholpen<br />Matthan: Màttán, gave (van God) 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיַעֲקֹב הוֹלִיד אֵת יוֹסֵף<br />הוּא יוֹסֵף אִישׁ מִרְיָם שְׁמִמִנָּה נוֹלַד יֵשׁוּעַ הַנִקְרָא מָשִׁיחַ וְבְּלֹעֵז קרִיסטוֹס
      </p>
      <p class="nl">
        
          En Jakob verwekte Jozef.<br />Hij, Jozef, is de man van Mirjam, uit welke geboren wordt: JESHUA.<br />Die genoemd wordt de Messias en in de vreemde taal genoemd wordt Christus.
        
      </p>
      <p class="margin">
        
          Jozef: Joséph, Jahweh voege bij<br />Mirjam, weerspannige (?)<br />Jeshua: Jéshoe’à, JAHWEH is verlossing<br />Messias: Máshiàch, gezalfd<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכֹּל תּוֹלְדוֹת מִאַבְרָהָם עַד דָּוִד תּוֹלְדוֹת יד דוֹרוֹת אַרְבָּעָה וְמִדָּוִד עַד גָּלוּת בָּבֶל תּוֹלְדוֹת יד וְמִגָּלוּת בָּבֶל עַד יֵשׁוּ הַמָשִׁיחַ דוֹרוֹת אַרְבָּעָה תּילדות יד
      </p>
      <p class="nl">
        
          En al van het geslacht van Abraham tot het geslacht van David is veertien. En van David tot de ballingschap in Babel veertien geslachten. En van de ballingschap in Babel tot Jeshu de Messias veertien geslachten.
        
      </p>
      <p class="margin">
        
          Drie koningen van Juda ontbreken, zie 1 Kron. 3:11-12, maar er zijn drie vrouwen bij name genoemd
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְלֶידֶת יֵשׁוּ הַמָשִׁיחַ כֵּן הָיָה בָּזָה הַאוֹפַן:<br />וַיְהִי כַּאֲשֶׁר הָיְתָה שְׁאִמּוֹ אֹרוָסָה לְיוֹסֵף קוֹדְם שְׁיָדֹעַ אוֹתִה נִמְצָאֹת מַעֲובָרֹת מִרוּחַ הַקָדֹשׁ
      </p>
      <p class="nl">
        
          En de geboorte van Jeshu de Messias gebeurde als volgt:<br />Het gebeurde dat zijn moeder, Mirjam, door Josef in ondertrouw genomen was, voordat zij samengekomen waren, dat zij bedekt werd met de Heilige Geest. 
        
      </p>
      <p class="margin">
        
          Samengekomen, letterlijk: seksueel bekennen of gemeenschap hebben<br />DuTillet wordt ‘zij bedekt werd met’ geschreven als נִמְצָאָה הָרָה wat vertaald kan worden als ‘zij zwanger werd bevonden door’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיוֹסֵף אִישׁ צָדִיק הָיָה וְלֹא רָצָה לְיָשַׁב עֻמּה <br />וְלֹא לְגָּלוּתַה לְהַבִיאָה לְבּוּשָׁה וְלֹא לְאֱוסָרֶהָ לְמוֹת אֵבֶל הָיָה רוּצָה לְכְּסוּת עָלָיה
      </p>
      <p class="nl">
        
          En Josef was een rechtvaardig man<br />En wilde niet bij haar blijven, maar wilde haar heimelijk verlaten om haar niet tot schande te maken en dat zij omwille van de verbintenis niet gedood wordt. Hij wilde haar eer herstellen. 
        
      </p>
      <p class="margin">
        
          Verlaten, letterlijk: deportatie<br />Verbintenis, daarmee wordt de ondertrouw bedoeld, het huwelijk is al wettelijk
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְבְּחָשָׁבוּ חוֹשֵׁב בָּזָה הַדָּבָר בְּלִבּוֹ וְהִנֵה הַמַלְאָךְ נִרְאָה אֶליוֹ בְּחֲלוֹם וְאָמַר:<br />יוֹסֵף בֵּן דָּוִד אַל תְיָרֵא לָקַחַת אִשְׁתְּךָ מִרְיָם [כִּי שְׁנְוָלָד מֵמֶּנַה] שְׁמִרוּחַ הַקָדוֹשׁ הִיא מַעֲובָרֹת
      </p>
      <p class="nl">
        
          En terwijl hij dit beraamde en overlegde in zijn hart,  en zie! de engel verscheen hem in een droom en zei:<br />Josef, zoon van David, wees niet bevreesd uw vrouw Mirjam tot u te nemen, want de telg in haar dat is vanuit de Heilige Geest.
        
      </p>
      <p class="margin">
        
          Beraamde, letterlijk: denkend beramen<br />Letterlijk ‘dat is van’ is ‘dat zij is bedekt’, zie ook vers 18
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְתֵּלֶד בֵּן וְתְקָרָא שֵׁמוֹ יֵשׁוּעַ כִּי הוּא יְוֹשִׁיעַ אֵת עַמִּי מְכֹּל מְעֲוֹנוֹתָם
      </p>
      <p class="nl">
        
          En zij zal een zoon baren en u zult zijn naam noemen Jeshua, want Hij zal Mijn volk verlossen van alle zonden.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen de naam ‘Jeshua’ (Jéshoe’à), dat is ‘JAHWEH is verlossing’, en het woord ‘verlossen’: יֵשׁוּעַ (Jê’oshi’à)<br />In Griekse en het DuTillet-handschrift staat ‘Zijn volk’ in plaats van ‘Mijn volk’, het verschil tussen een waav (ו) en jod (י)<br />In Griekse en Aramese handschriften ontbreekt het woord ‘alle’ (מְכֹּל)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְכֹּל זֹה לְגְמוֹר מָה שְׁנִכְתָּב מֵאֵת הַנָבִיא יְשַׁעְיָה עַל פִּי יהוה
      </p>
      <p class="nl">
        
          En dit alles is vervuld om hetgeen geschreven is en over de mond van de profeet Jesaja gesproken is door JAHWEH:
        
      </p>
      <p class="margin">
        
          In Griekse en Aramese handschriften ontbreekt het woord ‘mond’ (פִּי) en de Naam van God<br />Jesaja: Jêshà’-JAH, JAHWEH is (mijn) heil, de naam die ontbreekt in Griekse en Aramese handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        הִנֵּה הָעַלְמָה הָרָה וְיֹלֶדֶת בֵּן <br />וְקָרָאת שְׁמֹו עִמָּנוּאֵל<br />שרל עִמָּנוּ אֱלֹקִים
      </p>
      <p class="nl">
        
          “Zie! De huwbare vrouw zal zwanger worden en een zoon baren. En zijn naam noemen: Immanuël!”<br />Dat betekent: de Godheid met ons.
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 7:14<br />In Griekse en Aramese wordt voor ‘huwbare vrouw’ ‘maagd’ gebruikt, in het Hebreeuws is dat een ander woord: בְּתוּלָה (bêtoeláh)<br />Er is woordverband tussen ‘mijn volk’: עַמִּי (àmi) en de naam ‘Immanuël’: עִמָּנוּאֵל (Immànie’èl).<br />Godheid, de Hebreeuwse meervoudsvorm van God. De schrijfwijze hier אֱלֹקִים wijkt af van het gebruikelijke אֱלֹהִים.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיִקָץ יוֹסֵף מְשְׁנַתוֹ וַיַּעַשׂ כְכֹּל אֲשֶׁר צָוָה אוֹתוֹ מַלְאָךְ יהוה וְיִקַחַ אֵת לְאִשְׁתּוֹ
      </p>
      <p class="nl">
        
          En toen Josef wakker geworden was uit zijn slaap, ging hij doen alles zoals de engel van JAHWEH bevolen had en hij nam zijn vrouw tot zich.
        
      </p>
      <p class="margin">
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְלֹא יָדֹעָ אוֹתָה עַד שְׁיָלָדָה בְּנָהּ הַבְּכוֹר וְיִקָרָא אֵת שְׁמוֹ יֵשׁוּעַ
      </p>
      <p class="nl">
        
          Maar hij had geen gemeenschap met haar totdat zij haar eerstgeboren zoon baarde een hij noemde zijn naam: JESHUA.
        
      </p>
      <p class="margin">
        
      </p>
    </div>
  
</div>