<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אָז קָרָא יֵשׁוּעַ לְשָׁנִים עָשָׂר תַּלְמִידָיו וַיִּתֶּן לָהֶם יְכוֹלֶת עַל כֹּל רוּחַ טוּמְאָה לְהוֹצִיא מֵהָאָדָם וְלִרְפֹּאת כֹּל חוֹלִי וְכֹל נֶגַע
      </p>
      <p class="nl">
        
          Toen riep Jesjoea Zijn twaalf leerlingen en gaf hen de macht over het uitgaan van elke onreine geest uit de mens, en genezing van elke ziekte en elke aandoening.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְאֵלֶּה שֵׁמוֹת שְׁנַיִם עָשָׂר הַשְּׁלוּחִים נִקְרְאוּ אַפּוֹסְטוֹלוֹס שִׁימוֹן נִקְרָא פֶּיטְרוֹשׁ וְאַנְדְרֶיאָה אָחִיו
      </p>
      <p class="nl">
        
          En dit zijn de namen van de twaalf heengezondenen, die apostelen genoemd worden: Sjiemon, die Petros genoemd wordt, en Andreah, zijn broer,
        
      </p>
      <p class="margin">
        
          Dit vers is een typisch Hebreeuwse schrijfwijze, zoals te vinden is in Ex. 1:1.<br />‘apostelen’ is Grieks (ἀπόστολος) en betekent ‘gezondene’ of ‘boodschapper’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        פִילִיפּוֹס בַּארְטוֹלוֹמֵיאוֹס יַעֲקֹב נִקְרָא גְאִימִי וְיוֹחָנָן אָחִיו בְּנֵי זַבְדִּיאֵל טוֹמַאס וּמַתִתְיָה הוּא מַאטֵיאוֹ מִלְוֶה בָּרִיבִּית בַּפִּרְסוּם וְיַעֲקֹב אַלוּפֶיאֶי וְטַדֵיאוֹשׂ
      </p>
      <p class="nl">
        
          Philippos, Bartolomeos,  Jaäqov, die Ghimi genoemd wordt, en Jochanan, zijn broer, zonen van Zavdiël. Thomas en MattitJAH, deze is Mateo, die bekend is als woekeraar. En Jaäqov Aloephéjé en Taddeos.
        
      </p>
      <p class="margin">
        
          Philippos: (Filippus) paardenvriend, een Griekse naam<br />Bartholomaios: (Bartholomeüs) de Griekse vertaling van Bar-Talmai, zoon van Talmai, een Aramese naam<br />Thomas: Thoma, tweeling, een Aramese naam<br />Alphé: Alfeüs<br />Tereos: Thaddeüs
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        שִׁמְעוֹן כְּנַעֲנִי בַּלֹעֵז שִׁימוֹן קַאנָאנֵאיוֹס וְיְהוּדָה אַסְקָארְיוֹטָה אֲשֶׁר אַחֵר זֶה מָסְרֵהוֹ
      </p>
      <p class="nl">
        
          Sjiem’on, de Kanaäniet, in de vreemde taal: Sjiemon, de Kananaios. En J<sup>e</sup>hoedah Asqarejotah, die na dit Hem verraad.
        
      </p>
      <p class="margin">
        
          ‘de Kanaäniet’ en ‘de Kananaios’ betekenen ‘ijveraar (voor El)’, ook een Zeloot genoemd<br />Vreemde taal: Grieks<br />Asqarejotah: Iskarot
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        אֵלֶּה שְׁנַיִם עָשָׂר שָׁלַח יֵשׁוּעַ וַיְצַוֹ אֲלֵיהֶם לֵאמֹר בְּאַרְצוֹת הַגּוֹיִם אַל תֵּלְכוּ וּבְעָרֵי הַשֹׁמְרוֹנִים אַל תָּבוֹאוּ
      </p>
      <p class="nl">
        
          Deze twaalf zond Jesjoea en Hij beval hen door te zeggen: ga niet in de landen van de volksstammen en ga niet in de steden van de Sjomroniem.
        
      </p>
      <p class="margin">
        
          ‘zond’ (sjálàch) heeft woordverband met ‘heengezondenen’ (háwjiloechiem) in vers 2<br />Sjomroniem: Samaritanen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        לֵכוּ לַצֹּאן אֲשֶׁר נִדְּחוּ מִבֵּית יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          Ga naar de afgedwaalde schapen van het huis van Jisraël
        
      </p>
      <p class="margin">
        
          ‘afgedwaalde’ kan ook vertaald worden als: ‘verleiden’ of ‘misleiden’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וּבַשְּׂרוּ לָהֶם שֶׁתִּתְקַרֵב מַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          en verkondig hen dat het Koninkrijk van de Hemelen is dichterbij gekomen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        רַפְאוּ הַחוֹלִים וְהַחֲיוּ הַמֵּתִים וְטִהֲרוּ הַמְּצוֹרָעִים וְהוֹצִיאוּ הַשֵּׁדִים מִבְּנֵי אָדָם וְאַל תְּקַבְּלוּ שָׂכַר חִנָּם קִבַּלְתֶּם וּבְחִנָּם תִּתְּנוּ
      </p>
      <p class="nl">
        
          Genees de zieken, en doe opstaan de doden, en reinigt de melaatsen, en leidt uit de demonen uit de zonen van mensen. Maar u neemt geen beloning, om niet nemen jullie en om niet geeft u.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אַל תִּצְבֹּרוּ כֶּסֶף וְזָהָב וְלֹא מָמוֹן בְּכִיסְכֶם
      </p>
      <p class="nl">
        
          Heb geen verzameling van zilver en goud, en geen geld in jullie geldbuidel,
        
      </p>
      <p class="margin">
        
          ‘verzameling’, letterlijk: ‘ophopen’ en ‘opstapelen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְלֹא חֲלִיפוֹת שְׂמָלוֹת וְלֹא מִנְעָלִים וְלֹא מַקֵּל בְּיַדְכֶם רָאוּי הַפּוֹעֵל לְקַבֵּל דַּי אֲכִילָתוֹ
      </p>
      <p class="nl">
        
          en wissel niet van kleding, en niet van sandalen, en niet de staf in jullie hand. De arbeider is geschikt tot het nemen van voldoende van zijn voedsel.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וּבְכֹל עִיר וּבְכֹל מִגְדָּל אֲשֶׁר תָּבוֹאוּ שָׁאֲלוּ מִי הָאִישׁ הַטּוֹב שֶׁבְּתוֹכָם וְשָׁם תְּנוּחוּ עַד שֶׁתֵּצְאוּ
      </p>
      <p class="nl">
        
          En in elke stad en elke plaats die u ingaat, vraag: wie is de goede man onder jullie? En rust daar totdat u uitgaat.
        
      </p>
      <p class="margin">
        
          ‘plaats’, letterlijk: toren
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וּבְבוֹאֲכֶם אֶל הַבַּיִת תְּנוּ לָהֶם שָׁלוֹם לֵאמֹר שָׁלוֹם בְּזֹאת הַבַּיִת שָׁלוֹם לַכָל הַיּוֹשְׁבִים בְּתוֹכָהּ
      </p>
      <p class="nl">
        
          Doordat bij jullie ingaan tot het huis, geef tot hen sjaloom, door te zeggen: sjaloom in dit huis, sjaloom tot allen die in haar wonen.
        
      </p>
      <p class="margin">
        
          ‘sjaloom’ betekent: vrede, gezondheid, welzijn en welvaart
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְאִם תִּהְיֶה הַבַּיִת הַהִיא רָאוּיָה תָּבֹא שְׁלוֹמְכֶם עָלֶיהָ וְאִם לֹא תִּהְיֶה רְאוּיָה תָּשׁוּב שְׁלוֹמְכֶם לָכֶם
      </p>
      <p class="nl">
        
          En als dit huis geschikt is, jullie sjaloom zal komen op haar. Maar als dit huis niet geschikt is, jullie sjaloom zal tot jullie terugkeren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וַאֲשֶׁר לֹא יְקַבֵּל אֶתְכֶם וַאֲשֶׁר לֹא יִשְׁמַע אֲלֵיכֶם תֵּצְאוּ מִן הַבַּיִת הַהִיא וְהֶעְתֵּקָם רַגְלֵיכֶם מִן הַעָפָר
      </p>
      <p class="nl">
        
          Maar die jullie niet ontvangt en niet luistert naar jullie, ga uit van dat huis en verwijder het stof  van jullie voeten.
        
      </p>
      <p class="margin">
        
          ‘verwijder’ in zes andere manuscripten van Shem Tov staat: ‘afschudden’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        אָמֵן אֲנִי דּוֹבֵר אֲלֵיכֶם יוֹתֵר טוֹב יִהְיֶה אֶל סְדוֹם וְאֶל עֲמוֹרָה בַּיּוֹם הַהוּא מִן הָעִיר הַהִיא
      </p>
      <p class="nl">
        
          Amen, Ik spreek tot jullie: er is meer goed in S<sup>e</sup>dom en in Ammorah op die dag dan uit deze stad.
        
      </p>
      <p class="margin">
        
          S<sup>e</sup>dom: Sodom<br />Ammorah: Gomorra
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        הִנְנִי שׁוֹלֵּחַ אֶתְכֶם כְּצֹאן בֵּין הַזְּאֵבִים תִּהְיוּ עֲרוּמִים כְּנְחָשִׁים וַעֲנָוִים כְּיוֹנִים
      </p>
      <p class="nl">
        
          Zie, jullie worden heengezonden als schapen tussen de wolven, jullie moeten zijn sluw als slangen en zachtmoedig als duiven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        הֻזְהֲרוּ בִּבְּנֵי אָדָם לֹא יִמְסְרוּ אֶתְכֶם בְקְהִלוֹתֶם וּבְבָתֵּי כְנֵסִיוֹתַם
      </p>
      <p class="nl">
        
          Pas op voor de zonen van mensen, zij leveren jullie niet in hun gemeenten en in hun huizen van samenkomsten,
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘zonen’ (bib<sup>e</sup>né) en ‘huizen’ (oevbaté).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וּלְפָחוֹת וְלַמְּלָכִים תּוּכְלוּן בַּעֲדִי לְהָעֵיד לָהֶם וְלַגּוֹיִם
      </p>
      <p class="nl">
        
          maar aan stadhouders en aan koningen. Jullie kunnen Mij getuigen tot hen en tot de volksstammen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        כַּאֲשֶׁר יִתְפְּשׂוּ אֶתְכֶם אַל תַּחְשְׁבוּ מָה שֶׁתֹּאמְרוּ שֶׁבִּשַָּׁעָה שֶׁתִּצְטָרְכוּ יִבֵּא לָכֶם מַעֲנֶה
      </p>
      <p class="nl">
        
          Wanneer men jullie grijpt, bedenk niet wat u zeggen zult, omdat op het moment dat u het nodig heeft, het antwoord tot jullie komt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        אֵינְכֶם הַמִּדְבָּרִים כִּי אִם רוּחַ קָדְשׁוּ שֶׁל אֲבִי הוּא הַדּוֹבֵר בָּכֶם
      </p>
      <p class="nl">
        
          Het is niet jullie die spreken, maar de Heilige Geest van Mijn Vader, Hij spreekt door jullie.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        יִמְסוֹר הָאָח אֶת־אֶחָיו לָמוֹת וְהָאָב לִבְנוֹ וְיָקוּמוּ הַבָּנִים עַל אָבוֹתָם וְיוֹבִילוּ אוֹתָם עַד לָמוֹת
      </p>
      <p class="nl">
        
          De broer levert zijn broer over tot de dood, en de vader zijn zoon, zodat de zonen tegen hun vaders opstaan en hen tot de dood leiden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְתִהְיוּ לַלַּעַג וְזַעֲוָה לַכָל הָעַמִּים עַל שְׁמִי אָכֵן מִי שֶׁיִּסְבּוֹל עַד עֵת קָץ יִוָּשַׁע
      </p>
      <p class="nl">
        
          En u wordt tot spot en een schrikbeeld tot alle volken vanwege Mijn Naam. Waarachtig, wie de last draagt tot het einde van de tijd zal verlost worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לְתַלְמִידָיו כַּאֲשֶׁר יִרְדְּפוּ אֶתְכֶם בָּעִיר הַזֹּאת בָּרְחוּ לְאַחֶרֶת אָמֵן אֲנִי אוֹמֵר לָכֶם לֹא תַּשְׁלִימוּ לִסְבוֹב עָרֵי יִשְׂרָאֵל עַד יִבֵּא בֶּן־הָאָדָם
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: wanneer men jullie vervolgt in deze stad, vlucht naar een andere. Amen, Ik zeg tot jullie, u zult niet voltooien de rondgang door de steden van Jisraël, tot de Mensenzoon komt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        אֵין הַתַּלְמִיד גָּדוֹל מְרַבּוֹ וְלֹא הַעֶבֶד גָּדוֹל מֵאֲדוֹנָיו
      </p>
      <p class="nl">
        
          De leerling is niet groter dan zijn rabbi en geen dienaar is groter dan zijn heer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        דַּי לַתַּלְמִיד לִהְיוֹת כְּרַבּוֹ וְלָעֶבֶד כַּאֲדוֹנָיו אִם לַבַּעַל הַבַּיִת יִקְרְאוּ בַּעַל זְבוּב כֹּל שְׁכֵּן לִבְנֵי בֵּיתוֹ
      </p>
      <p class="nl">
        
          Het is voldoende voor een leerling om te zijn als zijn rabbi en voor een dienaar als zijn heer. Als een eigenaar van het huis genoemd baäl-z<sup>e</sup>voev, des te meer de zonen van zijn huis.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘het huis’ (habajit), ‘zonen’ (livné) en ‘zijn huis’ (beejto).<br />baäl-z<sup>e</sup>voev: (baäl-zebub of beëlzebub) ‘heer van de vliegen’ of ‘heer van de demonen’ en komt alleen voor in 2 Koningen 1.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        אַל תִּרְאוּ מֵהֶם שֶׁאֵין דָּבָר שֶׁלֹא יִרְאָה וְלֹא נֶעֱלַם שֶׁלֹא יִוָּדַע
      </p>
      <p class="nl">
        
          Vreest hen niet, er is niets dat niet gezien wordt, en niet verborgen zijn dat niet bekend wordt,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        אֲשֶׁר אֲנִי אוֹמֶר לָכֶם בַּחֹשֶׁךְ אָמְרוּ אוֹתוֹ בָּאוֹר וַאֲשֶׁר תִּשְׁמְעוּ לָאוֹזֶן סָפְרוּ אוֹתוֹ בַּשַּׁעַר
      </p>
      <p class="nl">
        
          dat Ik zeg tot jullie in het duister, zeg in het licht, en wat u hoort tot het oor: vertel het in de poort.
        
      </p>
      <p class="margin">
        
          ‘poort’ dat is de plaats waar recht gesproken wordt
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וְאַל תִּפְחֲדוּ מֵהוֹרְגֵי הֲגוּיוֹת שֶׁאֵין בְּיָדָם לַהֲרוֹג הַנְּפָשׁוֹת רַק פָּחֲדוּ לַאֲשֶׁר יְכוֹלֶת בְּיָדוֹ לְאַבֵּד הַנֶּפֶשׁ וְהַגּוּף בַגֵהִינָם
      </p>
      <p class="nl">
        
          En vrees niet voor die de lichamen doden, welke niet de macht hebben tot het doden van de zielen, maar vrees Degene die macht heeft door Zijn hand tot de ondergang van de ziel en het lichaam in het dal van Hinom.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        הַלֹּא שְׁנֵי צִפּוֹרִים יִמָּכְרוּ בַּפְּרוּטָה אַחַת וְלֹא תִּפּוֹל אַחַת מֵהֶם עַל הָאָרֶץ כִּי אִם בָּרָצוֹן אֲבִיכֶם שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          Worden niet twee mussen verkocht voor één P<sup>e</sup>roetah en niet van hen valt op de aarde, maar door het welbehagen van jullie Vader, Die in de hemelen is?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        הַלֹּא שְׂעָרוֹת רָאשֵׁיכֶם כֻּלָּם סְפוֹרִים
      </p>
      <p class="nl">
        
          Zijn niet al de haren van jullie hoofden geteld?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        אַל תִּרְאוּ שֶׁטּוֹבִים מִצְפֹּרִים אַתֶּם
      </p>
      <p class="nl">
        
          Vrees niet, jullie zijn de goeden, meer dan de mussen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        הַמְּשַׁבֵּחַ אוֹתִי לִפְנֵי בְּנֵי אָדָם אַשְׁבַּחֵנוֹ לִפְנֵי אֲבִי שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          Wie Mij prijst voor het aangezicht van de zonen van de mensen, Ik prijs hem voor het aangezicht van Mijn Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וַאֲשֶׁר יְכַחֶשׁ בִּי לִפְנֵי בְּנֵי אָדָם אֵכַחֶשׁ בּוֹ לִפְנֵי אָבִי שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          Maar die Mij verloochent voor het aangezicht van de zonen van de mensen, Ik verloochent hem voor het aangezicht van Mijn Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        בְּאוֹתָהּ שָׁעָה אָמַר יֵשׁוּעַ לְתַלְמִידָיו אַל תַּחְשְׁבוּ שֶׁבָּאתִי לְשִׂים שָׁלוֹם בָּאָרֶץ אֶלָּא חָרֵב
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Zijn leerlingen: denk niet dat Ik gekomen ben om sjaloom te brengen op de aarde, maar een zwaard
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        בָּאתִי לְהַפְרִיד הָאָדָם הַבֵּן מֵאָבִיו וְהַבַּת מֵאָמָה
      </p>
      <p class="nl">
        
          is gekomen om de mens af te zonderen, de zoon van zijn vader en de dochter van haar moeder.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘de zoon’ (habén) en ‘de dochter’ (v<sup>e</sup>habat).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְהָאוֹיְבִים לִהְיוֹת אוֹהֵבִים
      </p>
      <p class="nl">
        
          En de vijanden zijn minnaars geworden.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘de vijanden’ (v<sup>e</sup>há’ojéviem) en ‘minnaars’ (ohéviem)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        הָאוֹהֵב אָבִיו וְאִמּוֹ יוֹתֵר מִמֶּנִּי אֵינִי רָאוּי לוֹ
      </p>
      <p class="nl">
        
          Wie zijn vader en zijn moeder meer liefheeft dan Mij, Ik ben hem niet geschikt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        הָאוֹהֵב אֶת־נַפְשִׁוֹ יֹאבַדנָה הָאוֹבֵד אוֹתִי בִּשְׁבִילִי יִמְצָאֶנָּה
      </p>
      <p class="nl">
        
          Wie het leven liefheeft, hij zal het verliezen. Wie het verliest omwille van Mij, hij zal het vinden.
        
      </p>
      <p class="margin">
        
          ‘minnaar’ in vers 36 en ‘liefheeft’, ook vers 37, zijn dezelfde Hebreeuwse woorden (áhàv) met verschillende betekenissen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        הַמְּקַבֵּל אֶתְכֶם יְקַבֵּל אוֹתִי וְהַמְּקַבֵּל אוֹתִי יְקַבֵּל אֵת אֲשֶׁר שֶׁלַּחֲנִי
      </p>
      <p class="nl">
        
          Wie jullie ontvangt, hij ontvangt Mij en wie Mij ontvangt, ontvangt Die Mij gezonden heeft.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        הַמְּקַבֵּל נָבִיא לְשֵׁם נָבִיא יְקַבֵּל שָׂכַר הַנָּבִיא וְהַמְּקַבֵּל צַדִּיק לְשֵׁם צַדִּיק יְקַבֵּל שָׂכַר הַצַּדִּיק
      </p>
      <p class="nl">
        
          Wie een profeet ontvangt in de naam van een profeet, hij ontvangt het loon van de profeet. En wie een rechtvaardige ontvangt in de naam van een rechtvaardige, hij ontvangt van de rechtvaardige.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        וְהֲנוֹתֵן כְּלִי אֶחָד שֹׁל מַיִם קָרִים לְאַחַד מִתַּלְמִידִּי הַקְּטַנִּים לְשֵׁם תַּלְמִידִי אָמֵן אֲנִי אוֹמַר לָכֶם שֶׁלֹא יְאַבֵּד שְׂכָרוֹ
      </p>
      <p class="nl">
        
          En wie een beker koud water geeft tot één van Mijn kleine leerlingen in de naam van Mijn leerling. Amen, Ik zeg tot jullie: zijn loon gaat niet verloren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>