<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי בִּכְלוֹת יֵשׁוּעַ לְצַוּוֹת לִשְׁנַיִם עָשָׂר תַּלְמִידָיו וְיַעֲבוֹר מִשָּׁם וִיצַוֵּם לְלַמֵּד וּלְהוֹכִיחַ בְּעָרֵיהֶם
      </p>
      <p class="nl">
        
          En het gebeurde dat Jesjoea klaar was met gebieden tot Zijn twaalf leerlingen, en Hij ging verder van daar, en Hij gebood hen te onderwijzen en te prediken in hun steden.
        
      </p>
      <p class="margin">
        
          ‘prediken’ kan ook vertaald worden als: ‘rechtspreken’, ‘bepleiten’, ‘kastijden’, ‘vermanen’ en ‘tuchtigen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיִשְׁמַע יוֹחָנָן בִּהְיוֹתוֹ תָּפוּס מַעֲשֶׂה יֵשׁוּעַ וַיִשְׁלַח שְׁנַיִם מִתַּלְמִידָיו
      </p>
      <p class="nl">
        
          En Jochanan hoorde, in zijn gevangenschap, de daden van Jesjoea en hij zond twee van zijn leerlingen
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        לֵאמֹר לוֹ הַאַתָּה הוּא מִי שֶׁעָתִיד לְבָא אוֹ נִקְוָה אַחֵר
      </p>
      <p class="nl">
        
          door te zeggen tot Hem: bent U Deze die komen zou of verwachten wij een ander?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ לֵכוּ וְהִגִּידוּ לְיוֹחָנָן אֶת-אֲשֶׁר רְאִיתֶם וַאֲשֶׁר שְׁמַעְתֶּם
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot hen: ga en bericht het Jochanan wat jullie zien en wat jullie horen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        הָעִוְּרִים רוֹאִים וְהַפְסָחִים הוֹלְכִים וְהַמְּצוֹרָעִים נְטַהֹרִים וְהַחֵרְשִׁים שׁוֹמְעִים וְהַמֵתִים חַיִּים וְהָעֲנָוִים מִתְבַּשֵּׂרִים
      </p>
      <p class="nl">
        
          De blinden zien, en de kreupelen wandelen, en de melaatsen worden gereinigd, en de doven horen, de doden leven en de zachtmoedigen ontvangen het goede bericht.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאַשְׁרֵי אֲשֶׁר לֹא יִהְיֶה נָכוֹן בִּי
      </p>
      <p class="nl">
        
          En voorspoedig zijn die aan Mij geen aanstoot nemen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיְהִי הֵמָּה הוֹלְכִים וְיָחֵל יֵשׁוּעַ לְדַבֵּר אֶל הַחֲבוּרוֹת מִיּוֹחָנָן לִרְאוֹת מָה יְצָאתֶם בַּמִּדְבָּר קָנָה מוּשְׁלֶכֶת בְּרוּחַ
      </p>
      <p class="nl">
        
          En het gebeurde dat zij gingen, en Jesjoea begon te spreken tot de menigte over Jochanan: waarom komen jullie kijken in de woestijn, naar een riet dat in de wind wordt teruggeworpen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        אוֹ מָה יְצָאתֶם לִרְאוֹת הִתְחַשְּׁבוּ שֶׁיּוֹחָנָן אָדָם לָבוּשׁ בְּגָדִים רַבִּים הִנֵּה לוֹבְשִׁי הַבְּגָדִים רַבִּים בְּבָתֵּי הַמְּלָכִים
      </p>
      <p class="nl">
        
          Of waarom komen jullie kijken? Denken jullie dat Jochanan een mens is bekleed met klederen van groten? Zie, bekleed met de klederen van groten zijn in de huizen van de koningen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אִם־כֵּן מָה יְצָאתֶם לִרְאוֹת נָבִיא בֶּאֱמֶת אֲנִי אוֹמֵר לָכֶם שֶׁזֶּה גָּדוֹל מִנָּבִיא
      </p>
      <p class="nl">
        
          Zo ja, waarom komen jullie kijken een profeet? In waarheid zeg Ik tot jullie: deze is groter dan een profeet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        זֶהוּ שֶׁנִּכְתַּב בַּעֲדוֹ הִנְנִי שׁוֹלֵחַ מַלְאָכִי וּפִנָּה דֶרֶךְ לְפָנָי
      </p>
      <p class="nl">
        
          Dit is geschreven over hem: “Zie, Ik zend Mijn boodschapper, die voor Mijn aangezicht de weg wenden zal”
        
      </p>
      <p class="margin">
        
          Citaat uit Mal. 3:1
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לְתַלְמִידָיו בֶּאֱמֶת אֲנִי דּוּבַּר לָכֶם בְּכָל יַלְדֵי הַנָּשִׁים לֹא קָם גָּדוֹל מִיּוֹחָנָן הַמַּטְבִּיל
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: in waarheid spreek Ik tot jullie, van allen die door de vrouwen gebaard zijn is er geen opgekomen groter dan Jochanan, de doper.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        מִיַּמָּיו עַד עַתָּה מַלְכוּת שָׁמַיִם עֲשׁוּקָה וְהַנְבָלִים קוֹרְעִים אוֹתָהּ
      </p>
      <p class="nl">
        
          Vanaf zijn dagen tot nu wordt het Koninkrijk van de Hemelen onderdrukt en de dwazen scheuren haar stuk.
        
      </p>
      <p class="margin">
        
          ‘dwazen’ kan ook vertaald worden als ‘goddelozen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        שֶׁכָּל הַנְּבִיאִים וְהַתּוֹרָה דִּבְּרוּ עַל יוֹחָנָן
      </p>
      <p class="nl">
        
          Dat al de Profeten en de Torah spreken over Jochanan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְאִם תִּרְצוּ לְקִבְּלוּ הוּא אֵלִיָה הֶעָתִיד לְבָא
      </p>
      <p class="nl">
        
          Maar als u behagen heeft om het te aanvaarden: hij is EliJAH die komen zou.
        
      </p>
      <p class="margin">
        
          EliJAH of EliJAHOE: (Elia) mijn El is JHWH
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        לְמִי אָזְנַיִם לִשְׁמוֹעַ יִשְׁמַע
      </p>
      <p class="nl">
        
          Wie oren heeft om te horen, laat hij gehoorzamen.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘om te horen’ (lisj’mo’a) en ‘gehoorzamen’ (jisj’ma)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ זֶה הָדוּר אֲדַמֶּה לַנְּעָרִים הַיּוֹשְׁבִים בַּשּׁוּק קוֹרְאִים זֶה לְזֶה
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea: dit geslacht, vergelijk Ik met de jongens die op de markt zitten, de één roept naar de ander,
        
      </p>
      <p class="margin">
        
          ‘geslacht’, kan ook vertaald worden met ‘generatie’<br />‘de één roept naar de ander’, letterlijk: deze roept naar die’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְאוֹמְרִים שָׁרְנוּ לָכֶם וְלֹא רָקַדְתֶם סָפַרְנוּ לָכֶם וְלֹא בְּכִיתֶם
      </p>
      <p class="nl">
        
          en die zeiden: wij zongen tot jullie, maar jullie dansten niet, wij treurden tot jullie, maar jullie huilden niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        כִּי בָּא יוֹחָנָן וְאֵינוּ אוֹכֶל וְשׁוֹתֶה וְאוֹמְרִים עָלָיו שֶׁהוּא אָחוּז מִשֵּׁדִים
      </p>
      <p class="nl">
        
          Want Jochanan kwam, at en dronk niet, maar zij zeiden over hem dat hij is ingesloten door demonen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וּבֶּן־הָאָדָם בָּא לֶאֱכוֹל וְלִשְׁתּוֹת וְאוֹמְרִים עָלָיו שֶׁהוּא זוֹלֵל וְסוֹבֵא וְאוֹהֵב לַפָּרִיצִים וְחוֹטְאִים וְהַסְּכָלִים שׁוֹפְטִים לַחֲכָמִים
      </p>
      <p class="nl">
        
          Maar de Mensenzoon kwam, om te eten en om te drinken, maar zij zeggen over hem dat Hij is een veelvraat en een dronkaard, en liefhebber van dieven en zondaars. Maar de dwazen spreken recht tot de wijzen.
        
      </p>
      <p class="margin">
        
          ‘maar de dwazen spreken recht tot de wijzen’, in de Peshitta staat: ‘Maar de wijsheid wordt gerechtvaardigd door haar werken’ in de Griekse handschriften staat: ‘Maar de wijsheid wordt gerechtvaardigd door haar kinderen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        אָז הִתְחִיל יֵשׁוּעַ לְקַלֵּל הֶעָרִים שֶׁנַּעֲשׂוּ בָהֶם מֵאוֹתוֹתָיו וְלֹא חָזְרוּ בַּתְּשׁוּבָה
      </p>
      <p class="nl">
        
          Toen begon Jesjoea de steden te vervloeken, in hen waar Zijn tekenen geschied waren, maar niet weer teruggekeerd waren:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        אִי־לְךָ כוֹרוָזאִים וְאִי־לְךָ בֵּית־שַׁיְדָה שֶׁאִם בָּצוֹר וְסִדוֺם בַּלֹעֵז טִירָאוֹ דֵיטֶיר אוֹ סְדוֹמָה נַעֲשׂוּ הַאוֹתוֹת שֶׁנַּעֲשׂוּ בָּכֶם הָיוּ חוֹזְרוֹת בַּתְּשׁוּבָה בַּזְּמַן הַהוּא בַּשַּׂק וְאֵפֶר
      </p>
      <p class="nl">
        
          Wee u Choraziem en wee u Beejt-Sajdah, wanneer in Tsor en Sidon (in de vreemde taal: Tirao Deter of S<sup>e</sup>domah) geschied waren de tekenen die in jullie geschied zijn, zij zouden weer zijn teruggekeerd, in die tijd in zak en as.
        
      </p>
      <p class="margin">
        
          Choraziem (Chorazin), hier staat in de ruïnes van een synagoge de stoel van Mosjeh, zie Matt. 23:2<br />Beejt-Sajdah: (Betsaïda) huis van vissers, hier kwamen Sjiemon (Petros), Andrea en Philippos vandaan<br />Tsor: (Tyrus) rots<br />Sidon: de stad is vernoemd naar Tsidon, de zoon van K<sup>e</sup>naän (Kanaän), de zoon van Cham, de zoon van Noach, Gen. 10:15
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם יוֹתֵר קַל יִהְיֶה לָצוֹר וּסִדוֹן מִכֶּם
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie: het zal makkelijker zijn voor Tsor en Sidon dan voor jullie.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאַתָּה כְּפַר־נַחוּם אִם לַשָּׁמַיִם תְּעָלָה מִשָּׁם תּוּרַד שֶׁאִם בִּסְדוֹם נַעֲשׂוּ מֵאוֹתוֹת שֶׁנַּעֲשׂוּ בְּךָ אוּלַי תִּשָּׁאֵר עַד שְׁאוֹל תּוּרַד
      </p>
      <p class="nl">
        
          Maar u, K<sup>e</sup>phar-Nachoem, wanneer u tot de hemelen opgeheven bent, van daar wordt u neergebracht. Wanneer in S<sup>e</sup>dom geschied waren de tekenen die in u geschied zijn, misschien bleef zij over. Tot aan sjeol wordt u neergebracht.
        
      </p>
      <p class="margin">
        
          ‘sj<sup>e</sup>ol’, dat is de onderwereld, de verblijfplaats van de doden
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לְךָ שֶׁיּוֹתֵר קַל יִהְיֶה לָאָרֶץ סְדוֹם לַיּוֹם הַדִּין מִמֶּךָ
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot u: het zal makkelijker zijn voor het land van S<sup>e</sup>dom op de dag van het oordeel dan voor u.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        בַּעַת הַהִיא נִתְרוֹמֵם יֵשׁוּעַ בַּרוּחַ הַקָּדֵשׁ וְאוֹמֵר יִשְׁתַּבַּח אֲבִי בּוֹרֵא הַשָׁמַיִם וְהָאָרֶץ שֶׁהִסְתַּרְתָּ דְּבָרִים אֵלֶּה מֵהַחֲכָמִים וְהַנְּבוֹנִים וְגַלִּית אוֹתָם לָעֲנָוִים
      </p>
      <p class="nl">
        
          Op dat moment werd Jesjoea verheven door de Heilige Geest en zei: geprezen zij Mijn Vader, Schepper van de hemelen en de aarde, omdat U verbergt deze woorden voor de wijzen en de verstandigen, maar openbaart hen tot de zachtmoedigen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        אָמְנָם אֲבִי כִּי כֵּן יָשָׁר לְפָנֶיךָ
      </p>
      <p class="nl">
        
          Zeker, Mijn Vader, want op die manier is het recht voor Uw aangezicht.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        הַכֹּל נָתוֹן לִי מְאַת אֲבִי וְאֵין מַכִּיר אֶת-הַבֵּן אֶלָּא הָאָב בִּלְבַד וְלָאָב אֵין מַכִּיר אֶלָּא הַבֵּן וְלַאֲשֶׁר יִרְצֶה הַבֵּן לְגַלּוֹתוֹ
      </p>
      <p class="nl">
        
          Alles is Mij gegeven van Mijn Vader. En geen kent de Zoon, maar de Vader alleen. En geen kent de Vader, maar de Zoon en tot wie Hij behagen heeft: de Zoon openbaart Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        בּוֹאוֹ אֵלָיו כָּל הַיְּגֵעִים וְנוֹשְׂאֵי הֶעָמֵל וַאֲנִי אֶעֱזוֹר אֶתְכֶם לַשֵׂאת עוּלְּכֶם
      </p>
      <p class="nl">
        
          Kom tot Hem alle belasten en dragers van moeite en Ik help jullie dragen van jullie juk.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        צְאוּ עוֹלִי עוּלְּכֶם וְלָמְדוּ מִמֶּנִּי וְתַכִּירוּ כִּי עָנִי אֲנִי וְטוֹב וּבָר הַלֵּבָב וְתִמְצְאוּ מַרְגּוֹעַ לְנַפְשׁוֹתֵיכֶם
      </p>
      <p class="nl">
        
          Neem Mijn juk, als jullie juk, en leer van Mij en u erkent, omdat ik arm ben en goed en zuiver van hart, en u vindt rust voor jullie zielen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        שֶׁעוּלִי רַק וּמַשָּׂאִי קַל
      </p>
      <p class="nl">
        
          omdat Mijn juk is zacht en Mijn last is licht.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>