<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        בַּעַת הַהִיא עָבַר יֵשׁוּעַ בַּקָּמוֹת בְּיּוֹם הַשַּׁבָּת וְתַלְמִידָיו רְעֵבִים הַתְחִילוּ לַעֲקוֹר הַשִּׁבּוֹלִים וּלְפָּרוֹךְ אוֹתָם בֵּין יְדֵיהֶם וְלֶאֱכוֹל אוֹתָם
      </p>
      <p class="nl">
        
          Op dat moment ging Jesjoea voorbij rijpend graan op de dag van de Sjabbat, en Zijn leerlingen leden honger, ze begonnen graanhalmen te plukken en maakten deze fijn tussen hun handen en aten deze.
        
      </p>
      <p class="margin">
        
          ‘Sjabbat’ is de enige dag van de week met een naam en is de dag die geheiligd is door Elohiem, zie Gen. 2:2-3.<br />‘plukken’, letterlijk: ‘rooien’ en ‘ontwortelen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיִּרְאוּ הַפְּרוּשִׁים וַיֹּאמְרוּ אֵלָיו הִנֵּה תַּלְמִידֶיךָ עוֹשִׂים דָּבָר שֶׁאֵינוּ נָכוֹן לַעֲשׂוֹת בַּיּוֹם הַשַּׁבָּת
      </p>
      <p class="nl">
        
          Maar de P<sup>e</sup>roesjiem zagen het en zeiden tot Hem: zie! Uw leerlingen doen een ding wat niet geoorloofd te doen op de dag van de Sjabbat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ וְלֹא קְרָאתֶם מָה שֶׁעָשָׂה דָּוִד כַּשֶׁהָיָה רָעֵב וַאֲנָשָׁיו
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot hen: maar hebben jullie niet gelezen wat David deed wanneer hij honger leed, en zijn mannen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        בְּבֵית הָאֱלֹהִים שֶׁאָכְלוּ מִלֶּחֶם הַפָּנִים בַּלֹעֵז פָּאן סַאגרָה שֶׁאֵינוּ נֹאכֵל אֶלָּא לַכֹּהֲנִים בִּלְבַד
      </p>
      <p class="nl">
        
          in het Huis van de Elohiem aten de Toonbroden (in de vreemde taal: Paan Sagrah), welke niet gegeten mochten worden, maar door de priesters alleen?
        
      </p>
      <p class="margin">
        
          ‘Huis van de Elohiem’, dat is de Tempel, maar in de tijd van David de Tabernakel<br />‘Toonbroden’, letterlijk: ‘brood van het Aangezicht’, en kan ook vertaald worden als: ‘broden van Aanwezigheid’<br />Vreemde taal: Grieks<br />Markus meldt nog dat Evjatar (Abjathar), vader is overvloed, hogepriester was, zie Mark. 2:26
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְגַם בַּתּוֹרָה לֹא קְרָאתֶם שֶׁהַכֹּהֲנִים בַּבֵּית הַמִּקְדָּשׁ מְחַלְּלִים לִפְעָמִים הַשַּׁבָּתוֹת וְאֵין לָהֶם חֵטְא
      </p>
      <p class="nl">
        
          En hebben jullie ook in de Torah gelezen dat de priesters in het Heilige Huis soms de Sjabbatten  ontwijden, maar het is hen niet tot zonde?
        
      </p>
      <p class="margin">
        
          ‘Heilige Huis’, dat is de Tempel, letterlijk: Huis van het Heiligdom
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁמִּקְדָּשׁ גָדּוֹל מִמֶּנּוּ הוּא
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie: groter dan het Heiligdom is Hij,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אֵילוּ יְדַעְתֶּם מַהוּ חֶסֶד חָפַצְתִּי וְלֹא־זָבַח לֹא הֱיִיתֶם מְחַיִיבִים הַתְּמִימִים
      </p>
      <p class="nl">
        
          waarvan jullie dit weten: Ik verlang naar verbondsliefde en geen offers, u zou de onschuldigen niet veroordeeld hebben.
        
      </p>
      <p class="margin">
        
          Citaat uit Hos. 6:6
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        שֶׁבֶּן־הָאָדָם אָדוֹן הַשַּׁבָּת
      </p>
      <p class="nl">
        
          Omdat de Mensenzoon is Heer van de Sjabbat.
        
      </p>
      <p class="margin">
        
          Markus meldt nog: ‘De Sjabbat is gemaakt om de mens, niet de mens om de Sjabbat’, zie Mark. 2:27
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַיְהִי לִקְצֹת הַיָּמִים וְיַעֲבוֹר מִשָּׁם יֵשׁוּעַ וְיָבֹא בְּבָתֵּי כְנֵסִיוֹתָם
      </p>
      <p class="nl">
        
          En het gebeurde aan het eind van die dagen, en Jesjoea ging verder van daar, en Hij ging in hun huizen van samenkomsten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְשָׁם אָדָם וְיָדוֹ יְבֵשָׁה וְיִשְׁאֲלוּהוּ לֵאמֹר אִם מוֹתָר בַּשַּׁבָּת לִרְפֹּאתוֹ
      </p>
      <p class="nl">
        
          En daar was een mens, en zijn hand was verdord, en men vroeg aan Hem door te zeggen: is het toegestaan op de Sjabbat hem te genezen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם מִי בָּכֶם שֶׁיֵּשׁ לוֹ צֹאן אַחַת וְתִּפּוֹל בַּשּׁוּחָה בַּיּוֹם הַשַּׁבָּת וְלֹא יְקִימֶנָּה
      </p>
      <p class="nl">
        
          En Hij zei tot hen: wie van jullie die een schaap heeft en gevallen in een kuil op de dag van Sjabbat, en niet richt deze op?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        כֹּל שְׁכֵּן הָאָדָם שֶׁהוּא טוֹב מִמֶּנָּה לְפִיכָךְ מוֹתָר לַעֲשׂוֹת וְיֵשׁ לְאָדָם לַעֲשׂוֹת יוֹתֵר טוֹב בַּשַּׁבָּת
      </p>
      <p class="nl">
        
          Des te meer is de mens, omdat deze beter is dan haar. Daarom is het toegestaan te doen en voor de mens is het doen van goed meer dan de Sjabbat.
        
      </p>
      <p class="margin">
        
          ‘beter’, letterlijk: goed (tov)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אָז אָמַר לָאִישׁ נְטֵה יָדֶךָ וַיֵט יָדוֹ וַתָשָׁב כְּמוֹ הָאַחֶרֶת
      </p>
      <p class="nl">
        
          Toen Hij zei tot de man: strekt uw hand uit. En hij strekte zijn hand uit en het keerde terug zoals de andere.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְאָז נוֹסְדוּ הַפְּרוּשִׁים וַינַכְּלוּ אֵלָיו לְהֲמִיתוֹ
      </p>
      <p class="nl">
        
          En toen vergaderden de P<sup>e</sup>roesjiem en bedachten bedriegelijke listen over Hem tot Zijn dood.
        
      </p>
      <p class="margin">
        
          ‘vergaderden’, letterlijk: grondvesten of vestigen, het kan staan voor de eerste keer dat de P<sup>e</sup>roesjiem Zijn dood bespraken
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיְהִי אַחֲרֵי זֹאת וַיֵדַע יֵשׁוּעַ וַיֵט מִשָּׁם וַיֵלְכוּ אַחֲרָיו חוֹלִים רַבִּים וִירַפֵּא אֶת־כוּלָם
      </p>
      <p class="nl">
        
          En het gebeurde na dit, maar Jesjoea wist het. En Hij keerde vandaar om, maar vele zieken gingen achter Hem aan, en Hij genas hen allen.
        
      </p>
      <p class="margin">
        
          ‘keerde om’ en ‘strekt uit’ in vers 13 zijn dezelfde Hebreeuwse woorden (nátàh) met verschillende betekenissen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיָצוּם לֵאמֹר לְבַל יְגַלּוּהוּ
      </p>
      <p class="nl">
        
          En Hij gebood hen door te zeggen Hem niet te openbaren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        לְקִייֵּם מָה שֶׁנֶאֱמַר עַל פִּי יְשַׁעְיָה
      </p>
      <p class="nl">
        
          Tot bekrachtiging wat door de mond van J<sup>e</sup>sjaJAH is gezegd:
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: over de mond
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        הֵן נְעָרַי אֲשֶׁר בָּחַרְתִּי בְּחִירִי רָצְתָה נַפְשִׁי אֶתֵּן רוּחִי עָלָיו וּמִשְׁפָּט לַגּוֹיִם יַגִּיד
      </p>
      <p class="nl">
        
          “Zie, Mijn Dienaar, Die Ik gekozen heb, Mijn Uitverkorene, Mijn ziel heeft behagen. Ik heb Mijn Geest op Hem gegeven. En Hij bericht rechtspraak tot de volksstammen.
        
      </p>
      <p class="margin">
        
          Citaat uit Jes. 42:1-4.<br />Er is woordverband tussen ‘gekozen’ (bacharti) en ‘uitverkoren’ (b<sup>e</sup>chiri).<br />‘Die ik gekozen heb’, in de Masoretentekst en de Dode Zee-rollen staat: ‘Die Ik ondersteun’.<br />‘en Hij bericht’, in Masoretentekst en Dode Zee-rollen staat: ‘En Hij ging uit’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְלֹא יִרְהָה וְלֹא יָרוּץ וְלֹא יִשְׁמַע אֶחָד בַּחוּץ קוֹלוֹ
      </p>
      <p class="nl">
        
          Maar Hij is niet bang, en Hij rent niet, en niet één hoort Zijn stem in de straat.
        
      </p>
      <p class="margin">
        
          In Masoretentekst en de Dode Zee-rollen staat dit vers als volgt: ‘Hij zal niet krijsen, en niet verheffen, en Zijn stem buiten niet doen horen.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        קָנָה רָצוּץ לֹא יִשְׁבּוֹר וּפִשְׁתָּה כֵּהֶה לֹא יְכַבְנֶה עַד יַשְׁלִיךְ לְנַצֵּח מִשְׁפָּט
      </p>
      <p class="nl">
        
          Het geknakte riet zal Hij niet in stukken breken, en de rokende vlaspit zal Hij niet uitmaken totdat Hij prijsgeeft de rechtspraak voorgoed.
        
      </p>
      <p class="margin">
        
          ‘tot Hij prijsgeeft de rechtspraak voorgoed’ in de Masoretentekst en de Dode Zee-rollen staat: ‘naar waarheid zal Hij de rechtspraak uitgaan’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְלִשְׁמוֹ גֵּוִים יִיחֲלוּ
      </p>
      <p class="nl">
        
          En op Zijn Naam wachten de volksstammen.”
        
      </p>
      <p class="margin">
        
          Dit deel van het citaat komt uit de Septuagint en de Dode Zee-rollen, in de Masoretentekst staat: ‘en de eilanden zullen naar Zijn leer wachten’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        אָז הוּבָא לְפָנָיו אָדָם אֶחָד עוֹר וְאֵלָם וְהַשָּׁד בְּתוֹכוֹ וִירַפֵּא אוֹתוֹ 
      </p>
      <p class="nl">
        
          Toen werd één mens gebracht voor Zijn aangezicht, die blind en stom was, doordat een demon in hem was. Maar Hij genas hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְרָאָהּ וּנֵפְלֻאוּ הַחֲבוּרוֹת וְיֹּאמְרוּ הֲלֹּא זֶה בֶּן־דָּוִד
      </p>
      <p class="nl">
        
          En de menigte zag het en was verwonderd, en ze zeiden: is Deze niet de Zoon van David?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיִּשְׁמְעוּ הַפְּרוּשִׁים וְיֹאמְרוּ זֶה אֵינוּ מוֹצִיא הַשֵּׁדִים אֶלָּא בַּבַּעַל זְבוּב שַׂר הַשֵּׁדִים
      </p>
      <p class="nl">
        
          Maar de P<sup>e</sup>roesjiem hoorden het en zeiden: Deze doet de demonen niet uitgaan, maar door baäl-z<sup>e</sup>voev, overste van de demonen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְיָדַע יֵשׁוּעַ מְחַשְׁבוֹתֶם וַיֹּאמֶר אֲלֵיהֶם בְּמָשָׁל כָּל מַלְכוּת שֶׁבֵּינֵיהֶם מַחֲלוֹקֶת תְשׁוֹמֵם וְכֵן כָּל עִיר וּבַיִת שֶׁתִּפּוֹל מַחֲלוֹקֶת בְּתוֹכָם לֹא יִתְקַייֵם
      </p>
      <p class="nl">
        
          Maar Jesjoea wist hun gedachten en Hij zei tot hen in een gelijkenis: Elk koninkrijk dat tussen zich verdeeld is, is ontzet. En zo elke stad en huis op welke verdeling valt in hun midden, het zal niet vaststaan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְאִם הַשָּׂטָן מוֹצִיא שָׂטָן אַחֵר מַחֲלוֹקֶת בֵּינֵיהֶם אֵיךְ תַּעֲמוֹד מַלְכוּתוֹ
      </p>
      <p class="nl">
        
          Maar als de satan een andere satan doet uitgaan, er is verdeling tussen hen, hoe blijft zijn koninkrijk vaststaan?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְאִם אֲנִי מוֹצִיא הַשֵּׁדִים בַּבַּעַל זְבוּב בַּנִּים שֶׁלָּכֶם לָמָּה לֹא הוֹצִיאָם וּלְזֶה יִהְיוּ הֵם שׁוֹפְטֵיכֶם
      </p>
      <p class="nl">
        
          Maar als Ik de demonen doet uitgaan door baäl-z<sup>e</sup>voev, waarom brengen jullie zonen hen niet uit? En zij, deze zijn het, die jullie oordelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וְאִם אֲנִי מוֹצִיא הַשֵּׁדִים בָּרוּחַ אֱלֹהִים בֶּאֱמֶת בָּא קָץ מַלְכוּת אֱלֹהִים
      </p>
      <p class="nl">
        
          Maar als Ik de demonen doet uitgaan door de Geest van Elohiem, in waarheid het einde komt: het Koninkrijk van Elohiem.
        
      </p>
      <p class="margin">
        
          ‘in waarheid het einde komt: het Koninkrijk van Elohiem’ in Peshitta en Griekse handschriften staat: ‘dan is het Koninkrijk van Elohiem tot u gekomen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְאֵיךְ יוּכַל אִישׁ לְבָא בְּבֵית גָּבוּר לָקַחַת אֶת־כֵּלָיו אִם־לֹא יִקְשׁוֹר אוֹתוֹ תְּחִילֶהָ וְאַחַר כַּך יִשְׁלוּל בֵיתוֹ
      </p>
      <p class="nl">
        
          En hoe kan een man in een huis gaan van een grotere om zijn voorwerpen te nemen, als hij niet eerst hem bindt, en daarna zijn huis plundert?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        מִי שֶׁאֵינוּ עִמָּדִי לְנֶגְדִּי הוּא מָה שֶׁלֹא יִתְחַבֵּר עִמִּי יִכְפּוֹר בִּי
      </p>
      <p class="nl">
        
          Wie niet met Mij is, deze is tegen Mij. Wat zich niet verbindt met Mij, verwerpt Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        עַל־כֵּן אֲנִי אוֹמֵר לָכֶם שֶׁכָּל חֵטְא וְגִדּוּף יִמְחַל לְבְנֵי אָדָם וְגִדּוּף הָרוּחַ לֹא יִמְחַל
      </p>
      <p class="nl">
        
          Daarom, Ik zeg tot jullie, dat elke zonde en lastering zal Hij de zonen van mensen vergeven, maar de lastering tegen de Geest zal Hij niet vergeven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְכָל הַאוֹמֵר דָּבָר נֶגֶד בֶּן־הָאָדָם יִמְחַל לוֹ וְכָל הָאוֹמֵר דָּבָר נֶגֶד רוּחַ הַקָּדוֹשׁ לֹא יִמְחַל לוֹ לֹא בַּעוֹלָם הַזֶה וְלֹא בַּעוֹלָם הָבֵא 
      </p>
      <p class="nl">
        
          En allen die een woord zeggen tegen de Mensenzoon, Hij vergeeft hem. Maar allen die een woord zeggen tegen de Heilige Geest, vergeeft Hij niet, niet in deze wereld en niet in de komende wereld.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        עָשׂוּ עֵץ טוֹב כְּפָרֵי טוֹב אוֹ עֵץ רַע כְּפָרֵי רַע שֶׁהָאֱמֶת מִן הַפְּרִי יוֹדֵעַ הָעֵץ
      </p>
      <p class="nl">
        
          Maakt de boom goed gelijk de vrucht goed is, of de boom slecht gelijk de vrucht slecht, omdat de waarheid is: uit de vrucht kent men de boom.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        מִשְׁפַּחַת פְּתָנִים אֵיךְ תּוּכְלוּ לְדַבֵּר טוֹבוֹת בִּהְיוֹתְכֶם רָעִים וְהֲלֹּא הַפֶּה מִתְעוֹרֶרֶת הַלֵּב מְדַבֶּרֶת
      </p>
      <p class="nl">
        
          Families van gifslangen: hoe kunt u goed spreken in jullie slechte staat? Doordat immers de mond beweegt, het hart spreekt.
        
      </p>
      <p class="margin">
        
          ‘staat’, letterlijk: ‘zijn’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        אָדָם טוֹב מֵאוֹצָר לֵב טוֹב יוֹצִיא טוֹב וְאָדָם רַע מֵאוֹצָר לֵב רַע יוֹצִיא רַע
      </p>
      <p class="nl">
        
          Een goed mens vanuit de schat van een goed hart brengt goed voort, maar een slecht mens vanuit een schat van een slecht hart brengt slecht voort.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        אוֹמֵר אֲנִי לָכֶם שֶׁמִּכָּל הַדְּבָרִים אֲשֶׁר יְדַבֵּר הָאָדָם חַיָּיב לָתֵת חֶשְׁבּוֹן לַיּוֹם הַדִּין
      </p>
      <p class="nl">
        
          Ik zeg tot jullie dat alle woorden die een mens spreekt, rekening schuldig is te geven op de dag van het oordeel.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘woorden’ (had<sup>e</sup>variem) en ‘spreekt’ (j<sup>e</sup>dabér).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        עַל פִּי דְּבָרֶיךָ תִּהְיֶה נִשְׁפַּט וְעַל פִּי מַעֲשֶׂיךָ תִּתְחַיֵּיב
      </p>
      <p class="nl">
        
          Volgens uw woorden wordt u berecht en volgens uit uw daden wordt u veroordeeld.
        
      </p>
      <p class="margin">
        
          ‘volgens’, letterlijk: over de mond
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        בַּעַת הַהִיא בָּאוּ לִיֵשׁוּעַ קְצָת הפְּרוּשִׁים וְחֲכָמִים לֵאמֹר נִרְצֶה לִרְאוֹת אוֹת מֵהַשָּׁמַיִם בַּעֲבוּרְךָ
      </p>
      <p class="nl">
        
          Op dat moment kwamen tot Jesjoea enkele van de P<sup>e</sup>roesjiem en wijzen, door te zeggen: wij willen een teken zien vanuit de hemelen van U?
        
      </p>
      <p class="margin">
        
          ‘willen’ kan ook vertaald worden als: ‘wensen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם דּוֹר רַע וְחָנֵף מְבַקֵּשׁ אוֹת וְאוֹת לֹא יִנָּתֵּן לוֹ אֶלָּא הָאוֹת שֶׁל יוֹנָה הַנָּבִיא
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: een slecht en huichelachtig geslacht vraagt een teken, maar geen teken zal het gegeven worden alleen het teken van Jonah, de profeet.
        
      </p>
      <p class="margin">
        
          ‘zal het gegeven worden’, letterlijk: ‘zal hem gegeven worden’<br />Jonah: (Jona) duif
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        שֶׁכַּאֲשֶׁר הָיָה בִּמְעֵי הַדָּגָה שְׁלֹשָׁה יָמִים וּשְׁלֹשָׁה לֵילוֹת כֵּן יִהְיֶה בֶּן־הָאָדָם בַּבֶּטֶן הָאָרֶץ שְׁלֹשָׁה יָמִים וּשְׁלֹשָׁה לֵילוֹת נִקָּבֵר
      </p>
      <p class="nl">
        
          Omdat zoals hij drie dagen en drie nachten in de buik van de vis was, zo zal de Mensenzoon drie dagen en drie nachten begraven worden in de schoot van de aarde.
        
      </p>
      <p class="margin">
        
          ‘begraven worden’, in een andere Shem Tov tekst staat ‘in het graf’, ontbreekt in Peshitta en Griekse handschriften<br />‘buik’, kan ook vertaald worden als: ‘ingewand’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        אַנְשֵׁי נִינְוֶה יָקוּמוּ לַמִּשְׁפָּט עִם זֶה הַדּוֹר וְיַרְשִׁיעוּ אוֹתוֹ כִּי חָזְרוּ בִּתְשׁוּבָה לְדִבְרֵי יוֹנָה וַאֲנִי גָּדוֹל מִיּוֹנָה
      </p>
      <p class="nl">
        
          Mannen van Nin<sup>e</sup>veh staan op tot het vonnis met dit geslacht, en men heeft zich schuldig gemaakt, maar zijn terug in bekering door de woorden van Jonah, en Ik ben groter dan Jonah.
        
      </p>
      <p class="margin">
        
          Nin<sup>e</sup>veh: (Ninevé) gesticht door Nimrod, de achterkleinzoon van Noach, zie Gen. 10:11<br />‘terug’ is een Aramees woord
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        מָלְכַּת־שְׁבָא בַּלֹעֵז רֶיזִינָה דֵי אִישְׂטְרִיאָה תָּקוּם לַמִּשְׁפָּט עִם זֶה הַדּוֹר וְתַרְשִׁיעֵם שֶׁבָּאָה מִקְּצוֹת הָאָרֶץ לִשְׁמוֹעַ חַכַּמָּת שְׁלֹמֹה וְהִנְנִי גָּדוֹל מִשְׁלֹמֹה
      </p>
      <p class="nl">
        
          De koningin van Sj<sup>e</sup>vah, in de vreemde taal: Rezinah de Ist<sup>e</sup>riah, staat op tot het vonnis met dit geslacht, en zij heeft zich schuldig gemaakt, omdat zij kwam van de uiteinde van de aarde om te luisteren naar de wijsheid van Sj<sup>e</sup>lomoh, en zie, Ik ben groter dan Sj<sup>e</sup>lomoh.
        
      </p>
      <p class="margin">
        
          Sj<sup>e</sup>vah: (Scheba) was een koninkrijk dat vermoedelijk in het huidige Ethiopië en Jemen lag, volgens Titus Flavius Josephus lag het in Egypte en Jemen. De naam komt voor in Gen. 10:7 en 25:3. In het Grieks staat ‘koningin van het zuiden’ (βασίλισσα νότου).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        וּכְיוֹצֵא רוּחַ טוּמְאָה מֵהָאָדָם הוֹלֵךְ בְּצִּיּוּת מְבַקֵּשׁ מָנוֹחַ וְלֹא יִמְצָא
      </p>
      <p class="nl">
        
          Maar als een onreine geest uit de mens gaat, deze gaat door droogten op zoek naar rust, maar vindt het niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        אָז אוֹמֵר אָשׁוּב לְבֵיתִי אֲשֶׁר יָצָאתִי מִמֶּנּוּ וְבָּא וּמוֹצָא אוֹתוֹ רֵיק בָּטוּחַ וְנָכוֹן
      </p>
      <p class="nl">
        
          Toen zei hij: ik zal omkeren naar mijn huis vanwaar ik ben uitgegaan, en hij komt en vindt niets, vertrouwen en gereedgemaakt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        אָז יִקַּח שִׁבְעָה רוּחוֹת יוֹתֵר רָעִים מִמֶּנּוּ וּבָאִים עִמּוֹ וְיוֹשְׁבִים שָׁם וְיִהְיֶה אַחֲרִית הָאָדָם רַע מֵרֵאשִׁיתוֹ כֵּן יִהְיֶה לַדּוֹר הָרַע הַזֶּה
      </p>
      <p class="nl">
        
          Toen nam hij zeven geesten meer begiftigd met slechtheid dan hij, en komen bij hem, en wonen daar, en het resultaat is dat de mens slechter is dan zijn begin. Zo is het met de slechtheid van dit geslacht.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        עוֹדֶנּוּ מִדְבָּר עִם כָּל הַחֲבוּרוֹת וְהִנֵּה אִמּוֹ וְאֶחָיו עוֹמְדִים בַּחוּץ מְבַקְּשִׁים מִמֶּנּוּ לְדַבֵּר עִמּוֹ
      </p>
      <p class="nl">
        
          Tijdens Zijn spreken met heel de menigte, en zie, Zijn moeder en Zijn broers staan in de straat zoekende Hem om met Hem te spreken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ אָדָם אֶחָד הִנֵּה אִמְּךָ וְאָחִיךָ מְבַקְּשִׁים לִרְאוֹתְךָ
      </p>
      <p class="nl">
        
          En één man zei tot Hem: zie! Uw moeder en Uw broers zoeken om U te zien.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        וַיַּעַן לְמַּגִּיד אֵלַיו מִי אֲחִי וּמִי אִמִּי
      </p>
      <p class="nl">
        
          Maar Hij antwoordde tot hem die berichtte: wie zijn Mijn broers en wie is Mijn moeder?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">49.</p>
      <p class="he">
        וְיִפְרוֹשׂ כַּפָּיו עַל תַּלְמִידָיו וַיֹּאמֶר אֵלּוּ הֵם אִמִּי וַאֲחַי
      </p>
      <p class="nl">
        
          En Hij spreidde Zijn hand over Zijn leerlingen en Hij zei: deze zijn mijn moeder en mijn broers.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">50.</p>
      <p class="he">
        כָּל הָעוֹשֶׂה רָצוֹן אֲבִי שֶׁבַּשָּׁמַיִם הוּא אֲחִי וְאַחְיוֹתִי וְאִמִּי
      </p>
      <p class="nl">
        
          Allen die doen het welbehagen van Mijn Vader, Die in de hemelen is, deze zijn Mijn broers, en Mijn zussen, en Mijn moeder.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘mijn broers’ (achi) en ‘mijn zussen’ (v<sup>e</sup>ach’joti).
        
      </p>
    </div>
  
</div>