<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        בַּיּוֹם הַהוּא יָצָא יֵשׁוּעַ מִהַבָּיִת וַיֵּשֶׁב עַל־שְׂפַת  הַיָּם
      </p>
      <p class="nl">
        
          Op die dag ging Jesjoea uit het huis en Hij ging zitten aan de oever van de zee.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְיִתְחַבָּרוּ אֵלַיו חֲבוּרוֹת עַד שֶׁנִצְטָרֵך לָבֹא בָּאֳנִיָּה וְכֹל הַחֲבוּרָה עוֹמְדֹת בַּחוּץ
      </p>
      <p class="nl">
        
          En de menigte verzamelde zich tot Hem, totdat Hij moest gaan in een schip en heel de menigte stond op straat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיְדַּבֵּר לָהֶם דְּבָרִים רַבִּים בִּמְשָׁלִים וַיֹּאמֶר לָהֶם אִישׁ יוֹצֵא מִבֵּיתוֹ בְּבוֹקֶר לַזְּרוֹעַ אֶת־זַרְעוֹ
      </p>
      <p class="nl">
        
          En Hij sprak tot hen vele woorden door gelijkenissen, en Hij zei tot hen: een man ging uit zijn huis in de ochtend om zijn zaad te zaaien.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘en Hij sprak’ (vajdabér) en ‘woorden’ (d<sup>e</sup>variem).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וּבִזְרעוֹ נָפַל מִמֶּנּוּ בַּדֶּרֶךְ וְאָכַל אוֹתוֹ הָעוֹף
      </p>
      <p class="nl">
        
          En bij zijn zaaien, een deel viel op de weg en de vogels aten het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וּמִמֶּנּוּ נָפְלָה בָּאָבֶן שֶׁאֵין שָׁם עוֹבִי עָפָר וּבְצִמְחוֹ נִתְיַיבֵּשׁ לְפִי שֶׁאֵין שָׁם עָפָר לָרוֹב
      </p>
      <p class="nl">
        
          En een deel viel op steen, daar is niet dikte van grond, en in het uitlopen werd het droog, naargelang het daar niet veel grond had.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וּבַחוֹם הַשֶּׁמֶשׁ עָלָיו נִשְׂרַף וְנִתְיַיבֵּשׁ שֶׁאֵין לוֹ שׁוֹרֶשׁ
      </p>
      <p class="nl">
        
          En door de hitte van de zon over het, werd het verbrand en werd het droog, omdat het geen grondslag had.
        
      </p>
      <p class="margin">
        
          ‘grondslag’ kan ook vertaald worden als ‘wortel’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וּמִמֶּנּוּ נָפַל בֵּין הַקּוֹצִים וִיגַדְּלוּ הַקוֹצִים וִיעַמְּמוּהוּ
      </p>
      <p class="nl">
        
          En een deel viel tussen de doornen, en de doornen groeiden en verduisterden het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וּמִמֶּנּוּ נָפַל בָּאָרֶץ טוֹבָה וְיַעֲשֶׂה פְּרִי וּתְבוּאָה הָאֶחָד מֵאָה וְהַשֵּׁנִי שִׁשִׁים וְהַשְּׁלִישִׁי שֶׁלֹּשִׁים
      </p>
      <p class="nl">
        
          En een deel viel in goede aarde, en maakte vrucht, het één honderd, en het tweede zestig, en het derde dertig.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        לְמִי אָזְנַיִם לִשְׁמוֹעַ יִשְׁמַע
      </p>
      <p class="nl">
        
          Wie oren heeft om te horen, laat hij gehoorzamen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיִקְרְבוּ אֵלָיו תַּלְמִידָיו וְיֹאמְרוּ לוֹ לָמָּה תְדַבֵּר בַּמְּשָׁלִים
      </p>
      <p class="nl">
        
          En Zijn leerlingen naderden tot Hem en zeiden tot Hem: waarom spreekt u in gelijkenissen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיֹּאמֶר שֶׁלָּכֶם נִתָּן מַלְכוּת הַשָׁמַיִם לְהַכִּיר וְלֹא לָהֶם
      </p>
      <p class="nl">
        
          En Hij zei: omdat aan jullie is gegeven het Koninkrijk van de Hemelen te kennen, maar niet tot hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        לְמִי שֶׁיֵּשׁ לוֹ יִנָּתֵן לוֹ עוֹד וּלְמִי שֶׁאֵין לוֹ מָה שֶׁהוּא חוֹשֵׁב שֶׁיֵשׁ לוֹ יִלָּקַח מִמֶּנּוּ
      </p>
      <p class="nl">
        
          Wie het heeft, tot hem geeft Hij opnieuw. Maar wie niet heeft, wat deze denkt te hebben, zal het van hem genomen worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        לְזֶה אֲנִי מִדָבַר בַּמְּשָׁלִים שֶׁהֵם רוֹאִים וְאֵינָם רוֹאִים שׁוֹמְעִים וְאֵינָם שׁוֹמְעִים
      </p>
      <p class="nl">
        
          Om dit, spreek Ik door gelijkenissen, omdat zij zien maar zien niet, horen maar horen niet,
        
      </p>
      <p class="margin">
        
          ‘horen’ kan ook vertaald worden als ‘luisteren’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        לִגְמוֹר מָה שֶׁנֶאֱמַר עַל פִּי יְשַׁעְיָה הַנָּבִיא לֵךְ וְאָמַרְתָּ לָעָם הַזֶּה שִׁמְעוּ שָׁמוֹעַ וְאַל־תָּבִינוּ וּרְאוּ רָאוֹ וְאַל־תֵּדָעוּ
      </p>
      <p class="nl">
        
          tot het voltooien wat door de mond van J<sup>e</sup>sjaJAH, de profeet, is gezegd: “ga en zeg tot dit volk: horend hoort, maar begrijpt niet, en ziend ziet, maar herkent niet.
        
      </p>
      <p class="margin">
        
          ‘door de mond van de profeet’, letterlijk: over de mond van de profeet<br />Citaat uit Jes. 6:9-10<br />Er is een paronomasie in "horend hoort" (sjiem‘oe sjamoa‘), bedoelend: hoort voortdurend, en in "ziend ziet" (oer<sup>e</sup>’oe ra’o), bedoelend: ziet voortdurend.<br />‘begrijpt’ kan ook vertaald worden als ‘verstaan’ of ‘inzicht hebben’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        הַשְׁמֵן לֵב הָעָם הַזֶּה וְאָזְנָיו הַכְבֵּד וְעֵינָיו הָשַׁע פֶּן־יִרְאֶה בְעֵינָיו וּבְאָזְנָיו יִשְׁמָע וּלְבָבֹו יָבִין וָשָׁב וְרָפָא לֹו
      </p>
      <p class="nl">
        
          Maak het hart van dit volk vet, en maak zijn oren zwaar, en verkwik zijn ogen, opdat het niet ziet met zijn ogen, en met zijn oren hoort, en zijn hart begrijpt, en terugkeert, en Hij hem geneest.”
        
      </p>
      <p class="margin">
        
          ‘maak het hart van dit volk vet’ betekent: gevoelloos en zonder begrip.<br />Het Hebreeuwse woord ‘volk’ is mannelijk, waardoor de vervoegingen mannelijk zijn.<br />‘en met zijn oren hoort, en zijn hart begrijpt, en terugkeert, en Hij hem geneest’, toevoeging uit DuTillet en Munster. Shem Tov heeft ‘etcetera’ (וכו').
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְאַשְׁרֵי עֵינֵיכֶם שֶׁרוֹאוֹת וְאָזְנֵיכֶם שֶׁשּׁוֹמְעוֹת
      </p>
      <p class="nl">
        
          Maar voorspoedig zijn jullie ogen die zien en jullie oren die horen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        אָמֵן אֲנִי דּוֹבֵר לָכֶם שֶׁנְּבִיאִים רַבִּים וְצַדִּיקִים הִתְאַוּוּ לִרְאוֹת מָה שֶׁאִתָּם רוֹאִים וְלֹא רָאוּ וְלִשְׁמוֹעַ מָה שֶׁאִתָּם שׁוֹמְעִים וְלֹא שָׁמְעוּ
      </p>
      <p class="nl">
        
          Amen, Ik spreek tot jullie, dat vele profeten en rechtvaardigen begeren te zien wat jullie zien, en hebben niet gezien, en horen wat jullie horen, en hebben niet gehoord.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְאַתֶּם שָׁמֵעוּ מְשַׁל הַזּוֹרֵעַ
      </p>
      <p class="nl">
        
          Maar jullie hoorden de gelijkenis van de zaaier.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        הַזּוֹרֵעַ הוּא בֶּן־הָאָדָם וְהַזֶּרַע שֶׁנָּפַל בַּדֶּרֶךְ כָּל הַשּׁוֹמֵעַ מַלְכוּת שָׁמַיִם וְלֹא יָבִין יִבֵּא הַשָּׂטָן וְיִחְתוֹף מִלִּבּוֹ כָּל מָה שֶׁנִּזְרַע בּוֹ וְזֶהוּ הַזֶּרַע שֶׁנָּפַל עַל הַדֶּרֶךְ
      </p>
      <p class="nl">
        
          De zaaier, Hij is de Mensenzoon, en het zaad dat valt op de weg zijn allen die horen van het Koninkrijk van de Hemelen, maar begrijpen het niet. De satan komt en hij rukt weg uit zijn hart alles wat gezaaid is in hem. En dit is het zaad gevallen op de weg.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַאֲשֶׁר נָפַל עַל הָאֶבֶן הוּא הַשּׁוֹמֵעַ אֶת-דָּבָר הַאֵל וִיקַבְּלָנוּ מִיָּד בַּשִּׂמְחָה
      </p>
      <p class="nl">
        
          En hetgeen gevallen op steen, deze hoorden het Woord van de El en namen het onmiddellijk aan met vreugde,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְהוּא בְּלֹא שׁוֹרֶשׁ וּבַּמְבוּכָה וּבַבָּא מְעַט צַעַר וְצָרָה לָהֶם הַשָּׂטָן מִשָׂכְחוּ מִלִּבָּם
      </p>
      <p class="nl">
        
          maar het had geen grondslag en was in verwarring, opdat door de komst van een beetje smart en nood tot hen, de satan deed vergeten, uit hun hart.
        
      </p>
      <p class="margin">
        
          ‘grondslag’ kan ook vertaald worden als ‘wortel’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַאֲשֶׁר נָפַל בַּקּוֹצִים זֶה הַשּׁוֹמֵעַ אֶת־הַדָּבָר וּבְחֶמְדָּתוּ לֶאֱסוֹף עוֹשֶׁר הַשָּׂטָן מִשָׁכְחוּ דָּבָר אֱלֹהִים וְלֹא יַעֲשֶׂה פְּרִי
      </p>
      <p class="nl">
        
          En hetgeen gevallen in de doornen, deze hoorden het Woord, en begeerden tot het verzamelen van rijkdom, de satan deed vergeten het Woord van Elohiem, zodat men geen vrucht maakt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַאֲשֶׁר נָפַל בָּאָרֶץ הַטּוֹבָה הוּא הַשּׁוֹמֵעַ אֶת־הַדָּבָר וּמֵבִין וְעוֹשֵׂה פְּרי רֹצֵה לוֹמַר מִמַּעֲשִׂים טוֹבִים וְיוֹצִיא מִן הָאֶחָד מֵאָה וּמִן הַשֵּׁנִי שִׁשִּׁים וּמִן הַשְּׁלִישִׁי שְׁלֹשִׁים הָאֶחָד מֵאָה זֶהוּ מְטַהֶרֶת הַלֵּב וּקְדוּשַּׁת הַגּוּף וּמֵהָאֶחָד שִׁשִּׁים זֶהוּ מִפְּרִישׁוֹת הָאִשָּׁה וּמֵהָאֶחָד שְׁלֹשִׁים זֶהוּ מִקְּדוּשָּׁה בַּזִּיוּוּג בַּגּוּף וּבַלֵּב
      </p>
      <p class="nl">
        
          En hetgeen gevallen in goede aarde, deze hoorden het Woord, en begrepen het en maakten vrucht, dat is: goede werken. En voortbrengt uit de één honderd, en uit de tweede zestig, en uit de derde dertig. De één van honderd, deze heeft een gereinigd hart en een geheiligd lichaam. En de één van zestig, deze is gescheiden van vuuroffers. En de één van dertig, deze is geheiligd in koppeling in het lichaam en in het hart. 
        
      </p>
      <p class="margin">
        
          ‘vuuroffers’, vanwege het ontbreken van niqoed in de originele Hebreeuwse tekst kan dit woord ook vertaald worden als: ‘vrouwen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיִשֵּׂם לִפְנֵיהָם מָשָׁל אַחֵר מַלְכוּת שָׁמַיִם דּוֹמֶה לָאִישׁ הַזּוֹרֵעַ בְּשָׂדֵהוּ זֶרַע טוֹב
      </p>
      <p class="nl">
        
          En Hij legde nog een gelijkenis voor: het Koninkrijk van de Hemelen is gelijk als een man die goed zaad zaaide in zijn akker.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר בְּנֵי אָדָם יְשָׁנִים בָּא שׂוֹנְאוּ וִיזְרַע עַל הַחִטִּים זוּן בַּלֹעֵז בְּרִייָאגָה וַיֵלֶךְ
      </p>
      <p class="nl">
        
          En het gebeurde toen de zonen van mensen sliepen, kwam zijn hater en hij zaaide over de tarwe onkruid, in de vreemde taal: b<sup>e</sup>rijaghah, en hij ging.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר גָּדְלָה הָעֵשֶׂב לַעֲשׂוֹת פְּרִי וְרָאָה הַזּוּן
      </p>
      <p class="nl">
        
          En het gebeurde toen groeide het gewas tot het maken van vrucht, en het onkruid werd zichtbaar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיִקְרְבוּ עַבְדֵי בַּעַל־הַשָּׂדֶה אֵלָיו וַיֹּאמְרוּ לוֹ אֲדוֹנֵינוּ הֲלֹא־זֶרַע טוֹב זָרַעְתָּ וּמֵאַיִן הָיָה הַזּוּן
      </p>
      <p class="nl">
        
          En de knechten van de eigenaar van de akker naderden tot hem en zeiden tot hem: onze heer, is niet goed zaad gezaaid? Maar waarvandaan is het onkruid?
        
      </p>
      <p class="margin">
        
          ‘eigenaar van de akker’, in Peshitta en Griekse handschriften staat: ‘heer van het huis’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        אָמַר לָהֶם שׂוֹנְאַי עָשָׂה זֶה וַיֹּאמְרוּ לוֹ עֲבָדָיו נִעֲקוֹר הַזּוּן
      </p>
      <p class="nl">
        
          Hij zei tot hen: mijn hater heeft dit gedaan. En zijn knechten zeiden tot hem: laat het onkruid ontworteld worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם לֹא פֶן תַּעַקְּרוּ הַחִטָּה
      </p>
      <p class="nl">
        
          Maar hij zei tot hen: nee, opdat de tarwe niet ontworteld wordt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        אֶלָּא הֵנִיחוּ זֶה וְזֶה וְיִגְדַּל עַד הַקָּצִיר וּבַעַת הַקָּצִיר אָמַר לַקּוֹצְרִים לִקְטוּ אֶת־הַזּוּן רִאשׁוֹנָה וְקָשְׁרוּ אוֹתוֹ חֲבִילוֹת חֲבִילוֹת לִשְׂרוֹף וְהַחִטָּה תְּנוּ בָּאוֹצָר
      </p>
      <p class="nl">
        
          Maar laat deze en die, en groeien tot de oogst. En in de tijd van de oogst zeg ik tot de oogsters: verzamel het onkruid eerst en bindt het in bundels, bundels om te verbanden. Maar zet het tarwe in de voorraad.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְיָשֵּׂם לִפְנֵיהֶם מָשָׁל אַחֵר מַלְכוּת שָׁמַיִם דּוֹמֶה לַגַּרְגִּיר חַרְדָּל שֶׁיִּקַּח אוֹתוֹ אָדָם וַיִּזְרַעהוּ בַּשָׂדֶה
      </p>
      <p class="nl">
        
          En Hij legde nog een gelijkenis voor: het Koninkrijk van de Hemelen is gelijk als een korrel mosterd welke is genomen door een mens en gezaaid in de akker.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְהוּא דַּק מִכֹּל הַזֵרְעוֹנִים וּבְגַדְּלוֹ יִגְדַּל עַל כֹּל הָעֲשָׂבִים וְנַעֲשָׂה עֵץ גָּדוֹל עַד שֶׁעוֹף הַשָּׁמַיִם יַאצֶילוּ בַּעֲנָפָיו
      </p>
      <p class="nl">
        
          En deze is de kleinste van alle kruiden, maar in het groeien groeit deze boven al het gewas en is gemaakt tot een grote boom, tot het gevogelte van de hemelen nestelt in zijn takken.
        
      </p>
      <p class="margin">
        
          ‘de kleinste’, letterlijk: ‘poederfijn’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וַיְדַבֵּר לָהֶם מָשָׁל אַחֵר וַיֹּאמֶר לָהֶם מַלְכוּת שָׁמַיִם דּוֹמֶה לִשְׂאוֹר שֶׁמֵּבִיא אוֹתוֹ הָאִשָּׁה  בִּשְׁלֹשׁ סֵאִים קֶמַח וְיַחְמִיץ אֶת־כּוּלּוֹ
      </p>
      <p class="nl">
        
          En Hij sprak tot hen nog een gelijkenis, en Hij zei: het Koninkrijk van de Hemelen is gelijk als een zuurdeeg dat ingebracht wordt door de vrouw in drie schepels meel en het geheel wordt gezuurd.
        
      </p>
      <p class="margin">
        
          Drie schepels meel is circa 36 liter
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        כֹּל הַמְּשָׁלִים הַאֵלּוּ דִּבֵּר יֵשׁוּעַ לַחֲבוּרוֹת וּבְלִי מָשָׁל לֹא הָיָה דּוֹבֵר לָהֶם
      </p>
      <p class="nl">
        
          Al deze gelijkenissen sprak Jesjoea tot de menigte en zonder gelijkenis sprak Hij niet tot hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        לְקִייֵּם מָה שֶׁנֶּאֱמַר עַל פִּי הַנָּבִיא אֶפְתְּחָה בְּמָשָׁל פִּי אַבִּיעָה חִידוֹת מִנִּי־קֶדֶם
      </p>
      <p class="nl">
        
          Tot bekrachtiging wat door de mond van de profeet is gezegd: “Ik zal mijn mond openen met spreuken, Ik zal raadsels uitstorten, vanouds”
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: over de mond<br />‘de profeet’ is hier Asaph (Asaf), ‘verzamelaar’ of ‘Hij heeft bijeengebracht’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        אָז נִפְרָד יֵשׁוּעַ מִן הַחֲבוּרוֹת וַיָבֹא אֶל הַבַּיִת וְיִקְרְבוּ אֵלָיו תַּלְמִידָיו וַיְבַקְשׁוּ מִמֶּנּוּ לִפְרוֹשׁ לָהֶם מָשָׁל הַזּוּן
      </p>
      <p class="nl">
        
          Toen zonderde Jesjoea zich af van de menigte en Hij ging tot het huis. En Zijn leerlingen naderden tot Hem, en vroegen van Hem om tot hen de gelijkenis van het onkruid te verklaren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        וַיַּעַן לָהֶם וַיֹּאמֶר הַזּוֹרֵעַ זֶרַע טוֹב הוּא בֶּן־הָאָדָם
      </p>
      <p class="nl">
        
          En Hij antwoordde tot hen en zei: die goed zaad zaaide, Hij is de Mensenzoon.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘zaad’ (hazore’a) en ‘zaaide’ (zera’).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        וְהַשָּׂדֶה הוּא הָעוֹלָם הַזֶּה וּפְּרִי הַטּוֹב הֵם הַצַּדִּיקִים וְהַזּוּן הֵם הָרְשָׁעִים
      </p>
      <p class="nl">
        
          En de akker, deze is de wereld, en de goede vrucht, zij zijn de rechtvaardigen. Maar het onkruid, zij zijn de slechten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְהַשּׂוֹנֵא שֶׁזָּרַע אוֹתוֹ הוּא הַשָּׂטָן וְהַקֹּמָה אַחֲרִית הָעוֹלָם וְהַקּוֹצְרִים הֵם הַמַּלְאָכִים
      </p>
      <p class="nl">
        
          En de hater die zaaide, hij is de satan. En het rijpende graan is het resultaat van de wereld. En de oogsters, zij zijn de engelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְכַּאֲשֶׁר לָקְטוּ הַקּוֹצְרִים הַזּוּן לִשְׂרוֹף כֵּן יִהְיֶה בְּאַחֲרִית הַיָּמִים
      </p>
      <p class="nl">
        
          En zoals de oogsters het onkruid verzamelen tot het verbranden, zo is het met het resultaat van die dagen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        יִשְׁלַח בֶּן־הָאָדָם אֶת־מַלְאָכָיו לַעֲקוֹר מִמַּלְכוּתוֹ כֹּל־רָשָׁע וְכֹל־פּוֹעֲלֵי אָוֶן
      </p>
      <p class="nl">
        
          De Mensenzoon zendt Zijn engelen tot het rooien uit Zijn Koninkrijk alle slechtheid en alle werkers van ellende.
        
      </p>
      <p class="margin">
        
          ‘slechtheid’ kan ook vertaald worden als: ‘goddeloosheid’ en ‘schuld’<br />‘ellende’, in de Peshitta staat ‘onrecht’ en in de Griekse handschriften staat ‘wetteloosheid’ (Torahloosheid)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        וַיִשְׁלִיכוּ אוֹתָם בִּמְדּוּרַת אֵשׁ וְשָׁם יִהְיֶה בְּכִי וַחֲרִיקֹת שִׁינַּיִם
      </p>
      <p class="nl">
        
          En men werpt hen in de brandstapel van vuur, en daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        אָז יַזְהִירוּ הַצַּדִּיקִים כְּשֶׁמֶשׁ בְּמַלְכוּת אֲבִיהֶם לְמִי אָזְנַיִם לִשְׁמוֹעַ יִשְׁמַע
      </p>
      <p class="nl">
        
          Dan schitteren de rechtvaardigen als de zon in het Koninkrijk van hun Vader. Wie oren heeft om te horen, laat hij gehoorzamen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לְתַּלְמִידָיו מַלְכוּת שָׁמַיִם הִיא דּוֹמֶה לָאָדָם הַמּוֹצָא מַטְמוֹן אֲשֶׁר יַסְתִּירוּהוּ וּבְשִׂמְחַת הַמָּמוֹן יִמְכּוֹר כָּל־אֲשֶׁר־לוֹ וְיִקְנֶה הַשָּׂדֶה בַּעֲדוֹ
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: het Koninkrijk van de Hemelen, zij is gelijk als een mens die een schat vindt, die verborgen was. En in vreugde over de rijkdom, hij verkocht alles wat hij had en hij kocht de akker.
        
      </p>
      <p class="margin">
        
          ‘alles wat hij had’, letterlijk: ‘al hetgeen tot hem’<br />‘verkocht’ kan ook vertaald worden als: ‘verhandelen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        וְעוֹד מַלְכוּת שָׁמַיִם דּוֹמֶה לָאָדָם סוֹחֵר הַמְּבַקֵּשׁ אֲבָנִים יְקָרוֹת
      </p>
      <p class="nl">
        
          En opnieuw: het Koninkrijk van de Hemelen is gelijk als een mens, een handelaar, die kostbare stenen zoekt.
        
      </p>
      <p class="margin">
        
          ‘kostbare’ kan ook vertaald worden als: ‘zeldzaam’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        וְכַּאֲשֶׁר יִמְצָא אַחַת טוֹבָה יִמְכּוֹר כָּל־אֲשֶׁר־לוֹ וְיִקְנֶה אוֹתָהּ
      </p>
      <p class="nl">
        
          En zoals hij vindt één goede, hij verkocht alles wat hij had en hij kocht het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        מַלְכוּת שָׁמַיִם דּוֹמֶה הִיא לָרֶשֶׁת בְּתוֹךְ הַיָּם שֶׁכָּל מִינֵי דָּגִים נֶאֱסָפִים בָּהּ
      </p>
      <p class="nl">
        
          Het Koninkrijk van de Hemelen, zij is gelijk als een net midden in de zee dat allerlei vissen verzamelt in haar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        וְכַּאֲשֶׁר תְּמַלֵּא יוֹצִיאוּה לַחוּץ וְיוֹצְאִים הַדַּייָּגִים וּבּוֹחֲרִים הַטּוֹבִים בִּכְלֵיהֶם וְהָרָעִים מַשְׁלִיכִים חוֹצֶה
      </p>
      <p class="nl">
        
          En wanneer het vervuld is, men brengt het uit, en de vissers brengen uit en kiezen de goeden in hun schepen en de slechten werpen zij buiten.
        
      </p>
      <p class="margin">
        
          ‘kiezen’ kan ook vertaald worden als: ‘keuren’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">49.</p>
      <p class="he">
        כֵּן יִהְיֶה בָּאַחֲרִית הַיָּמִים יָצְאוּ הַמַּלְאָכִים וְיַבְדִּילוּ הָרְשָׁעִים מִתּוֹךְ הַצַּדִּיקִים
      </p>
      <p class="nl">
        
          Zo is het met het resultaat van die dagen: de engelen gaan uit en scheiden de slechten uit de rechtvaardigen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">50.</p>
      <p class="he">
        וְיַשְׁלִיכוּ אוֹתָם בַּמְּדוּרָת אֵשׁ וְשָׁם יִהְיֶה בֶּכִי וַחֲרִיקָת שִׁינַּיִם
      </p>
      <p class="nl">
        
          En men werpt hen in de brandstapel van vuur, daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">51.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם הֵבַנְתֶּם זֶה וַיֹּאמְרוּ כֵּן
      </p>
      <p class="nl">
        
          En Hij zei tot hen: begrijpen jullie dit? En zij zeiden: ja.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">52.</p>
      <p class="he">
        לְזֹאת כָּל חָכָם יִדְמֶה בְּמַלְכוּת שָׁמַיִם לָאָדָם אֲבִי הַטָּף הַמּוֹצִיא מֵאוֹצָרוֹ דְּבָרִים חֲדָשִׁים גַּם יְשָׁנִים
      </p>
      <p class="nl">
        
          Op deze moeten alle wijzen lijken in het Koninkrijk van de Hemelen, op een mens, een vader van kinderen, die uit zijn schat nieuwe woorden samen met oude uitbrengt.
        
      </p>
      <p class="margin">
        
          ‘een vader van kinderen’ in de Peshitta staat ‘huismeester’en in Griekse handschriften staat: ‘heer van het huis’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">53.</p>
      <p class="he">
        וַיְהִי אַחֲרֵי זֹאת כַּאֲשֶׁר כִּלָּה יֵשׁוּעַ הַדְּבָרִים הָאֵלֶּה עָבַר מִשָּׁם
      </p>
      <p class="nl">
        
          Maar het gebeurde na dit, zodra Jesjoea klaar was met deze woorden, Hij ging van daar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">54.</p>
      <p class="he">
        וּבָא לְאַרְצוֹ וְהָיָה מְלַמֵּד לָאֲנָשִׁים בְּבָתֵּי כְּנֵסֵיוֹת וְהַפְּרוּשִׁים נִפְלַאוּ וַיֹּאמְרוּ בְּלִבָּם מֵאַיִן בָּא לְזֶה הַחָכְמָה וְכֹחַ לַעֲשׂוֹת אֵלּוּ הַפְּעוּלּוֹת
      </p>
      <p class="nl">
        
          En Hij kwam in Zijn land en was lerende de mannen in de huizen van samenkomsten, en de P<sup>e</sup>roesjiem waren verwonderd en zeiden in hun harten: waarvandaan komt deze wijsheid en kracht tot het doen van deze werken?
        
      </p>
      <p class="margin">
        
          ‘zijn land’, daarmee wordt bedoeld dat Hij in Zijn vaderland kwam, het gebied en stad waar Hij is opgegroeid<br />In Luk. 4:18-19 staat dat Jesjoea leest uit het boek van de profeet J<sup>e</sup>sjaJAH, dit is een samenvoeging van Jes. 61:1a, 42:7 en 61:1b
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">55.</p>
      <p class="he">
        אֵין זֶה בֵּן הַנֶּפַח וּמִרְיָם הֲלֹא יְדַעְתֶּם שֶׁאִמּוֹ מִרְיָם וְאֶחָיו ג' יוֹסֵף וְשִׁמְעוֹן וִיהוּדָה
      </p>
      <p class="nl">
        
          Is Deze niet een zoon van de smid en Mirjam? Kennen jullie niet Zijn moeder, Mirjam, en Zijn drie broers: Joséph, en Sjiem’on, en J<sup>e</sup>hoedah.
        
      </p>
      <p class="margin">
        
          ‘de smid’ in de Peshitta en Griekse handschriften staat: ‘timmerman’<br />‘Zijn drie broers’ in de Peshitta en Griekse handschriften wordt geen getal genoemd en een vierde broer: Jaäqov (Jakobus)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">56.</p>
      <p class="he">
        וְאַחְיוֹתָיו הֲלֹא יְדַעְתֶּם שֶׁכָּל אֵלּוּ עִמָּנוּ מֵאַיִן בָּא לְזֶה כָּל־אֵלֶּה
      </p>
      <p class="nl">
        
          En Zijn zussen, kennen jullie niet al deze met ons? Waarvandaan komt tot Deze al dit?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">57.</p>
      <p class="he">
        וְהָיוֹ נָבוֹכִים בוֹ וַיַּעַן לָהֶם יֵשׁוּעַ אַיִן נָבִיא בְעִירוֹ שֶׁאַיִן לוֹ כָּבוֹד כִּי אִם בְּאַרְצוֹ וְעִירוֹ וְבֵיתוֹ
      </p>
      <p class="nl">
        
          En men was verward over Hem, en Jesjoea antwoordde tot hen: geen profeet is in zijn stad, omdat er geen eer is tot hem, maar in zijn land, zijn stad en zijn huis.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">58.</p>
      <p class="he">
        וְלֹא רָצָה לַעֲשׂוֹת שָׁם שׁוּם אוֹת לַמִּיעוּט אֱמוּנָתָם
      </p>
      <p class="nl">
        
          En geen behagen was daar voor enig teken omwille van hun geringe geloof.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>