<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        בַּעֵתּ הַהִיא שָׁמַע הוֹרוֹדוֹס טִיטְרָאקָה שְׁמוּעוֹת יֵשׁוּעַ
      </p>
      <p class="nl">
        
          In die tijd hoorde Herodes, viervorst, geruchten over Jesjoea.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘hoorde’ (sjama) en ‘geruchten’ (sj<sup>e</sup>moe’ot).<br />Herodes, dat is Herodes Antipas, regeerde over Ghalil en Perea, een vierde deel van het koninkrijk van zijn vader Herodes de Grote
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיֹּאמֶר לַעֲבָדָיו הִנֵּה אֲנִי מַאֲמִין שֶׁאִלוּ הַפְּלָאוֹת עוֹשֶׂה יוֹחָנָן הַמַּטְבִּיל
      </p>
      <p class="nl">
        
          En hij zei tot zijn dienaren: zie, ik geloof dat deze wonderen gedaan worden door Jochanan, de doper.
        
      </p>
      <p class="margin">
        
          In de Peshitta en Griekse handschriften staat toegevoegd: “hij (Jochanan) is opgewekt van de doden”
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        שֶׁהָיָה לְפִי שֶׁהוֹרוֹדוֹס תָּפַשׂ לְיוֹחָנָן בַּיָּמִים הָהֵם וַיֶאֶסְרֻהוּ בַּמַאֲסָר לְפִי שֶׁהָיָה מוֹכִיחוֹ שֶׁלֹא יִקַּח לְאוֹרְדִיסָה לָאִשָּׁה שֶׁהָיָתָה אֵשֶׁת אֶחָיו
      </p>
      <p class="nl">
        
          Dit gebeurde dat Herodes in die dagen Jochanan had gegrepen, en hij bond hem in de gevangenis, omdat hem gewezen was dat hij niet nam Herodias tot vrouw, dat was de vrouw van zijn broer.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘en hij bond hem’ (waja’asroehoe) en ‘in de gevangenis’ (bama’asar)<br />Herodias, dochter van Aristobulus IV (zoon van Herodes de Grote) en Berenice (dochter van Salome, die de zus is van Herodes de Grote), wordt in Shem Tov gespeld als: ‘Ordisah’<br />‘zijn broer’, dat is diens halfbroer Herodes Filippus (niet te verwarren met de viervorst Filippus), welke wel genoemd wordt in de Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְהָיָה אוֹמֵר לוֹ יוֹחָנָן אֵינָהּ רְאוּיהָ לְךָ
      </p>
      <p class="nl">
        
          Doordat Jochanan zei tot hem: zij is niet geschikt voor u.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְהִנֵּה הוֹרוֹדוֹס הָיָה רוֹצֶה לְהוֹרֵגוּ לוּלֵי  יִרְאַת הָעָם שֶׁלַּנָּבִיא הָיָה בֵּינֵיהֶם
      </p>
      <p class="nl">
        
          En zie, Herodes had behagen om hem te doden, hij was bang voor het volk omdat hij een profeet was onder hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וּבְמִּשְׁתֶּה יוֹם הוּלֶּדֶת הוֹרוֹדוֹס קָרָא לִגְדוֹלֵי הַמַּלְכוּת לֶאֱכוֹל עִמּוֹ וּבְעוֹד שֶׁהָיוּ אוֹכְלִים הָיְתָה בִּתּוֹ מְרַקֵּדָת בֵּינֵיהֶם וַיִיטַב לְהוֹרוֹדוֹס
      </p>
      <p class="nl">
        
          Maar op het feest van de geboortedag van Herodes riep hij de edelen van het koninkrijk om te eten met hem, en terwijl zij aten, danste zijn dochter tussen hen, en het was aangenaam tot Herodes.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיִּשָּׁבַע לָהּ שֶׁיִּתֵּן לָהּ כָּל אֲשֶׁר תִּשְׁאֵל מִמֶּנּוּ
      </p>
      <p class="nl">
        
          Zodat hij zwoer aan haar dat aan haar geeft alles waar zij om vraagt van hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְהַנַּעֲרָה מִיוּסֶּרֶת מִאִמָּהּ שְׁאֵלָה רֹאשׁ יוֹחָנָן הַמַּטְבִּיל בַּאַגָּן אֶחָד
      </p>
      <p class="nl">
        
          En het meisje, vermaand door haar moeder, vroeg om het hoofd van Jochanan, de doper, op één schaal.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְהַמֶּלֶךְ נֶעֱצַב מְאֹד בְּעַד הַשְּׁבוּעָה שֶׁעָשָׂה  בִּפְנֵי הַקְּרוּאִים וַיְֹצַו לְהֵעָשׂוֹת כֵּן
      </p>
      <p class="nl">
        
          Maar de koning werd zeer bedroefd door de eed welke hij maakte voor de aangezichten van de gasten. En hij beval om het zo te doen.
        
      </p>
      <p class="margin">
        
          ‘voor de aangezichten van de gasten’, letterlijk: ‘in de gezichten van de geroepenen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיִּשְׁלַח לִשְׁחוֹט יוֹחָנָן בְּבֵית הַסּוֹהַר
      </p>
      <p class="nl">
        
          En hij zond tot het ombrengen van Jochanan in de gevangenis.
        
      </p>
      <p class="margin">
        
          Jochanan werd onthoofd in de vesting Machaerus in Perea, in het huidige Jordanië<br />‘gevangenis’, letterlijk: ‘het ronde huis’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיָבִיאוּ רֹאשׁ יוֹחָנָן בָּאַגָּן וְיַתְנוּהוּ לַנַּעֲרָה וְהַנַּעֲרָה נָתְנָה לְאִמָּהּ
      </p>
      <p class="nl">
        
          En men bracht het hoofd van Jochanan op een schaal en gaf het aan het meisje, en het meisje gaf het haar moeder.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְיַבְּאוּ תָּלְמִידֵי יוֹחָנָן וְיִשְּׂאוּ הַגּוּף וְיִקְבְּרוּהוּ וְהַתַּלְמִידִים הִגִּידוּ הַדָּבָר לִיֵשׁוּעַ
      </p>
      <p class="nl">
        
          En de leerlingen van Jochanan kwamen en droegen het lichaam en begroeven het. En de leerlingen berichtten dit woord aan Jesjoea.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וּכְשִׁמּוּעַ יֵשׁוּעַ נָסַע מִשָּׁם בָּאֳנִיָּה וְיֵּלֵךְ לַמִּדְבָּר יְהוּדָה וּכְשִׁמּוּעַ הַחֲבוּרוֹת וִיֵּלֵכוּ אַחֲרָיו מִכָּל הַמְּדִינוֹת
      </p>
      <p class="nl">
        
          En wanneer Jesjoea dit hoorde, reisde Hij vandaar in een schip en Hij ging naar de woestijn van J<sup>e</sup>hoedah. Maar wanneer de menigte dit hoorde, en men ging achter Hem aan, vanuit het hele land.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וּכְשֶׁיָּצְאוּ רָאָה אַחֲרָיו עַם רָב וְיֵט אֵלָיו חֶסֶד וִירַפֵּא כָּל מְחֹלוּתֶם
      </p>
      <p class="nl">
        
          En wanneer zij uitgingen zag Hij achter Hem het vele volk en verbondsliefde boog tot Hem, en Hij genas al hun zieken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וּבַעַת עֶרֶב קִרְבוּ אֵלָיו תַּלְמִידָיו וַיֹּאמְרוּ לוֹ זֶה הַמָּקוֹם צַר וְהַעַת עוֹבֵר עֲזוּב הַחֲבוּרוֹת שֶׁיֵּלְכוּ בַּמִּגְדָּלִים וְיִקְּחוּ הַצּוֹרֶךְ אֲלֵיהֶם
      </p>
      <p class="nl">
        
          En in het moment van de avond, Zijn leerlingen naderden tot Hem en zeiden tot Hem: dit is een nauwe plaats en de tijd gaat voorbij, de menigte dat moet gaan in de plaatsen en men neemt naar hun behoefte.
        
      </p>
      <p class="margin">
        
          ‘plaatsen’, letterlijk: torens
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ אֵינָם צְרִיכִים לִילָךְ תְּנוּ לָהֶם לֶאֱכֹל
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot hen: zij hebben geen behoefte om te gaan, geeft tot hen om te eten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְהֵם עָנוּ אֵין־לָנוּ בְּכָאן כִּי אִם חָמֵשׁ כִּכָּרוֹת וְשְׁנֵי דָּגִים
      </p>
      <p class="nl">
        
          En zij antwoordden: wij hebben niets hier, dan vijf ronde broden en twee vissen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם הֵבִיאוּ אוֹתָם אֵלַי
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: breng het tot Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיִצַוּ שֶׁיָּשָׁבוּ הָעָם עַל הָעֲשָׂבִים וּכְשֶׁיָּשְׁבוּ לָקַח הֶחָמֵשׁ כִּכָּרוֹת וְהַשְׁנֵי דָּגִים וּבִהְיוֹתוֹ מַבִּיט לְשָּׁמַיִם בֶּרֶךְ אוֹתָם וִיחַלְּקֵם וְיַתְנֵם לְתַּלְמִידָיו וְהַתַּלְמִידִים חֶלְקוּ לְסַיְּיעוֹת
      </p>
      <p class="nl">
        
          En Hij beval dat het volk ging zitten op het gewas, en wanneer men ging zitten, Hij nam de vijf ronde broden en de twee vissen. En door te kijken naar de hemelen en zegenen het. En Hij verdeelde het, en Hij gaf het tot Zijn leerlingen. En de leerlingen verdeelden het in groepen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְאָכְלוּ כֻּלָּם וְיִשְׂבְּעוּ וְכֵן מֵהַדָּגִים אָכְלוּ כִּרְצוֹנָם וְאַחֵר שֶׁתְּכַלּוּ לָקְחוּ הַפְּתִיתִים הַנְשָׁארוֹת וִימַלְּאוּ מֵהֶם שָׁנִים עֶשֶׂר סֵאִים
      </p>
      <p class="nl">
        
          En zij allen aten en men was verzadigd. En zo at men van de vissen naar hun behagen. En nadat men klaar was, de overgebleven brokken werden genomen en twaalf schepels werden gevuld.
        
      </p>
      <p class="margin">
        
          ‘twaalf schepels’ dat is circa 144 liter.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיְהִי מִסְפָּר הָאוֹכָלִים חַמְשַׁת אֲלָפִים אֲנָשִׁים מִלְּבַד הַנָּשִׁים וְהַטָּף
      </p>
      <p class="nl">
        
          En het gebeurde dat het aantal dat gegeten had vijfduizend mannen waren, los van de vrouwen en de kinderen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְאַחֲרֵי זֶה צִוָּה לְתַּלְמִידָיו לַכֶּנֶס בָּאֳנִיָּה וְיִשְׁלֵיחוּ קוֹדֵם מִמֶּנּוּ בָּעִיר שֶׁהַחֲבוּרוֹת הוֹלְכוֹת
      </p>
      <p class="nl">
        
          En na dit, gebood Hij Zijn leerlingen om te verzamelen in het schip, en Hij zond hen voor Hem uit naar de stad waar de menigte heen ging.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאַחֵר שֶׁעָזַב הַחֲבוּרוֹת עָלָה לָהָר וְהִתְפַּלֵּל לְבַדּוּ וַיְהִי לָעֵת עֶרֶב וְהוּא לְבַדּוּ עוֹמֵד
      </p>
      <p class="nl">
        
          En nadat Hij de menigte achterliet, ging Hij op een berg en bad alleen, en het gebeurde tegen de avond en Hij was alleen op die plaats.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְהָאֳנִיָּה בָּאֶמְצַע הַיָּם וְהַגַּלִים הָיוּ דּוֹחֲפוֹת אוֹתָהּ לְפִי שֶׁהַרוּחַ הָיָה מִנֶּגֶד
      </p>
      <p class="nl">
        
          En het schip was in het midden van de zee en de golven duwden het vanwege de wind was tegen.
        
      </p>
      <p class="margin">
        
          ‘in het midden van de zee’, in de Peshitta staat: ‘vele stadiën van het land verwijderd’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְלְאַשְׁמוֹרֶת הָרְבִיעִית מֵהַלַּיְלָה בָּא לָהֶם יֵשׁוּעַ הוֹלֵךְ בַּיָּם
      </p>
      <p class="nl">
        
          En tot de vierde wacht van de nacht kwam tot hen Jesjoea wandelende op de zee.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְכַאֲשֶׁר רָאוּהוֹ תַּלְמִידָיו הוֹלֵךְ בַּיָּם נִבְהֲלוּ בַּשַּׂר בְּחוֹשֵׁבָם שֶׁהָיָה שֵׁד וּמֵרוֹב פַּחֲדָם הָיוּ צוֹעֲקִים
      </p>
      <p class="nl">
        
          En wanneer Zijn leerlingen Hem zagen, wandelende op de zee, schrokken, in hun denken verkondigden zij: het is een demon. En uit hun grote vrees schreeuwden zij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְאָז עָנָה לָהֶם יֵשׁוּעַ וַיֹּאמֶר לָהֶם יִהְיֶה אֱמוּנָה בָּכֶם שֶׁאֲנִי הוּא וְאַל־תִּירָאוּ
      </p>
      <p class="nl">
        
          En toen antwoordde Jesjoea tot hen en Hij zei tot hen: laat er geloof zijn in jullie, omdat Ik het ben, en vreest u niet.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיַּעַן פֶּיטְרוֹשׁ וַיֹּאמֶר לוֹ אֲדוֹנִי אִם אִתָּהּ הוּא צִוָּה אוֹתִי לְבָא אֵלֶיךָ בַּמַּיִם
      </p>
      <p class="nl">
        
          En Petros antwoordde en hij zei tot Hem: mijn Heer, als U het bent, gebiedt mij om tot U te komen op de wateren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ יֵשׁוּעַ בָּא וְיָרַד פֶּיטְרוֹשׁ מֵהַסְּפִינָה וְהָלַךְ בַּיָּם וְבָא לִיֵשׁוּעַ
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: kom. En Petros daalde neer van het schip, en wandelde op de zee en kwam tot Jesjoea.
        
      </p>
      <p class="margin">
        
          ‘schip’, er wordt een ander Hebreeuws woord gebruikt dan in vers 24, ‘s<sup>e</sup>phinah’, welke alleen in Jona 1:5 wordt gebruikt. Het stamwoord ‘saphan’ betekent: ‘afdekken’, ‘zoldering’ en ‘bedekken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וּבִרְאוֹתוֹ חוֹזֶק הָרוּחַ פָּחַד מְאֹד וּבְהַתְחִילוּ לְיִּטְבַּע צָעַק וְאָמַר אֲדוֹנִי הוֹשִׁיעַנִי
      </p>
      <p class="nl">
        
          Maar hij zag de sterkte van de wind, hij vreese zeer en begon te zinken en te schreeuwen en zei: mijn Heer, verlos mij!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וּמִיַּד יֵשׁוּעַ הֶאֱרִיךְ יָדוֹ וְלָקְחוּ וְאָמַר לוֹ אָדָם מֵאֱמוּנָה מִעוּטָּהּ לָמָּה נִסְתַּפֵּקֶת
      </p>
      <p class="nl">
        
          En onmiddellijk reikte Jesjoea Zijn hand en pakte hem, en zei tot hem: mensen van gering geloof, waarom twijfelen jullie?
        
      </p>
      <p class="margin">
        
          ‘reikte’, letterlijk: ‘lang maken’ en ‘verlengen’<br />‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְכַאֲשֶׁר עָלוּ בָּאֳנִיָּה נָח הָרוּחַ
      </p>
      <p class="nl">
        
          En wanneer men opging in het schip, rustte de wind.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וַאֲשֶׁר בַּסְּפִינָה הִשְׁתַּחֲווּ לוֹ וְאָמְרוּ בֶּאֱמֶת אִתָּהּ הוּא בֵּן הָאֱלֹהִים
      </p>
      <p class="nl">
        
          En die in het schip waren, bogen diep voor Hem en zeiden: in waarheid, Deze is de Zoon van de Elohiem.
        
      </p>
      <p class="margin">
        
          ‘schip’, hetzelfde Hebreeuwse woord als in vers 29
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְכַאֲשֶׁר הִכִּירוּהוּ אַנְשֵׁי הַמָּקוֹם שָׁלְחוּ בְּכָל אוֹתוֹ הַמַּלְכוּת וְהֵבִיאוּ לוֹ כָּל־הַחוֹלִים מִכָּל־מַדְוִים
      </p>
      <p class="nl">
        
          En wanneer de mannen van de plaats Hem herkenden, zij zonden allen van het koninkrijk tot Hem, en er kwamen tot Hem al de zieken van allerlei ziekten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְחָלוּ פָּנָיו יִרְצוּ לְעוֹזְבָם יָגְעוּ בַּכָּנָף מְעִילוֹ וְכָל אֲשֶׁר נָגַעוּ נִתְרַפֵּאוּ
      </p>
      <p class="nl">
        
          En men kwam voor Zijn aangezicht dat behagen heeft tot hun toe te laten dat men zou aanraken de uiteinde van Zijn bovenkleed, en al die aanraakten werden genezen.
        
      </p>
      <p class="margin">
        
          ‘uiteinde’, kan ook vertaald worden als: ‘vleugel’, ‘rand’ en ‘zoom’, het Hebreeuwse woord komt ook voor in Deut. 12:22
        
      </p>
    </div>
  
</div>