<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אָז בָּאוּ אֶל־יֵשׁוּעַ הַחֲכָמִים וְהַפְּרוּשִׁים וַיֹּאמְרוּ אֵלָיו
      </p>
      <p class="nl">
        
          Toen kwamen tot Jesjoea de wijzen en de P<sup>e</sup>roesjiem en zeiden tot Hem:
        
      </p>
      <p class="margin">
        
          De Peshitta en Griekse handschriften voegen toe: ‘uit J<sup>e</sup>roesjalajiem’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        לָמָּה עוֹבְרִים תַּלְמִידֶיךָ תַּקָּנוֹת הָרִאשׁוֹנוֹת שֶׁהֵם אֵינָם רוֹחֲצִים יְדֵיהֶם קוֹדֶם הָאֲכִילָה
      </p>
      <p class="nl">
        
          Waarom gaan Uw leerlingen voorbij aan de verordeningen van de ouden, doordat zij hun handen niet wassen alvorens het eten?
        
      </p>
      <p class="margin">
        
          ‘verordeningen’, het Hebreeuwse woord ‘taqanot’ staat voor de rabijnse regels, een tegenstelling tot ‘de bevelen van de El’ en de ‘geboden’ (mitsvot)<br />‘de ouden’, letterlijk: ‘eersten’ of ‘eerderen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם יֵשׁוּעַ וְלָמָּה אִתָּם עוֹבְרִים מַאַמְרֵי הַאֵל בְּעַד תַּקָּנוֹתֶיכֶם
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hen: maar waarom gaan jullie voorbij aan de bevelen van de El door jullie verordeningen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        שֶׁהָאֵל אָמַר כָּבֵד אֶת־אָבִיךָ וְאֶת־אִמֶּךָ וּמַכָּה אָבִיו וְאִמּוֹ מוֹת יוּמָת
      </p>
      <p class="nl">
        
          Omdat de El zei: “eert uw vader en uw moeder”, en “wie zijn vader en zijn moeder slaat, zal stervend sterven”.
        
      </p>
      <p class="margin">
        
          Citaten uit Ex. 20:12, 21:17 en Deut. 5:16<br />‘slaat’, in de Masoretentekst staat: ‘vervloeken’<br />Er is een paronomasie in "stervend sterven" (mot joemat), bedoelend: zeker sterven.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְאַתָּם אוֹמְרִים שֶׁאֵיזֶה דָּבָר יֹאמַר הָאָדָם לְאָבִיו וּלְאִמּוֹ שֶׁבְּאֵיזֶה נְדָבָה שֶׁיִּתֵּן בְּעַד אוֹתוֹ חֵטְא שֶׁיְּכוּפַּר לוֹ אוֹתוֹ עָוֹן
      </p>
      <p class="nl">
        
          Maar jullie zeggen: wat voor woord de mens zegt tot zijn vader en tot zijn moeder, in wat voor gave dat hij geeft voor de zonde om tot hem verzoend te worden. Het is ongerechtigheid,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְלֹא יְכַבֵּד אָבִיו וְאִמּוֹ וְאַתָּם מְבַזִּים מַאֲמָרֵי הַאֵל בְּעַד תַּקָּנוֹתְיכֶם
      </p>
      <p class="nl">
        
          doordat hij niet eert zijn vader en zijn moeder. En jullie verachten de bevelen van de El door jullie verordeningen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אוֹי חֲנֵפִים הִנֵּה נִבָּא יְשַׁעְיָה מִכֶּם וְאָמַר
      </p>
      <p class="nl">
        
          Wee, huichelaars! Zie, J<sup>e</sup>sjaJAH profeteerde van jullie en zei:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        כֹּה אָמַר יְהֹוָה יָעֵן כִּי נִגַּשׁ הָעָם הַזֶּה בְּפִיו וּבִשְׂפָתָיו כִּבְּדוּנִי וְלִבּוֹ רִחַק מִמֶּנִּי
      </p>
      <p class="nl">
        
          “Aldus zegt J<sup>e</sup>HOVAH, wegens het naderen van dit volk door hun monden, en door hun lippen eren zij Mij, maar zijn hart ver van Mij doet,
        
      </p>
      <p class="margin">
        
          Citaat uit Jes. 29:13<br />‘JHWH’ in de Codex Leningradensis en 1QIsa<sup>a</sup> staat hier ‘Adonai’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַתְּהִי יִרְאָתָם אוֹתִי מִצְוַת אֲנָשִׁים מְלוּמָּדָה
      </p>
      <p class="nl">
        
          en hun vrees van Mij: geboden van mannen is men geoefend.”
        
      </p>
      <p class="margin">
        
          ‘geoefend’ kan ook vertaald worden als: ‘afgericht worden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וִיֵשׁוּעַ קָרָא לְסִּיעָוֹת וַיֹּאמֶר לָהֶם שָׁמְעוּ וְהִבִּיטוּ
      </p>
      <p class="nl">
        
          Maar Jesjoea riep tot de groepen en zei tot hen: hoort en let op!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        הַנִכְנַס בַּעַד הַפֶּה אֵינוּ מְלַכְלֵך הָאָדָם אֲבָל הַיּוֹצֵא מִהַפֶּה מְלַכְלֵך הָאָדָם
      </p>
      <p class="nl">
        
          Hetgeen wat door de mond inkomt, besmet de mens niet, maar hetgeen wat van de mond uitgaat besmet de mens.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        אָז קָרְבוּ אֵלָיו תַּלְמִידָיו וַיֹּאמְרוּ לוֹ דַּע שֶׁהַפְּרוּשִׁים נְבוּכִים בְּעַד דָּבָר זֶה
      </p>
      <p class="nl">
        
          Toen naderden tot Hem Zijn leerlingen en zeiden tot Hem: weet U dat de P<sup>e</sup>roesjiem verbijsterd waren door dit woord.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ כָּל־נְטִיעָה שֶׁלֹא נָטִיעָה אֲבִי שֶׁבַּשָּׁמַיִם תְּשַׁחֵת
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot hen: alle aanplant dat niet aangeplant is door Mijn Vader, Die in de hemelen is, wordt verwoest.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        הֵנִיחוּ אוֹתָם שֶׁהָעִוְּרִים מַדְרִיכִים לַעִוְּרִים וְאִם עִוֵּר יַדְרִיךְ עִוֵּר אַחֵר יִפְלוּ שִׁנֵּיהֶם בְּבוֹר
      </p>
      <p class="nl">
        
          Laat hen, omdat de blinden blind geleid worden, en als de blinde een andere blinde leidt, beide vallen in een put.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיַּעַן לוֹ פֶּיטְרוֹשׁ אֲדוֹנִי פְּרוּשׁ לָנוּ זֹאת הַחַדָּה
      </p>
      <p class="nl">
        
          En Petros antwoordde tot Hem: mijn Heer, verklaar ons dit raadsel.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ עֲדַיִין אַתָּם מִבְּלִי דַּעַת
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot hen: zijn jullie nog zonder kennis?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        לֹא תָּבִינוּ אַתָּם שֶׁכָּל הַנִּכְנַס בְּעַד הַפֶּה הוֹלֵךְ לַבֶּטֶן וְהַכֹּל הוֹלֵךְ בְּעַד הַמָּקוֹם הַטִּבְעִי
      </p>
      <p class="nl">
        
          Weten jullie niet dat alles wat door de mond binnenkomt gaat naar de buik, en alles gaat door de natuurlijke plaats?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְהַיּוֹצֵא בְּעַד הַפֶּה מִתְנוֹעֵעַ מֵהַלֵּב וְזֶהוּ הַמְּלַכְלֵךְ הָאָדָם
      </p>
      <p class="nl">
        
          En wat uitgaat door de mond beweegt uit het hart en dit besmet de mens.
        
      </p>
      <p class="margin">
        
          ‘beweegt’, letterlijk: ‘onvast bewegen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        לְפִי שֶׁמְּחַלֵּל הַלֵּב יוֹצֵא הַתַּרְמִית וְהָרְצִיחָה וְהַנִּאוּפִים וְהַגַּנָּבוֹת וְעֵדוֹת שְׁקָרִים וְהַקְּלָלוֹת
      </p>
      <p class="nl">
        
          Omdat het doorboorde hart brengt voort: de fraudeurs, en de moordenaars, en de overspelers, en de dieven, en leugenachtige getuigenissen, en de vloekers.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְכָל אֵלֶּה הַדְּבָרִים הֵם הַמְּלַכְלְכִים הָאָדָם אָמְנָם הָאֲכִילָה בְּלֹא רְחִיצַת יָדַיִם אֵינָהּ מְלַכְלֶכֶת הָאָדָם
      </p>
      <p class="nl">
        
          En al deze dingen besmetten de mens. Zeker, het eten zonder het wassen van handen besmet de mens niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְאַחֵר שֶׁאָמַר יֵשׁוּעַ זֶה הָלַךְ בִּגְלִילֵי צוֹר וְסִידוֹן
      </p>
      <p class="nl">
        
          En nadat Jesjoea dit gezegd had, ging Hij door de landstreek van Tsor en Sidon.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְתָבוֹא לְפָנָיו אִשָּׁה כְּנַעֲנִית בָּאָה מֵאֲרָצוֹת מִזְרַח צוֹעֶקֶת אֵלָיו אֲדוֹנִי בֶּן־דָּוִד חִנָּנִי שֶׁבִּתִּי אֲחוּזַת הַשֵּׁדִים
      </p>
      <p class="nl">
        
          En er kwam voor Zijn aangezicht een Kanaänitische vrouw, die kwam van de landen van het oosten, krijste tot Hem: mijn Heer, Zoon van David, wees mij genadig, omdat mijn dochter is gevat door de demonen.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘Zoon’ (ben) en ‘dochter’ (sjebiti).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וִיֵשׁוּעַ לֹא עָנָה לָהּ דָּבָר וְתַּלְמִידָיו קִרְבוּ אֵלָיו וַיֹּאמְרוּ לוֹ אֲדוֹנֵינוּ לָמָּה אַתָּהּ מֵנִיחַ לְזֹאת הָאִשָּׁה צוֹעֶקֶת אַחֲרֵינוּ
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot haar geen woord. En Zijn leerlingen naderden tot Hem en zeiden tot Hem: onze Heer, waarom laat U deze vrouw roepen, achter ons?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ לֹא שְׁלָחוּנִי כִּי אִם לַצֹּאן אוֹבְדוֹת מִבֵּית יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot hen: Ik ben gezonden, alleen tot de verdwaalde schapen van het huis Jisraël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְהָאִשָּׁה מִשְׁתַּחֲוֶה לוֹ וְאוֹמֶרֶת אֲדוֹנִי עֹזְרֵנִי
      </p>
      <p class="nl">
        
          Maar de vrouw boog diep voor Hem en zei: mijn Heer, help mij!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיֹּאמֶר לָהּ יֵשׁוּעַ לֹא טוֹב שֶׁיִקַּח הָאָדָם הַפַּת מִבָּנָיו וְיִתְנֵנוּ לַכְּלָבִים
      </p>
      <p class="nl">
        
          En Jesjoea zei tot haar: het is niet goed dat de mens neemt brokken van zijn zonen en geeft het aan de honden.
        
      </p>
      <p class="margin">
        
          ‘brokken’, dat is brood.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וַתַּעַן הָאִשָּׁה פְּעָמִים רַבִּים אוֹכְלִים הַכְּלָבִים הַפְּתִיתִים הַנּוֹפְלִים מֵשֻּׁלְחָן אֲדוֹנֵיהֶם
      </p>
      <p class="nl">
        
          Maar de vrouw antwoordde: vele malen eten de honden de brokken die vallen van de tafel van hun heren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיַּעַן לָהּ יֵשׁוּעַ אִשָּׁה גְּדוֹלָה אֲמוּנַתְךָ יַעֲשֶׂה לְךָ כַּאֲשֶׁר שְׁאֵלַת וּמֵהָעֵת הַהוּא וְהָלְאָה נִרְפֵּאת בַּתֵּה
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot haar: vrouw, groot is uw geloof, het is gedaan tot u gelijk u heeft gevraagd. En vanaf die tijd en verder haar dochter was genezen.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְכַאֲשֶׁר הָלָךְ יֵשׁוּעַ מִשָּׁם הָלָךְ עָבַר הַגָּלִיל לָהָר בַּעוֹמְדוּ שָׁם
      </p>
      <p class="nl">
        
          En wanneer Jesjoea vandaar ging, Hij ging voorbij Ghaliel tot een berg. Toen Hij daar stond
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        רָאָה עַם רָב מִבֵינֵיהֶם הַרְבֵּה צוֹלְעִים וּמְנּוּגָּעִים וּפִסָחִים וְרַבִּים אֲחֵרִים וְיִפְלוּ לְרַגְלָיו וִירַפְּאֵם
      </p>
      <p class="nl">
        
          zag Hij veel volk, velen onder hen waren lammen, en die met plagen, en kreupelen, en vele anderen. En men viel aan Zijn voeten. En Hij genas hen.
        
      </p>
      <p class="margin">
        
          ‘onder hen’, letterlijk: ‘tussen hen’<br />‘plagen’, er wordt bedoeld een zweer of vlek dat tot melaatsheid leidt, zie Lev. 13:2
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְהֵעֵם הָיוּ תְּמֵהִים אֵיךְ הָאִלְּמִים הָיוּ מִדְבָּרִים וְהַפִּסְחִים הוֹלְכִים וְהָעִוְּרִים רוֹאִים וְכֻלָּם מְשַׁבְּחִים לָאֵל
      </p>
      <p class="nl">
        
          En het volk was verbijsterd hoe de stommen konden spreken, en de kreupelen wandelen, en de blinden zien en allen prezen aan El.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        אָז אָמַר יֵשׁוּעַ לְתַּלְמִידָיו יֵשׁ לִי רַחְמָנוּת מֵהֶם שֶׁהֵם מְיֻחָלִים אוֹתִי זֶה שְׁנֵי יָמִים שֶׁעָבְרוּ וְאֵין לָהֶם מָה שֶׁיֹּאכְלוּ וְאֵינִי רוֹצֶה לְהוֹלִיכָם בַּתַּעֲנִית יָעֵן לֹא יֵחָלְשׁוּ בַּדֶּרֶךְ
      </p>
      <p class="nl">
        
          Toen zei Jesjoea tot Zijn leerlingen: er is tot Mij compassie voor hen, omdat zij verwachten Mij deze voorbije twee dagen en geen van hen heeft eten. Maar Ik heb geen behagen om hen nuchter te laten gaan, aangezien men niet bezwijkt op de weg.
        
      </p>
      <p class="margin">
        
          ‘nuchter’, letterlijk: ‘vasten’, in de vorm van boetedoening
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וַיַּעֲנוּ לוֹ תַּלְמִידָיו וּמֵאַיִן אָנוּ יְכוֹלִים לִמְצוֹא לֶחֶם בְּמִדְבָּר הַזֶּה לִשְׂבִּיעַ הָעָם
      </p>
      <p class="nl">
        
          En Zijn leerlingen antwoordden tot Hem: maar waarvandaan kunnen wij brood vinden in deze woestijn tot verzadiging van het volk?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וְיֵשׁוּעַ אָמַר לָהֶם כַּמָּה כְּכָרוֹת לֶחֶם לָכֶם וְהֵם עָנוּ שִׁבְעָה וּמְעַט דָּגִים
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hen: hoeveel ronde broden hebben jullie? En zij antwoordden: zeven en een paar vissen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְיַצוּ יֵשׁוּעַ לָעָם לֵישֵׁב עַל גַּבֵּי הָעֲשָׂבִים
      </p>
      <p class="nl">
        
          En Jesjoea beval het volk om te gaan zitten op het gewas.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘zitten’ (lesjev) en ‘het gewas’ (ha’ésjèviem)<br />‘op het gewas’, letterlijk: ‘op de hoogte van het gewas’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְלָקַח הַשִּׁבְעָה כִּכָּרוֹת לֶחֶם וְהוֹדָה לְאֵל וְיִשְׁבְּרֵם וְנַתְנֵם לְתַּלְמִידָיו וְהֵם נָתְנוּ לָעָם
      </p>
      <p class="nl">
        
          En Hij nam de zeven ronde broden, en dankte El, en Hij brak het en gaf het Zijn leerlingen. En zij gaven tot het volk.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘de zeven’ (hasjiv’áh) en ‘en Hij brak het’ (vàjisjávrém)<br />‘en dankte El’, mogelijk heeft Jesjoea gezegd: “Gezegend bent U, JHWH onze Elohiem, Koning van de wereld, Die het brood uit aarde voortbrengt”
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        וְיֹּאכְלוּ כּוּלָּם וְיִשְׂבְּעוּ וְמֵהַנִּשְׁאָר מָלְאוּ שִׁבְעָה סֵאִים
      </p>
      <p class="nl">
        
          En zij allen aten en men was verzadigd. En er bleven over zeven volle schepels.
        
      </p>
      <p class="margin">
        
          ‘zeven volle schepels’ dat is circa 84 liter<br />Er is woordverband tussen ‘verzadigd’ (vàjisj<sup>e</sup>váoe) en ‘zeven’ (sjiv’áh)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        וְהָאוֹכְלִים הָיוּ בְמִּסְפָּר אַרְבָּעַת אֲלָפִים אֲנָשִׁים לְבַד הַנָּשִׁים וְהַטַּף
      </p>
      <p class="nl">
        
          En die gegeten hadden waren in aantal vierduizend mannen, afgezien van de vrouwen en de kinderen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        אַחֵר זֶה נִכְנַס יֵשׁוּעַ בַּסְּפִינָה וְבָּא לָאָרֶץ מַגְדַּלָה
      </p>
      <p class="nl">
        
          Na dit kwam Jesjoea in een schip en kwam naar het land van Maghdalah.
        
      </p>
      <p class="margin">
        
          Maghdalah: (Magdala) toren, is een Aramese naam. De Hebreeuwse spelling is overgenomen van DuTillet en Munster, vanwege de variatie aan spelling in de diverse Shem Tov teksten.
        
      </p>
    </div>
  
</div>