<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וְיָבוֹאוּ אֵלָיו הַחֲכָמִים וְהַפְּרוּשִׁים מֵנִסִּים אוֹתוֹ וְיִלְמְדֵם אֵיזֶה אוֹת מֵהַשָּׁמַיִם
      </p>
      <p class="nl">
        
          En er kwamen tot Hem de wijzen en de P<sup>e</sup>roesjiem om Hem te beproeven, zodat Hij hen wat voor teken uit de hemelen dan ook zou leren.
        
      </p>
      <p class="margin">
        
          ‘wat voor … dan ook’, letterlijk: ‘waar’, ‘welk’ en ‘wie’, in context: ‘een willekeurig teken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ חֲנֵפִים אַתֶּם אוֹמְרִים עֶרֶב מָחָר יוֹם צַח יִהְיֶה לְפִי שֶׁהַשָּׁמַיִם אֲדוּמִּים
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot hen: huichelaars, jullie zeggen in de avond: morgen wordt een stralende dag, omdat de hemelen rood zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וּבַבָּקָר אַתֶּם אוֹמְרִים הַיּוֹם יַמְטִיר שֶׁהַשָּׁמַיִם חֲשׁוּכִים אִם כֵּן אַתֶּם יוֹדְעִים מִשְׁפָּט מָרְאִית הַשָּׁמַיִם וְאֵין אַתֶּם יוֹדְעִים מִשְׁפָּט הַזְּמַנִּים
      </p>
      <p class="nl">
        
          En in de ochtend zeggen jullie: vandaag zal het gaan regenen, omdat de hemelen duister zijn. Zo ja, jullie weten de ordening van de verschijning van de hemelen, maar geen van jullie weet de ordening van de tijden.
        
      </p>
      <p class="margin">
        
          ‘ordening’, letterlijk: ‘rechtspraak’, ‘vonnis’ en ‘vastgesteld recht’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        זֶרַע מִרְעִים שֶׁאַל אוֹת וְאוֹת לֹא יִנָּתֵן לָהֶם כִּי אִם אוֹת שֶׁל יוֹנָה הַנָּבִיא וְאָז נִפְרָד וְהָלַךְ לוֹ
      </p>
      <p class="nl">
        
          Zaad van kwaaddoeners vragen om een teken, maar geen teken zal hen gegeven worden, behalve het teken van Jonah, de profeet. En toen zonderde Hij Zich af en ging.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְכַאֲשֶׁר יֵשׁוּעַ הָיָה בִּשְׂפַת הַיָּם אָמַר לְתַּלְמִידָיו שֶׁיָּכִינוּ לֶחֶם וְהוּא נִכְנַס לַסְּפִינָה עִם תַּלְמִידָיו וְתַּלְמִידָיו שָׁכְחוּ וְלֹא הִכְנִיסוּ שׁוּם לֶחֶם
      </p>
      <p class="nl">
        
          En wanneer Jesjoea was aan de oever van de zee, zei Hij tot Zijn leerlingen om brood te bereiden, en Hij kwam tot het schip met Zijn leerlingen. Maar Zijn leerlingen waren het vergeten en brachten niet enig brood.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיֵשׁוּעַ אָמַר לָהֶם אַתֶּם מָעַטֵי הַשֵּׂכֶל חוֹשְׁבִים שֶׁאֵין לָכֶם לֶחֶם
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hen: jullie, geringe van inzicht, dat jullie denken aan brood.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְאֵין אַתֶּם זוֹכְרִים מֵהַחֲמְשָׁה כִּכָּרוֹת 
      </p>
      <p class="nl">
        
          Maar herinneren jullie niet de vijf ronde broden,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְאַרְבַּע אֶלֶף אִישׁ וְכַמָּה סֲאִים נִשְׁאֲרוּ
      </p>
      <p class="nl">
        
          en de vierduizend man, en hoeveel schepels bleven over?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְלָכֵן תָּבִינוּ שֶׁאֵינֵי מִדְבָּר מֵהַחַלָּמִישׁ וְגַם מֵהַלְּחָמִים הַטִּבְעִיִּים אֲבָל אֲנִי אוֹמֵר לָכֶם שֶׁתִּשָּׁמֵרוּ מֵהַנַּהֶגֶת הַפְּרוּשִׁים וְהַצְּדוּקִים
      </p>
      <p class="nl">
        
          Maar daarom moet u begrijpen dat Ik niet spreek van de vuursteen en ook niet van de natuurlijke broden, maar Ik zeg tot jullie: dat u bewaart zich van de instellingen van de P<sup>e</sup>roesjiem en de Ts<sup>e</sup>doeqiem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        אָז הֵבִינוּ תַּלְמִידָיו שֶׁלֹא הָיָה מִדְבָּר מֵהוֹלֶכֶת הַלֶּחֶם רַק מֵהַנַּהֶגֶת הַפְּרוּשִׁים וְהַצְּדוּקִים
      </p>
      <p class="nl">
        
          Toen begrepen Zijn leerlingen dat Hij niet sprak van de gang van het brood, maar van de instellingen van de P<sup>e</sup>roesjiem en de Ts<sup>e</sup>doeqiem.
        
      </p>
      <p class="margin">
        
          Dit vers komt alleen voor in Vat. Ebr. 101 (Biblioteca Apostolica Vaticana, Vaticaanstad).<br />‘gang van het brood’, dat is het bereiden van het brood met zuurdesem.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַיָצָא יֵשׁוּעַ אֶל אָרֶץ סוּרִיאָה וְאָרֶץ פִילוֹף נִקְרָא פִילִיפּוֹס וְיִשְׁאַל לְתַּלְמִידָיו לֵאמֹר מָה אוֹמְרִים בְּנֵי אָדָם בִּשְׁבִילִי
      </p>
      <p class="nl">
        
          En Jesjoea ging uit tot het land Syrië en het land Philoph, die genoemd wordt: Philippos. En Hij vroeg aan Zijn leerlingen, door te zeggen: wat zeggen de zonen van mensen over Mij?
        
      </p>
      <p class="margin">
        
          ‘Philippos’, door viervorst Filippus wordt deze stad ‘Caesarea’ genoemd. Titus Flavius Josephus noemt deze stad ‘Caesarea Paneas’ en heette ‘Neronias’ tussen 61-68 GJT. De stad werd in 33 GJT deel van de Romeinse provincie Syrië en ligt ca. 40 km ten noorden van het Meer van Ghaliel
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְיֹאמְרוּ אֵלָיו מֵהֶם אוֹמְרִים שֶׁהוּא יוֹחָנָן הַמַּטְבִּיל וּמֵהֶם אוֹמְרִים שֶׁהוּא אֵלִיָּהוּ וּמֵהֶם יִרְמְיָהוּ אוֹ אֶחָד מֵהַנְּבִיאִים
      </p>
      <p class="nl">
        
          En zij zeiden tot Hem: zij zeggen “Hij is Jochanan, de doper”, en zij zeggen “Hij is EliJAHOE” en “Jirm<sup>e</sup>JAHOE” of “één van de profeten”.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם יֵשׁוּעַ וְאַתֶּם מָה אוֹמְרִים בִּשְׁבִילִי
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hen: en wat zeggen jullie over Mij?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיַּעַן שִׁמְעוֹן נִקְרָא פֶּיטְרוֹשׁ וַיֹּאמֶר אַתָּה הַמָּשִׁיחַ בַּלֹעֵז קְרִישְׁטוֹס בֶּן־אֱלֹהִים חַיִּים שֶׁבְּאִתָּהּ בְּזֶה הָעוֹלָם
      </p>
      <p class="nl">
        
          En Sjiem’on, die genoemd wordt Petros, antwoordde en zei: U bent de Messias (in de vreemde taal: Christos), Zoon van de levende Elohiem, Die gekomen is in deze wereld.
        
      </p>
      <p class="margin">
        
          ‘Die gekomen is in deze wereld’, ontbreekt in Peshitta en Griekse handschriften<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ אַשְׁרֶיךָ שִׁמְעוֹן בַּר־יוֹנָה שֶׁבָּשָׂר וְדָם לֹא גָּלָּה לְךָ כִּי אִם אֲבִי שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: voorspoedig bent u, Sjiem’on, zoon van Jonah, omdat vlees en bloed u dit niet heeft geopenbaard, maar Mijn Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          ‘zoon’, hier staat het Aramese woord ‘bar’, in plaats van het Hebreeuwse woord ‘ben’<br />‘vlees en bloed’ is een typisch Hebreeuws gezegde, wat betekent ‘mensen’. Dit gezegde is ook te vinden in Sir. 14:19 en 17:27, maar ook in de Talmoed
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַאֲנִי אוֹמֵר לְךָ שֶׁאַתָּה אֶבֶן וַאֲנִי אֶבְנֶה עָלֶיךָ בֵּית תְּפִלָּתִי וְשַׁעֲרֵי גֵהִינֹם לֹא יוּכְלוּ נֶגְדְּךָ
      </p>
      <p class="nl">
        
          En Ik zeg tot u, dat u de steen bent en Ik bouw op u Mijn huis van gebed. En de poorten van het dal van Hinnom kunnen niet tegen u,
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘steen’ (èven) en ‘bouw’ (èv’nèh), in het Grieks staat hier het enige woordverband ‘u bent Petros (Πέτρος) en op deze rots (petra - πέτρα) bouw Ik Mijn gemeente’, in de Peshitta staat tweemaal ‘kepha’ (ܟܺܐܦܳܐ)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        לְפִי שֶׁאֲנִי אַתֶּן לְךָ מַפְתְּחוֹת מַלְכוּת הַשָּׁמַיִם וְכָל אֲשֶׁר תִּקְשׁוֹר מֵאָרֶץ יִהְיֶה קָשׁוּר בַּשָּׁמַיִם וְכָל אֲשֶׁר תַּתִּיר בָּאָרֶץ יִהְיֶה מוּתָּר בַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          omdat Ik u geef de sleutels van het Koninkrijk van de Hemelen. En alles dat u bindt op aarde, zal gebonden zijn in de hemelen. En alles dat u loslaat op de aarde, zal losgelaten zijn in de hemelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        אָז צִוָּה לְתַּלְמִידָיו לְבַל יֹאמְרוּ שֶׁהוּא מָּשִׁיחַ
      </p>
      <p class="nl">
        
          Toen gebood Hij Zijn leerlingen om niemand te zeggen dat Hij is de Messias.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        מִכָּאן וְאֵילֵךְ הִתְחִיל יֵשׁוּעַ לְגַלּוֹת לְתַּלְמִידָיו שֶׁהוּא צָרִיךְ לָלֶכֶת לִירוּשָׁלֶם וְלָשֵׂאת עָוֶל רַבִּים מֵהַכֹּהֲנִים וְזִקְנֵי הֵעֵם עַד שֶׁיַּהַרְגוּהוּ וְיוֹם הַשְּׁלִישִׁי יְקוּם
      </p>
      <p class="nl">
        
          Van hier ging Jesjoea en begon te openbaren aan Zijn leerlingen dat Hij moet gaan naar J<sup>e</sup>roesjalajiem, en om te dragen de ongerechtigheid van velen, van de priesters en de ouden van het volk, tot zij Hem doden, maar de derde dag staat Hij op.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְיִקְּחוּהוּ פֶּיטְרוֹשׁ בֵּינוּ לְבֵינוּ וְהִתְחִיל לְהוֹכִיח לֵאמֹר חֲלִילָהּ לְךָ לִהְיוֹת לְךָ כֵּן אֲדוֹנִי
      </p>
      <p class="nl">
        
          En Petros nam Hem apart en begon te vermanen, door te zeggen: het zij verre van U, dat dit U gebeurt op deze manier, mijn Heer.
        
      </p>
      <p class="margin">
        
          ‘apart’, letterlijk: ‘tussen zijn hart’ of ‘bij zijn hart’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְיָשַׁב יֵשׁוּעַ וַיַּבֵּט אֵלָיו וַיֹּאמֶר לוֹ לֵךְ הַשָּׂטָן לֹא תַּמְרֶה בִּי שֶׁאַתָּה אֵינְךָ מַכִּיר דָּבָר הָאֵל כִּי אִם דִּבְרֵי הָאָדָם
      </p>
      <p class="nl">
        
          En Jesjoea keerde om, en Hij keek hem aan, en zei tot hem: rebelleer niet met Mij, omdat u niet kent het Woord van de El, maar de woorden van de mens.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        אָז דָּבָר יֵשׁוּעַ לְתַּלְמִידָיו מִי שֶׁיִּרְצֶה לְבָא אַחֲרֵי יְבַזֶּה עָצְמוּ וְיּקַּח אֶת־הַשְׁתִי וְעָרֵב רֹצֵה לוֹמַר שֶׁקָּרַב עָצְמוּ לַמִּיתָה וְיֵלֵךְ אַחֲרִי
      </p>
      <p class="nl">
        
          Toen sprak Jesjoea tot Zijn leerlingen: wie behagen heeft, kom achter Mij. Hij veracht zichzelf en hij neemt het kruis, dat is zichzelf offeren tot in de dood, en hij gaat achter Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        כָּל הַרוֹצֶה לְהוֹשִׁיעַ נָפְשׁוֹ יְאַבֵּד אוֹתָהּ בַּעֲדִי וְהַמְּאַבֵּד אֶת־חַיָּיו בַּעוֹלָם הַזֶה בִּשְׁבִילִי יוֹשִׁיעַ נַפְשׁוֹ לְחָיֵי הַעוֹלָם הָבֵא
      </p>
      <p class="nl">
        
          Allen die behagen hebben in de verlossing van zijn ziel, hij zal het verliezen omwille van Mij. Maar die zijn leven verliest in deze wereld voor Mij, verlost zijn ziel voor het leven van de komende wereld.
        
      </p>
      <p class="margin">
        
          ‘voor Mij’ kan ook vertaald worden als: ‘in Mijn pad’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        מָה בָּצַע לָאָדָם אִם יַרְוִיחַ אֵת כָּל הָעוֹלָם אִם נַפְשׁוֹ יְאַבֵּד לָעַד וְאֵיזֶה תְּמוּרָה טוֹבָה יַעֲשֶׂה הָאָדָם אִם בְּעַד הַדְּבָרִים הַהוֹוִים וְהַנִּפְסָדִים יִתֵּן נַפְשׁוּ לַדִּין גֵהִינֹם
      </p>
      <p class="nl">
        
          Wat voordeel tot een mens is het als hij de hele wereld verdient, als zijn ziel voor eeuwig verloren gaat? En wat voor goede ruil maakt de mens als voor de bestaande dingen, doordat hij deze verliest, zijn ziel geeft tot oordeel van het dal van Hinnom?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        כִּי בֵּן הָאֵל יִבֵּא בַּכָּבֵד אָבִיו שֶׁבַּשָּׁמַיִם עִם מַלְאָכָיו לְהָשִׁיב לְכָל אִישׁ כְּפָעֳלוֹ
      </p>
      <p class="nl">
        
          Want de Zoon van de El komt met de eer van Zijn Vader, Die in de hemelen is, met Zijn engelen, om te antwoorden elke man naar zijn werk.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁיֵּשׁ מֵהָעוֹמְדִים פֹּה שֶׁלֹּא יִטְעֲמוּ מוֹת עַד שֶׁיָּרְאוּ בֵּן אֱלֹוהַּ בָּא בְּמַלְכוּתוֹ
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie: die hier staan de dood niet zullen proeven tot men ziet de Zoon van Eloah die in Zijn Koninkrijk komt.
        
      </p>
      <p class="margin">
        
          ‘Eloah’, een lange vorm van ‘El’
        
      </p>
    </div>
  
</div>