<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אַחַר שִׁשָּׁה יָמִים לָקַח יֵשׁוּעַ לְפֶּיטְרוֹשׁ וְגַם יַעֲקֹב לֹעֵז גִאימִי וְיוֹחָנָן אָחִיו וַיוֹלִיכֵם אֶל הַר גָּבוֹהַּ מִשָּׁם לְהִתְפַּלֵּל הוּא
      </p>
      <p class="nl">
        
          Na zes dagen nam Jesjoea Petros, en ook Jaäqov (vreemde taal: Ghimi) en Jochanan, zijn broer. En bracht hen tot een hoge berg. Daar ging Hij bidden.
        
      </p>
      <p class="margin">
        
          ‘hoge berg’, traditioneel wordt de berg Tabor aangewezen, maar gezien dat dit vlak na Ceasarea Phillippi is, zou dit ook de berg Hermon of de berg Nebo kunnen zijn geweest.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וּבְעוֹד שֶׁהָיָה מִתְפַּלֵּל הִשְׁתַּנָּה לִפְנֵיהֶם וְקֶרֶן עוֹר פָּנָיו כְּשֶּׁמֶשׁ וּמַלְבּוּשָׁיו לְבָנִים כְּשֶׁלֶג
      </p>
      <p class="nl">
        
          En terwijl Hij aan het bidden was, veranderde Hij voor hen, en de huid van Zijn aangezicht straalde als de zon, en Zijn kleding was wit als sneeuw.
        
      </p>
      <p class="margin">
        
          Toen JHWH verschenen was aan Mosjeh in Ex. 34:5-9 straalde zijn aangezicht, zie Ex. 34:29-35<br />‘sneeuw’ in de Peshitta en Griekse handschriften staat: ‘licht’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְנִגְלוּ אֲלֵיהֶם מֹשֶׁה וְאֵלִיָּהוּ מְדַבְּרִים עִמּוֹ וְהִגִּידוּ לִיֵשׁוּעַ כָּל מָה שֶׁיִּקְרְאֵהוּ בִיְרוּשָׁלָם וּפֶּיטְרוֹשׁ וְחֲבֵירָיו הָיוּ נִרְדָּמִים מְאֹד נִים וְלֹא נִים תִּיֵּר וְלֹא תִּיֵּר רָאוּ גּוּפוֹ וְשֵׁנִי אֲנָשִׁים עִמּוֹ
      </p>
      <p class="nl">
        
          En aan hen werden geopenbaard Mosjeh en EliJAHOE die spraken met Hem en berichtten Jesjoea alles wat Hem gebeuren gaat in J<sup>e</sup>roesjalajiem. En Petros en zijn metgezellen waren in een zeer diepe slaap. Sluimerend, maar niet sluimerend. Waakzaam, maar niet waakzaam. Zij zagen Zijn lichaam en twee mannen met Hem.
        
      </p>
      <p class="margin">
        
          In Peshitta en Griekse handschriften staat dit vers als volgt: ‘En zie, aan hen werden gezien Mosjeh en EliJAHOE, die met Hem spraken’<br />‘en berrichtten Jesjoea alles wat Hem gebeuren gaat in J<sup>e</sup>roesjalajiem’ komt voor in de paralleltekst in Luk. 9:31<br />‘Sluimerend, maar niet sluimerend. Waakzaam, maar niet waakzaam’ komt ook verschillende keren voor in de Babylonische Talmoed
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְכַאֲשֶׁר הָלְכוּ אָז אָמַר פֶּיטְרוֹשׁ לְיֵשׁוּעַ אֲדוֹנִי טוֹב לִהְיוֹת בְּכָאן וְנַעֲשָׂה פֹּה שֶׁלָּשׁ מִשְׁכָּנוֹת לְךָ אֶחָד וּלְמֹשֶׁה אֶחָד וּלְאֵלִיָּה אֶחָד שֶׁלֹּא הָיָה יוֹדַע מָה הָיָה דּוֹבֵר
      </p>
      <p class="nl">
        
          En wanneer zij weggegaan waren, zei Petros toen tot Jesjoea: mijn Heer, het is goed om hier te zijn zodat er hier drie tenten gemaakt kunnen worden: voor U één, en voor Mosjeh één, en voor EliJAH één. Omdat niet bekend was wat hij gesproken had.
        
      </p>
      <p class="margin">
        
          ‘omdat niet bekend was wat hij gesproken had’ komt niet voor in de Peshitta en Griekse handschriften, wel in de paralleltekst in Luk. 9:33
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        עוֹדֶנּוּ מְדַבֵּר וְהִנֵּה עָנָן שֶׁכָּסָה אוֹתָם וְיִבָּהֲלוּ עַד־מְאֹד וּבְעוֹד שֶׁהֵם תַּחַת הֶעָנָן שָׁמֵעוּ מִתּוֹךְ הֶעָנָן קוֹל מִדְבָּר וְאוֹמֵר הִנֵּה זֶה בְּנִי יַקִּירִי וְחֶפְצִי בּוֹ אֵלָיו תִשְׁמָעוּן
      </p>
      <p class="nl">
        
          Tijdens zijn spreken, zie, een wolk die hen bedekte, en zij schrokken zeer. En terwijl zij onder de wolk waren, hoorden zij een stem uit het midden van de wolk spreken en zei: zie, dit is Mijn Zoon, Mijn dierbare en Mijn behagen is in Hem, luistert u naar Hem!
        
      </p>
      <p class="margin">
        
          ‘zeer’ kan ook vertaald worden als: ‘uitermate’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְיִּשְׁמְעוּ הַתַּלְמִידִים וְיִפְלוּ עַל פְּנֵיהֶם אַרְצָה וְיִירְאוּ מְאֹד
      </p>
      <p class="nl">
        
          En de leerlingen hoorde het, en vielen met hun gezicht op de grond, en vreesden zeer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְכַאֲשֶׁר נִפְסַק הַקּוֹל וַיֹּאמֶר לָהֶם יֵשׁוּעַ קוּמוּ אַל־תֵּירָאוּ
      </p>
      <p class="nl">
        
          En wanneer de stem gestopt was, zei Jesjoea tot hen: sta op, vreest u niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וַיִּשְּׂאוּ עֵינֵיהֶם וְלֹא רָאוּ כִּי אִם יֵשׁוּעַ בַּלְבַד
      </p>
      <p class="nl">
        
          En zij hieven hun ogen op en zagen niet, maar Jesjoea alleen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְיָרַד יֵשׁוּעַ מִן הָהָר וַיְצוֹ לָהֶם לֵאמֹר אַל תְּדַבְּרוּ לָאִישׁ הַמַּרְאֶה אֲשֶׁר רְאִיתֶם עַד שֶׁיָקוּם בֶּן־הָאָדָם מִן הַמָּוֶת 
      </p>
      <p class="nl">
        
          En Jesjoea daalde van de berg en Hij beval hen, door te zeggen: spreekt u tot geen man over het visioen dat u gezien hebt tot de Mensenzoon is opgestaan uit de dood.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיִשְׁאֲלוּ לוֹ תַּלְמִידָיו לֵאמֹר מָה חֲכָמִים אוֹמְרִים שֶׁאֵלִיָּה יִבֵּא רִאשׁוֹנָה
      </p>
      <p class="nl">
        
          En Zijn leerlingen vroegen Hem, door te zeggen: waarom zeggen de wijzen, dat EliJAH eerst zal komen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיַּעַן לָהֶם וַיֹּאמֶר אָמְנָם אֵלִיָּה יִבֵּא וְיוֹשִׁיעַ כָּל הָעוֹלָם
      </p>
      <p class="nl">
        
          En Hij antwoordde tot hen en zei: zeker, EliJAH zal komen en hij verlost heel de wereld.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        אוֹמֵר אֲנִי לָכֶם שֶׁכְּבַר בָּא וְלֹא הִכִּירוּהוּ וְעָשׂוּ בּוֹ כִּרְצוֹנָם כֵּן יַעֲשׂוּ בַּבֶּן־הָאָדָם
      </p>
      <p class="nl">
        
          Ik zeg tot jullie dat hij reeds gekomen is en zij hebben hem niet herkend, en hebben gedaan met hem naar hun behagen. Zo doen zij met de Mensenzoon.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אָז הֵבִינוּ הַתַּלְמִידִים שֶׁבַּשֹּׁבֶל יוֹחָנָן הַמַּטְבִּיל הָיָה מִדְבָּר זֶה
      </p>
      <p class="nl">
        
          Toen begrepen de leerlingen dat Hij over Jochanan, de doper, dit gesproken had.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וַיְהִי בְּבוֹאוֹ אֶל הַחֲבוּרוֹת וְיִבֵּא לְפָנָיו אִישׁ כּוֹרֵעַ בִּרְכָּיו וַיֹּאמֶר
      </p>
      <p class="nl">
        
          En het gebeurde met Zijn komst tot de menigte, dat een man kwam voor Zijn aangezicht, boog zijn knieën en zei:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        אֲדוֹנִי חִנָּנִי וְחוֹסָה עַל בְּנִי כִּי נִבְעַת מָרוּחַ רָעָה וְחוֹלֶה מְאֹד וְחוֹרֵק אֶת־שִׁינָּיו וּמִקֶצֶף  בְּפִיו וְנוֹפֵל מִקּוֹמָתוֹ אַרְצָה וְפַּעֲמִַים נוֹפֵל בָּאֵשׁ וּפְעָמִים נוֹפֵל בַּמַּיִם
      </p>
      <p class="nl">
        
          mijn Heer, wees mij genadig en heb medelijden over mijn zoon, want een kwade geest heeft hem overvallen. En hij is erg ziek, en vergruist zijn tanden, en schuimt uit zijn mond. En valt van zijn plaats op de grond, en verschillende keren valt hij in het vuur, en verschillende keren valt hij in de wateren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְהִבִיאוֹתָיו לְתַּלְמִידֶיךָ וְלֹא יוּכְלוּ לִרְפֵאתוֹ
      </p>
      <p class="nl">
        
          En ik bracht hem tot Uw leerlingen, maar zij kunnen hem niet genezen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹּאמֶר דּוֹר רַע אוֹי לָכֶם אַתֶּם הַכּוֹפֵרִים עַד־מָתַי אֶהֱיֶה עִמָּכֶם וְעַד־מָתַי אֶשָּׂא טְרַחְכֶם הֱבִיאוּהוּ אֵלַי
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde en zei: slecht geslacht, wee jullie, jullie die ontkennen. Hoe lang nog ben Ik met jullie? Hoe lang nog draag Ik jullie last? Breng hem tot Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וֶהֱבִיאוּהוּ אֵלָיו וּמִיָּד שֶׁיֵשׁוּעַ רָאָהוּ הַשָׂטָן מַכְנִיעַוּ וּמַפִּילוֹ לָאָרֶץ וְהַתְּחִיל מִתְעַפֵּר וּמִתַּקַצֵּף
      </p>
      <p class="nl">
        
          En men bracht hem tot Hem en onmiddellijk toen Jesjoea hem zag, de satan onderwierp hem, en liet hem vallen op de aarde, en hij begon in het stof te rollen en te schuimen.
        
      </p>
      <p class="margin">
        
          Vers 18 ontbreekt in alle Shem Tov, de ingevoegde tekst komt uit Markus 9:20-28
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְיֵשׁוּעַ שָׁאַל לַאֲבִי הַנַּעַר כַּמָּה זְמַן יֵשׁ שֶׁהַשָּׂטָן לָקְחוּ וְהָאָב הֵשִׁיבוּ מִזְּמַן פְּלוֹנִי וְהָלְאָה וְמִיַּד
      </p>
      <p class="nl">
        
          En Jesjoea vroeg aan de vader van de jongen: hoeveel tijd heeft de satan hen genomen? En de vader antwoordde Hem: vanaf een zekere tijd, en verder, en onmiddellijk,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְהַרְבֵּה פְּעָמִים הִפִּילוֹ בָּאֵשׁ וּבַמַּיִם בְּעִנְיַין יוּכָל לְהִשְׁמִידוֹ וְאִם אַתָּה אֲדוֹנִי בַּשׂוּם עִנְיֵין תּוּכַל לְעַזְרוֹ עָזְרֵהוֹ וְיִשָּׂא הָאִישׁ חֵן בְּעֵינָיו וְנִתְמַלֵּא רַחֲמִים עָלָיו
      </p>
      <p class="nl">
        
          en vele malen hem doen vallen in vuur en in wateren, door de bezigheid om hem te kunnen verdelgen. En als U, mijn Heer, door het stellen van een uitspraak kunt U hem helpen: help hem! <br />En de man had genade in Zijn ogen en werd vervuld met ontferming over hem,
        
      </p>
      <p class="margin">
        
          ‘bezigheid’ kan ook vertaald worden als: ‘werk’, ‘taak’ en ‘zaak’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאָמַר לוֹ אִם אַתָּה תּוּכַל לְהַאֲמִין כָּל דָּבָר תּוּכַל לְהַשְׁלִים לְפִי שֶׁלְּמַאֲמִין כָּל הַדְּבָרִים אֶצְלוֹ קַלִּים
      </p>
      <p class="nl">
        
          en zei tot hem: als u kunt geloven, u kunt alles bereiken, naargelang  het geloof zijn alle dingen gemakkelijk. 
        
      </p>
      <p class="margin">
        
          ‘alles’, letterlijk: ‘alle woorden’ of ‘alle dingen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וּמִיָּד בָּכָה בַּצְּעָקָה אֲבִי הַנַּעַר וְאָמַר אֲדוֹנִי אֲנִי מַאֲמִין אָמְנָם עוֹזְרֵנִי לְפִי אֱמוּנָתִי
      </p>
      <p class="nl">
        
          En onmiddellijk weende de vader van de jongen door geschreeuw en zei: mijn Heer, ik geloof zeker, help mij naargelang mijn geloof.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְכַאֲשֶׁר רָאָה יֵשׁוּעַ שֶׁהָעָם מִתְקַבְּצִים צָוַה לְשֹׁד וְאָמַר לוֹ חָזָק וְאֵלָם הִנְנִי מִצַּוְּךָ שֶׁתֵּצֵא מִכָּאן וּמִכָּאן וְהָלְאָה לֹא תָּשׁוּב כָּאן עוֹד
      </p>
      <p class="nl">
        
          En wanneer Jesjoea zag dat het volk zich verzamelde, gebood Hij de demon en zei tot hem, hard en geweldig: zie, Ik gebied dat u uitgaat van hier en van hier, en van daar, en verder keer niet terug hier opnieuw.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְהַשָּׂטָן יָצָא צוֹעֲק וּמַכְאִיב וְהַנַּעַר נִשְּׁאָר כַּמָּת בָּעִנְיָין שֶׁרַבִּים הָיוּ אוֹמְרִים שֶׁהוּא מֵת
      </p>
      <p class="nl">
        
          En de satan ging uit, schreeuwende en deed hem pijn, en de jongen bleef achter als dood door de bezigheid. Waardoor velen zeiden dat hij dood was.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיֵשׁוּעַ לָקְחוֹ מִהַיָּד וְהֶעֱמִידוֹ וְקָם
      </p>
      <p class="nl">
        
          En Jesjoea nam hem bij de hand en deed hem staan, en hij stond op.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וְכַאֲשֶׁר נִכְנַס יֵשׁוּעַ לַבַּיִת
      </p>
      <p class="nl">
        
          En wanneer Jesjoea kwam in een huis,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        אָז קָרְבוּ הַתַּלְמִידִים לִיֵשׁוּעַ בַּסֵּתֶר וְיֹאמְרוּ אֵלָיו מַדּוּעַ לֹא נוֹכֵל אֲנַחְנוּ לְהוֹצִיאוֹ
      </p>
      <p class="nl">
        
          toen naderden de leerlingen tot Jesjoea in het verborgen en zeiden tot Hem: waarom konden wij hem niet laten uitgaan?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם לְמִּיעוּט אֱמוּנַתְכֶם אָמֵן אֲנִי אוֹמֵר לָכֶם אִם יִהְיֶה בָּכֶם מִן הָאֱמוּנָה כְּגַרְגִּיר חַרְדָּל אִם תַּאֲמִינוּ לָהָר הַזֶּה תֹּאמְרוּ סוּרוּ וְיָסוּר וְכָל דָּבָר לֹא יְבַצֵּר מִכֶּם
      </p>
      <p class="nl">
        
          En Hij zei tot hen: jullie geringe van geloof. Amen, Ik zeg tot jullie, als er in jullie het geloof was als een mosterdzaad. Als u gelooft, dan zegt u tegen deze berg “verdwijn!”, en hij verdwijnt. En elk ding is niet onmogelijk van jullie.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְזֶה הַמִּין מִן הַשֵּׁדִים לֹא יָצָא כִּי אִם בַּתִּפְלָה וְצוֹם
      </p>
      <p class="nl">
        
          Maar dit soort van de demonen gaat niet uit, behalve door bidden en vasten.
        
      </p>
      <p class="margin">
        
          ‘maar dit soort van de demonen’, in de Peshitta staat: ‘maar dit soort’, in verschillende Griekse handschriften staat: ‘maar dit geslacht’ en in andere Griekse handschriften ontbreekt dit vers
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        הֵמָּה בַּגָּלִיל וַיֹּאמֶר יֵשׁוּעַ בֶּן־הָאָדָם יִמְסֹר לְיַד בְּנֵי הָאָדָם
      </p>
      <p class="nl">
        
          Zij waren in Ghaliel, en Jesjoea zei: de Mensenzoon wordt overleverd in de hand van de zonen van mensen
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְיַהַרְגוּהוּ וּבַיּוֹם הַשְּׁלִישִׁי יְקוּם
      </p>
      <p class="nl">
        
          en doden Hem, maar op de derde dag staat Hij op.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיָבוֹאוּ כְּפַר־נַחוּם מָרְתָה וִיקָרְבוּ מְקַבְּלֵי הַמֶּכֶם לְפֶּיטְרוֹשׁ וְיֹאמְרוּ אֵלָיו רַבִיכֶם אֵינוּ נוֹתֵן מֶכֶס
      </p>
      <p class="nl">
        
          En kwamen in K<sup>e</sup>phar-Nachoem, Martah, en ontvangers van belasting naderden tot Petros en zeiden tot hem: jullie Rabbi, geeft Hij niet belasting?
        
      </p>
      <p class="margin">
        
          ‘Martah’, dat is: aan de zee<br />‘ontvangers van belasting’, kan ook vertaald worden als: ‘belastinginners’ en ‘tollenaars’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְיֹאמְרוּ כֵּן וְיָבוֹאוּ בַּבַּית וְהִקְדִּים יֵשׁוּעַ אֵלָיו לֵאמֹר לְפֶּיטְרוֹשׁ מָה נִרְאָה לְךָ פֵּיטְרוֹשׁ מַלְכֵי אֶרֶץ מִמִּי לוֹקֵחִים מֶכֶס מִן בְּנֵיהֶם אוֹ מִן הַנָּכְרִים
      </p>
      <p class="nl">
        
          En hij zei: ja. En hij kwam in het huis en Jesjoea ontmoette hem door te zeggen tot Petros: wat is uw inzicht, Petros? Van wie nemen de koninkrijken van de aarde belasting, van hun zonen of van de vreemden?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיַּעַן אֵלָיו מִן הַנָּכְרִים וַיֹּאמֶר לָהֶם יֵשׁוּעַ אִם כֵּן הַבָּנִים חָפְשִׁים 
      </p>
      <p class="nl">
        
          En hij antwoordde tot Hem: van de vreemden. En Jesjoea zei tot hen: zo ja, de zonen gaan vrijuit.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וַיֹּאמֶר לֹא תִּהְיוּ בֶּעָבָר זֶה נִבְהָלִים וַיֹּאמֶר לְפֶּיטְרוֹשׁ לֵךְ לַיָּם וְהֻשְׁלַךְ חַכָּה וְאוֹתוֹ דָּג שֶׁתִּקַּח רִאשׁוֹנָה תִּמְצָא בְּפִיו מַטְבֵּעַ כֶּסֶף וְאוֹתוֹ תִּתֵּן בְּעֲדֵינוּ
      </p>
      <p class="nl">
        
          En Hij zei: weest u niet, omwille van dit, opgeschrikt. En Hij zei tot Petros: ga naar de zee en werp een vishaak en de eerste vis die u vangt, u vindt in zijn mond een zilveren munt en geeft u voor ons.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>