<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        בַּעַת הַהִיא קָרְבוּ הַתַּלְמִידִים אֶל יֵשׁוּעַ וְיֹּאמְרוּ אֵלָיו מִי אַתָּה חוֹשֵׁב שֶׁהוּא גָדּוֹל בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          Op dat moment naderden de leerlingen tot Jesjoea en zeiden tot Hem: wie acht U de grootste in het Koninkrijk van de Hemelen?
        
      </p>
      <p class="margin">
        
          ‘wie acht U de grootste in het Koninkrijk van de Hemelen’, in de Peshitta staat: ‘Wie is werkelijk de grootste in het Koninkrijk van de Hemelen’, in de Griekse handschriften staat: ‘Wie is toch de grootste in het Koninkrijk van de Hemelen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיִּקְרָא נַעַר אֶחָד קָטָן וִישִׂימֵהוּ בְּתוֹכָם
      </p>
      <p class="nl">
        
          En Hij riep één kleine jongen en zette hem in hun midden
        
      </p>
      <p class="margin">
        
          ‘één kleine jongen’, in de Peshitta staat: ‘een jongen’ en in de Griekse handschriften staat: ‘een klein kind’ (παιδίον), dit kan ook vertaald worden als: ‘een kleine jongen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיֹּאמֶר אֲנִי אוֹמֵר אִם־לֹא תָּשׁוּבוּ לִהְיוֹת כְּנַּעַר הַזֶּה לֹא תָּבוֹאוּ בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          en Hij zei: Ik zeg, als u niet omkeert om te zijn als deze jongen, u gaat niet in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          Dit vers komt alleen voor in Ms. Heb. 28 (Bibliotheek der Rijksuniversiteit, Leiden), Vat. Ebr. 101 (Biblioteca Apostolica Vaticana, Vaticaanstad) en Breslau 59b (Breslau 233 / Cat Saraval 26b) (Juedisch-theologisches Seminar, Wrocław).<br />‘Ik zeg’, in de Peshitta en Griekse handschriften staat: ‘amen, Ik zeg u’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְהַמְּקַבֵּל נַעַר אֶחָד כָּזֶה עַל שְׁמִי מְקַבֵּל אוֹתִי
      </p>
      <p class="nl">
        
          En wie ontvangt één jongen als deze vanwege Mij, ontvangt Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וַאֲשֶׁר יַּכשִׁיל אֶחָד מֵהַנְּעָרִים הַקְּטַנִּים הַמַּאֲמִינִים בִּי טוֹב לוֹ שֶׁיִּקְשׁוֹר פֶּלַח רָכַב עַל צַוָּארוֹ וְיוּטַל בַּמְּצוּלוֹת יָם
      </p>
      <p class="nl">
        
          En hij, die laat struikelen één van de kleinen jongens die gelooft in Mij, goed voor hem is het dat hij gebonden wordt aan een stuk molensteen aan zijn nek en geworpen wordt in de diepte van de zee.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אוֹי לְיוֹשְׁבֵי תֵּבֵל מִפְּנֵי הַמְּבוּכוֹת שֶׁצְּרִיכוֹת הַמְּבוּכוֹת לְבָא וַיֹּאמֶר אוֹי לָאָדָם שֶׁיִּבֵּא בְּשָׁבְלוֹ הַמְבוּכוֹת שֶׁצְרִיכוֹת לְבָא
      </p>
      <p class="nl">
        
          Wee de bewoners van de wereld, vanwege de verwarring, omdat het noodzakelijk is dat de verwarring komt. En Hij zei: wee een mens die komt vanwege de noodzakelijke verwarring die komt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאִם יָדְךָ וְרַגְלְךָ יַכְשִׁילְךָ תַּכְרִיתֵהוּ וְתַשְׁלִיכֵהוּ מִמְּךָ טוֹב לְךָ לְבָא בַּחַיִּים עוּר אוֹ פִּסֵּחַ מִהְיוֹת לְךָ יָדַיִם וּרְגָלִים לְתִתְךָ בָּאֵשׁ עוֹלָמִית
      </p>
      <p class="nl">
        
          En wanneer uw hand en uw voet u doet struikelen, u snijdt het af en u werp hem van u. Het is goed voor u om te komen in het wakkere leven. Of kreupel te zijn dan handen en voeten te hebben tot het eeuwige vuur gegeven wordt.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘u doet struikelen’ (jàchsjilcha) en ‘en u werp hem’ (v<sup>e</sup>tàsj’lichéhoe)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְאִם עֵינְךָ תַּכְשִׁילְךָ נִקַּרָה וְתַשְׁלִיכָה מִמְּךָ טוֹב לְךָ לְבָא בַּחַיִּים בָּעַיִן אֶחָד מִהְיוֹת לְךָ עֵינַיִם וּלְתִתְךָ בְגֵהִינָם
      </p>
      <p class="nl">
        
          En wanneer uw oog u doet struikelen, steek haar uit en u werpt haar van u. Het is goed voor u om te komen in het leven met één oog, dan ogen te hebben en u in het dal van Hinom gegeven wordt.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘u doet struikelen’ (tàchsjicha) en ‘en u werpt haar’ (v<sup>e</sup>tàsj’lichah)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְהִזָּהֲרוּ פָּן תִּדַּיְּנוּ אַחַת מֵהַנְּעָרִים הַקְטַנִּים אוֹמֵר אֲנִי לָכֶם לְמַלְאֲכֵיהֶם הֵם רוֹאִים תָּמִיד פְנֵי אֲבִי שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          Maar pas op, opdat u niet oordeelt één van de kleine jongens. Ik zeg tot jullie: hun engelen, zij zien voortdurend het aangezicht van Mijn Vader, Die in hemelen is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וּבֶּן־אָדָם בָּטֵל לְהוֹשִׁיעַ הָאוֹיְבִים
      </p>
      <p class="nl">
        
          En de Mensenzoon is opgehouden de vijanden te verlossen.
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in verschillende Griekse handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        מָה יִרְאָה לָכֶם אִם יִהְיֶה לָאִישׁ מֵאָה צֹאן וּבָּרַח אַחַת מֵהֶן הֲלֹּא יַעוֹזֵב תִּשְׁעִים וְתִשְׁעָה בֶּהָרִים וְיֵלֵךְ לְבַקֵּשׁ הַנִּדְחֶה
      </p>
      <p class="nl">
        
          Wat is jullie inzicht, wanneer het gebeurt tot een man met honderd schapen en één van hun loopt weg, zou hij de negenennegentig achterlaten in de bergen, en zoeken naar de afgedwaalde?
        
      </p>
      <p class="margin">
        
          ‘afgedwaalde’ kan ook vertaald worden als: ‘verleidde’ of ‘misleidde’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְאִם יִמְצָאֶנָה אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁיִשְׂמַח עָלֶיהָ יוֹתֵר מֵהַתִּשְׁעִים וְתִשְׁעָה אֲשֶׁר לֹא נִדְחוּ
      </p>
      <p class="nl">
        
          En wanneer hij haar vindt, amen Ik zeg tot jullie, dat hij zich verheugt over haar, meer dan de negenennegentig die niet afgedwaald waren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        כֵּן לֹא יִרְצֶה אֲבִי שֶׁבַּשָּׁמַיִם שֶׁיְּאַבֵּד אֶחָד מֵהַנְּעָרִים
      </p>
      <p class="nl">
        
          Zo heeft Mijn Vader, Die in de hemelen is, geen behagen dat één van deze jongens verloren gaat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        בַּעַת הַהִיא אָמַר יֵשׁוּעַ לְשִׁמְעוֹן נִקְרָא פֶּיטְרוֹשׁ אִם יֶחְטָא לְךָ אָחֶיךָ הוֹכִיחָנוּ בֵּינוּ לְבֵינְךָ אִם יִשְׁמַע אֵלֶיךָ קָנִיתָ אֶת־אָחִיךָ
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Sjiem’on, die Petros genoemd wordt: als uw broer tegen u zondigt, vermaan hem apart. Als hij naar u luistert, u heeft uw broer verworven.
        
      </p>
      <p class="margin">
        
          ‘vermaan’ kan ook vertaald worden als: ‘spreek recht’, ‘bepleit’, ‘kastijd’, ‘predik’ en ‘tuchtig’<br />‘apart’, letterlijk: ‘tussen zijn hart’ of ‘bij zijn hart’<br />‘luistert’ kan ook vertaald worden als: ‘hoort’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְאִם לֹא יִשְׁמַע אֵלֶיךָ הוֹכִיחָנוּ בִּפְנֵי אַחֵר וְאִם בְּכָל אֵלֶּה לֹא יִשְׁמַע לְךָ תּוֹסִיף עוֹד אֶחָד אוֹ שָׁנִים לִהְיוֹת דְּבָרֶיךָ לִפְנֵי שָׁנִים אוֹ שְׁלָשָׁה עֵדִים שֶׁעַל פִּי שָׁנִים אוֹ שְׁלָשָׁה עֵדִים יְקוּם דָּבָר
      </p>
      <p class="nl">
        
          En als hij niet luistert naar u, vermaan hem voor het aangezicht van een ander. En als hij door elke eed niet luistert naar u, voeg steeds één of twee toe, dat uw woorden zijn voor het aangezicht van twee of drie getuigen, omdat door de mond van twee of drie getuigen staat een zaak.
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: ‘over de mond’<br />‘zaak’ kan ook vertaald worden als: ‘woord’ of ‘ding’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְאִם בַּכָל אֵלֶּה לֹא יִשְׁמַע אָמוּר אוֹתוֹ בַּקָּהָל וְאִם לֹא יִשְׁמַע בַּקָּהָל חָשׁוּב אוֹתוֹ כִּמְנוּדֶּה וְאוֹיֵב וְאַכְזָר
      </p>
      <p class="nl">
        
          En als hij door elke eed niet luistert, zeg het in de gemeente. En als hij niet luistert in de gemeente, acht hem als een verstotene, en een vijand, en een wrede.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁכָּל אֵלֶּה אֲשֶׁר תֶּאֶסְרוּ בָּאָרֶץ אָסוּר הוּא בַּשָּׁמַיִם וְכָל אֲשֶׁר תַּתִּירוּ בָּאָרֶץ מוּתָּר יִהְיֶה בַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot juliie, dat elke eed dat u bindt op de aarde, die zal gebonden zijn in de hemelen. En alles dat u loslaat op de aarde, is losgelaten in de hemelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְגַם אֲנִי אוֹמֵר לָכֶם אִם יִרְצוּ שָׁנִים מִכֶּם לְשִׂים שָׁלִים בָּאָרֶץ כָּל אֲשֶׁר יְבַקְּשׁוּ יִהְיֶה לָכֶם מְאַת אֲבִי שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          En ook, Ik zeg tot jullie, als twee van jullie behagen hebben tot een samenstemming op heel de aarde, omdat hij vraagt zal het tot jullie zijn van Mijn Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          ‘samenstemming’ is een Aramees woord, letterlijk: ‘complementair’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וּבְכָל מָקוֹם שֶׁיִּתְחַבְּרוּ שָׁנִים אוֹ שְׁלָשָׁה עַל שְׁמִי שָׁם אָנֹכִי בְּתוֹכְכֶם
      </p>
      <p class="nl">
        
          En in elke plaats waar twee of drie samengaan in Mijn Naam, daar ben Ik in jullie midden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        אָז קָרַב פֶּיטְרוֹשׁ אֵלָיו לֵאמֹר אֲדוֹנִי אִם יֶחְטָא לִי אֲחִי עַד שֶׁבַע פְּעָמִים אֶמְחוֹל לוֹ
      </p>
      <p class="nl">
        
          Toen naderde Petros tot Hem door te zeggen: mijn Heer, als mijn broer tegen mij zondigt, zal ik hem tot zeven maal vergeven?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ יֵשׁוּעַ אֵינִי אוֹמֵר לְךָ עַד שֶׁבַע פַּעֲמַיִם כִּי אִם עַד שִׁבְעִים וְשִׁבְעָה
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: Ik zeg niet tot u tot zeven maal, maar tot zevenenzeventig. 
        
      </p>
      <p class="margin">
        
          ‘zevenenzeventig (maal vergeven)’ is een tegenstelling tot Gen. 4:24
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        בַּעַת הַהִיא אָמַר יֵשׁוּעַ לְתַּלְמִידָיו מַלְכוּת שָׁמַיִם דּוֹמֶה הִיא לָאָדָם מֶלֶךְ יוֹשֵׁב לַעֲשׂוֹת חֶשְׁבּוֹן עִם עֲבָדָיו וּמְשָׁרְתָיו
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Zijn leerlingen: het Koninkrijk van de Hemelen, zij is gelijk als een menselijke koning, die een berekening zat te maken met zijn dienaren en zijn bedienden.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘Koninkrijk’ (malchoet) en ‘koning’ (melech).<br />‘een menselijke koning’ is een Hebreeuwse aanduiding om aan te geven dat het niet om de Hemelse Koning gaat, in het Grieks wordt dit vertaald met ἀνθρώπῳ βασιλεῖ (anthrōpos basileus)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְכַאֲשֶׁר הִתְחִיל לְחָשׁוֹב בָּא אֶחָד שֶׁהוּא חַיָּיב בַּעֲשֶׂרֶת אֲלָפִים זְהוּבִים
      </p>
      <p class="nl">
        
          En wanneer hij begon te rekenen, kwam één die hem tienduizend goudstukken schuldig was.
        
      </p>
      <p class="margin">
        
          ‘goudstukken’, kan ook vertaald worden als: ‘gouden munten’, de Peshitta en de Griekse handschriften noemen ‘talenten’, welke doorgaans van zilver waren
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְאֵין לוֹ מָה לִיתֵּן וַיְצַו אֲדוֹנָיו לִמְכּוֹר אוֹתוֹ וְאֶת־בָּנָיו וְאֵת כָּל־אֲשֶׁר־לוֹ לְשַׁלֵּם הַמָּמוֹן
      </p>
      <p class="nl">
        
          En hij had niet wat hij kon geven, en zijn heer beval om hem te verkopen, en zijn zonen, en alles wat hij had om het geld te voldoen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיִפוֹל הָעֶבֶד לִפְנֵי אֲדוֹנָיו וְיִתְחַנֵּן לוֹ לֵאמֹר חוּסָה עָלָי וְהִמְתִּן לִי וְהַכֹּל אֲשַׁלֵּם
      </p>
      <p class="nl">
        
          Maar de dienaar viel voor het aangezicht van zijn heer en hij smeekte hem om genade door te zeggen: ontzie mij en heb geduld met mij en ik zal alles voldoen.
        
      </p>
      <p class="margin">
        
          ‘door te zeggen … voldoen’, in Ms. Add. no. 26964 (Britse Bibliotheek, Londen) en Ms. Opp. Add. 4° 72 (Bodleian Bibliotheek, Oxford) staat: ‘hij had erbarmen over hem en had geduld met hem, maar hij zou alles voldoen’<br />‘met mij’, letterlijk: ‘tot mij’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיַחְמוֹל עָלָיו אֲדוֹנָיו וּמָחַל לוֹ הַכֹּל
      </p>
      <p class="nl">
        
          En zijn heer had medelijden over hem en vergaf hem alles.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘medelijden’ (vàjàch’mol) en ‘vergaf’ (oemáchàl)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיֵצֵא הָעֶבֶד הַהוּא וַיִמְצָא אֶחָד מֵחֲבֵירָיו  שֶׁהוּא חַיָּיב לוֹ מֵאָה מָעוֹת וַיַחֲזֵק בּוֹ וְיִפְגַּע לוֹ לֵאמֹר שַׁלֵּם מָה שֶׁאַתָּה חַיָּב לָתֵת לִי
      </p>
      <p class="nl">
        
          En de dienaar ging uit en hij vond één van zijn metgezellen, deze was hem honderd munten schuldig. En hij greep hem en sloeg hem, door te zeggen: betaal wat jij schuldig bent mij te geven!
        
      </p>
      <p class="margin">
        
          ‘munten’, waarmee bedoeld wordt: ‘kleine munten’ of ‘zilvere munten’, de Peshitta en de Griekse handschriften noemen ‘denarius’, een Romeinse munt, en wordt vaak vertaald met: ‘penningen’<br />‘betaal … geven!’ is afkomstig van DuTillet en Münster
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַיִּכְרַע הַעֶבֶד הַהוּא וַיִּתְחַנֵּן לוֹ לֵאמֹר חוּסָה עָלַי וְהַמְתֵּן לִי וְהַכֹּל אֲשַׁלֵּם
      </p>
      <p class="nl">
        
          En deze dienaar knielde en smeekte hem om genade, door te zeggen: ontzie mij en heb geduld met mij en ik zal alles voldoen.
        
      </p>
      <p class="margin">
        
          En deze dienaar … zeggen’ is afkomstig van DuTillet en Münster<br />‘met mij’, letterlijk: ‘tot mij’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְלֹא אָבָה לִשְׁמוֹעַ לוֹ וַיּוֹלִיכוּהוּ לְבֵית הַסּוֹהַר עַד שַׁלֵּם לוֹ הַכֹּל
      </p>
      <p class="nl">
        
          Maar hij wilde niet luisteren naar hem en hij bracht hem naar de gevangenis totdat hij alles voldaan had tot hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְרָאוּ עַבְדֵי הַמֶּלֶךְ אֵת אֲשֶׁר עָשָׂה וְיִּחַר לָהֶם מְאֹד וַיָּבֹאוּ וַיַּגִּידוּ לַאֲדוֹנֵיהֶם
      </p>
      <p class="nl">
        
          En de dienaren van de koning zagen hem dat doen, en werden zeer woedend, en kwamen en vertelden het hun heer.
        
      </p>
      <p class="margin">
        
          ‘zeer woedend’, letterlijk: ‘brandden (van woede) zeer’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        אָז קָרָא אוֹתוֹ אֲדוֹנָיו וַיֹּאמֶר לוֹ עֶבֶד אָרוּר הֲלֹא מָחַלְתִּי לְךָ כֹּל חוֹבֶיךָ כַּאֲשֶׁר פִּיַיסְתָּנִי
      </p>
      <p class="nl">
        
          Toen riep zijn heer hem en hij zei tot hem: vervloekte dienaar, heb ik u niet vergeven van al uw schuld, gelijk u mij verzocht heeft?
        
      </p>
      <p class="margin">
        
          ‘verzocht’, letterlijk: ‘verzoenend’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וּמַדּוּעַ לֹא מָחַלְתָּ לְעַבְדְּךָ בְּהִתְחַנְנוֹ אֵלֶיךָ כַּאֲשֶׁר מָחַלְתִּיךָ
      </p>
      <p class="nl">
        
          Maar waarom heeft u niet uw dienaar vergeven, in zijn om genade smeken tot u, gelijk u bent vergeven?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וַיִחַר אַף אֲדוֹנָיו בּוֹ וַיְצַו לְעַנּוֹתוֹ עַד יְשַׁלֵּם לוֹ כֹּל הַחוֹב
      </p>
      <p class="nl">
        
          En zijn heer brandde van toorn door hem, en hij beval om hem te straffen totdat hij al de schuld voldaan heeft tot hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        כֵּן יַעֲשֶׂה לָכֶם אֲבִי שֶׁבַּשָּׁמַיִם אִם־לֹא תִּמְחֲלוּ אִישׁ אֶת־אָחִיו בְּלֵב שָׁלֵם
      </p>
      <p class="nl">
        
          Zo doet Mijn Vader, Die in de hemelen is, tot jullie, indien een man zijn broer niet vergeeft met een volkomen hart.
        
      </p>
      <p class="margin">
        
          Zes keer komt het Hebreeuwse woord שַׁלֵּם (sjalem) (betalen, voldoen) voor in dit hoofdstuk, maar de zevende keer is het woord שָׁלֵם (sjaalem) (volkomen)
        
      </p>
    </div>
  
</div>