<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר כִּלָּה יֵשׁוּעַ הַדְּבָרִים הָאֵלֶּה עָבַר מִן הַגָּלִיל וְיָבֹא לִקְצוֹת אֶרֶץ יְהוּדָה אֲשֶׁר בָּעֵבֶר הַיַּרְדֵּן
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea klaar was met deze woorden, ging Hij verder uit Ghaliel en Hij kwam tot de uiteinden van het land J<sup>e</sup>hoedah dat aan de overkant van de Jardén ligt.
        
      </p>
      <p class="margin">
        
          ‘dat aan de overkant van de Jardén ligt’ dat is het gebied van Perea. Men ging naar J<sup>e</sup>roesjalajiem vanuit Ghaliel via Perea, om het land Sjomron te vermijden
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְיֵלְכוּ אַחֲרָיו חֲבוּרוֹת רַבּוֹת וְיִרְפָּא אֶת־כּוּלָּם
      </p>
      <p class="nl">
        
          En een grote menigte volgde Hem en Hij genas hen allen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְיִגְּשׁוּ אֵלָיו אֶת־הַפְּרוּשִׁים לְנַסּוֹתוֹ וַיִּשְׁאָלוּהוּ לֵאמֹר אִם מוֹתַר לַעֲזוֹב אָדָם אֶת־אִשְׁתּוֹ בַּשׂוּם עַנְיֵין וְלִיתֵּן לָהּ גֵּט
      </p>
      <p class="nl">
        
          En de P<sup>e</sup>roesjiem naderden tot Hem om hem te verzoeken en vroegen Hem door te zeggen: wanneer is een mens toegestaan om zijn vrouw te verlaten door het stellen van een uitspraak en haar een echtscheidingsbrief te geven?
        
      </p>
      <p class="margin">
        
          ‘naderden’ is hier een ander Hebreeuws woord dan gebruikt wordt in Matt. 5:23, zie ook vers 19
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיַּעַן לָהֶם הַלֹא קְרָאתֶם שֶׁעוֹשֵׂיהֶם מְקַדֵּם זָכַר וּנְקֵבָה בָּרְאֵם
      </p>
      <p class="nl">
        
          En Hij antwoordde tot hen: hebben jullie niet gelezen dat Hij Die hen vroeger gemaakt heeft, hen mannelijk en vrouwelijk heeft geschapen?
        
      </p>
      <p class="margin">
        
          ‘hen mannelijk en vrouwelijk heeft geschapen’, is een citaat uit Gen. 5:2, maar ook te vinden in Gen. 1:27
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְאָמַר עַל־כֵּן יַעֲזוֹב־אִישׁ אֶת־אָבִיו וְאֶת־אִמּוֹ וְדָבַק בְּאִשְׁתּוֹ וְהָיוּ לְבָשָׂר אֶחָד
      </p>
      <p class="nl">
        
          En zei: “daarom verlaat een man zijn vader en zijn moeder, en kleeft zijn vrouw aan, en zij zijn tot één vlees.”
        
      </p>
      <p class="margin">
        
          Citaat uit Gen. 2:24<br />‘verlaten’ kan ook vertaald worden als: ‘achterlaten’ en ‘loslaten’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        אִם כֵּן אֵינָם שָׁנִים כִּי אִם בָּשָׂר אֶחָד וּמָה שֶׁחָבַר הַבּוֹרֵא אֵין אָדָם יָכוֹל לְהַפְרִיד
      </p>
      <p class="nl">
        
          Zo ja, zijn zij niet twee, maar zijn één vlees. En wat de Schepper samenvoegt, kan een mens niet scheiden.
        
      </p>
      <p class="margin">
        
          ‘scheiden’, letterlijk: ‘afzonderen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ אִם־כֵּן מַדּוּעַ צִוָּה מֹשֶׁה לָתֵת לָהּ גֵּט כְּרִיתוּת וְשָׁלְחָה מִבֵּיתוֹ
      </p>
      <p class="nl">
        
          En zij zeiden tot Hem: zo ja, waarom heeft Mosjeh geboden haar een echtscheidingsbrief te geven, en haar te laten gaan van zijn huis?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם מֹשֶׁה לְעִקְּשׁוּת פֹּה לְבַבְכֶם אָמַר לָכֶם לַעֲזוֹב אֶת־נְשֵׁיכֶם וּמֵעוֹלָם לֹא הָיָה כֵּן
      </p>
      <p class="nl">
        
          En Hij zei tot hen: Mosjeh, vanwege de hardnekkigheid van jullie harten, zei tot jullie om jullie vrouwen te verlaten, maar van eeuwigheid is het niet zo.
        
      </p>
      <p class="margin">
        
          ‘maar van eeuwigheid’ in andere Shem Tov staat: ‘maar van vroeger’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אוֹמֵר אֲנִי לָכֶם שֶׁכָּל הַעוֹזֵב אֶת־אִשְׁתּוֹ וְיִקַּח אַחֶרֶת אִם־לֹא בִּשְׁבִיל נִיאוּף הוּא נוֹאֵף וְהַלּוֹקֵחַ הַגְּרוּשָׁה נֵיאֵף
      </p>
      <p class="nl">
        
          Ik zeg tot jullie, dat al wie zijn vrouw verlaat en hij neemt een andere, niet vanwege overspel, hij pleegt overspel. En die de verstotene neemt pleegt overspel.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיֹּאמְרוּ אֵלָיו תַּלְמִידָיו אִם כֵּן דָּבָר אָדָם עִם אִשְׁתּוֹ לֹא טוֹב לָקַחַת אוֹתָהּ
      </p>
      <p class="nl">
        
          En Zijn leerlingen zeiden tot Hem: als deze zaak van een mens met zijn vrouw zo is, is het niet goed om haar te nemen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם אֵין דָּבָר זֶה לְכָל אֶלָּא לְמִי שֶׁנָּתַן לָהֶם
      </p>
      <p class="nl">
        
          En Hij zei tot hen: deze zaak is niet voor allen, maar tot hen dat is gegeven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        שֶׁיֵּשׁ סָרִיסִים מִתוֹלְדוֹתֶם אֵלּוּ הֵם אֲשֶׁר לֹא חָטְאוּ וְיֵשׁ סָרִיסִים עֲשׂוּייִם בִּידֵי אָדָם וְיֵשׁ סָרִיסִים מֵעַצְמָם שֶׁכּוֹבְשִׁים אֶת־יִצְרָם בִּשְׁבִיל מַלְכוּת שָׁמַיִם אֵלּוּ הֵם הַבָּאִים בְּמַּעֲלֶה גְּדוֹלָה מִי שֶׁיּוּכַל לְהָבִין יָבִין
      </p>
      <p class="nl">
        
          Omdat er eunuchen zijn vanaf hun verwekking, deze zijn zij die niet zondigen, en er zijn eunuchen gemaakt door de handen van mensen, en er zijn eunuchen die zichzelf onderwerpen van hun neigingen vanwege het Koninkrijk van de Hemelen, deze zijn zij die komen in grote verhevenheid. Wie dit kan begrijpen, die begrijpt het.
        
      </p>
      <p class="margin">
        
          ‘eunuchen’, dat zijn ontmande dienaren, vaak vertaald als: ‘hovelingen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אָז הוּבְאוּ אֵלָיו יְלָדִים לָשִׂים יָדוֹ עֲלֵיהֶם וּלְהִתְפַּלֵּל עֲלֵיהֶם וְתַלְמִידָיו מִגְרָשִׁים אוֹתָם
      </p>
      <p class="nl">
        
          Toen werden kinderen tot Hem gebracht, om door Zijn hand op hen gelegd te worden en te bidden over hen. En Zijn leerlingen verdreven hen.
        
      </p>
      <p class="margin">
        
          ‘verdreven’, in de Peshitta en Griekse handschriften staat: ‘berispen’ of ‘bestraffen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם יֵשׁוּעַ הֵנִיחוּ הַנְּעָרִים לְבָא אֵלַי וְלֹא תִּמְנְעוּם שֶׁמֵּהֶם מַלְכוּת שָׁמַיִם בֶּאֱמֶת אֲנִי אוֹמֵר לָכֶם שֶׁלֹא יְכַנֵּס בְּמַלְכוּת שָׁמַיִם אִם־לֹא יִהְיֶה כָאֵלֶּה
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hen: laat de jongens tot Mij komen en houdt hen niet tegen, omdat van hen is het Koninkrijk van de Hemelen. In waarheid zeg Ik tot jullie dat hij het Koninkrijk van de Hemelen niet ontvangt, als hij niet wordt gelijk deze.
        
      </p>
      <p class="margin">
        
          ‘in waarheid … deze’ komt niet voor in de Peshitta en Griekse handschriften, maar is gelijk aan Mark. 10:15 en Luk. 18:17
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְיִשֵּׂם יָדוֹ עֲלֵיהֶם וְיֵלֵךְ מִשָּׁם
      </p>
      <p class="nl">
        
          En Hij legde Zijn hand op hen, en Hij ging van daar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיִגַּשׁ אֵלָיו בָּחוּר אֶחָד וְיִשְׁתַּחֲוֶה לוֹ וַיֹּאמֶר לוֹ רַבִּי אֵיזֶה טוֹב אֶעֱשֶׂה לִקְנוֹת חַיֵּי הַעוֹלָם הָבֵא
      </p>
      <p class="nl">
        
          En één jongeling naderde tot Hem, en boog diep voor Hem, en zei tot Hem: Rabbi, wat goed moet ik doen om het leven van de komende wereld te verwerven?
        
      </p>
      <p class="margin">
        
          ‘naderde’ is hier een ander Hebreeuws woord dan gebruikt wordt in Matt. 5:23, zie ook vers 3<br />‘jongeling’ kan ook vertaald worden als: ‘huwbare man’<br />‘Rabbi’, in de Peshitta en Griekse handschriften staat: ‘goede leraar’ of ‘goede meester’, zoals ook in Mark. 10:17 en Luk. 18:18
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וַיַּעַן אֵלָיו מָה תִּשְׁאֵל מִטּוֹב אֵין הָאָדָם טוֹב וְהָאֵל לְבַדּוֹ הוּא טוֹב וְאִם תִּרְצֶה לְבָא בַּחַיִּים שָׁמוּר הַמִּצְווֹת
      </p>
      <p class="nl">
        
          En Hij antwoorde tot hem: waarom vraagt u naar het goede? Geen van de mensen is goed, maar El alleen: Hij is goed. Maar wanneer u behagen heeft om te komen tot in het leven, bewaar de geboden.
        
      </p>
      <p class="margin">
        
          ‘waarom vraagt u naar het goede?’ in Peshitta en Griekse handschriften staat: ‘waarom noemt u Mij goed?’, zoals ook in Mark. 10:18 en Luk. 18:19
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ מָה הֵן וַיֹּאמֶר לוֹ יֵשׁוּעַ לֹא תִּרְצָח לֹא תִּנְאָף לֹא תִּגְנוֹב לֹא־תַעֲנֶה בְרֵעֲךָ עֵד שָׁקֶר
      </p>
      <p class="nl">
        
          Maar hij zei tot Hem: wat zijn zij? En Jesjoea zei tot hem: “u zult niet moorden, u zult geen overspel plegen, u zult niet stelen, u zult geen vals getuigenis geven tegen uw naaste”
        
      </p>
      <p class="margin">
        
          Citaat uit Ex. 20:13-16 en Deut. 5:17-20<br />‘u zult geen overspel plegen’ komt alleen voor in Ms. 2426 (Marx 16) Bibliotheek van de Joodse Theologische Seminarie van Amerika, New York
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        כַּבֵּד אֶת־אָבִיךָ וְאֶת־אִמֶּךָ וְאָֽהַבְתָּ לְרֵעֲךָ כָּמֹוךָ
      </p>
      <p class="nl">
        
          “Eer uw vader en uw moeder”, en “heb liefde tot uw naaste als uzelf”
        
      </p>
      <p class="margin">
        
          Citaten uit Ex. 20:12, Deut. 5:16 en Lev. 19:18
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ הַבָּחוּר כָּל אֵלֶּה שָׁמַרְתִּי וּמָה יְחַסֵּר לִי עוֹד
      </p>
      <p class="nl">
        
          En de jongeling zei tot Hem: al dit heb ik bewaard en wat ontbreekt mij nog?
        
      </p>
      <p class="margin">
        
          ‘de jongeling’, in enkele versies van Shem Tov staat: ‘de wijze’, zie vers 22
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ אִם תִּרְצֶה לִהְיוֹת תָּם לֵךְ וּמָכוֹר כָּל־אֲשֶׁר־לְךָ וְתִנְהוּ לָעֲנִיִּים וְיִהְיֶה לְךָ אוֹצָר בַּשָּׁמַיִם וּבָא אַחֲרִי
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: wanneer u behagen hebt om volkomen te zijn, ga en verkoop alles wat u hebt, en geef het de armen en u zult een schat hebben in de hemelen, en kom achter Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיְהִי כְּשִׁמּוּעַ הַבָּחוּר הָלַךְ זָעֵף לְפִי שֶׁלֹא הָיָה לוֹ קָרְקָעוֹת רַבּוֹת
      </p>
      <p class="nl">
        
          En het gebeurde als de jongeling dit hoorde, ging hij terneergeslagen omdat hij niet veel grond had.
        
      </p>
      <p class="margin">
        
          ‘de jongeling’, in enkele versies van Shem Tov staat: ‘de wijze’, zie vers 20<br />‘terneergeslagen’ kan ook vertaald worden als: ‘boos’<br />‘veel grond’, letterlijk: ‘veel gronden’, bedoelende dat de jongeling veel geld had en weinig erfgrond. Erfgrond mag je niet verkopen, zie Lev. 25:23
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיֹּאמֶר יֵשׁוּעַ לְתַלְמִידָיו אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁכָּבֵד לְעָשִׁיר לְבָא בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          En Jesjoea zei tot Zijn leerlingen: amen, Ik zeg tot jullie, dat het voor een rijke zwaar is om te komen in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְעוֹד אֲנִי אוֹמֵר לָכֶם שֶׁיּוֹתֵר קַל לְבָא הַגָּמָל בָּעַיִן הַמַּחַט מִן הֶעָשִׁיר בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          En opnieuw zeg Ik tot jullie, dat het makkelijker is dat de dromedaris komt door het oog van de naald, dan dat de rijke komt in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          ‘dromedaris’ (ghamal), het Grieks heeft κάμηλος (kamelos), waar het Nederlandse woord ‘kameel’ vandaan komt, echter de dromedaris wordt bedoeld. <br />Vergelijkbaar is de uitdrukking uit de Babylonische Talmoed (Berakhot 55b): “Ze tonen niemand een palmboom van goud, noch een olifant gaat door het oog van een naald”
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְיִשְׁמְעוּ הַתַּלְמִידִים וַיִּפָּלֵאוּ מְאֹד וְיֹאמְרוּ לִיֵשׁוּעַ אִם כֵּן מִי יוּכָל לְהוֹשִׁיעַ
      </p>
      <p class="nl">
        
          En de leerlingen hoorden dit, en waren zeer verwonderd, en zeiden tot Jesjoea: zo ja, wie kan verlost worden?
        
      </p>
      <p class="margin">
        
          ‘verwonderd’ in enkele versies van Shem Tov staat: ‘verbaasd’ of ‘verbijsterd’<br />Er is woordverband tussen ‘Jesjoea’ en ‘verlost worden’ (l<sup>e</sup>hosji’a)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְיַפָּן אֲלֵיהֶם וַיֹּאמֶר נֶגֶד בְּנֵי אָדָם הַדָּבָר קָשֶׁה וְנֶגֶד הָאֱלֹהִים הַכֹּל דָּבָר קַל לִהְיוֹת
      </p>
      <p class="nl">
        
          En Hij keerde zich om tot hen en zei: voor de zonen van mensen is de zaak moeilijk, maar voor de Elohiem is elke zaak eenvoudig om te gebeuren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וַיַּעַן פֶּיטְרוֹשׁ וַיֹּאמֶר לוֹ הִנֵּה עָזַבְנוּ הַכֹּל לִילָךְ אַחֲרֶיךָ מָה יִהְיֶה לָנוּ
      </p>
      <p class="nl">
        
          En Petros antwoordde en zei tot Hem: zie, we hebben alles achtergelaten om achter U te gaan, wat wordt van ons?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם יֵשׁוּעַ אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁאַתֶּם הַהוֹלְכִים אַחֲרִי שֶׁבַּיּוֹם הַדִּין כַּאֲשֶׁר יָשַׁב הָאָדָם עַל כִּסֵּא כְּבוֹדוֹ תֵּשְׁבוּ גַּם אַתֶּם עַל שָׁנִים עֶשֶׂר כִּסְּאוֹת שָׁנִים עֶשֶׂר שִׁבְטֵי יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hen: amen, Ik zeg tot jullie, dat die Mij volgen op de dag van het oordeel, wanneer de Mens zit op de troon van Zijn eer, jullie zullen ook zitten op twaalf tronen van de twaalf stammen van Jisraël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְכָל הָעוֹזֵב בֵּיתוֹ אֶחָיו וְאַחְיוֹתָיו וְאָבִיו וְאִמּוֹ וְאִשְׁתּוֹ וּבָנָיו עַל שְׁמִי יְקַבֵּל מֵאָה כְּמוֹתָם וּמַלְכוּת שָׁמַיִם יָרַשׁ
      </p>
      <p class="nl">
        
          En al die zijn huis verlaat, en zijn broers, en zijn zussen, en zijn vader, en zijn moeder, en zijn vrouw, en zijn zonen, vanwege Mijn Naam: hij ontvangt honderdvoud zoals hen en zal het Koninkrijk van de Hemelen beërven.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen “zijn huis” (beejto) en “zijn zonen” (oevanav), en tussen “zijn broers” (echav) en “zijn zussen” (v<sup>e</sup>achjotav).<br />‘honderdvoud’, ontbreekt in enkele Shem Tov en enkele Grieks handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        רַבִּים רִאשׁוֹנִים יִהְיוּ אַחֲרוֹנִים וְרַבִּים אַחֲרוֹנִים יִהְיוּ רִאשׁוֹנִים
      </p>
      <p class="nl">
        
          Velen eersten zullen laatsten zijn, en velen laatsten zullen eersten zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>