<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר נוֹלַד יֵשׁוּעַ בְּבֵית־לֶחֶם יְהוּדָה בִּימֵי הוֹרוֹדוֹס הַמֶּלֶךְ <br />וְהִנֵּה חוֹזִים בַּכּוֹכָבִים בָּאִים מִמִּזְרַח לִיְרוּשָׁלַם
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea geboren werd in Beejt-Lechem, in J<sup>e</sup>hoedah, in de dagen van Herodes, de koning. En zie! Zieners van sterren kwamen uit het oosten in J<sup>e</sup>roesjalajiem aan,
        
      </p>
      <p class="margin">
        
          Beejt-Lechem: (Bethlehem) huis van brood<br />Herodes, dat is Herodes de Grote of Herodes I, een Edomiet<br />Het woord ‘zieners’ kan ook vertaald worden met ‘astrologen’, in Griekse handschriften staat ‘magiërs’ (μαγοι)<br />J<sup>e</sup>roesjalajiem: (Jeruzalem) fundering van vrede
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        לֵאמֹר אַיֵּה מֶלֶךְ הַיְהוּדִים הַנּוֹלָד רָאִינוּ כוֹכָבוֹ בַּמִּזְרָח וּבְמַתָּנוֹת חֲשׁוּבוֹת בָּאוּ לְהִשְׁתַּחֲווֹת לוֹ
      </p>
      <p class="nl">
        
          door te zeggen: “Waar is de Koning van de J<sup>e</sup>hoediem geboren? Wij hebben Zijn ster in het oosten gezien, en belangrijke geschenken gebracht om voor Hem te buigen.”
        
      </p>
      <p class="margin">
        
          Buigen, letterlijk: ‘zich diep buigen in aanbidding’ of ‘zich neerwerpen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְשָׁמַע הוֹרוֹדוֹס הַמֶּלֶךְ וַיּבַהֵל וְכֹל יוֹשְׁבֵי יְרוּשָׁלַם עִמּוֹ
      </p>
      <p class="nl">
        
          Maar Herodes, de koning, hoorde, en hij schrok, en alle bewoners van J<sup>e</sup>roesjalajiem met hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְיִקְבּוֹץ כֹּל גְּדוֹלָיו הַחֲכָמִים וְהַסוֹפְרִים וַיְבַקֵּשׁ מֵהֶם אִם הָיוּ יוֹדְעִים בְּאֵיזֶה מָקוֹם נוֹלָד הַמַשִׁיחַ
      </p>
      <p class="nl">
        
          En hij verzamelde al zijn edelen, de wijzen en schriftgeleerden en hij vroeg aan hun wat zij wisten van de plaats waar de Messias geboren wordt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וַיַעֲנוּ אֵלָיו בְּבֵּית־לֶחֶם יְהוּדָה כִּכְתִיב עַל פִּי הַנָּבִיא
      </p>
      <p class="nl">
        
          En zij antwoordden: in Beejt-Lechem J<sup>e</sup>hoedah, zoals geschreven staat en over de mond van de profeet:
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Micha (afkorting van MichaJAH: wie is gelijk aan JHWH?), deze naam wordt wel genoemd in de Codex Ephraemi Rescriptus, een Grieks handschrift.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאַתָּה בֵית־לֶחֶם יְהוּדָה אֶפְרָתָה אֶרֶץ יְהוּדָה הֵן אַתָּה צָעִיר בְּאַלְפֵי יְהוּדָה מִמְּךָ לִי יֵצֵא לִהְיוֹת מוֹשֵׁל בְּיִשְׂרָאֵל
      </p>
      <p class="nl">
        
          “En u, Beejt-Lechem J<sup>e</sup>hoedah, land van Ephratah, zie! u bent onbeduidend onder de duizenden in J<sup>e</sup>hoedah, uit u zal Mij voortkomen om een Heerser te zijn in Jisraël.”
        
      </p>
      <p class="margin">
        
          Ephratah: (Efratha) vruchtbaarheid<br />Jisraël: (Israël) El strijdt
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אָז קָרָא הַמֶּלֶךְ הוֹרוֹדוֹס לַקּוֹסְמִים בַּסָתֶר וְיִשְׁאַל מֵהֶם הֵיטֵב זְמָן רָאִיתָ הַכּוֹכָב לָהֶם
      </p>
      <p class="nl">
        
          Toen riep de koning Herodes onopgemerkt de waarzeggers, en hij ondervroeg hen grondig op welke tijd zij de ster gezien hadden.
        
      </p>
      <p class="margin">
        
          ‘waarzeggers’, dit is een ander woord dan in vers 1.<br />‘tijd’, letterlijk: ‘vastgestelde tijd’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיִּשְׁלָחֵם לְבֵית־לֶחֶם וַיֹּאמֶר אֲלֵיהֶם לְכוּ וְשָׁאֲלוּ הֵיטֵב בְּעַד הַיֶּלֶד וּבְמוֹצַאֲכֶם אוֹתוֹ הִגִּידוּ לִי וְגַם אֲנִי אָבֹא אֵלָיו לְהִשְׁתַּחֲווֹת
      </p>
      <p class="nl">
        
          En hij zond hen naar Beejt-Lechem en zei tot hen: “Doe grondig onderzoek naar het Kind. En in jullie vinden van Hem, vertel dat aan mij. Zodat ook ik kan komen naar Hem om te buigen.”
        
      </p>
      <p class="margin">
        
          ‘buigen’, letterlijk: eerbied betuigen door diep te buigen
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַיִּשָּׁמְעוּ אֶל הַמֶּלֶךְ וְיֵלְכוּ וְהִנֵּה הַכּוֹכָב אֲשֶׁר רָאוּ בַּמִּזְרָח הוֹלֵךְ לִפְנֵיהֶם עַד בּוֹאָם אֶל הַמָּקוֹם וְכַאֲשֶׁר בָּאוּ בֵּית־לֶחֶם עָמַד נֶגֶד הַמָּקוֹם אֲשֶׁר שָׁם הַיֶּלֶד
      </p>
      <p class="nl">
        
          En zij hoorden naar de koning, en gingen. En zie! De ster, die zij gezien hadden in het oosten, ging voor hun aangezichten tot hun komen naar de plaats. <br />En zij kwamen in Beejt-Lechem, stond tegenover de plaats, daar waar het Kind was.
        
      </p>
      <p class="margin">
        
          ‘en zij kwamen in Beejt-Lechem’ komt niet voor in Griekse handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר רָאוּ אֶת־הַכּוֹכָב שָׂמְחוּ שִׂמְחָה גְּדוֹלָה עַד מְאֹד
      </p>
      <p class="nl">
        
          En het gebeurde toen zij de ster zagen, dat zij zich verheugden met zeer grote vreugde.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘zich verheugden’ (sjamchoe) en ‘vreugde’ (sjimchah)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיָּבִיאוּ אֶל הַבַּיִת וְיִמְצָאֻהוּ וְאֶת־מִרְיָם אִמּוֹ וַיִּכְרְעוּ לִפָנָיו וְיִּשְׁתַּחֲווּ לוֹ וַיִּפְתָּחוּ אֶת־אַמְתְּחוֹתֵיהֶם וַיָבִיוּ אֵלָיו מַתָּנוֹת זָהָב וּלְבוֹנָה וּמוֹר בְּלֹעֵז מִיְּרַא
      </p>
      <p class="nl">
        
          En zij kwamen in het huis, en zij vonden Hem en Mirjam, Zijn moeder, en zij kromden voor Zijn aangezicht, en zij bogen voor Hem. En zij openden hun zakken en brachten Hem geschenken: goud, wierook en mirre, in de vreemde taal: mirra.
        
      </p>
      <p class="margin">
        
          Het woord ‘zakken’ kan ook vertaald worden met ‘graanzakken’<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַיְצַווּ בַּחֲלוֹם מִהַמַלְאָךְ לְבִילְתִּי שׁוּב אֶל הוֹרוֹדוֹס וַיִפְנוּ דֶּרֶך אַחֶרֶת לָלָכֶת אֶל אַרְצָם
      </p>
      <p class="nl">
        
          En de Engel beval in een droom hen om niet terug te keren naar Herodes, maar dat zij zich omkeren via een andere weg om naar hun land te gaan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        הֵמָּה הוֹלְכִים וְהִנֵּה מַלְאַךְ יְהֹוָה נִרְאָה בַּחֲלוֹם אֶל יוֹסֵף לֵאמֹר קוּם וְקַח אֶת־הַנַּעַר וְאֶת־אִמּוֹ וּבְרַח לְמִצְרָיִם וְשָׁם תַּעֲמוֹד עַד אָמְרִי אֵלֶיךָ כִּי הוֹרוֹדוֹס יְבַקֵּשׁ אֶת־הַנַּעַר לַהֲרוֹג
      </p>
      <p class="nl">
        
          Zij gingen, en zie! De Engel van J<sup>e</sup>HOVAH verscheen in een droom aan Joséph door te zeggen: Sta op en neem de Jongen en Zijn moeder en vlucht naar Mitsrajiem. En blijf daar totdat Ik het u zal zeggen, want Herodes zoekt de Jongen om te doden.
        
      </p>
      <p class="margin">
        
          ‘de Jongen’, er wordt in dit vers niet gesproken over een kind, mogelijk was Jesjoea van de borst, zoals Jitschaq in Gen. 21:8<br />Mitsrajiem: (Egypte) ‘benauwdheden’, ‘nauwe plaats’ of ‘het land van de grenzen’, vernoemd naar de zoon van Cham, de zoon van Noach, zie Gen. 10:6
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וַיָּקָם וַיִּקַּח אֶת־הַנַּעַר וְאֶת־אִמּוֹ בַּלָיְלָה וַיִּלֶךְ לְמִצְרַיִם
      </p>
      <p class="nl">
        
          En hij stond op en hij nam de Jongen en Zijn moeder in de nacht en ging naar Mitsrajiem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיְהִי שָׁם עַד מֹת הוֹרוֹדוֹס לְגַמּוֹר מָה שֶׁנֶּאֱמַר עַל פִּי הַנָּבִיא וּמִמִּצְרָיִם קָרָאתִי לִבְנִי
      </p>
      <p class="nl">
        
          En het gebeurde daar tot aan de dood van Herodes tot vervulling wat gezegd is over de mond van de profeet: “En uit Mitsrajiem roep Ik Mijn Zoon.”
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Hosjea (Hosea), zijn naam betekent: verlossing<br />Citaat uit Hos. 11:1
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        אָז רָאָה הוֹרוֹדוֹס שִֶרָאוּ אוֹתוֹ הַקּוֹסְמִים וַיֵרַע אֵלָיו מְאֹד וַיִּתְעַצֵּב אֶל לֵבּוֹּ וַיְצַו וַיִּשְׁלַח לְכָל שָׂרָיו לַהֲרוֹג לְכָל הַיְּלָדִים אֲשֶׁר בְבֵית-לֶחֶם וּגְבוּלֶיהָ הַנּוֹלָדִים מִשְׁנֵי שְׁנַיִם וּלְמַטָּה כְּפִי הַזְּמָן אֲשֶׁר אָמְרוּ לוֹ הַקּוֹסְמִים שֶׁנּוֹלַד הַנַּעַר
      </p>
      <p class="nl">
        
          Toen zag Herodes dat de waarzeggers hem afwezen, en hij was zeer kwaad over zichzelf, en hij was gekwetst in zijn hart. En hij beval, en zond tot al zijn oversten om alle kinderen, die in Beejt-Lechem en haar gebied, te doden, de kinderen vanaf twee jaar en omlaag tot het uiteinde van de tijd, dat de waarzeggers aan hem gezegd hadden dat de Jongen geboren was.
        
      </p>
      <p class="margin">
        
          ‘afwezen’ is hier opgevat als ‘שרא’, niet als ‘ראה’.<br />Er is woordverband tussen ‘kinderen’ (hajeladiem) en ‘geboren’ (sjenolad).<br />‘tijd’, letterlijk: ‘vastgestelde tijd’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        אָז נְשַׁלֵם הַדָּבָר מָה שֶׁאָמַר יִרְמְיָה הַנָּבִיא
      </p>
      <p class="nl">
        
          Toen werd vervuld het woord wat door Jirm<sup>e</sup>JAH, de profeet, gezegd was:
        
      </p>
      <p class="margin">
        
          JirmeJAH of JirmeJAHOE: (Jeremia) JHWH grondvest
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        קוֹל בְּרָמָה נִשְׁמַע נְהִי בְּכִי תַּמְרוּרִים רָחֵל מִבַכָּה עַל בָּנֶיהָ מֵאֲנָה לְהִנָּחֵם עַל־בָּנֶיהָ כִּי אֵינֶנּוּ
      </p>
      <p class="nl">
        
          “Een stem wordt in Ramah gehoord, een verzuchting, een bitter gehuil. Rachél huilt over haar zonen, zij weigert zich getroost te worden over haar zonen, want zij zijn er niet”
        
      </p>
      <p class="margin">
        
          Citaat uit Jeremia 31:15<br />Ramah: (Rama) hoogte, ligt 8 km ten noorden van J<sup>e</sup>roesjalajiem, ongeveer 18 km van Beejt-Lechem.<br />Er is woordverband tussen "gehuil" (b<sup>e</sup>chie) en "huilt" (m<sup>e</sup>vakkah).<br />Rachél: (Rachel) ooi (vrouwelijk schaap), vrouw van Jaäqov, zij ligt begraven ten noorden van Beejt-Lechem, zie Gen. 35:16-20.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר מֹת הוֹרוֹדוֹס הַמֶּלֶךְ וּמַּלְאַךְ יְהֹוָה נִרְאָה בַּחֲלוֹם אֶל יוֹסֵף בְּמִצְרַיִם
      </p>
      <p class="nl">
        
          En het gebeurde toen Herodes, de koning, dood was, de Engel van J<sup>e</sup>HOVAH verscheen Joséph in een droom, in Mitsrajiem,
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘en het gebeurde’ (vajhie) en ‘JHWH’.<br />Herodus de Grote stierf in het jaar 1 voor de gangbare jaartelling, volgens Titus Flavius Josephus (Joséph ben MattitJAHOE)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        לֵאמֹר קוּם קַח אֶת־הַנַּעַר וְאֶת־אִמּוֹ וְלֶךְ אֶל אֶרֶץ יִשְׂרָאֵל כִּי מֵתוּ הַמְבַקְשִׁים אֶת־הַנַּעַר לְהָמִית
      </p>
      <p class="nl">
        
          door te zeggen: “Sta op, neem de Jongen en Zijn moeder en ga heen naar het land Jisraël, want die de Jongen zocht om te doden is dood.”
        
      </p>
      <p class="margin">
        
          ‘zocht’ kan ook vertaald worden met ‘opeisen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיָּקָם וַיִּקַּח אֶת־הַנַּעַר וְאֶת־אִמּוֹ וַיָּשׁוּבוּ לְאֶרֶץ יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          En hij stond op en hij nam de Jongen en Zijn moeder en keerde terug naar het land Jisraël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיִּשְׁמַע כִּי הוֹרְקַנוֹס שְׁמוֹ אַרְגֵילַאֹס מָלַךְ בִּיְהוּדָה תַּחַת הוֹרוֹדוֹס אָבִיו וַיִּרָא לָלֶכֶת שָׁם וִיזָרְזֵהוּ הַמַּלְאָךְ בַּחֲלוֹם וַיִּפֶן אֶל אֶרֶץ הַגָּלִיל
      </p>
      <p class="nl">
        
          Maar hij hoorde dat Horcanus, zijn naam is Archelaüs, koning in J<sup>e</sup>hoedah was in plaats van zijn vader Herodes, zodat hij vreesde om daar naar te gaan, maar hij werd aangespoord door de Engel in een droom, en hij wendde naar het land van Ghaliel.
        
      </p>
      <p class="margin">
        
          Archelaüs regeerde over J<sup>e</sup>hoedah, Sjomron (Samaria) en Edom (Idumea) tot het jaar 6 van de gangbare jaartelling toen hij door keizer Augustus werd afgezet en verbannen naar Vienna (Gallië). Zijn broer, Herodes Antipas, regeerde over Ghaliel en Perea.<br />Ghaliel: (Galilea) landstreek
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְיָּבֹא וְיִּשְׁכּוֹן בְּעִיר הַנִּקְרֵאת נַאזַרֵית לְקַייֵּם מָה שֶׁאָמַר הַנָּבִיא כִּי נַאְזַרֶת יִקָּרֵא
      </p>
      <p class="nl">
        
          En hij kwam, en ging wonen in de stad die genaamd Nazaret wordt, tot bekrachtiging wat gezegd is door de profeet: “Want Hij zal een Na’zaret genoemd worden.”
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Z<sup>e</sup>charJAH: (Zacharia) JHWH is gedachtig geweest
        
      </p>
    </div>
  
</div>