<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר שֶׁנוֹלַּד יֵשׁוּעַ בְּבֶּיִת-לֶחָם בְּעִיר יְהוּדָה בִּימֵי הוֹרוֹדוֹס הַמֶּלֶךְ <br />וְהִנֵה חוֹזִים בְּכּוֹכבִים בָאִים מִמִּזְרַח לְיְרוּשָׁלַם
      </p>
      <p class="nl">
        
          En het gebeurde dat Jeshua geboren werd in Bethlehem, een stad in Juda, in de dagen van Herodes, de koning.<br />En zie! Zieners van sterren uit het oosten kwamen in Jeruzalem aan.
        
      </p>
      <p class="margin">
        
          Bethlehem: Bàjit Lèchèm, broodhuis<br />Herodes, dat is Herodes de Grote of Herodes I, een Edomiet, de nikud (klanktekens) zijn overgenomen van Münster.<br />Het woord ‘zieners’ kan ook vertaald worden met ‘astrologen’, in de DuTillet en Münster staat ‘tovenaars’ (כְּשָׁפִים), dit woord komt o.a. voor in Ex. 7:11 en Dan. 2:2. In Textus Receptus staat ‘magiërs’ (μαγοι).<br />Jeruzalem: Jêroeshálim, Jêroeshálàjêmáh of Jêroeshálà’im, stad van vrede.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        לֵאמֹר :אַיֵה מֶלֶךְ עַל הַיְהוּדִים הַנוֹלָד כִּי רָאִינוּ סָבְבוּ כוֹכָבוֹ בְּמִזְרַח וְבְּמַתָּנוֹת חְשׁוֹבוֹת בָּאוּ לְהִשְׁתַּחֲווֹת לוֹ
      </p>
      <p class="nl">
        
          Zij zeiden: ‘Waar is de Koning van de Joden geboren? Want wij hebben Zijn ster in het oosten gezien en zijn gekomen om voor Hem te buigen. En hebben geschenken meegenomen.’
        
      </p>
      <p class="margin">
        
          De titel ‘Koning van de Joden’ komt terug in Matth. 27:11, 29 en 37. Letterlijk: Koning over de Joden.<br />Buigen, letterlijk: ‘zich diep buigen in aanbidding’ of ‘zich neerwerpen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְשָׁמַע הוֹרוֹדוֹס הַמֶּלֶךְ וְיּבָּהֵל נתִּמָּלֵא חֵמָּה הוּא וְכָל יוֹשְׁבֵי יְרוּשָׁלַם עַמוֹ
      </p>
      <p class="nl">
        
          Maar toen Herodes, de koning, dat hoorde, was hij ontsteld en ontstak in woede. En alle bewoners van Jeruzalem waren ontsteld met hem.
        
      </p>
      <p class="margin">
        
          Ontsteld, letterlijk: ‘schrikken’ en ‘verbijsterd’<br />Ontstak, letterlijk: ‘vallen’ en ‘neerkomen’<br />Woede, letterlijk: ‘woede’, ‘toorn’ en ‘grimmigheid’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְיִקִבּוּץ אֶת כָּל הָכֹּהֲנִים וְאֵת סוֹפְרֵי הָעָם וְיִבִּקֵשׁ מֶהֶם אִם הָיוֹ יוִדֻעִים בְּאיזָה מֶקוֹם נוֹלָד הַמָּשִׁיחַ
      </p>
      <p class="nl">
        
          En hij verzamelde alle priesters en schriftgeleerden van het volk en hij vroeg aan hun wat zij wisten van de plaats waar de Messias geboren wordt.
        
      </p>
      <p class="margin">
        
          Vroeg, letterlijk: ‘vragen’ of ‘eisen’, in de DuTillet en Münster staat ‘opeisen’ (דְרוֹשׁ)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְיַעֲנוּ אֵלָיו בְּבַּיִת-לֶחֶם יְהוּדָה כֹכָּתַיּב עַל פִּי הַנָּבִיא
      </p>
      <p class="nl">
        
          En zij antwoordden: in Bethlehem Juda, zoals geschreven staat en over de mond van de profeet gesproken:
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Micha (afkorting van Micha-JAHU: wie is gelijk aan JAHWEH?)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאַתָּה בַּיִת לֶחֶם יְהוּדָה אֶפְרָתָה אֶרֶץ יְהוּדָה הֵן אַתָּה צָעִיר בְּאַלְפֵי יְהוּדָה מְמָךְ לִי יָצָא לְהֱיוֹת מוֹשֵׁל בְּיִשׂרָאֵל
      </p>
      <p class="nl">
        
          “En u Bethlehem Juda, land van Efratha, zie! u bent onbeduidend onder de duizenden in Juda, uit u zal Mij voortkomen om een heerser te zijn in Israël.”
        
      </p>
      <p class="margin">
        
          Efratha: vruchtbaarheid<br />Israël, Jisrá’èl: God strijdt<br />In DuTillet en Münster staat ‘Mijn volk Israël’ (בְּעַמִי יִשׂרָאֵל)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אָז קָרָא הַמֶּלֶךְ הוֹרוֹדוֹס לְקוֹסְמִים בְּסֵתֶר וְיְשָׁאַל מֵהֶם הֵיטֵב זְמָן רְאִית הַכּוֹכָב לָהֶם
      </p>
      <p class="nl">
        
          Toen riep de koning Herodes onopgemerkt de zieners tot zich en hij ondervroeg hen grondig op welke tijd zij de ster gezien hadden.
        
      </p>
      <p class="margin">
        
          ‘zieners’ is in dit vers een ander woord dan in vers 1: ‘waarzeggers’ (קוֹסְמִים), in DuTillet en Münster staat ‘tovenaars’ (כְּשָׁפִים).<br />‘tijd’, letterlijk: ‘vastgestelde tijd’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיְשַׁלְּחָם לְבַּיִת-לֶחֶם וַיּאָמַר אֵלַיהֵם לְכוּ וְשִׁאֵלוּ הֵיטֵב בַּעַד הַיֶלֶד וְבְּמוֹצַאֲכֶם אוֹתוֹ הִגִּידוּ לִּי וְגִּם אֲנִי אַבֹא אֲנִיוּ לְהִשְׁתַּחֲווֹת
      </p>
      <p class="nl">
        
          En hij stuurde hen naar Bethlehem en zei hen: doe grondig onderzoek naar het geboren Kind. En wat jullie hebben onderzocht, bericht dat aan mij. Opdat ook ik kan komen naar Hem om voor Hem te buigen.
        
      </p>
      <p class="margin">
        
          ‘bericht’ staat in gebiedende wijs<br />‘buigen’, letterlijk: eerbied betuigen door diep te buigen
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַיִּשָּׁמִעוּ אֶל הַמֶּלֶךְ וְיֵלֵכוּ וָהִנֵּה הַכּוֹכָב אֲשֶׁר רָאוּ בְמֵזְרַח הוֹלֵךְ לִפְנֵיהָם עַד בוֹאֶם אֶל הַמָקוֹם וְכְאַשֵׁר בַּאוּ בַּיִת-לֶחֶם עָמַד מְמַּעל נֶגֶד הַמָקוֹם אֲשֶׁר שָׁם הַיֶלֶד
      </p>
      <p class="nl">
        
          En toen zij de koning aangehoord hadden, gingen zij op weg. En zie! De ster die zij gezien hadden in het oosten ging hen voor naar de plaats.<br />En wees hun de weg naar Bethlehem en ging staan boven de plaats waar het Kind was.
        
      </p>
      <p class="margin">
        
          ‘En wees hun de weg naar Bethlehem’ komt niet voor in Textus Receptus, DuTillet en Münster.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר רָאוּ אֵת הַכּוֹכָב שָׂמְחוּ שִׂמְחָה גְּדוּלָּה עַד מְאֹד
      </p>
      <p class="nl">
        
          En het gebeurde toen zij de ster zagen, dat zij zich verheugden met zeer grote vreugde.
        
      </p>
      <p class="margin">
        
          ‘zich verheugden’ kan ook vertaald worden als ‘feest vieren’<br />Er is woordverband tussen ‘zich verheugden’: שָׂמְחוּ (sjamê’choe) en ‘vreugde’: שִׂמְחָה (sjimê’chah)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיָבִיאוּ אֶל הַבַּיִת וַיִמְצְאָהוּ וְאֵת מִרְיָם אִמּוֹ וַיִּכְרְעוּ לִפְנֵיוּ וַיִּשְׁתַּחֲווּ לוֹ וַיִּפְתְּחוּ אֵת אֹמְתְּחוֹתֵיהֶם וְיָבִיוּ אֵלַיוּ מַתָּנוֹת אֵת זָהָב וְאֵת לְבוֹנָה וָמוֹר בְלֹעֵז מִירָא
      </p>
      <p class="nl">
        
          En binnengekomen in het huis vonden zij Mirjam, Zijn moeder, en bogen zij zich eerbiedig voor Hem. En zij openden hun zakken en brachten hem geschenken: goud, wierook en mirre. Door vreemd respect.
        
      </p>
      <p class="margin">
        
          ‘bogen’, letterlijk: eerbied betuigen door diep te buigen, zie ook vers 8<br />Het woord ‘zakken’ kan ook vertaald worden met ‘graanzakken’, in DuTillet en Münster staat ‘schatten’ of ‘rijkdommen’ (אוֹצָרוֹתְם)<br />Voor het woord ‘brachten’ staat in de DuTillet ‘nadering doen’ of ‘offeren’ (יַקְרִיב)<br />De laatste twee woorden zijn niet vertaald vanwege onduidelijke betekenis
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַיְצַוּוּ בַּחֲלוֹם לְבִלְתִּי שׁוּב יְרוּשָׁלַם אֶל הוֹרוֹדוֹס מְהַמַלְאָךְ אֵמֶר לָהֵם וַיִּפְנוּ דֶּרֶךְ אַרְצָם בְּדֶּרֶך אַחֶרֶת
      </p>
      <p class="nl">
        
          En in een droom gebood de Engel hen om niet terug te keren naar Jeruzalem, naar Herodes, maar om terug te keren naar hun land via een andere weg.
        
      </p>
      <p class="margin">
        
          In DuTillet staat voor het woord ‘droom’: ‘ingesloten in een diepe slaap’ waarna er staat: ‘En zie! De Engel verscheen aan hen’<br />‘gebood’ kan ook vertaald worden met ‘gebieden’ en ‘opdragen’, in DuTillet staat: ‘zorg dat je’ (הִשָּׁמְרוּ)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַמֵאִחַר הֵמָּה הוֹלֵכִים וְהִנֵּה מַלְאָךְ יַהְוֶה נִרְאָה אֶל יוֹסֵף בְּחֲלוֹם לֵאמֹר קוּם וְקָח אֵת הַנַעַר וְאֵת אִמּוֹ וּבְרַח לְמִצְרַיִם וְשָׁם תעָמוֹד עַד אָמַרִי אֵלֶיךָ כִּי הוֹרוֹדוֹס יְבַקֵּשׁ אֵת הַנַעַר לְהֲרוֹג
      </p>
      <p class="nl">
        
          En nadat zij vertrokken waren, en zie! De Engel van JAHWEH verscheen aan Jozef in een droom en zei: Sta op en neem de Jongen en zijn moeder en vlucht naar Egypte. En blijf daar totdat Ik het u zal zeggen, want Herodes zoekt de Jongen om het te doden.
        
      </p>
      <p class="margin">
        
          ‘de Jongen’, er wordt in dit vers niet gesproken over een kind, mogelijk was Jeshua van de borst, zoals Izak in Gen. 21:8.<br />Egypte: Mitsraïm, ‘nauwe plaats’ of ‘het land van de grenzen’<br />‘zoeken’ kan ook vertaald worden met ‘opeisen’<br />‘om het te doden’, in Münster staat: ‘maar tot Zijn (bedoelende de Jongen) ondergang’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְיִּקַץ וַיַּעַשׁ כַּאֲשֶׁר אָמַר לוֹ הַמַלְאָךְ וְיִקָח אֵת הַנַעַר וְאֵת אִמּוֹ בְּלָיְלָה וַיִּלֶךְ מִצְרַיִם
      </p>
      <p class="nl">
        
          En wakker geworden deed hij zoals de Engel gezegd had en hij nam de Jongen en Zijn moeder in de nacht en ging naar Egypte.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיְהִי שָׁם עַד מֵת הוֹרוֹדוֹס לְגְמוֹר מָה שֶׁנֶאֱמַר מִיַהְוֶה עַל פִי הַנָבִיא הָאֹמֶר :וּמִמִּצְרַיִם קָרָאתִי לִבְנִי
      </p>
      <p class="nl">
        
          En het gebeurde tot aan de dood van Herodes dat in vervulling ging wat gesproken is door JAHWEH over mond van de profeet dit woord: “En uit Egypte roep Ik mijn Zoon.”
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Hosea, zijn naam betekent: verlossing<br />‘dit woord’, letterlijk ‘het woord’, kan ook vertaald worden met: ‘belofte’, ‘plan’ of ‘besluit’<br />Citaat uit Hos. 11:1, het laatste deel van dat vers.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        אָז רָאָה הוֹרוֹדוֹס שִׁרְאוּ אוֹתוֹ הַקוֹסְמִים וְיִרַע אֵלַיוּ מְאֹד וַיִּתְעַצֵּב אֶל לֵבוּ וַיְצַו וַיִּשְׁלַח לְכֹּל שָׂרָיו לְהָרוֹג לְכֹּל הַיְלָדִים אֲשֶׁר בְּבַּיִת-לֶחֶם וּגְּבוּלֶיהָ הַנוֹלָדִים מְזְמָן אֲשֶׁר אִמְרוּ לוֹ הַקוֹסְמִים שְׁנוֹלַד הַנַעַר
      </p>
      <p class="nl">
        
          Toen Herodes zag dat de zieners niet terugkwamen, werd hij kwaad en was zeer gekwetst in zijn hart. Hij beval en zond al zijn oversten om alle kinderen in Bethlehem en in het gebied rondom te doden, die geboren waren vanaf de tijd dat de zieners hem gezegd hadden dat de Jongen geboren was.
        
      </p>
      <p class="margin">
        
          ‘de zieners niet terugkwamen’ in DuTillet: ‘toen de tovenaars hem bedrogen hadden’.<br />‘kinderen’, in DuTillet en Münster staat: jongens.<br />‘die geboren waren vanaf de tijd’ in DuTillet: ‘vanaf twee jaar en omlaag’.<br />‘tijd’, letterlijk: ‘vastgestelde tijd’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        אָז נִשָׁלֵם הַדָּבָר מָה שְׁאָמַר יִרְמְיָהוּ הַנָּבִיא
      </p>
      <p class="nl">
        
          Toen werd vervuld het woord wat door Jeremia, de profeet, gezegd was:
        
      </p>
      <p class="margin">
        
          Jeremia: Jirêmê-JAH of Jirêmê-JAHU, JAHWEH grondvest
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        קוֹל בְּרָמָה נִשְׁמָע נְהִי בְּכִי תַמְרוּרִים רָחֵל מְבַכָּה עַל בָּנֶיהָ מֵאֲנָה לְהִנָּחֵם עַל בָּנֶיהָ כִּי אֵינֶנּוּ
      </p>
      <p class="nl">
        
          “Een stem wordt gehoord in Rama, een klaagzang, een bitter geween. Rachel weent over haar zoon, zij weigert zich te laten troosten over haar zoon, maar Hij is er niet”
        
      </p>
      <p class="margin">
        
          Citaat uit Jeremia 31:15<br />Rama: hoogte. Rama in Benjamin ligt 8 km ten noorden van Jeruzalem, ongeveer 18 km van Bethlehem.<br />Rachel: Ráchèl, ooi, vrouw van Jakob, zie hoofdstuk 1 vers 2, zij ligt begraven ten noorden van Bethlehem, zie Gen. 35:16-20.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר מֵת הֶורוֹדְוס הַמֶלֶךְ הִנֵה וְמַלְאָך יהוה נִרְאָה מְחֲלוֹם אֶל יוֹסֵף בְמִצְרַיִם
      </p>
      <p class="nl">
        
          En het gebeurde toen Herodes, de koning, dood was, zie! de Engel van JAHWEH verscheen Jozef in een droom, in Egypte,
        
      </p>
      <p class="margin">
        
          Herodus stierf in het jaar 1 voor de gangbare jaartelling, volgens Titus Flavius Josephus (Jozef ben Matit-JAHU)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        לֵאמֹר קוּם קָח אֵת הַנַעַר וְאֵת אִמּוֹ וְלֵךְ אֶל אֶרֶץ יִשְׂרָאֵל כִּי מֵתוֹ הַמְבַקְשִׁים אֵת הַנַעַר לְהָמִית
      </p>
      <p class="nl">
        
          En zei: Sta op, neem de Jongen en Zijn moeder en ga heen naar het land Israël, want hij die de Jongen zocht te laten doden is dood.
        
      </p>
      <p class="margin">
        
          ‘zocht’ kan ook vertaald worden met ‘opeisen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיָּקָם וַיִּקַּח אֵת הַנַעַר וְאֵת אִמּוֹ וְיָשׁוּבוּ אֶל אֶרֶץ יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          En hij stond op en hij nam de Jongen en Zijn moeder en keerde terug naar het land Israël.
        
      </p>
      <p class="margin">
        
          In DuTillet staat voor het woord ‘terugkeren’ wat vertaald kan worden met: ‘brengen’ en ‘doen binnengaan’.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיִּשָׁמַע כִּי הוֹרְקַנוֹס שְׁמוֹ אַרגֵילַאֻס מֶלֶךְ בְּיְהוּדָה תַּחַת הוֹרוֹדוֹס אָבִיו וַיִּרָא לָלֶכֶת שָׁם וַיִּזָהַר הַמַלְאָךְ בְּחֲלוֹם וַיֶּפֶן אֶל אֶרֶץ הַגָּלִיל
      </p>
      <p class="nl">
        
          En hij hoorde toen dat Horcanus, zijn naam is Archelaüs, koning in Juda was in plaats van zijn vader Herodes. En hij vreesde daar naar terug te gaan, maar hij werd vermaant door de Engel in een droom om te gaan naar het land van Galilea.
        
      </p>
      <p class="margin">
        
          Archelaüs wordt DuTillet geschreven als: אַרקֵילַאוֹס, dat betekent: leider van mijn volk. Hij regeerde over Juda, Samaria en Idumea (Edom) tot het jaar 6 van de gangbare jaartelling toen hij door keizer Augustus werd afgezet en verbannen naar Vienna (Gallië). Zijn broer, Herodes Antipas, regeerde over Galilea en Perea.<br />Galilea, gálil: landstreek, het omvatte het gebied van Issachar, Naftali, Zebulon en Aser, overgenomen van DuTillet en Münster, in Shem Tov staat: Gilgal.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיָּבֵא וַיַּשְׁכּוֹן בְּעִיר הַנִּקְרֵאת נאָזָרִית לְקַיֵּים מָה שְׁאָמַר עַל פִּי הַנָבִיא נָאזָרֶת יִקָּרֵא
      </p>
      <p class="nl">
        
          En hij ging wonen in de stad genaamd Nazareth, waardoor in vervulling ging wat gezegd was over de mond van de profeet: Hij zal een Nazarener genoemd worden.
        
      </p>
      <p class="margin">
        
          Nazareth, is hier volgens de oude spelling, in DuTillet staat: נָצְרַת (Nátsr’àt), hierdoor is woordverband met נֵצֶר (nétsèr): ‘spruit’, ‘loot’ of ‘uitloper’.<br />‘de profeet’ is hier de profeet Zacharia (afkorting van Zekhàr-JAHU: JAHWEH is gedachtig geweest)
        
      </p>
    </div>
  
</div>