<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אַחֵר זֶה אָמַר יֵשׁוּעַ לְתַלְמִידָיו מַלְכוּת שָׁמַיִם דּוֹמֶה לָאָדָם יָחִיד אָדוֹן בֵּיתוֹ הַמַּשְׁכִּים בַּבָּקָר לַשְׂכּוֹר פּוֹעֲלִים לְכַרְמוֹ
      </p>
      <p class="nl">
        
          Na dit zei Jesjoea tot Zijn leerlingen: het Koninkrijk van de Hemelen is gelijk als een zeker mens, een heer van zijn huis, die vroeg in de ochtend arbeiders inhuurde voor zijn wijngaard.
        
      </p>
      <p class="margin">
        
          ‘zeker’, letterlijk: ‘enig’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְהִשְׂכִירָם בַּדִּינָר אֶחָד לַיּוֹם וְיִשְׁלְחֵם לְכַרְמוֹ
      </p>
      <p class="nl">
        
          En hij huurde hen in voor één denarius per dag en hij zond hen naar zijn wijngaard.
        
      </p>
      <p class="margin">
        
          ‘denarius’ is een Romeinse munteenheid, welke bekend is als ‘zilverling’, een dagloon voor een arbeider
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְיָצָא בַּשְּׁלִישִׁית הַיּוֹם וְיָרֵא אֲחֵרִים עוֹמְדִים בְּטֵלִים בַּשּׁוּק
      </p>
      <p class="nl">
        
          En hij ging uit op het derde uur van de dag, en hij zag anderen staan werkloos op de markt.
        
      </p>
      <p class="margin">
        
          ‘het derde uur’, letterlijk: ‘het derde’, dat is ongeveer om 9.00 uur, afhankelijk van het jaargetijde
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם לְכוּ גַּם אַתֶּם לְכַרְמִי וְהָרָאוּי אֶתֵּן לָכֶם וַיֵּלֵכוּ
      </p>
      <p class="nl">
        
          En hij zei tot hen: gaan jullie ook naar mijn wijngaard en wat geschikt is zal ik tot jullie geven. En zij gingen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְיָצָא עוֹד בַּצְּהָרִים וְגַם בַּשָּׁעָה הַתְּשִׁיעִית וַיַּעַשׂ כֵּן
      </p>
      <p class="nl">
        
          En hij ging opnieuw uit op het middaguur en ook op het negende uur, en hij deed hetzelfde.
        
      </p>
      <p class="margin">
        
          ‘middaguur’ wordt ook wel ‘het zesde uur’ genoemd, dat is ongeveer om 12.00 uur, afhankelijk van het jaargetijde<br />‘het negende uur’, dat is ongeveer om 15.00 uur, afhankelijk van het jaargetijde
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וּבְאַחַת עֲשָׂרָה שָׁעָה יָצָא גַּם כֵּן וְיִמְצָא אֲחֵרִים עוֹמְדִים וַיֹּאמֶר לָהֶם מַדּוּעַ אַתֶּם עוֹמְדִים בַּטֵלִים כָּל הַיּוֹם
      </p>
      <p class="nl">
        
          En op het elfde uur ging hij ook uit, en hij vond anderen staan en zei tot hen: waarom staan jullie werkloos heel de dag?
        
      </p>
      <p class="margin">
        
          ‘het elfde uur’, dat is ongeveer om 17.00 uur, afhankelijk van het jaargetijde
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְיַעֲנוּ לוֹ שֶׁלֹּא שָׂכַרְנוּ אָדָם וַיֹּאמֶר אֲלֵיהֶם לְכוּ גַּם אַתֶּם לְכַרְמִי
      </p>
      <p class="nl">
        
          En zij antwoorde hem: omdat geen mens ons heeft ingehuurd. Maar hij zei tot hen: gaan jullie ook naar mijn wijngaard.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וַיְהִי לָעֵת עֶרֶב וַיֹּאמֶר בְּעַל הַכֶּרֶם לְנִיצָּב עַל הַפּוֹעֲלִים קָרָא אוֹתָם וְאִתָּן לָהֶם שְׂכָרֶם וְיָחֵל בָּאַחֲרוֹנִים וְיָכֹל בָּרִאשׁוֹנִים
      </p>
      <p class="nl">
        
          En het gebeurde tegen de avond dat de eigenaar van de wijngaard zei tot de opzichter over de arbeiders: roep hen en ik geef hen hun loon. En hij begon bij de laatsten en eindigde bij de eersten.
        
      </p>
      <p class="margin">
        
          ‘avond’ wordt ook wel ‘het twaafde uur’ genoemd, dat is ongeveer om 18.00 uur, afhankelijk van het jaargetijde<br />‘eindigde’, letterlijk: ‘voltooien’ en ‘afmaken’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְהָאַחֲרוֹנִים קִבְּלוּ דִּינָר אֶחָד
      </p>
      <p class="nl">
        
          En de laatsten ontvingen één denarius.
        
      </p>
      <p class="margin">
        
          In Peshitta en Griekse handschriften staat dit vers als volgt: ‘en als zij kwamen, die op het elfde uur ingehuurd waren, ontvingen zij elk een denarius’<br />‘ontvingen’, letterlijk: ‘nemen’ en ‘aanvaarden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְהָרִאשׁוֹנִים חָשָׁבוּ לָקַחַת יוֹתֵר וְהוּא נָתַן לַכֹּל אֶחָד דִּינָר
      </p>
      <p class="nl">
        
          En de eersten dachten meer te ontvangen, hij gaf tot allen één denarius.
        
      </p>
      <p class="margin">
        
          ‘te ontvangen’, letterlijk: ‘nemen’ en ‘aannemen’, een ander woord dan in vers 9<br />In Ms. Add. no. 26964 (Britse Bibliotheek, Londen) en Ms. Opp. Add. 4° 72 (Bodleian Bibliotheek, Oxford) staat: ‘En de eersten dachten meer te ontvangen, maar hij gaf hen allen niet meer, maar een denarius’ en in Ms. 2234 (Marx 15) Bibliotheek van de Joodse Theologische Seminarie van Amerika, New York staat: ‘En de eersten wilden meer ontvangen, hij gaf hun één denarius’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וִילוֹנוּ הָרִאשׁוֹנִים עַל בְּעַל הַכֶּרֶם
      </p>
      <p class="nl">
        
          En de eersten morden tegen de eigenaar van de wijngaard
        
      </p>
      <p class="margin">
        
          ‘eigenaar van de wijngaard’, in de Peshitta staat ‘de eigenaar’ en in de Griekse handschriften staat ‘de heer van het huis’ (οἰκοδεσπότου)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        לֵאמֹר אֵלּוּ הָאַחֲרוֹנִים עָמְלוּ שָׁעָה אַחַת וְהִשְׁוִּית אוֹתָם עִמָּנוּ שֶׁעִמְלְנוּ כָּל הַיּוֹם וְהַחוֹרֶב
      </p>
      <p class="nl">
        
          door te zeggen: deze laatsten hebben maar één uur gezwoegd, en u hebt hen gelijk gemaakt aan ons, die de hele dag gezwoegd en in de hitte.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַיַּעַן לָאֶחָד מֵהֶם וַיֹּאמֶר לוֹ אֲהוּבִי אֵינִי עוֹשֶׂה לְךָ עוֹל הַלֹּא בַּדִּינָר אֶחָד שְׂכַרְתִּיךָ
      </p>
      <p class="nl">
        
          En hij antwoordde tot één van hen en zei tot hem: mijn vriend, ik doe u geen onrecht, heb ik u niet ingehuurd voor één denarius?
        
      </p>
      <p class="margin">
        
          ‘mijn vriend’, letterlijk: ‘mijn geliefde’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        קָחֵנוּ וּלֵךְ אִם אֲנִי רוֹצֶה לָתֵת לְזֶה הָאַחֲרוֹן כְּמוֹתְךָ
      </p>
      <p class="nl">
        
          Neem het en ga. Als ik behagen heb om te geven tot deze laatste zoals u,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        הַלֹּא אֶעֱשֶׂה כִּרְצוֹנִי הָרָע בְּעֵינֶיךָ כַּאֲשֶׁר אֲנִי טוֹב
      </p>
      <p class="nl">
        
          mag ik niet doen naar mijn behagen? Is het kwaad in uw ogen wanneer ik goed ben.
        
      </p>
      <p class="margin">
        
          ‘kwaad in uw ogen’, is een typisch Hebreeuws gezegde, wat betekent: ‘gierigheid’ en ‘hebzucht’, de achtergrond hiervoor is te vinden in: Deut. 15:9, 28:54 en Spr. 22:9, en is ook te vinden in: Sir. 14:10 en Mishna Avot 2:9
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        כֵּן יִהְיֶה אַחֲרוֹנִים רִאשׁוֹנִים וְהָרִאשׁוֹנִים אַחֲרוֹנִים רַבִּים הֵם הַקְּרוּאִים וּמְעַטִּים הַנִּבְחָרִים
      </p>
      <p class="nl">
        
          Zo zullen laatsten eersten zijn en de eersten laatsten. Velen, zij worden geroepen, maar weinigen worden de verkozenen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְיִקְרַב יֵשׁוּעַ אֶל יְרוּשָׁלַם וְיִקַּח אֶת־י''ב תַּלְמִידָיו בְּסֵתֶר וַיֹּאמֶר אֲלֵיהֶם
      </p>
      <p class="nl">
        
          En Jesjoea naderde tot J<sup>e</sup>roesjalajiem en nam Zijn twaalf leerlingen in het verborgen en zei tot hen:
        
      </p>
      <p class="margin">
        
          In Peshitta en Griekse handschriften staat: ‘En Jesjoea ging op naar J<sup>e</sup>roesjalajiem, nam de twaalf leerlingen apart op de weg en zei tot hen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        הִנֵּה אֲנַחְנוּ עוֹלִים לִירוּשָׁלַםִ וּבֶּן־הָאָדָם יִמְסֹר לִגְדוֹלֵי הַחֲכָמִים וְהַכֹּהֲנִים וַיִּחֵייבוּהוּ לָמוּת
      </p>
      <p class="nl">
        
          Zie, wij gaan op naar J<sup>e</sup>roesjalajiem en de Mensenzoon wordt overgeleverd tot de grote wijzen en de priesters, en zij zullen Hem veroordelen tot de dood,
        
      </p>
      <p class="margin">
        
          ‘Hem veroordelen’, letterlijk: ‘Hem schuldig maken’ of ‘Hem schuldig doen zijn’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְגַם יִמְסְרוּ אוֹתוֹ לְגּוֹיִם לְהַכּוֹתוֹ וּלְהַשְׁבִּיתוֹ וּבַיּוֹם הַשְּׁלִישִׁי יָקוּם
      </p>
      <p class="nl">
        
          en ook zij zullen Hem overleveren aan de volksstammen om Hem te slaan en om een eind te maken aan Hem, maar op de derde dag staat Hij op.
        
      </p>
      <p class="margin">
        
          ‘aan de volksstammen’, in de Peshitta staat: ‘aan het volk’<br />‘en om een eind te maken aan Hem’, in Ms. Heb. 28 (Rijksbibliotheek, Leiden) staat: ‘en Hem geselen, en Hem hangen’, in andere Shem Tov staat: ‘en Hem geselen’, in de Peshitta staat: ‘en men zal hem uitlachen, tuchtigen en hem ophangen’ en in de Griekse handschriften staat: ‘om Hem te bespotten, en te geselen en te kruisigen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        אָז בָּא אֵשֶׁת זַבְדִיאֵל עִם בָּנֶיהָ מִשְׁתַּחֲוֶה וּמְבַקֶּשֶׁת בַּקָּשָׁה מִמֶּנּוּ
      </p>
      <p class="nl">
        
          Toen kwam de vrouw van Zavdiël met haar zonen, boog diep en vroeg een verzoek van Hem.
        
      </p>
      <p class="margin">
        
          ‘vroeg een verzoek’, letterlijk: ‘verlangde een verlangen’, er is woordverband tussen ‘vroeg’ (m<sup>e</sup>vàqèsjèh) en ‘verzoek’ (bàqásjáh)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיֹּאמֶר אֵלֶיהָ מָה תִּרְצִי וְתֹאמַר שֶׁתְּצַוֶּה לָשֶׁבֶת שְׁנֵי בְּנֵי אֵלֶּה הָאֶחָד לִימִינְךָ וְהַשֵּׁנִי לִשְׂמֹאלְךָ בְּמַלְכוּתְךָ
      </p>
      <p class="nl">
        
          En Hij zei tot haar: wat behaagt u van Mij? En zij zei: dat U gebiedt voor deze twee zonen zitten, de één aan uw rechterhand en de tweede aan uw linkerhand in Uw koninkrijk.
        
      </p>
      <p class="margin">
        
          ‘behaagt’ is een ander woord dan ‘vroeg’ in vers 20
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ לֹא תִּדְעוֹן מָה תְבַקְשׁוֹן הֲתּוּכָלוּן לִסְבּוֹל הַיִסּוּרִין וְהֵמִיתָה שֶׁאֲנִי עָתִיד לִסְבּוֹל וְיֹּאמְרוּ נוּכַל
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot hen: u weet niet wat u vraagt. Kunt u het lijden dragen en de dood die Ik bereid ben te dragen? En zij zeiden: wij kunnen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם שָׁתוּ כּוֹסִי וְהוֹשִׁיבוּ לִשְׂמֹאלִי אוֹ לִימִינִי אֵין לִי לְתִתָּה לָכֶם כִּי אִם לַאֲשֶׁר הוּא נָכוֹן לִפְנֵי אֲבִי
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: drink mijn beker, maar het zitten aan mijn linkerhand of mijn rechterhand is voor Mij niet geven tot jullie, maar voor degene die bereid is voor het aangezicht van Mijn Vader.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיִשְׁמְעוּ הָעֲשָׂרָה וְיִחַר בְּעֵינָם מֵעֳנִין שְׁנֵי הַאַחִים
      </p>
      <p class="nl">
        
          En de tien hoorden het en het was in hun ogen een ergernis vanwege het antwoord van de twee broers.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וִיקָרְבֵם יֵשׁוּעַ אֵלָיו וַיֹּאמֶר לָהֶם דְּעוּ שֶׁנְּשִׂיאֵי הַגּוֹיִם רוֹדִים בָּהֶם וְגִדּוּלֵיהֶם מְבַקְּשִׁים לְנַפְשָׁם
      </p>
      <p class="nl">
        
          En Jesjoea liet hen naderen tot Hem en zei tot hen: weet, dat de leider van de volksstammen heerst over hen, en hun groten zoekt hun zielen.
        
      </p>
      <p class="margin">
        
          ‘zoekt hun zielen’, in verschillende Shem Tov staat: ‘zoekt om hun te onderwerpen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        לֹא כֵּן יִהְיֶה בֵּינֵיכֶם שֶׁהָרוֹצֶה לִהְיוֹת גָּדוֹל בֵּינֵיכֶם יְשָׁרֶת אֶתְכֶם
      </p>
      <p class="nl">
        
          Zo zal het niet zijn onder jullie, omdat die behagen heeft om de grootste te zijn onder jullie, hij zal jullie dienen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וַאֲשֶׁר יִרְצֶה בֵּינֵיכֶם לִהְיוֹת רִאשׁוֹן יִהְיֶה לָכֶם עֶבֶד
      </p>
      <p class="nl">
        
          En hij, die onder jullie behagen heeft om eerste te zijn, zal jullie dienaar zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        כַּאֲשֶׁר בֶּן־הָאָדָם לֹא בָּא שֶׁיְּשָׁרְתוּהוּ כִּי אִם לְשָׁרֵת וְלָתֵת נָפְשׁוֹ כּוֹפֵר לָרַבִּים
      </p>
      <p class="nl">
        
          Gelijk de Mensenzoon is niet gekomen dat men Hem dient, maar om te dienen en Zijn ziel te geven tot verzoening voor velen.
        
      </p>
      <p class="margin">
        
          ‘tot verzoening voor velen’, in Peshitta staat: ‘tot verlossing voor velen’ en in Griekse handschriften staat: ‘tot rantsoen voor velen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        הֵמָּה נִכְנָסִים בִּיְרִיחוֹ וְתֵלֵךְ אַחֲרָיו חֲבוּרָה אַחַת
      </p>
      <p class="nl">
        
          Zij werden verzameld in J<sup>e</sup>richo en één menigte ging achter Hem.
        
      </p>
      <p class="margin">
        
          J<sup>e</sup>richo: (Jericho) maanstad, is van oorsprong een Kanaänitische stad, en wordt in Deut. 34:3 en in 2 Kron. 28:15 ‘stad van de palmen’ genoemd, in de omgeving van de stad komen veel dadelpalmen voor, en lag volgens Titus Flavius Josephus 150 stadiën (28 km) van J<sup>e</sup>roesjalajiem
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְהִנֵּה שְׁנֵי עִוְּרִים יוֹצְאִים אֵצֶל הַדֶּרֶךְ וְיִשְׁמְעוּ קוֹל הֶהָמוֹן וְיִשְׁאָלוּ מָה זֶה וְיֹּאמְרוּ לָהֶם הַנָּבִיא יֵשׁוּעַ מִנָאצְרַת בָּא אָז צָעֲקוּ לֵאמֹר בֶּן־דָּוִד חָנְנוּ
      </p>
      <p class="nl">
        
          En zie, twee blinden kwamen naast de weg tevoorschijn, doordat men hoorde het geluid van de menigte en men vroeg: wat is dit? En men zei tot hen: de profeet Jesjoea uit Natsrat komt. Toen riepen zij door te zeggen: Zoon van David, wees ons genadig!
        
      </p>
      <p class="margin">
        
          ‘twee blinden’, in Mark. 10:46 en Luk. 18:35 staat dat het om één blinde gaat: Bar-Timeüs (zoon van Timeüs)<br />‘riepen’ kan ook vertaald worden als: ‘schreeuwen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְהַחֲבוּרָה גָּעַרוּ בָּהֶם לֵאמֹר הַסּוּ וְהֵם הָיוּ צוֹעֲקִים וְאוֹמְרִים הָאָדוֹן בֶּן־דָּוִד חָנְנוּ
      </p>
      <p class="nl">
        
          Maar de menigte bestrafte hen door te zeggen: zwijg! Maar zij riepen toch en zeiden: Heer, Zoon van David, wees ons genadig!
        
      </p>
      <p class="margin">
        
          ‘door te zeggen: zwijg! Maar zij riepen toch’, in enkele Shem Tov staat: ‘maar zelfs door de mond van deze, zij riepen toch’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְיַעֲמוֹד יֵשׁוּעַ וְיִקְרְאֵם וַיֹּאמֶר מָה תִּרְצוּ לְהֵעָשׂוֹת לָכֶם
      </p>
      <p class="nl">
        
          En Jesjoea stond stil, en riep hen, en zei: wat behaagt u dat gedaan wordt tot jullie?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וְיֹּאמְרוּ הָאָדוֹן שֶׁתִּפְקַחְנָה עֵינֵינוּ
      </p>
      <p class="nl">
        
          En zij zeiden: Heer, dat onze ogen geopend worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וְיַחְמוֹל עֲלֵיהֶם יֵשׁוּעַ וְיָגַע בְּעֵינֵיהֶם וַיֹּאמֶר לָהֶם אֱמוּנָתְכֶם רִיפֵּא אֶתְכֶם וּמִיַּד רָאוֹ וְהוֹדוּ לָאֵל וְהָלְכוּ אַחֲרָיו וְכָל הָעָם הוֹדוּ לְאֵל עַל זֶה
      </p>
      <p class="nl">
        
          En Jesjoea had medelijden over hen, en raakte hun ogen aan, en zei tot hen: jullie geloof heeft jullie genezen. En onmiddellijk zagen zij, en dankten El, en gingen achter Hem. En heel het volk dankten El over dit.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’<br />‘dankten’, kan ook vertaald worden als: ‘loven’ en ‘prijzen’
        
      </p>
    </div>
  
</div>