<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיִקְרְבוּ אֶל יְרוּשָׁלַם וְיָּבוֹאוּ לְבֵית־פַּאגֵי לְהָר הַזֶּתִים וַיִשְׁלַח יֵשׁוּעַ שְׁנַיִם מִתַּלְמִידָיו
      </p>
      <p class="nl">
        
          En men naderde tot J<sup>e</sup>roesjalajiem, en men kwam bij Beejt-Phaghé op de Olijfberg. En Jesjoea zond twee van Zijn leerlingen,
        
      </p>
      <p class="margin">
        
          Dit gebeurde op de 10<sup>e</sup> Aviv, zie Ex. 12:3<br />Beejt-Phaghé: (Bethfagé) ‘huis van onrijpe vijgen’ of ‘huis van groene vijgen’, op de oostelijke helling van de Olijfberg.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם לֵכוּ אֶל הַמִּבְצָר אֲשֶׁר הוּא נָכְחֲכֶם וּמִיָּד תִּמְצָאוּ אָתוֹן אַחַת אֲסוֹרָה וְעִירָהּ אַחַת עִמָּהּ וְהַתִּירוּ אוֹתָם וַהֲבִיאוּם אֵלַי
      </p>
      <p class="nl">
        
          en zei tot hen: ga naar de vesting die tegenover jullie is, en onmiddellijk vindt u één ezelin vastgebonden en één wilde ezel met haar. En maak hen los en breng hen tot Mij.
        
      </p>
      <p class="margin">
        
          ‘wilde ezel’, letterlijk: ‘haar wilde ezel’, wat betekent een mannetje dat nog niet getemd is.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְאִם יֹאמַר אֵלַיכֶם אִישׁ שׁוּם דָּבָר אִמְרוּ לוֹ שֶׁהָאָדוֹן צָרִיךְ לָהֶם וּמִיָּד יַעֲזוֹב אֶתְהֶם
      </p>
      <p class="nl">
        
          En wanneer een man enig woord zegt tot jullie, zeg tot hem dat de Heer hen nodig heeft, en onmiddellijk laat hij hen los.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        כָּל זֶה לְקִייֵם דְּבָר הַנָּבִיא לֵאמֹר
      </p>
      <p class="nl">
        
          Dit alles is tot bekrachtiging het woord van de profeet, door te zeggen:
        
      </p>
      <p class="margin">
        
          ‘de profeet’ is hier de profeet Z<sup>e</sup>charJAH.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        אִמְרוּ לְבַת צִיּוֹן הִנֵּה מַלְכֵּךְ יָבֹא לָךְ צַדִּיק וְנוֹשַׁע הוּא עָנִי וְרוֹכֵב עַל־אָתוֹן וְעַל־עִיר בֶּן־אָתוֹן
      </p>
      <p class="nl">
        
          “Zeg tot de dochter van Tsion: zie, uw Koning komt tot u, rechtvaardig en Verlosser is Hij, onderdrukt en rijdend op een ezelin en op een wilde ezel, zoon van een ezelin.”
        
      </p>
      <p class="margin">
        
          Dit citaat is een combinatie van Jes. 62:11 en Zach. 9:9<br />Tsion: (Sion) droge plaats, dat is J<sup>e</sup>roesjalajiem en de heuvel Moriah<br />‘rechtvaardig en zegevierend is Hij’ in Septuagint staat: ‘rechtvaardig en Hij is Verlosser’, ontbreekt in Griekse handschriften en Peshitta<br />‘arm’, dat is ‘zonder bezit’, niet te verwarren met ‘nederig’ en ‘gering’, in de Griekse handschriften en de Peshitta staat: ‘zachtmoedig’<br />‘op een ezelin’, in verschillende Shem Tov, DuTillet, Masoretentekst, Septuagint en Griekse handschriften staat: ‘op een ezel’<br />‘zoon van een ezelin’, in verschillende Shem Tov, DuTillet en Masoretentekst staat: ‘zoon van ezelinnen’, in Griekse handschriften staat: ‘zoon van lastdragenden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְיֵלְכוּ וְיַעֲשׂוּ כַּאֲשֶׁר צִיוָּם יֵשׁוּעַ
      </p>
      <p class="nl">
        
          En zij gingen en deden zoals Jesjoea geboden had.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְיָבִיאוּ הָאָתוֹן וְהָעִיר וְיִּרְכַּב יֵשׁוּעַ עָלֶיהָ וְהָאֲחֵרִים שְׁמוּ עֲלֵיהֶם כְּלֵיהֶם וּמַלְבּוּשֵׁיהֶם וְיַעֲלוּ לְמַעְלָה
      </p>
      <p class="nl">
        
          En zij brachten de ezelin en de wilde ezel, en Jesjoea reed op haar. En de anderen legden hun gewaden en hun kleding op hen. En men ging op naar boven.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘en men ging op’ (v<sup>e</sup>ja’alah) en ‘naar boven’ (l<sup>e</sup>ma’lah).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְרַבִּים מֵהַחֲבוּרָה פּוֹרְשִׂים מַלְבּוּשֵׁיהֶם בַּדֶּרֶךְ וַאֲחֵרִים כוֹרֵתִים עָנְפֵי הָעֵצִים וְיַשְׁלִיכוּ לְפָנָיו וּלְאַחֲרָיו
      </p>
      <p class="nl">
        
          En velen van de menigte spreidden hun kleding uit op de weg, en anderen sneden takken van bomen af, en wierpen deze voor en achter Hem,
        
      </p>
      <p class="margin">
        
          ‘en wierpen deze voor en achter Hem’, letterlijk: ‘en wierpen deze voor Zijn aangezicht en achter Hem’, dit ontbreekt in de Griekse handschriften en de Peshitta
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        קוֹרְאִים לֵאמֹר הוֹשַׁעְנָא מוֹשִׁיעַ הָעוֹלָם בָּרוּךְ הַבָּא בַּשֵּׁם יְהֹוָה הוֹשַׁעְנָא מוֹשִׁיעֵנוּ תִּתְפָּאֵר בַּשָּׁמַים וּבָאָרֶץ
      </p>
      <p class="nl">
        
          uitroepende, door te zeggen: hosjanna, Verlosser van de wereld. Gezegend, Die komt in de Naam van J<sup>e</sup>HOVAH. Hosjanna, onze Verlosser, U bent de Sieraad in de hemelen en op de aarde.
        
      </p>
      <p class="margin">
        
          ‘hosjanna’ (hosanna) is een samenvoeging van הושיע נא (hosjiah ná), zoals dat voorkomt in Joz. 10:6 en Ps. 118:25, en betekent: ‘o wee, verlos toch eens’<br />Er is woordverband tussen ‘hosjanna’, ‘Verlosser’ (moshi’a) en ‘onze Verlosser’ (mosji’énoe)<br />‘Verlosser van de wereld’, de Peshitta en Griekse handschriften staat: ‘Zoon van David’<br />‘Gezegend, Die komt in de Naam van JHWH’ is een citaat uit Ps. 118: 26<br />‘onze Verlosser, U bent de Sieraad in de hemelen en op de aarde’, in de Peshitta en Griekse handschriften staat: ‘in de hoogste’, waarbij ‘hoogste’ wordt de hemelen bedoeld
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיְהִי אַחֲרֵי־כֵן בַּבָּא יֵשׁוּעַ יְרוּשָׁלַם חֲרָדָה כָּל הָעִיר לֵאמֹר מִי הוּא זֶה
      </p>
      <p class="nl">
        
          En daarna gebeurde met de binnenkomst van Jesjoea in J<sup>e</sup>roesjalajiem dat heel de stad schrok, door te zeggen: wie is Deze?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיֹּאמְרוּ הֵעֵם זֶה לְזֶה יֵשׁוּעַ הַנָּבִיא מִנָזָארַת אֲשֶׁר בַּגָּלִיל
      </p>
      <p class="nl">
        
          En het volk zei, de één tot de ander: Jesjoea, de profeet uit Nazarat dat in Ghaliel ligt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְיִבֵּא יֵשׁוּעַ בֵּית יְהֹוָה וְיִמְצָא שָׁם הַקּוֹנִים וְהַמּוֹכְרִים וְיַהֲפוֹךְ לוּחוֹת הַשּׁוּלְחָנִים וְהַמּוּשָׁבוֹת מוֹכְרֵי הַיּוֹנִים
      </p>
      <p class="nl">
        
          En Jesjoea kwam het Huis van J<sup>e</sup>HOVAH binnen, en Hij vond daar de kopers en de verkopers. En Hij keerde om de platen van de tafels en de stoelen van verkopers van de duiven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם כְּתִיב כִּי בֵּיתִי בֵּית־תְּפִלָה יִקְרָא לְכָל־הָעַמִּים וְאִתָּם עֲשִׂיתֶם אוֹתָהּ מְעָרַת פָּרִיצִים
      </p>
      <p class="nl">
        
          En Hij zei tot hen: er staat geschreven: “want Mijn Huis zal Huis van gebed genoemd worden voor alle volken”, maar jullie hebben haar tot een rovershol gemaakt.
        
      </p>
      <p class="margin">
        
          Citaat uit Jes. 56:7<br />‘rovershol’ is afkomstig uit Jer. 7:11
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְיִקְרְבוּ אֵלָיו עִוְּרִים וּפְסָחִים בַּמִּקְדָּשׁ וִירַפְּאֵם
      </p>
      <p class="nl">
        
          En blinden en kreupelen naderden tot Hem in het Heiligdom, en Hij genas hen.
        
      </p>
      <p class="margin">
        
          In 2 Sam. 5:8 (Masoretentekst) staat: ‘Een blinde en kreupele zal in het huis niet komen’, in de Septuagint staat: ‘Een blinde en kreupele zal in het huis van de Heere niet komen’. David verbood blinden en kreupelen om in het Heiligdom te komen, de Zoon van David ontsloot de toegang door hen te genezen
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְיָבוֹאוּ גְּדוֹלֵי הַחֲכָמִים וְהַכֹּהֲנִים לִרְאוֹת הַפְּלָאוֹת שֶׁעָשָׂה וְהַנְּעָרִים קוֹרְאִים בַּמִקְדַּשׁ וְאוֹמְרִים יִשְׁתַּבֵּחַ בֵּן הָאֵל וְהַחֲכָמִים יִלְעֲגוּ
      </p>
      <p class="nl">
        
          En de grote wijzen en de priesters kwamen om te zien de wonderen die Hij deed. En de jongens riepen in het Heiligdom en zeiden: geprezen zij de Zoon van de El. En de wijzen bespotten hen
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיֹּאמְרוּ לוֹ הַלֹּא שָׁמַעְתָּ מַה אוֹמְרִים אֵלּוּ  וַיַּעַן לָהֶם וַיֹּאמֶר שָׁמַעְתִּי אֵלּוּ הַלֹּא קְרָאתֶם מִפִּי עוֹלָלִים וְיוֹנְקִים יָסַדְתָּ עוֹז
      </p>
      <p class="nl">
        
          en zeiden tot Hem: hoort U niet wat deze zeggen? En Hij antwoordde tot hen en zei: Ik heb deze gehoord. Hebben jullie niet gelezen: “Uit de mond van kleine kinderen en zuigelingen heeft U kracht gefundeerd”?
        
      </p>
      <p class="margin">
        
          Citaat uit Ps. 8:3<br />‘kracht gefundeerd’, in de Peshitta en Griekse handschriften staat: ‘lof toebereid’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְיַעֲזוֹב אוֹתָם וְיֵלֵךְ חוֹצֶה אֶל בֵּית־חֲנַנְיָה וַיִלֻן שָׁם וְשָׁם הָיָה דּוֹרֵשׁ לָהֶם מִמַּלְכוּת הָאֵל
      </p>
      <p class="nl">
        
          En Hij liet hen achter, en Hij ging uit naar Beejt-ChananJAH. En Hij overnachtte daar en predikte  daar tot hen het Koninkrijk van de El.
        
      </p>
      <p class="margin">
        
          ‘Beejt-ChananJAH’: huis van ChananJAH (JHWH is genadig), in Peshitta en Griekse handschriften staat: Beejt-Anja (Bethanië): huis van ellende
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיְהִי בַּבָּקָר וְיָשַׁב לָעִיר רָעֵב
      </p>
      <p class="nl">
        
          En het gebeurde in de ochtend, en Hij ging terug naar de stad en leed Hij honger.
        
      </p>
      <p class="margin">
        
          Dit gebeurde op de 11<sup>e</sup> Aviv
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיָרֵא תְּאֵנָה אַחַת אֵצֶל הַדֶּרֶךְ וְיִגַּשׁ אֵלֶיהָ וְלֹא מָצָא בָּהּ רַק הֶעֱלִים לְבַד וַיֹּאמֶר לָהּ אֶל יָצָא מִמְּךָ פְּרִי לְעוֹלָם וְתִיבַשׁ הַתְּאֵנָה מִיָּד
      </p>
      <p class="nl">
        
          En Hij zag één vijgenboom naast de weg, en Hij naderde tot haar. En vond niets in haar, maar bladeren alleen. En Hij zei tot haar: laat geen vrucht van u uitgaan voor altijd. En onmiddellijk viel de vijgenboom droog.
        
      </p>
      <p class="margin">
        
          Een vijgenboom in het land Jisraël geeft driemaal per jaar vrucht. De eerste verschijnen al in maart en zijn in april te eten, dat is omstreeks de maand Aviv. In Mark. 11:13 staat: ‘want het was niet de tijd voor vijgen’, daarmee wordt de derde generatie vijgen bedoeld, deze zijn de zoete en beste vijgen en worden geoogst in augustus. De eerste vijgen, de voorvijgen, zijn in Hos. 9:10 het beeld van Jisraël en Deut. 8:8 is de vijgenboom één van de zeven vruchten van het land Jisraël<br />In Mark. 11:20 staat dat de vijgenboom pas de volgende ochtend tot de wortels toe verdord was
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְיָרְאוּ הַתַּלְמִידִים וְיִתְמְהוּ וְיֹּאמְרוּ אֵיךְ יִבֵשָׁה הַתְּאֵנָה מִיָּד
      </p>
      <p class="nl">
        
          En de leerlingen zagen het, en waren verbaasd, en zeiden: hoe is de vijgenboom onmiddellijk drooggevallen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹּאמֶר לָהֶם אִם תִּהְיֶה בָּכֶם אֱמוּנָה בְּלִי סָפֵק לֹא לַתְּאֵנָה בִּלְבַד תַּעֲשׂוּ כִּי אִם תֹּאמְרוּ לָהָר הַזֶּה שִׁימּוּשׁ וְיִבֵּא בַּיָּם יַעֲשֶׂה
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde en zei tot hen: wanneer in jullie geloof is, zonder twijfel, niet alleen tot de vijgenboom zult u dit doen, maar u zegt tot deze berg dat hij weggaat en ingaat in de zee: hij doet het.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’<br />‘deze berg’, daarmee wordt de Olijfberg bedoeld
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְכֹל אֲשֶׁר תִּשְׁאֲלוּן בַּתְּפֵלָה וְתִהְיוּ מַאֲמִינִים תִּקְבַּלוּן
      </p>
      <p class="nl">
        
          En alles wat u vraagt in gebed en u hebt geloof, u ontvangt het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְיִבֵּא אֶל הַמִּקְדָּשׁ לְלַמֵּד וְיִקְרבוּ אֵלָיו הַכֹּהֲנִים וּקְצִינֵי הֵעֵם לֵאמֹר בְּאֵיזֶה כֹּחַ תַּעֲשֶׂה וּמִי נָתַן לְךָ הֵחִיל הַזֶּה
      </p>
      <p class="nl">
        
          En Hij kwam tot het Heiligdom om te onderwijzen. En de priesters en de leiders van het volk naderden tot Hem, door te zeggen: door wat voor kracht doet U dit en wie heeft U deze macht gegeven?
        
      </p>
      <p class="margin">
        
          ‘om te onderwijzen’, in verschillende Griekse handschriften staat: ‘terwijl Hij onderwijs gaf’ en ontbreekt in andere handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ וַיֹּאמֶר לָהֶם אֶשְׁאַל מִכֶּם גַּם אֲנִי דָּבָר אֶחָד וְאִם תֹּאמְרוּ אוֹתָה לִי גַּם אֲנִי אוֹמֵר לָכֶם בְּאֵיזֶה כֹּחַ אֲנִי עוֹשֶׂה
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde en zei tot hen: Ik vraag ook van jullie één woord, zodat wanneer u het zegt tot Mij, zal Ik ook zeggen tot jullie door wat voor kracht Ik dit doe.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        טְבִילַת יוֹחָנָן מֵאַיִן הָיְתָה מִן הַשָּׁמַיִם אוֹ מִן הָאֲנָשִׁים וְיִתְעַצְּבוּ בֵּינֵיהֶם לֵאמֹר מַה נֶאֱמַר אִם נֶאֱמַר מֵהַשָּׁמַיִם יֹאמַר לָנוּ לָמָּה לֹא תַּאֲמִינוּ בּוֹ
      </p>
      <p class="nl">
        
          De doop van Jochanan, waarvandaan is deze, van de hemelen of van de mensen? En zij waren gegriefd onder hen, door te zeggen: wat zullen we zeggen? Wanneer we zeggen ‘van de hemelen’, zal Hij tot ons zeggen: ‘waarom heeft u hem niet geloofd?’
        
      </p>
      <p class="margin">
        
          ‘van de mensen’, letterlijk: ‘van de mannen’<br />‘En zij waren gegriefd onder hen’, In Peshitta staat: ‘Ze dachten bij zichzelf en ze zeiden’ en in de Griekse handschriften staat: ‘En zij overlegden met elkaar’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְאִם נֶאֱמַר מִן הַאֲנָשִׁים נִירָא מִן הַחֲבוּרָה שֶׁכֻלָּם מַאֲמִינִים שֶׁיּוֹחָנָן נָבִיא הָיָה
      </p>
      <p class="nl">
        
          En wanneer we zeggen ‘van de mensen’, wij vrezen de menigte omdat zij allen geloven dat Jochanan een profeet is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וַיֹאמְרוּ לֹא יָדַעְנוּ וַיֹּאמֶר גַּם אֲנִי לֹא אוֹמֵר לָכֶם בְּאֵיזֶה כֹּחַ אֲנִי עוֹשֶׂה
      </p>
      <p class="nl">
        
          En zij zeiden: wij weten het niet. En Hij zei: Ik zeg ook niet tot jullie in wat voor kracht Ik dit doe.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        בָּעֶרֶב הַהִיא אָמַר יֵשׁוּעַ לְתַלְמִידָיו מַה נִרְאָה לָכֶם אִישׁ אֶחָד הָיוּ לוֹ שֵׁנִי בַּנִּים וְיִגַּשׁ הָאַחֵד וַיֹּאמֶר לוֹ לֵךְ בְּנֵי הַיּוֹם לַעֲבוֹד בְּכַרְמֵי
      </p>
      <p class="nl">
        
          Op die avond zei Jesjoea tot Zijn leerlingen: wat is jullie inzicht? Een zeker man had twee zonen en hij naderde tot de één en zei tot hem: ga, mijn zoon, vandaag werken in mijn wijngaard.
        
      </p>
      <p class="margin">
        
          Met de avond begon de 12<sup>e</sup> Aviv<br />‘op die avond zei Jesjoea tot Zijn leerlingen’ komt niet voor in Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ אֵינִי רוֹצֶה וְאַחַר כַּך נִחֵם וְהָלַךְ
      </p>
      <p class="nl">
        
          Maar hij zei tot hem: ik wil niet. Maar daarna had hij spijt en ging.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וַיֹּאמֶר לְאַחֵר כְּמוֹ כֵּן וַיַּעַן אֵלָיו אָדוֹנִי הִנְנִי וְלֹא הָלַךְ
      </p>
      <p class="nl">
        
          En hij zei tot de andere ook zo en hij antwoordde tot hem: mijn heer, zie hier ben ik. Maar ging niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        מִי מִשְּׁנֵיהֶם עָשָׂה רָצוֹן הָאָב וְיֹאמְרוּ לוֹ הָרִאשׁוֹן וַיֹּאמֶר לָהֶם יֵשׁוּעַ אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁהַפָּרִיצִים וְהַקְדֵישּׁוֹת יְקַדְּמוּ אֶתְכֶם בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          Wie van deze twee doet het welbehagen van de vader? En zij zeiden tot Hem: de eerste. En Jesjoea zei tot hen: amen, Ik zeg tot jullie: dat de geweldplegers en de hoeren jullie voorgaan in het Koninkrijk van de Hemelen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        שֶׁבָּא אֲלֵיכֶם יוֹחָנָן דֶּרֶךְ צָדְקָה וְלֹא הֶאֱמַנְתֶּם בּוֹ וְהַפָּרִיצִים וְהַקְדֵישּׁוֹת הֶאֱמִינוּ בּוֹ וְאִתָּם רוֹאִים וְלֹא חֲזַרְתֶּם בַּתְּשׁוּבָה גַּם אַחֲרֵי־כֵּן לֹא נֶחָמָתָם לְהֶאֱמִין בּוֹ לְמִי אָזְנַיִם לִשְׁמוֹעַ יִשְׁמַע בַּחֶרְפָּה
      </p>
      <p class="nl">
        
          omdat Jochanan kwam tot jullie in de weg van gerechtigheid, maar jullie hebben hem niet geloofd. En de geweldplegers en de hoeren geloofden hem, maar jullie zagen en keerden niet in bekering. Ook daarna hebben jullie geen spijt gehad om hem te geloven. Wie oren heeft om te horen, laat hij gehoorzamen in vernedering.
        
      </p>
      <p class="margin">
        
          ‘Wie oren heeft om te horen, laat hij gehoorzamen in vernedering’ ontbreekt in Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        בַּעַת הַהִיא אָמַר יֵשׁוּעַ לְתַלְמִידָיו וּלְסִיעַת הַיְּהוּדִים שָׁמְעוּ נָא מָשָׁל הַזּוֹרֵעַ אָדָם אֶחָד נִכְבָּד נָטַע כֶּרֶם וְגַדֵּר אוֹתוֹ מִסָּבִיב וַיִּבֶן מִגְדָּל בְּתוֹכוֹ וְגַם יֶקֶב חָצַב בּוֹ וְיַפְקִידֵהוּ לָעוֹבְדִים וְיֵלֵךְ לְדָרְכוֹ
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Zijn leerlingen en tot een groep Judeeërs: hoort nu de gelijkenis van de zaaier. Een eervol mens plantte een wijngaard en een muur rondom. En hij bouwde een toren in het midden, en ook een wijnpers in steen gehakt. En hij stelde arbeiders aan en ging zijn weg.
        
      </p>
      <p class="margin">
        
          De verzen 33 t/m 46 ontbreken in Ms. Add. no. 26964 (British Library, Londen), Ms. 2426 (Marx 16) (Library of the Jewish Theological Seminary of America, New York) wordt als basistekst gehanteerd<br />‘een eervol mens’, in de Peshitta en Griekse handschriften staat: ‘een eigenaar van een huis’<br />‘arbeiders’ is hetzelfde Hebreeuwse woord als ‘dienaren’ in vers 34, in het Hebreeuws is het verschil duidelijk, waardoor in het Nederlands verschillende woorden gekozen zijn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וַיְהִי לְעֵת אֱסוֹף הַתְּבוּאָה שָׁלַח אֶת־עֲבָדָיו אֶל הָעוֹבְדִים לְקַבֵּל תְּבוּאָתוֹ
      </p>
      <p class="nl">
        
          En het gebeurde op de tijd van het inzamelen van de oogst, dat hij zijn dienaren zond tot de arbeiders om zijn oogst te ontvangen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְיִקַּחוּ הָעוֹבְדִים אֶת־עֲבָדָיו וְיַכּוּ אֶת־הָאֶחָד וְיַהַרְגוּ אֶת־הַשֵּׁנִי וְהַשְּׁלִישִׁי סָקְלוּ בָּאֲבָנִים
      </p>
      <p class="nl">
        
          En de arbeiders namen zijn dienaren, en de één sloeg men, en de tweede doodde men en de derde stenigde men met stenen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְיִשְׁלַח עוֹד עֲבָדִים רַבִּים מֵהָרִאשׁוֹנִים וְיַעֲשׂוּ לָהֶם כְּמוֹ כֵּן
      </p>
      <p class="nl">
        
          En hij zond opnieuw veel meer dienaren dan de eersten, maar zij deden tot hen ook zo.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        סוֹף דָּבָר שָׁלַח לָהֶם בְּנוֹ לֵאמֹר אוּלַי יָרְאוּ אֶת-בֶּנִי
      </p>
      <p class="nl">
        
          Tenslotte zond hij tot zijn zoon, door te zeggen: misschien heeft men respect voor mijn zoon.
        
      </p>
      <p class="margin">
        
          ‘respect’, kan ook vertaald worden als: ‘aanzien’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        וְיָרְאוּ הָעוֹבְדִים אֶת־בְּנוֹ וְיֹאמְרוּ אִישׁ אֶל רֵעֵהוּ זֶהוּ הַיּוֹרֵשׁ לְכוּ וְנַהַרְגֵהוּ וְנִירַשׁ נַחֲלָתוֹ
      </p>
      <p class="nl">
        
          En de arbeiders zagen zijn zoon en zeiden, de één tot de ander: dit is de erfgenaam, kom laten we hem doden en zijn erfdeel in bezit nemen.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘respect’ (jaroe) in vers 37 en ‘zagen’ (v<sup>e</sup>jaroe)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְיִקְּחוּהוּ וְיוֹצִיאוּהוּ מִן הַכֶּרֶם וְיַהַרְגוּהוּ
      </p>
      <p class="nl">
        
          En men nam hem, en bracht hem uit de wijngaard, en doodde hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְעַתָּה כַּאֲשֶׁר יִבֵּא בַּעַל הַכֶּרֶם מָה יַעֲשֶׂה לָהֶם
      </p>
      <p class="nl">
        
          En nu wanneer de eigenaar van de wijngaard komt, wat zal hij doen tot hen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        וְיַעֲנוּ לוֹ לֵאמֹר הָרָעִים יְאַבְּדֵם בָּרָעָה וְכַרְמוֹ יִתֵּן לָעוֹבְדִים אֲחֵרִים שֶׁיַּתְנוּ לוֹ חֵלֶק תְּבוּאָתוֹ מִיָּד
      </p>
      <p class="nl">
        
          En zij antwoordden tot Hem, door te zeggen: de slechten, hij moet hen uitroeien door een ramp, en zijn wijngaard geven aan andere arbeiders, welke hem onmiddellijk een deel van zijn oogst geven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם יֵשׁוּעַ הֲלֹא קְרָאתֶם הַכָּתוּב <br />אֶבֶן מָאֲסוּ הַבּוֹנִים הָיְתָה לְרֹאשׁ פִּנָּה מֵאֵת יְהֹוָה הָיְתָה זֹּאת הִיא נִפְלָאת בְּעֵינֵינוּ
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hen: hebben jullie de Schrift niet gelezen: “de steen die de bouwers geminacht hadden, werd tot hoofd van de hoek. Dit is vanuit J<sup>e</sup>HOVAH gebeurd, het is wonderlijk in onze ogen.”
        
      </p>
      <p class="margin">
        
          Citaat uit Ps. 118:22-23.<br />Er is woordverband tussen "steen" (’even) en "bouwers" (habboniem), en tussen “werd” (haj<sup>e</sup>tah), "JHWH" en "gebeurd" (haj<sup>e</sup>tah).<br />‘wonderlijk’, kan ook vertaald worden als: ‘onbegrijpelijk’ en ‘onmogelijk’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        לְזֹּאת אֲנִי אוֹמֵר לָכֶם שֶׁתִתְקַרַע מַלְכוּת שָׁמַיִם מֵעַלֵיכֶם וְתִנָּתֵן לַגּוֹי עוֹשֶׁה פְּרִי
      </p>
      <p class="nl">
        
          Dit zeg Ik tot jullie, dat het Koninkrijk van de Hemelen afgescheurd is van jullie en gegeven tot een volksstam dat vrucht maakt.
        
      </p>
      <p class="margin">
        
          ‘volksstam’, het Hebreeuwse woord is ‘ghoj’, dat vaak vertaald wordt als: heiden.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        וְהַנּוֹפֵל עַל הָאֶבֶן הַזֹּאת יִדְחֶה וַאֲשֶׁר יִפּוֹל עָלֶיהָ יִסָּדֵק
      </p>
      <p class="nl">
        
          Maar hij die valt over deze steen zal worden neergestoten, en degene valt over haar zal worden vermorzeld.
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in verschillende Griekse handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        וְיִשְׁמְעוּ גְּדוֹלֵי הַכֹּהֲנִים וְהַפְּרוּשִׁים מְשָׁלָיו וְיַכִּירוּ שֶׁהוּא מִדְבָּר בַּעֲדָם
      </p>
      <p class="nl">
        
          En de overpriesters en de P<sup>e</sup>roesjiem hoorden Zijn gelijkenis en erkenden dat Hij over hen sprak.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        וִיבַקְּשׁוּ לְהָמִיתוֹ וְיָרְאוּ מֵהַחֲבוּרוֹת שֶׁלַּנָּבִיא הָיָה לָהֶם
      </p>
      <p class="nl">
        
          En zij zochten Hem te doden, maar zagen de menigte dat Hij een profeet was tot hen. 
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>