<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹּאמֶר לָהֶם עוֹד בְּדִבְרֵי מָשָׁל
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde en zei tot hen opnieuw door te spreken in een gelijkenis:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        מַלְכוּת שָׁמַיִם דּוֹמֶה לַמֶּלֶךְ אֲשֶׁר עוֹשֵׂה חוּפָּהּ
      </p>
      <p class="nl">
        
          het Koninkrijk van de Hemelen is gelijk als een koning die een bruiloft organiseert.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘Koninkrijk’ (malchoet) en ‘koning’ (lamelech).<br />‘een koning’, in het Grieks wordt dit vertaald met ἀνθρώπῳ βασιλεῖ (anthrōpos basileus): ‘een menselijke koning’, zie Matt. 18:23<br />‘organiseert’, letterlijk: ‘doen’ of ‘maken’<br />De Peshitta en Griekse handschriften voegen toe: ‘voor zijn zoon’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיִשְׁלַח אֶת־עֲבָדָיו בְּעַד הַקְּרוּאִים לַחוּפָּה וְלֹא אָבוּ לָבֹא
      </p>
      <p class="nl">
        
          En hij zond zijn dienaren naar hen die te gast zijn voor de bruiloft, maar zij waren niet genegen om te komen.
        
      </p>
      <p class="margin">
        
          ‘die te gast zijn’, letterlijk: ‘die geroepen zijn’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיִשְׁלַח עוֹד עֲבָדִים אֲחֵרִים לֵאמֹר אִמְרוּ לַקְּרוּאִים הִנֵּה הֲכִינוֹתִי הַמִּשְׁתֶּה וְזָבַחְתִּי  שְׁוָרִים וְעוֹפוֹת וְהַכֹּל מוּכָן בּוֹאוּ אֶל הַחוֹפָּה
      </p>
      <p class="nl">
        
          En hij zond opnieuw andere dienaren, door te zeggen: zeg tot de gasten: zie, ik heb het feest klaargemaakt en heb geslacht stieren en gevolgelte, en alles is bereid. Kom tot de bruiloft!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְהֵם בָּזוּ וַיֵלְכוּ מִקְצָתָם בָּעִיר וּמִקְצָתָם בְּעֲסָקֵיהֶם
      </p>
      <p class="nl">
        
          Maar zij verachtten het en men ging, sommigen van hen in de stad en sommigen van hen in hun zaken.
        
      </p>
      <p class="margin">
        
          ‘sommigen van hen in de stad en sommigen van hen in hun zaken’, in Peshitta en Griekse handschriften staat: ‘de één naar zijn akker en de ander naar zijn handel’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְהָאֲחֵרִים לָקְחוּ אֶת־עֲבָדָיו וְהִתְעַלְּלוּ בָּם וַהֲרָגוּם
      </p>
      <p class="nl">
        
          En de anderen namen zijn dienaren en mishandelden hen en stenigden hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיִשְׁמַע הַמֶּלֶךְ וַיִחַר אָפּוֹ וַיִשְׁלַח חֵיל וַיַּשְׁמִיד הָרוֹצְחִים הָהֵם וְאֶת־בֵּיתָם שָׂרַף בָּאֵשׁ
      </p>
      <p class="nl">
        
          En de koning hoorde het en zijn toorn ontbrandde, en hij zond een krijgsmacht en roeide uit deze moordenaars, en verbrandde hun huizen met vuur.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        אָז אָמַר לַעֲבָדָיו הַחוּפָּה מוּכָנָת הִיא רַק הַקְּרוּאִים לֹא הָיוּ רְאוּיִים
      </p>
      <p class="nl">
        
          Toen zei hij tot zijn dienaren: de bruiloft is gereed, alleen de gasten waren niet waardig.
        
      </p>
      <p class="margin">
        
          ‘gasten’, letterlijk: ‘geroepenen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְעַתָּה צְאוּ אֶל הַדְּרָכִים וְכֹל אֲשֶׁר תִּמְצְאוּ קָרְאוּ לְחוּפָּה
      </p>
      <p class="nl">
        
          En gaat nu uit tot de wegen en al die u vindt: roep hen tot de bruiloft.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘uitgaan’ (gaat … uit) (ts<sup>e</sup>’oe) en ‘die u vindt’ (timts<sup>e</sup>’oe)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיֵצְאוּ עֲבָדָיו אֶל הַדְּרָכִים וְיִקְבְּצוּ כֹּל הַנִּמְצְאִים טוֹבִים וְרָעִים וַתִּמָּלֵא הַחוּפָּה מֵהָאוֹכְלִים
      </p>
      <p class="nl">
        
          En zijn dienaren gingen uit over de wegen, en men verzamelde al die gevonden werden, goeden en slechten, en vervuld werd de bruiloft met eters.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַיָּבֹא הַמֶּלֶךְ לִרְאוֹת הָאוֹכְלִים וַיַּרֵא שָׁם אָדָם אֲשֶׁר לֹא הָיָה מְלוּבָּשׁ בִּגְדֵי הַחוּפָּה
      </p>
      <p class="nl">
        
          En de koning kwam om de eters te zien, en hij zag daar een mens die niet gekleed was in een bruiloftskleed.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ אֲהוּבִי אֵיךְ בָּאתָה לְכַּאן בְּלֹא לְבוּשֵׁי הַחוּפָּה וְהוּא הֶחֱרִישׁ
      </p>
      <p class="nl">
        
          En hij zei tot hem: mijn vriend, hoe bent u hier gekomen zonder gekleed te zijn voor de bruiloft? Maar hij zweeg.
        
      </p>
      <p class="margin">
        
          ‘mijn vriend’, letterlijk: ‘mijn geliefde’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אָז אָמַר הַמֶּלֶךְ לִמְשָׁרְתָיו אִסְרוּ יָדָיו וְרַגְלָיו וְהַשְׁלִיכוּהוּ בְּמַחֲשַׁכֵּי תַּחְתִּיּוֹת וְשָׁם יִהְיֶה בֶּכִי וְחֲרוֹק שִׁינַּיִם
      </p>
      <p class="nl">
        
          Toen zei de koning tot zijn bedienden: bindt zijn handen en zijn voeten, en werp hem in de onderste duisternis, en daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          ‘in de onderste duisternis’, in Ms. Add. no. 26964 (Britse Bibliotheek, Londen) en Ms. Opp. Add. 4° 72 (Bodleian Bibliotheek, Oxford) staat: ‘in de onderste onderwereld’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        הַקְּרוּאִים רַבִּים וְהַנִּבְחָרִים מְעַטִּים
      </p>
      <p class="nl">
        
          Velen zijn geroepen, maar weinigen zijn verkozen.
        
      </p>
      <p class="margin">
        
          ‘geroepen’ is hetzelfde Hebreeuwse woord in de verzen 3, 4 en 8, waar het vertaald is met ‘te gast zijn’ en ‘gasten’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        אָז הָלְכוּ הַפְּרוּשִׁים וַיִוָּעֲצוּ לְקַחְתּוֹ בִּדְבַר
      </p>
      <p class="nl">
        
          Toen gingen de P<sup>e</sup>roesjiem en beraadden om Hem op een woord te pakken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיִשְׁלֵּיחוּ אֵלָיו מִתַּלְמִידֵיהֶם עִם פָּרִיצִים מֵהוֹרוֹדוֹס לֵאמֹר רַבִּי יָדַעְנוּ שֶׁנֶּאֱמָן אַתָּה וְתַּלְמוֹד בָּאֱמוּנָה דָּרֶךְ הָאֱלֹהִים וְאֵינְךָ חוֹשֵׁשׁ לַשּׁוּם דָּבָר וְלֹא נוֹשֵׂא פָּנִים
      </p>
      <p class="nl">
        
          En men zond tot Hem hun leerlingen, met de geweldplegers van Herodes, door te zeggen: Rabbi, wij weten dat U betrouwbaar bent en U leert betrouwbaar de weg van de Elohiem. En U bent voor geen ding bang en U bent onpartijdig.
        
      </p>
      <p class="margin">
        
          In Ms. 2279 (Marx 18) en Ms. 2209 (Marx 19) (Bibliotheek van de Joodse Theologische Seminarie van Amerika, New York) begint: ‘en men beraadde met hun leerlingen’<br />‘en U bent onpartijdig’, letterlijk: ‘en U handelt niet in aanzien des persoons’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        אֱמוֹר לָנוּ מָה יִרְאֶה לְךָ הַנְכוֹן לָתֶת מַס לְצֵיזָר אִם־אָיִן
      </p>
      <p class="nl">
        
          Zeg ons: wat is Uw inzicht? Is het correct om belasting te geven aan Caesar of niet?
        
      </p>
      <p class="margin">
        
          ‘Caesar’ is een titel afgeleidt van de naam Gaius Julius Caesar (100 vGJT – 44 vGJT) en wordt door de opvolgende Romeinse keizers gevoerd
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיַּכֵּר יֵשׁוּעַ אֶת־נִכְלוֹתֶם וַיֹּאמֶר לָמָּה תְּסִיתוּנִי חֲנֵפִים
      </p>
      <p class="nl">
        
          Maar Jesjoea herkende hun list en zei: waarom verleidt u Mij, huichelaars?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        הַרְאוּ לִי מַטְבֵּעַ הַמַּס וַיָבִיאוּ לוֹ
      </p>
      <p class="nl">
        
          Laat Mij een munt zien voor de belasting. En zij brachten deze tot Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם לְמִי הַצּוּרָה הַזֹּאת וְהָרָשׁוּם
      </p>
      <p class="nl">
        
          En Hij zei tot hen: van wie is deze gedaante en het opschrift?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְיֹאמְרוּ לְצֵיזָר אָז אָמַר אֲלֵיהֶם יֵשׁוּעַ הֵשִׁיבוּ לְצֵיזָר אֶת־אֲשֶׁר לְצֵיזָר וְאֶת־אֲשֶׁר לֵאלֹהִים לֵאלֹהִים
      </p>
      <p class="nl">
        
          En zij zeiden: Caesar. Toen zei Jesjoea tot hen: breng terug tot Caesar wat van Caesar is en tot Elohiem wat van Elohiem is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיִשְׁמְעוּ וַיִתְמְהוּ וַיַּעֲזֹבוּהוּ וַיֵלְכוּ
      </p>
      <p class="nl">
        
          En zij hoorden het en waren verbaasd. En zij lieten Hem achter en gingen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        בַּיּוֹם הַהוּא קָרְאוּ אֵלָיו הַצְּדּוּקִים וְהַכּוֹפְּרִים בִּתְּחִייַת הַמֵּתִים וְיִשְׁאֲלוּהוּ
      </p>
      <p class="nl">
        
          Op deze dag riepen de Ts<sup>e</sup>doeqiem en de ontkenners van de opstanding van de doden Hem en vroegen Hem,
        
      </p>
      <p class="margin">
        
          ‘de opstanding’, letterlijk: ‘tot leven wekken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        לֵאמֹר רַבִּי אָמוֹר לָנוּ אָמַר מֹשֶׁה כִּי־יֵשְׁבוּ אַחִים יַחְדָּיו וּמֵת אַחַד מֵהֶם וּבֵן אֵין־לוֹ שֶׁיִּקַּח אָחִיו אֶת־אִשְׁתּוֹ לְקִייֵם זָרַע אָחִיו
      </p>
      <p class="nl">
        
          door te zeggen: Rabbi, zeg ons, Mosjeh zei: “wanneer broers samen wonen en één van hen sterft, maar tot hem is geen zoon,” dat zijn broer zijn vrouw neemt tot bekrachtiging van het zaad van zijn broer.
        
      </p>
      <p class="margin">
        
          Citaat uit Deut. 25:5(a), daarna volgt een samenvatting van Deut. 25:5(b)-6<br />‘zaad’, kan ook vertaald worden als: ‘nageslacht’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְהִנֵּה שִׁבְעָה אַחִים הָיוּ בֵּינֵינוּ וְנָשָׂא הָרִאשׁוֹן אִשָּׁה וּמֵת בְּלֹא זֶרַע וְיַבֵּם אָחִיו אֶת־אִשְׁתּוֹ
      </p>
      <p class="nl">
        
          En zie, er waren zeven broers onder ons. En de eerste nam een vrouw, maar stierf zonder zaad, en zijn broer huwde zijn vrouw.
        
      </p>
      <p class="margin">
        
          ‘huwde’, in het Hebreeuws wordt een woord gebruikt dat betekent: ‘een zwagerhuwelijk sluiten’ en ‘een leviraatshuwelijk sluiten’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְכֵן הַשֵּׁנִי וּשְׁלִישִׁי עַד הַשְּׁבִיעִי
      </p>
      <p class="nl">
        
          En zo ook de tweede en derde tot aan de zevende.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְאַחֲרֵיהֶם מֵתָה הָאִשָּׁה
      </p>
      <p class="nl">
        
          En na hen stierf de vrouw.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        שֶׁכְּבָר הָיְתָה לְכּוּלָּם אֶל מִי מֵהַשִּׁבְעָה תִּהְיֶה הָאִשָּׁה
      </p>
      <p class="nl">
        
          Omdat zij tot hen allen was, tot wie van de zeven is de vrouw?
        
      </p>
      <p class="margin">
        
          ‘tot … vrouw’, in Ms. Heb. 28 (Rijksbibliotheek, Leiden) staat: ‘in de dag van de opstanding, tot wie van hun zeven is zij tot vrouw, omdat zij tot allen was’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹּאמֶר אֲלֵיהֶם תִּשְׁגּוּ וְלֹא תָּבִינוּ הַסְּפָרִים וְעוֹז הָאֱלֹהִים
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde en zei tot hen: u afgedwaalden, maar u begrijpt de Schriften niet en de kracht van de Elohiem.
        
      </p>
      <p class="margin">
        
          ‘kracht’, kan ook vertaald worden als: ‘sterkte’, ‘bescherming’ en ‘toevlucht’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        בַּיּוֹם הַתְּקוּמָה לֹא יִקְּחוּ הָאֲנָשִׁים נָשִׁים וְלֹא הַנָּשִׁים אֲנָשִׁים רַק יִהְיוּ כְּמַלְאֲכֵי אֱלֹהִים  בַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          In de dag van de opstanding nemen de mannen geen vrouwen en de vrouwen geen mannen, maar zij zullen zijn zoals de engelen van de Elohiem in de hemelen.
        
      </p>
      <p class="margin">
        
          ‘de opstanding’, is een ander Hebreeuws woord dan in vers 23<br />Er is woordverband tussen ‘de mannen’ (ha’anasjiem), ‘vrouwen’ (nasjiem), ‘de vrouwen’ (hanasjiem) en ‘mannen’ (anasjiem).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        הַלֹּא קְרָאתֶם מִתְּחִיַּית הַמֵּתִים שֶׁאָמַר יְהֹוָה לָכֶם 
      </p>
      <p class="nl">
        
          Heeft u niet gelezen over de opstanding van de doden wat J<sup>e</sup>HOVAH tot jullie zei:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        אֲנִי יְהֹוָה אֱלֹהֵי אַבְרָהָם אֱלֹהֵי יִצְחָק וֶאֱלֹהֵי יַעֲקֹב וְאִם כֵּן אֵינוּ אֱלֹהֵי הַמֵּתִים כִּי אִם אֱלֹהֵי הַחַיִּים
      </p>
      <p class="nl">
        
          “Ik ben J<sup>e</sup>HOVAH: Elohiem van Avraham, Elohiem van Jitschaq en Elohiem van Jaäqov.” En zo ja, Hij is niet Elohiem van de doden, maar Elohiem van de levenden.
        
      </p>
      <p class="margin">
        
          Citaat uit Ex. 3:6
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וְיִשְׁמְעוּ הַחֲבוּרוֹת וְיִתְמְהוּ מֵחָכְמָתוֹ
      </p>
      <p class="nl">
        
          En de menigte hoorde het en was verbaasd over Zijn wijsheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וְכַאֲשֶׁר רָאוּ הַפְּרוּשִׁים כִּי אֵין מַעֲנֶה לַצְּדּוּקִים הִתְחַבְּרוּ יַחְדָּיו
      </p>
      <p class="nl">
        
          En toen de P<sup>e</sup>roesjiem zagen, wanneer de Ts<sup>e</sup>doeqiem geen antwoord hadden, gingen zij met elkaar samen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְיִשְׁאֲלוּהוּ חָכָם אֶחָד לְנַסּוֹתוֹ
      </p>
      <p class="nl">
        
          En één wijze vroeg aan Hem om Hem op de proef te stellen:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        רַבִּי אָמוּר אֵיזֶה הִיא מִצְוָה גְּדוֹלָה שֶׁבַּתּוֹרָה
      </p>
      <p class="nl">
        
          zeg eens Rabbi: wat is het grootste gebod in de Torah?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        אָמַר לוֹ וְאָהַבְתָּ אֵת יְהֹוָה אֱלֹהֶיךָ בְּכָל־לְבָבְךָ וּבְכָל־נַפְשְׁךָ וּבְכָל־מְאֹדֶךָ
      </p>
      <p class="nl">
        
          Hij zei tot hem: “En u zult J<sup>e</sup>HOVAH, uw Elohiem, liefhebben met uw hele hart, en met uw hele ziel en met uw hele vermogen.”
        
      </p>
      <p class="margin">
        
          Citaat uit Deut. 6:5<br />In Mark. 12:29 begint het antwoord van Jesjoea met  ‘Hoor Jisraël, JHWH is onze Elohiem, JHWH is één’, een citaat uit Deut. 6:4<br />‘met uw hele vermogen’, in de Griekse handschriften staat: ‘met uw hele verstand’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        זוֹ הִיא הָרִאשׁוֹנָה הַמִּצְוָה גְדוֹלָה
      </p>
      <p class="nl">
        
          Dit is het eerste en het grootste gebod.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְהַשֵּׁנִית דּוֹמֶה אֵלֶיהָ וְאָהַבְתָּ לְרֵעֲךָ כָּמוֹךָ
      </p>
      <p class="nl">
        
          En het tweede aan deze gelijk: “En u zult uw naaste liefhebben als uzelf”
        
      </p>
      <p class="margin">
        
          Citaat uit Lev. 19:18
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְעַל שְׁתֵּי הַמִּצְווֹת הָאֵלֶּה הַתּוֹרָה כּוּלָּהּ תְּלוּיָה וְהַנְּבִיאִים
      </p>
      <p class="nl">
        
          En aan deze twee geboden hangt heel de Torah en de profeten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        וְיֶאֶסְפוּ הַפְּרוּשִׁים וְיִשְׁאֲלֵם יֵשׁוּעַ
      </p>
      <p class="nl">
        
          En de P<sup>e</sup>roesjiem verzamelden zich en Jesjoea vroeg hen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        לֵאמֹר מָה יִרְאָה לָכֶם מִן הַמָּשִׁיחַ וּבֵן מִי יִהְיֶה וְיֹאמְרוּ לוֹ בֵּן דָּוִד
      </p>
      <p class="nl">
        
          door te zeggen: wat is jullie inzicht over de Messias? Van wie is Hij een Zoon? En zij zeiden tot Hem: Zoon van David.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם אֵיךְ קָרְאוּ אוֹתוֹ דָּוִד בָּרוּחַ הַקֹּדֶשׁ לֵאמֹר אָדוֹן
      </p>
      <p class="nl">
        
          En Hij zei tot hen: hoe kan David Hem noemen, door de Heilige Geest, door te zeggen: Heer?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        דִכְתִיב נְאֻם יְהֹוָה לַאדוֹנִי שֵׁב לִימִינִי עַד־אָשִׁית אוֹיְבֶיךָ הֲדוֹם לְרַגְלֶיךָ
      </p>
      <p class="nl">
        
          Het is geschreven: “J<sup>e</sup>HOVAH heeft tot mijn Heer verklaard: zit aan Mijn rechterhand totdat Ik Uw vijanden heb gesteld tot een voetenbank voor Uw voeten.”
        
      </p>
      <p class="margin">
        
          ‘het is geschreven’ is een Aramees woord<br />Citaat uit Ps. 110:1<br />‘verklaart’, letterlijk: ‘godsspraak’ en ‘profetie’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        אִם דָּוִד קָרְאוּ אוֹתוֹ אָדוֹן אֵיךְ יִהְיֶה בְּנוֹ
      </p>
      <p class="nl">
        
          Als David Hem noemt “Heer”, hoe is Hij zijn Zoon?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        וְלֹא יָכְלוּ לְהָשִׁיבוֹ דָּבָר מִכָּאן וְאֵילָךְ פָּחֲדוּ לִשְׁאוֹל מִמֶּנּוּ דָּבָר
      </p>
      <p class="nl">
        
          En zij konden Hem niet een woord antwoorden, van toen af aan vreesde men Hem een woord te vragen.
        
      </p>
      <p class="margin">
        
          ‘van toen af aan’, letterlijk: ‘van hier en daarna’, ‘en daarna’ is een Aramees woord
        
      </p>
    </div>
  
</div>