<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אָז דִבֵּר יֵשׁוּעַ אֶל הָעַם וְאֶל תַּלְמִידָיו
      </p>
      <p class="nl">
        
          Toen sprak Jesjoea tot het volk en tot Zijn leerlingen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        לֵאמֹר עַל־כִּסֵּא מֹשֶׁה יֵשְׁבוּ הַפְּירוּשִׁים וְהַחֲכָמִים
      </p>
      <p class="nl">
        
          door te zeggen: op de zetel van Mosjeh zitten de P<sup>e</sup>roesjiem en de wijzen
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְעַתָּה כֹּל אֲשֶׁר יֹאמַר לָכֶם שִׁמְרוּ וַעֲשׂוּ וּבְתַקָּנוֹתֵיהֶם וּמַעֲשֵׂיהֶם אַל תַּעֲשׂוּ שֶׁהֶם אוֹמְרִים וְהֵם אֵינָם עוֹשִׂים
      </p>
      <p class="nl">
        
          en nu, alles wat hij zegt tot jullie: onderhoudt en doet dat. Maar doet niet hun verordeningen en hun werken, omdat zij wel zeggen, maar zij doen niet.
        
      </p>
      <p class="margin">
        
          ‘hij zegt’, dat is Mosjeh, in andere Shem Tov staat: ‘zij zeggen’, dat zijn de P<sup>e</sup>roesjiem en de wijzen, zo ook in de DuTillet, Münster, Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְדוֹרְשִׁים וְנוֹתְנִים מַשָּׂאוֹת גְּדוֹלוֹת לֹא יוּכְלוּ לְסוֹבְלָם שִׁכְמֵי אָדָם וְהֵם אֲפִילּוּ בְּאֶצְבָּעָם אֵינָם רוֹצִים לָנוּעַ
      </p>
      <p class="nl">
        
          En zij eisen en zetten grote schuld die niet gedragen kan worden op schouders van mensen. En zij zelfs willen hun vinger niet bewegen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְכָל מַעֲשֵׂיהֶם עוֹשִׂים לַמַּרְאֶה עֵינַיִם וְלוֹבְשִׁים מַלְבּוּשִׁים יְקָרִים וְצִיצִיּוֹת נִקְרָאִים פִיבְלִיאוֹס  גְּדוֹלִים
      </p>
      <p class="nl">
        
          En al hun werken doen zij om gezien te worden en zij kleden zich in kostbare kleding en grote tsitsit, genaamd: phiblios.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        אֲהָבִים לִהְיוֹת מְסוּבִּים רִאשׁוֹנָה בְּבָתֵּי מִשְׁתָּאוֹת וְלִהְיוֹת מוֹשָׁבָם בְּבָתֵּי כְּנֵסִיּוֹת בָּרִאשׁוֹנָה
      </p>
      <p class="nl">
        
          Zij houden ervan om als eerste te liggen in de feesthallen, en hun verblijf in de huizen van samenkomsten als eerste.
        
      </p>
      <p class="margin">
        
          ‘feesthallen’, letterlijk: ‘huizen van feesten’ of ‘huizen van banketten’<br />‘hun verblijf … als eerste’, dat is: op een belangrijke plaats
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וּלְהִשְׁתַּחֲווֹת לָהֶם בַּחוּצוֹת וּלְקוֹרְאָם רַבָּנִים
      </p>
      <p class="nl">
        
          En eerbied tot hen in de straten, en om “rabbijnen” genoemd te worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאִתָּם אַל תִּרְצוּ לִהְיוֹת נִקְרָאִים רַבָּנִים אֶחָד הוּא רַבְּכֶם וְכוּלְּכֶם אַחִים
      </p>
      <p class="nl">
        
          Maar jullie, heb geen behagen om “rabbijnen” genoemd te worden. Eén, Hij is jullie Rabbi, maar jullie allen zijn broers.
        
      </p>
      <p class="margin">
        
          ‘Hij is jullie Rabbi’, in de Griekse handschriften staat: ‘jullie Rabbi is Christos’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְאָב אַל תִּקְרְאוּ לָאָדָם עַל הָאָרֶץ אֶחָד הוּא אֲבִיכֶם שֶׁבַּשָּׁמַיִם
      </p>
      <p class="nl">
        
          En u noemt geen mens “vader” op de aarde. Eén, Hij is jullie Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          ‘vader op de aarde’, dat is: een geestelijk vader
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְאַל תִּקְרְאוּ רַבָּנִים שֶׁרַבְּכֶם אֶחָד הוּא הַמָּשִׁיחַ
      </p>
      <p class="nl">
        
          En u noemt niemand “rabbijnen”, omdat jullie Rabbi is Eén, Hij is de Messias.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        הַגָּדוֹל בֵּינֵיכֶם יִהְיֶה מְשָׁרֵת אֶתְכֶם
      </p>
      <p class="nl">
        
          De grootste onder jullie zal jullie dienen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַאֲשֶׁר יִתְרוֹמֵם יִּשַּׁח וַאֲשֶׁר יִּשַּׁח יָרוּם
      </p>
      <p class="nl">
        
          En wie zich verheft zal zich verlagen, maar wie zich verlaagt zal verheven worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אוֹי לָכֶם הַפְּרוּשִׁים וְהַחֲכָמִים חֲנֵפִים שֶׁאִתָּה סוּגַּרִים מַלְכוּת שָׁמַיִם בִּפְנֵי בְּנֵי אָדָם אִתָּה אֵינְכֶם בָאִים וְהָרוֹצִים לְבָא אֵינְכֶם עוֹזְבִים אוֹתָם לְבָא
      </p>
      <p class="nl">
        
          Wee jullie, de P<sup>e</sup>roesjiem en de wijzen, huichelaars! Omdat jullie sluiten het Koninkrijk van de Hemelen voor de zonen van mensen, jullie gaan niet in en wie behagen heeft om in te gaan, onthouden jullie om in te gaan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        אוֹי לָכֶם הַפְּרוּשִׁים וְהַחֲכָמִים חֲנֵפִים שֶׁאִתָּם אוֹכְלִים וְחוֹלְקִים נִכְסֵי הַנָּשִׁים הָאַלְמְנוֹת בַּדְּרָשׁ אָרוֹךְ וּבַעֲבוּר זֶה תִּסְבְּלוּ עוֹנֶשׁ אָרוֹךְ
      </p>
      <p class="nl">
        
          Wee jullie, de P<sup>e</sup>roesjiem en de wijzen, huichelaars! Omdat jullie eten en verdelen de rijkdommen van de weduwen door langdurig te eisen en omwille van dit zult u dragen een langdurige straf.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        סוֹבְבִים הַיָּם וְהַיְּבֵשָׁה לְקָשׁוּר לֵב אִישׁ אֶחָד בֶּאֱמוּנַתְכֶם וְכַאֲשֶׁר יִהְיֶה נִקְשַׁר יִהְיֶה רַע כְּפָלִים מִקּוֹדֶם
      </p>
      <p class="nl">
        
          Jullie gaan de zee en het land rond om het hart van één man te binden in jullie geloof, maar wanneer hij gebonden is, het kwaad is verdubbeld dan vroeger.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        אוֹי לָכֶם מוֹשְׁבֵי הָעִוְּרִים אֲשֶׁר תֹּאמְרוּ שֶׁהַנִּשְׁבָּע בַּהֵיכָל אֵינוּ חַיָּיב וַאֲשֶׁר יִדּוּר בְּאֵיזֶה דָּבָר שֶׁהוּא נִקְדָּשׁ לָבִּנְיָין הַהֵיכָל חַיָּיב לְשַׁלֵּם
      </p>
      <p class="nl">
        
          Wee jullie, de kring van blinden, die zegt dat zweren bij het Heiligdom men niets schuldig is. Maar die wat dan ook voor gelofte aflegt, bij deze geheiligde constructie van het Heiligdom, is schuldig te betalen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        מְשׁוּגָּעִים וְעִוְּרִים אֵיזֶהוּ יוֹתֵר גָּדוֹל הַהֵיכָל אוֹ דָּבָר הַנִּקְדָּשׁ לַהֵיכָל
      </p>
      <p class="nl">
        
          Krankzinnigen en blinden! Wat is groter dan het Heiligdom of wat is heiliger tot het Heiligdom? 
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַאֲשֶׁר יִשָּׁבַע בַּמִּזְבֵּחַ אֵינוּ חַיָּיב וְהַנִּשְׁבָּע שֶׁיַּקְרִיב קָרְבָּן חַיָּיב לָתֵת
      </p>
      <p class="nl">
        
          En die zweert bij het altaar is niets schuldig, maar hij die zweert dat hij een nadering doet naderen, die is schuldig te geven.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘nadering’ (qorban) en ‘doet naderen’ (sjejaqriev).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        אוֹי הָעִוְּרִים אֵיזֶהוּ יוֹתֵר הַקָּרְבָּן אוֹ הַמִּזְבֵּח הַמִּקְדָּשׁ אוֹ הַקָּרְבָּן
      </p>
      <p class="nl">
        
          Wee de blinden, wat is meer: de nadering of het altaar? Het Heiligdom of de nadering?
        
      </p>
      <p class="margin">
        
          ‘Heiligdom’ is een ander Hebreeuws woord dan in de verzen 16 en 17
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        אֲשֶׁר יִשָּׁבַע בַּמִּזְבֵּחַ נִשְׁבַּע וּבְכָל מָה שֶׁבְּתוֹכוֹ
      </p>
      <p class="nl">
        
          Die zweert bij het altaar, zweert bij het en alles wat daarin is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַאֲשֶׁר יִשָּׁבַע בַּמִּקְדָּשׁ נִשְׁבַּע בּוֹ וְכָל מָה שֶׁבְּתוֹכוֹ
      </p>
      <p class="nl">
        
          En die zweert bij het Heiligdom, zweert bij het en alles wat daarin is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַאֲשֶׁר יִשָּׁבַע בַּכִּסֵּא אֱלֹהִים נִשְׁבַּע בּוֹ וּבַיּוֹשֵׁב עָלָיו
      </p>
      <p class="nl">
        
          En die zweert bij de troon van Elohiem, zweert bij Hem en bij Die erop zit.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        אוֹי לָהֶם לַחֲכָמִים וּלַפְּרוּשִׁים הַמְּעַשְּׂרִים הַנַעְנַע וְהַשֶׁבֶת וְהַרְמוֹן וְהַגּוֹזָלִים וְעוֹזְבִים אֲשֶׁר הוּא יוֹתֵר נִכְבָּד זֶהוּ מִשְׁפָּטֵי הַתּוֹרָה וְהֵם הַחֶסֶד וְהָאֱמֶת וְהָאֱמוּנָה אֵלּוּ הַמַּאֲמָרִים רְאוּיִים לַעֲשׂוֹת וְלֹא לִשְׁכּוֹחַ אוֹתָם
      </p>
      <p class="nl">
        
          Wee hen, de wijzen en de P<sup>e</sup>roesjiem, die vertienen de munt, en de dille, en de granaatappel, maar beroven dat en laten na dat wat zwaarder is, dat is het recht van de Torah en zij zijn: verbondsliefde, waarheid en geloof. Deze woorden zijn waardig om te doen en vergeet hen niet.
        
      </p>
      <p class="margin">
        
          ‘vertienen’, dat is het tiende deel nemen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        זֶרַע מַנְהִיגִים הָעִוְּרִים מְדַקְדְּקִים בַּדָּבָר הַיַּתּוּשׁ וּבוֹלְעִים אֶת־הַגָּמָל
      </p>
      <p class="nl">
        
          Zaad van blinde leiders, die strikt zijn in de zaak van de mug, maar de dromedaris opslokken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        אוֹי לָכֶם הַפְּרוּשִׁים וְהַחֲכָמִים שֶׁתְּקַנְּחוּ הַכּוֹסוֹת וְהַקְּעָרוֹת מִבַּחוּץ וְתוֹכָם מָלֵא נְבָלָה וְטוּמְּאָה
      </p>
      <p class="nl">
        
          Wee jullie, de P<sup>e</sup>roesjiem en de wijzen, omdat u de bekers en schotels van buiten reinigt, maar van binnen zijn zij vol van dwaasheid en onreinheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        הַחָנֵף נָקָה תְּחִלָּה מָה שֶׁבְּתוֹכוֹ לִהְיוֹת טָהוֹר אֲשֶׁר מִבַּחוּץ
      </p>
      <p class="nl">
        
          De huichelaar! Reinig eerst wat binnenin is, om rein van buiten te zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        אוֹי לָכֶם הַחֲכָמִים וְהַפְּרוּשִׁים הַחֲנֵפִים הַדּוֹמִים לַקְּבָרִים הַמְּלוּבָּנִים שֶׁיִּדְמוּ מִבַּחוּץ יָפִים לִבְנֵי אָדָם וּבְתוֹכָן מְלֵאוֹת עֲצָמוֹת מֵתִים וּמְטוּנָּפִים
      </p>
      <p class="nl">
        
          Wee jullie, de wijzen en de P<sup>e</sup>roesjiem, huichelaars, die gelijk zijn aan witgepleisterde graven die van buiten mooi lijken voor zonen van mensen, maar binnenin vol van dode botten en smerigheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        כֵּן תִּרְאוּ אִתָּם מִבַּחוּץ צַדִּיקִים לִבְנֵי אָדָם וּבְקִרְבְּכֶם מְלֵאוֹת חֲנֵפוֹת וְרִשְׁעוּת
      </p>
      <p class="nl">
        
          Zo, jullie zien van buiten rechtvaardig voor de zonen van mensen, maar van binnen zijn jullie vol huichelarij en slechtheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        אוֹי לָכֶם הַחֲנֵפִים וְהַפְּרוּשִׁים וְהַחֲכָמִים שֶׁתִּבְנוּ קִבְלֵי הַנְּבִיאִים וּתְכַבְּדוּ צִיּוּנֵי הַצַּדִּיקִים
      </p>
      <p class="nl">
        
          Wee jullie, de huichelaars, de P<sup>e</sup>roesjiem en de wijzen, omdat u graftombes bouwt van de profeten en eervolle monumenten van de rechtvaardigen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְתֹאמְרוּ אִם הָיִינוּ בִּימֵי אֲבוֹתֵינוּ לֹא הָיִינוּ מַנַּיָּחִים לְהָמִית הַנְּבִיאִים
      </p>
      <p class="nl">
        
          En u zegt: als wij waren in de dagen van onze vaders, wij hadden niet toegestaan de profeten te laten doden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        בְּזֹאת אִתָּם מְעִידִים עַל עַצְמְכֶם שֶׁבָּנִים אִתָּם לַאֲשֶׁר הָרְגוּ הַנְּבִיאִים
      </p>
      <p class="nl">
        
          Door dit zijn jullie getuigen tegen jullie botten, omdat jullie zonen zijn van degenen die de profeten hebben gedood.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְאִתָּם נוֹהֲגִים כְּמַעֲשֶׂה אֲבוֹתֵיכֶם
      </p>
      <p class="nl">
        
          En jullie gedragen zoals de daden van jullie vaders.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        נְחָשִׁים זֶרַע צִפְעיֹנִים אֵיךְ תָּנוּסוּ מִדִּין גֵּיהִנֹם אִם־לֹא תָּשׁוּבוּ בַּתְּשׁוּבָה
      </p>
      <p class="nl">
        
          Slangen, zaad van adders, hoe vlucht u voor het oordeel van het Dal van Hinom of keert u niet om in bekering?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        בַּעַת הַהִיא אָמַר יֵשׁוּעַ לַחֲבוּרוֹת הַיְּהוּדִים לְזֹאת הִנְנִי שׁוֹלֵחַ לָכֶם נְבִיאִים וַחֲכָמִים וְסוֹפְרִים וְמֵהֶם תַּהַרְגוּ וּמֵהֶם תַּכְאִיבוּ בְּבָתֵּי כְנֵסִיוֹתְכֶם וְתִרְדְּפוּנִי מֵעִיר אֶל עִיר
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot de menigte Judeeërs: zie dit, Ik zend tot jullie profeten, wijzen en schriftgeleerden. Maar van hen zult u doden, en van hen zult u geselen in jullie huizen van de samenkomsten, en u zult Mij vervolgen van stad tot stad.
        
      </p>
      <p class="margin">
        
          ‘en u zult Mij vervolgen’, een vervulling van deze tekst is te vinden in Hand. 9:4 waar Jesjoea zegt tot Sja’oel (Saul): “Sja’oel, Sja’oel, wat vervolgt u Mij?”, in Ms. Heb. 28 (Rijksbibliotheek, Leiden), Peshitta en Griekse handschriften staat: ‘en u zult hen vervolgen’. De naam Sja’oel betekent: gevraagd (van JHWH).
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        לָתֵת עֲלֵיכֶם דָּם כָּל צַדִּיק הַנִּשְׁפָּךְ עַל־הָאָרֶץ מִדָּם־הָבֶל הַצַּדִּיק עַד־דַּם זְכַרְיָה בֶּן־בֶּרֶכְיָה אֲשֶׁר הֲרַגְתֶּם בֵּין הַהֵיכָל וְלַמִּזְבֵּח
      </p>
      <p class="nl">
        
          Om te geven over jullie het bloed van elke rechtvaardige dat vergoten is over de aarde, van het bloed van Havel, de rechtvaardige, tot aan het bloed van Z<sup>e</sup>charJAH, zoon van BerechJAH, die jullie hebben gedood tussen het Heiligdom en het altaar.
        
      </p>
      <p class="margin">
        
          Havel: (Abel) ademtocht<br />Z<sup>e</sup>charJAH: (Zacharia) JHWH is gedachtig geweest<br />BerechJAH: (Berechja) gezegend heeft JHWH, zie Zach. 1:1
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        בֶּאֱמֶת אֲנִי אוֹמֵר לָכֶם שֶׁיָּבוֹאוּ כָּל אֵלֶּה עַל הַדּוֹר הַזֶּה
      </p>
      <p class="nl">
        
          In waarheid zeg Ik tot jullie dat al dit komt over dit geslacht,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        וְעַל יְרוּשָׁלַיִם הַהוֹרֶגֶת הַנְּבִיאִים וּמְסַלֶּקֶת הַשְׁלוֹחִים כַּמָּה פְּעָמִים רָצִיתִי לֶאֱסוֹף בָּנֶיךָ כַּאֲשֶׁר תֶּאֱסוֹף הַתַּרְנְגוֹלֶת אֶפְרוֹחֶיהָ תַּחַת כְּנָפֶיהָ וְלֹא רָצִיתָ
      </p>
      <p class="nl">
        
          en over J<sup>e</sup>roesjalajiem die de profeten doodt en die gezonden zijn verwijdert: hoe vaak heb Ik nog behagen om uw zonen te verzamelen, zoals de hen haar kuikens verzamelt onder haar vleugels, maar u heeft geen behagen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        לָכֵן אִתָּם תַּעַזְבוּ בָּתֵּיכֶם חֲרֵבוֹת
      </p>
      <p class="nl">
        
          Daarom zullen jullie jullie huizen verwoest achterlaten.
        
      </p>
      <p class="margin">
        
          ‘verwoest’ kan ook vertaald worden als: ‘droog’ en ‘dor’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        בֶּאֱמֶת אֲנִי אוֹמֵר לָכֶם לֹא תִּרְאוּנִי מִכָּאן וְאֵילָךְ עַד שֶׁתֹּאמְרוּ בָּרוּךְ מוֹשִׁיעֵנוּ
      </p>
      <p class="nl">
        
          In waarheid zeg Ik tot jullie: u zult Mij niet zien, vanaf nu en verder, totdat u zegt: gezegend is onze Verlosser.
        
      </p>
      <p class="margin">
        
          ‘gezegend is onze Verlosser’, in de Peshitta en Griekse handschriften staat: ‘Gezegend, Die komt in de Naam van de Heere’, een citaat uit Ps. 118:26
        
      </p>
    </div>
  
</div>