<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר יֵצֵא יֵשׁוּעַ מִן הַמִּקְדָּשׁ וּכְשֶׁהָיָה הוֹלֵךְ נִגְּשׁוּ תַּלְמִידָיו לְהַרְאוֹתוֹ בִּנְיְנֵי הַמִּקְדָּשׁ
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea vertrok uit het Heiligdom, en toen Hij ging, naderden Zijn leerlingen  om Hem de gebouwen van het Heiligdom te tonen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיֹּאמֶר תִּרְאוּ כָּל־אֵלֶּה אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁהַכֹּל יֵהָרֵס וְלֹא יִשָּׁאֵר שָׁם אֶבֶן עַל אֶבֶן
      </p>
      <p class="nl">
        
          Maar Hij zei: ziet u dit alles? Amen, Ik zeg tot jullie, dat alles afgebroken wordt en daar blijft geen steen op steen over.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וּבְשַׁבָּתוֹ עַל הַר הַזֵּתִים נֶגֶד בֵּית הַמִּקְדָּשׁ שָׁאֲלוּ לוֹ פֶּיטְרוֹשׁ וְיֹחָנָן וְאַנְדְרֵיאַה בַּסֵּתֶר מָתַי יִהְיֶה כָּל־אֵלֶּה וּמָה הָאוֹת שֶׁיִּהְיֶה כְּשֶׁיִּהְיוּ כָּל־אֵלֶּה הָעִנְיָנִים אוֹ כְּשֶׁיַּתְחִילוּ וּמָתַי יִהְיֶה תַּכְלִית הָעוֹלָם וּבִיאָתְךָ
      </p>
      <p class="nl">
        
          En toen Hij op de Olijfberg zat tegenover het Heilige Huis, vroegen Petros, Jochanan en Andreah Hem in het verborgen: wanneer zal dit alles zijn? En wat is het teken dat al deze zaken gaan gebeuren of beginnen? En wanneer is het einde van de wereld en Uw komst?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ הִשָּׁמְרוּ פָּן יִתְעֶה אֶתְכֶם אִישׁ
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde tot hen: wees op je hoede, opdat een man jullie niet misleidt,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        שֶׁרַבִּים יַבְּאוּ בִּשְׁמִי לֵאמֹר אֲנִי הוּא הַמָּשִׁיחַ וְיִתְעוּ אֶתְכֶם
      </p>
      <p class="nl">
        
          omdat velen komen in Mijn Naam, door te zeggen: “Ik ben de Messias”. En zij misleiden jullie.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאַתָּם כַּאֲשֶׁר תִּשְׁמְעוּ הַמִּלְחָמוֹת וְחַבְרַת הַצְּבָאוֹת הִשָּׁמְרוּ פָּן תְהַבֵלוּ שֶׁכָּל זֶה עָתִיד לְבָא אֲבָל עָדִין אֵין הַתַּכְלִית
      </p>
      <p class="nl">
        
          Maar jullie, wanneer u hoort van de oorlogen en het samentrekken van legers, wees op je hoede, opdat u niet ijdel bent, omdat dit alles moet gereed komen, maar nog is het einde niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וִיקוּם גּוֹי עַל גּוֹי וּמַמְלָכָה עַל מַמְלָכָה וְיִהְיוּ מְהוּמוֹת רַבּוֹת וְרָעָב כָּבֵד וְרַעַשׁ בַּמְּקוֹמוֹת
      </p>
      <p class="nl">
        
          En een volksstam staat op tegen een volksstam, en een koninkrijk tegen een koninkrijk, en er zal veel verwarring zijn, en een zware hongersnood, en een aardbeving in plaatsen.
        
      </p>
      <p class="margin">
        
          ‘volksstam’, het Hebreeuwse woord is ‘ghoj’, dat vaak vertaald wordt als: heiden
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        כָּל־אֵלֶּה תְּחִלַּת הַמַכְאוֹבוֹת
      </p>
      <p class="nl">
        
          Al dit is het begin van smarten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אָז יֶאֶסְרוּ אֶתְכֶם לַצָּרוֹת וְיַהַרְגוּ אֶתְכֶם וְתִהְיוּ לַחֶרְפָּה לְכָל הָעַמִּים עַל שְׁמִי
      </p>
      <p class="nl">
        
          Dan worden jullie gebonden tot verdrukking, en men slaat jullie dood, en jullie worden tot verachting voor alle volkeren vanwege Mijn Naam.
        
      </p>
      <p class="margin">
        
          ‘volkeren’, het Hebreeuwse woord is ‘amiem’, een ander woord dan in vers 7
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְאָז יִרְגְּזוּ רַבִּים וְיִבְגְּדוּ הֵם בָּהֶם וְיִתְקַצְּפוּ בֵּינֵיהֶם
      </p>
      <p class="nl">
        
          En dan zijn velen angstig en zij worden bedrogen door hen, en ergenis is onder hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיָקוּמוּ נְבִיאֵי הַשֶּׁקֶר וְיִטְעוּ אֶת־הָרַבִּים
      </p>
      <p class="nl">
        
          En er staan valse profeten op, en zij misleiden velen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְכַאֲשֶׁר תִּרְבֶּה הָרִשְׁעוּת תָּפוּג אַהֲבַת רַבִּים
      </p>
      <p class="nl">
        
          En wanneer de slechtheid talrijk is, de liefde van velen verslapt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַאֲשֶׁר יְחַכֶּה עַד הַתַּכְלִית יִוָּשֵׁעַ
      </p>
      <p class="nl">
        
          Maar wie verwacht tot het einde wordt verlost.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְתִדְרֹשׁ בֵּשׂוֹרָה לֹעֵז אוּוַנְגֵילִי זֹאת בְּכָל אַפְסֵי הָאָרֶץ לַעֵדוּת עָלָי עַל כָּל הַגוֹיִם וְאָז תָּבֹא הַתַּכְלִית
      </p>
      <p class="nl">
        
          En u, predikt dit goede nieuws (vreemde taal: Oevangheli) naar alle einden van de aarde tot een getuigenis over Mij voor alle volksstammen. En het einde komt wanneer
        
      </p>
      <p class="margin">
        
          ‘Oevangheli’, dit sluit het meeste aan bij het Grieks: εὐαγγέλιον (euaggelion).<br />‘einden’, kan ook vertaald worden als: uiteinden.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        זֶה אַנְטִיקְרִיסְטוֹשׁ וְזֶהוּ שִׁקּוּץ שׁוֹמֵם הָאָמוּר עַל פִּי דָּנִיֵּאל הַנָּבִיא עוֹמֵד בִּמְקוֹם קָדוֹשׁ וְהַקּוֹרֵא יָבִין
      </p>
      <p class="nl">
        
          deze anti-christos en deze verwoestende gruwel, naar het woord dat door de mond van Daniël, de profeet, staat op de Heilige Plaats. En die het lezen begrijpen het.
        
      </p>
      <p class="margin">
        
          ‘door de mond’, letterlijk: over de mond<br />Daniël:  mijn rechter is El
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        אָז אֲשֶׁר בִּיְהוּדָה יָנוּסוּ לְהָרִים
      </p>
      <p class="nl">
        
          Dan die in J<sup>e</sup>hoedah zijn, vlucht naar de bergen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וַאֲשֶׁר עַל הַבַּיִת לֹא יָרַד לָקַחַת שׁוּם דָּבָר מִבֵּיתוֹ
      </p>
      <p class="nl">
        
          En die op het huis is, daalt niet af om een ding te pakken wat in zijn huis ligt.
        
      </p>
      <p class="margin">
        
          ‘op het huis’, dat is: op het dak van het huis
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַאֲשֶׁר בַּשָּׂדֶה לֹא יָשׁוּב לָקַחַת כֻּתָּנְתּוֹ
      </p>
      <p class="nl">
        
          En die op het veld is, keert niet om om zijn tuniek te pakken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        הוֹי לַהֲרוֹת וְלִמְנִיקוֹת בַּיָּמִים הָהֵם
      </p>
      <p class="nl">
        
          Wee de zwangeren en de voedsters in die dagen.
        
      </p>
      <p class="margin">
        
          ‘voedsters’, kan ook vertaald worden als: ‘minnen’ en ‘zoogmoeders’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        הִתְפַּלְּלוּ לָאֵל שֶׁלֹא תִּהְיֶה מְנוּסַתְכֶם בַּסְּתָו  וּבַשַּׁבָּת
      </p>
      <p class="nl">
        
          Bidt tot El, dat jullie vlucht niet zal zijn in de winter en op de Sjabbat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        שֶׁאָז תִּהְיֶה צָרָה גְּדוֹלָה אֲשֶׁר לֹא נִהְיְתָה מְבָרֵאת הָעוֹלָם עַד עַתָּה וְכָמוֹהָ לֹא תִּהְיֶה
      </p>
      <p class="nl">
        
          Omdat er een grote benauwdheid zal zijn, die niet is voorgekomen sinds de schepping van de wereld tot nu en zo zal geen meer zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְלוּלֵי הֱיוֹת הַיָּמִים הָהֵם מְעַטִּים לֹא יִוָּשֵׁעַ כָּל בָּשָׂר רַק בַּעֲבוּר הַנִּבְחָרִים יְמַעֲטוּ הַיָּמִים הָהֵם
      </p>
      <p class="nl">
        
          En als die dagen niet weinig zijn, geen van alle vlees wordt verlost, maar omwille van de verkozenen zijn die dagen weinig.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וּבְאוֹתוֹ הַזְּמַן אִם יֹאמַר אִישׁ לָכֶם הִנֵּה הַמָּשִׁיחַ לְכַּאן אוֹ לַשָׁם לֹא תַּאֲמִינוּ
      </p>
      <p class="nl">
        
          En op een vastgestelde tijd, als een man zegt tot jullie: “Zie, de Messias is hier” of “daar”, u gelooft hem niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        שֶׁיָּקוּמוּ מְשִׁיחֵי שְׁקָרִים וּנְבִאֵי הַשֶּׁקֶר וְיַתְנוּ אוֹתוֹת וּמוֹפְתִים גְּדוֹלִים בָּעִנְיָן שֶׁאִם יוּכַל לִהְיוֹת יַבְּאוּ בְּטָעוּת אֶת־הַנִּבְחָרִים
      </p>
      <p class="nl">
        
          Omdat valse messiassen en valse profeten zullen opstaan, en zij geven tekenen en grote wonderen, dat - als het zou kunnen - men komt de verkozenen misleiden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">26.</p>
      <p class="he">
        וְאִם יֹאמְרוּ לָכֶם הִנּוֹ בַּמִּדְבָּר אַל תֵּצְאוּ וְהִנּוֹ בַּחֲדָרִים אַל תַּאֲמִינוּ
      </p>
      <p class="nl">
        
          En als men zegt tot jullie: “Zie hem, in de woestijn”, u gaat niet uit. En “zie hem, in de binnenkamers”, u gelooft het niet.
        
      </p>
      <p class="margin">
        
          In Shem Tov zijn de verzen 25 en 26 omgedraaid.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">25.</p>
      <p class="he">
        הִנְנִי אוֹמְרוּ לָכֶם קוֹדֶם הֱיוֹתוּ
      </p>
      <p class="nl">
        
          Zie, Ik zeg tot jullie voordat het zal zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם יֵשׁוּעַ לְתַלְמִידָיו כְּמוֹ שֶׁהַבָּרָק יוֹצֵא בַּמִּזְרָח וְנִרְאָה בַּמַּעֲרָב כֵּן תִּהְיֶה בִּיאָתוֹ שֶׁלָּבָן־הָאָדָם
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: zoals de bliksem komt uit het oosten en gezien wordt in het westen, zo zal de komst van de Mensenzoon zijn.
        
      </p>
      <p class="margin">
        
          ‘oosten’ kan ook vertaald worden als: ‘zonsopgang’<br />‘westen’ kan ook vertaald worden als: ‘zonsondergang’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        בְּאֵיזֶה מָקוֹם שֶׁיִּהְיֶה הַגְּוִיָּה שָׁם יִתְחַבְּרוּ הַנְּשָׁרִים
      </p>
      <p class="nl">
        
          In wat voor plaats het lichaam is, daar verzamelen zich de gieren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וּבְאוֹתָהּ שָׁעָה אַחֲרֵי צָרַת הַיָּמִים הָהֵם יֶחְשַׁךְ הַשֶּׁמֶשׁ וְהַיָּרֵח לֹא יַגִּיהַּ אוֹרוֹ וְהַכֹכַבִים יִפְלוּ מֵהַשָּׁמַיִם וְחַיִל הַשָּׁמַיִם יִתְנוֹדֵד
      </p>
      <p class="nl">
        
          En in die tijd, na die dagen van benauwdheid, zal de zon donker worden, en de maan zijn licht niet doen stralen, en de sterren vallen uit de hemelen, en de kracht van de hemelen zal weeklagen.
        
      </p>
      <p class="margin">
        
          ‘licht’ kan ook vertaald worden als: ‘gloed’ en ‘glans’, dat is omdat de maan niet zelf licht geeft<br />‘kracht’ kan ook vertaald worden als: ‘daadkracht’ en ‘krijgsmacht’<br />‘weeklagen’ kan ook vertaald worden als: ‘treuren’ en ‘jammeren’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְאָז יִרְאָה הָאוֹת שֶׁלָּבָן־הָאָדָם בַּשָּׁמַיִם וַיִּבְכּוּ כָּל מִשְׁפָּחוֹת הָאֲדָמָה וְיָרְאוּ אֶת־בֵּן־הָאָדָם בָּעֲבֵי הַשָּׁמַיִם בַּחַיִל רָב וּבַצּוּרָה נוֹרָאָה
      </p>
      <p class="nl">
        
          En dan ziet men het teken van de Mensenzoon in de hemelen, en alle families van de aarde zullen wenen en zien de Mensenzoon op de wolken van de hemelen met grote kracht en in vreeswekkende gedaante.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְיִשְׁלַח מַלְאָכָיו בַּשּׁוֹפָר וּבַקּוֹל גָּדוֹל לֶאֱסוֹף אֶת־נִבְחָרָיו מֵאַרְבַּע רוּחוֹת הַשָּׁמַיִם מִקְצֶה הַשָּׁמַיִם עַד־קְצוֹתָם
      </p>
      <p class="nl">
        
          En Hij zendt Zijn engelen met een Sjophar en een grote stem om Zijn verkozenen te verzamelen vanuit de vier winden, van het ene uiteinde van de hemelen tot aan het andere uiteinde van de hemelen.
        
      </p>
      <p class="margin">
        
          ‘Sjophar’, dat is een ramshoorn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        מֵעֵץ הַתְּאֵנָה תִּלְמְדוּ הַמָּשָׁל כַּאֲשֶׁר תִּרְאוּ עֲנָפֶיהָ וְעָלִים צוֹמְחִים תֵּדְעוּ כִּי קָרוֹב הוּא לַשְׂעֹרִים
      </p>
      <p class="nl">
        
          Van de vijgenboom, leer deze gelijkenis: wanneer u haar takken en blad ziet uitspruiten, weet u immers dat de tijden nabij zijn.
        
      </p>
      <p class="margin">
        
          ‘de tijden’, dat is de oogst, in de Griekse handschriften staat: ‘de zomer’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁלֹא יַעֲבוֹר זֶה הָדּוֹר עַד שֶׁכָּל אֵלּוּ הַדְּבָרִים יִהְיוּ עֲשׂוּיִם
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie, dat dit geslacht niet voorbijgaat totdat al deze dingen zijn uitgevoerd.
        
      </p>
      <p class="margin">
        
          ‘dingen’ kan ook vertaald worden als: ‘woorden’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְהַשָּׁמַיִם וְהָאָרֶץ יַעַבְרוּ
      </p>
      <p class="nl">
        
          En de hemelen en de aarde gaan voorbij,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וּמֵהַיּוֹם הַהוּא וּמֵהָעֵת הַהִיא אֵין מִי שֶׁיּוֹדֵעַ וְלֹא מַלְאֲכֵי הַשָּׁמַיִם אֶלָּא הָאָב בִּלְבַד
      </p>
      <p class="nl">
        
          maar van die dag en die tijd weet niemand, geen van de engelen in de hemelen, maar de Vader alleen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לַתַּלְמִידָיו כַּאֲשֶׁר בִּימֵי נֹחַ כֵּן תִּהְיֶה בִּיאָתוֹ שֶׁלָּבָן הָאָדָם
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: zoals in de dagen van Noach, zo zal het zijn bij de komst van de Mensenzoon.
        
      </p>
      <p class="margin">
        
          Noach: ‘rust’of ‘vertroosting’, zie ook Gen. 5:29
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        כַּאֲשֶׁר הָיוּ קוֹדֶם הַמַּבּוּל אוֹכְלִים וְשׁוֹתִים וּפִּרְיָם וְרַבִּים עַד יוֹם שֶׁבָּא נֹחַ בְתֵיבַה
      </p>
      <p class="nl">
        
          Zoals het was voor de vloed, men at en dronk, was vruchtbaar en vermenigvuldigde zich tot aan de dag dat Noach in de kist ging.
        
      </p>
      <p class="margin">
        
          ‘vloed’, dat is de zondvloed of algemene vloed<br />‘kist’, wordt vaak met ‘ark’ vertaald, dit woord komt van het Latijnse woord ‘arca’: ‘kist’ of ‘doodskist’. Het Hebreeuwse woord voor ‘kist’ (tevah) is een Egyptisch leenwoord en betekent: ‘kist’ of ‘doodskist’. Zowel het Latijn als het Egyptisch betekenen niet: ‘schip’ of ‘vaartuig’. In rabbijnse bronnen wordt het woord ‘tevah’ ook vertaald met ‘woord’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְלֹא יָדְעוּ עַד שֶׁבָּא הַמָּבוּל עֲלֵיהֶם וְיַשְׁחִיתֵם כֵּן תִּהְיֶה בִּיאָתוֹ שֶׁל בֶּן־הָאָדָם
      </p>
      <p class="nl">
        
          En men wist niet totdat de vloed kwam over hen en die hun verwoestte, zo zal het zijn bij de komst van de Mensenzoon.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        אָז אִם יִהְיוּ שָׁנִים חוֹרְשִׁים בַּשָּׂדֶה אֶחָד הָאֶחָד צַדִּיק וְהָאֶחָד רָשָׁע הָאֶחָד יְלַכֵּד וְהָאֶחָר יַעֲזֹב
      </p>
      <p class="nl">
        
          Dan als er twee zijn, op één akker ploegen. De één is rechtvaardig en de ander is slecht. De één wordt aangenomen en de ander wordt achtergelaten.
        
      </p>
      <p class="margin">
        
          ‘de één … de ander’, letterlijk: ‘de één … de één’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        שְׁתַּיִם נָשִׁים טוֹחֲנוֹת בַּטְחוֹן אַחַת הָאַחַת תְּלַכֵּד וְהָאַחַת תַּעֲזֹב וְזֶה יִהְיֶה שֶׁהַמַּלְאָכִים בְּתַכְלִית הָעוֹלָם יָסִירוּ הַמִּכְשׁוֹלִים מֵהָעוֹלָם וְיַפְרִידוּ הַטּוֹבִים מֵהָרָעִים
      </p>
      <p class="nl">
        
          Twee vrouwen, aan het malen met één handmolen. De één wordt aangenomen en de ander wordt achtergelaten. En dit gebeurt omdat de engelen, aan het einde van de wereld, verwijderen de struikelblokken van de wereld en afzonderen de goeden en de slechten.
        
      </p>
      <p class="margin">
        
          ‘en dit gebeurt omdat de engelen, aan het einde van de wereld, verwijderen de struikelblokken van de wereld en afzonderen de goeden en de slechten’, komt niet voor in de Griekse handschriften
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        אָז אָמַר יֵשׁוּעַ לַתַּלְמִידָיו לְזֹאת שִׁמְרוּ עִמִּי שֶׁלֹא תֵּדְעוּ אֵיזוּ שָׁעָה אֲדוֹנֵיכֶם בָּא
      </p>
      <p class="nl">
        
          Toen zei Jesjoea tot Zijn leerlingen: Om dit wees waakzaam met Mij, omdat u niet weet op welk uur jullie Heer komt.
        
      </p>
      <p class="margin">
        
          ‘met Mij’, er kan ook bedoeld worden: ‘Mijn volk’, ontbreekt in Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        זֹאת תֵּדְעוּ אִם הָיָה יוֹדֵעַ אֲדוֹן הַבַּיִת אֵיזוּ שָׁעָה הַגַּנָּב בָּא יִשְׁמוֹר וְלֹא יַעֲזוֹב לַחְתּוּר בֵּיתוֹ
      </p>
      <p class="nl">
        
          Dit weet u: als de heer van het huis weet op welk uur de dief komt, hij bewaakt het en laat het niet achter om zijn huis te laten inbreken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        כֵּן אִתָּם תִּהְיוּ נְכוֹנִים שֶׁלֹא תֵּדְעוּ אֵיזוּ שָׁעָה בֶּן־הָאָדָם עָתִיד לְבָא
      </p>
      <p class="nl">
        
          Zo moeten jullie bereid zijn, omdat u niet weet op welk uur de Mensenzoon gereed is om te komen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        מָה אִתָּם חוֹשְׁבִים מֵהָעֶבֶד הַנֶּאֱמָן וְהֶחָכָם שֶׁשָׂם אוֹתוֹ אֲדוֹנָיו עַל טַפָיו לָתֵת אָכְלָם בְּעִתּוֹ
      </p>
      <p class="nl">
        
          Wat denken jullie van de betrouwbare en wijze dienaar die zijn heer aangesteld heeft over om zijn kinderen op tijd hun eten te geven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        אַשְׁרֵי הָעֶבֶד הַהוּא שֶׁיַמְצִאֵהוּ אֲדוֹנָיו בְּבוֹאוֹ עוֹשֶׂה כֵּן
      </p>
      <p class="nl">
        
          Voorspoedig is de dienaar, omdat zijn heer bij zijn komst hem vindt, zo handelt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁעַל טַפָיו יְשִׂימֵהוּ
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie, dat hij is aangesteld over zijn kinderen.
        
      </p>
      <p class="margin">
        
          ‘over zijn kinderen’, in andere versies van Shem Tov staat: ‘over het goede’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        וְאִם יִהְיֶה הָעֶבֶד הַהוּא רַע וַיֹּאמֶר בְּלבּוֹ אֲדוֹנִי מִתְמַהְמֵהַּ לְבָא
      </p>
      <p class="nl">
        
          Maar als de dienaar slecht is en hij zegt in zijn hart: “mijn heer talmt om te komen”.
        
      </p>
      <p class="margin">
        
          ‘talmt’, kan ook vertaald worden als: ‘treuzelen’ en ‘nalaten’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">49.</p>
      <p class="he">
        וְיַתְחִיל לְהַכּוֹת עָבְדוּ אֲדוֹנָיו וְיֹאכַל וְיִשְׁתֶּה עִם הַזּוֹלְלִים
      </p>
      <p class="nl">
        
          En hij begint de dienaren van zijn heer te slaan, en hij eet en drinkt met de verachten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">50.</p>
      <p class="he">
        וּבָא אֲדוֹנָיו בַּיּוֹם אֲשֶׁר לֹא יְחַכֶּה וּבַעַת אֲשֶׁר לֹא יָדַע
      </p>
      <p class="nl">
        
          En op de dag dat zijn heer komt, die hij niet verwachtte en op de tijd dat hij niet wist,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">51.</p>
      <p class="he">
        וְיַפְרִידֵהוּ וְיָשִׂים חֶלְקוֹ עִם הַחֲנֵפִים שָׁם יִהְיֶה בְּכִי וְחָרוּק שִׁינִים
      </p>
      <p class="nl">
        
          verdeelde en stelde hij over zijn deel de huichelaars, daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>