<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לַתַּלְמִידָיו מַלְכוּת שָׁמַיִם דּוֹמֶה לְעֶשֶׂר בְּתוּלוֹת שֶׁלָּקְחוּ נֵרוֹתֵיהֶן וְיָצְאוּ לִקְרַאת חָתָן וְכַלָּה
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: het Koninkrijk van de Hemelen is gelijk als tien maagden die hun lampen namen en uitgingen de bruidegom en de bruid tegemoet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        חָמֵשׁ מֵהֶן הָיוּ עַצְלוּת כְּסִילוּת וְחָמֵשׁ מֵהֶן זָרִיזוֹת וְחָכְמוֹת
      </p>
      <p class="nl">
        
          Vijf van hen waren luie dwazen en vijf van hen nauwgezet en wijs.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        הֶחָמֵשׁ כְּסִילוּת הוֹצִיאוּ נֵרוֹתיהֶן וְלֹא הוֹצִיאוּ שָׁמֵן עִמָּהֶן
      </p>
      <p class="nl">
        
          De vijf dwazen brachten hun lampen mee, maar brachten geen olie met hun.
        
      </p>
      <p class="margin">
        
          ‘olie’, dat is zuivere olijfolie en is het beeld van de Heilige Geest. Olie hebben of gezalfd zijn met de olie betekent toegerust zijn 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְהַחָכְמוֹת הוֹצִיאוּ שָׁמֵן בִּכְלֵיהֶן עִם נֵרוֹתֵיהֶן
      </p>
      <p class="nl">
        
          De wijzen brachten olie in hun vaten met hun lampen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְיִתְמַהְמֵהַּ הֶחָתָן וְהִנֵּה כֻּלָּן נִתְמַהְמָהוּ וְתַּשְׁנָה
      </p>
      <p class="nl">
        
          Maar de Bruidegom talmde en zie, zij allen werden slaperig en sliepen.
        
      </p>
      <p class="margin">
        
          ‘slaperig’, letterlijk: ‘vertragen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וַיְהִי בַּחֲצִי הַלַּיְלָה וְהִנֵּה קוֹל נִשְׁמַע הִנֵּה הֶחָתָן בָּא בָּאוּ לִקְרָאתוֹ
      </p>
      <p class="nl">
        
          En in het midden van de nacht, en zie, een stem werd gehoord: “zie, de Bruidegom komt! Kom Hem tegemoet!”.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אָז בָּאוּ הַבְּתוּלוֹת הָהֵן כּוֹלְנֶה וְהֵטִיבוּ נֵרוֹתֵיהֶן
      </p>
      <p class="nl">
        
          Toen kwamen al deze maagden en bereidden hun lampen voor.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְתֹאמַרְנָה הַבְּתוּלוֹת הַכְּסִילוּת לַחָכְמוֹת תְּנוּ לָנוּ מִשֶׁמָּנָכֶם שֶׁנֵּרוֹתֵינוּ נִדְעֲכוּ
      </p>
      <p class="nl">
        
          En de dwaze maagden zeiden tot de wijzen: geef ons van jullie olie, omdat onze lampen doven.
        
      </p>
      <p class="margin">
        
          ‘doven’, letterlijk: ‘verdwijnen’ en ‘uitdrogen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְתְעַנְנֵה הַחָכְמוֹת לֵאמֹר לְכוּ נָא אֶל הַמּוֹכְרִים וְקָנוּ לָכֶם כִּי אֵין דַּי בַּשֶּׁמֶן שֶׁלָּנוּ וְלָכֵן נִירָא שֶׁיְּחַסֵּר לָנוּ
      </p>
      <p class="nl">
        
          Maar de wijzen antwoordden, door te zeggen: ga toch naar de verkopers en koop voor jullie, want er is niet voldoende olie voor ons en daarom vrezen wij dat er te weinig is voor ons.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר הָלְכוּ לִקְנוֹת בָּא הֶחָתָן וְהַמּוּכָנוֹת בָּאוּ עִמּוֹ לְחוֹפָהּ וְנִסְגַּר הַשֵּׂעָר
      </p>
      <p class="nl">
        
          Maar het gebeurde toen zij gingen om te kopen, de Bruidegom kwam en die bereid waren kwamen met Hem naar de bruiloft en de poort werd gesloten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְאַחַר כַּך בָּאוּ הַכְּסִילוּת וְתִקְרֶאנָה לַשֵּׂעָר לֵאמֹר אֲדוֹנֵנוּ פֶּתַח לָנוּ
      </p>
      <p class="nl">
        
          En daarna kwamen de dwazen en zij riepen aan de poort, door te zeggen: onze Heer, open voor ons.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַיַעַן לָהֶן בֶּאֱמֶת אֲנִי אוֹמֵר לָכֶם אֵינִי יוֹדֵעַ מִי אַתֵּן
      </p>
      <p class="nl">
        
          Maar Hij antwoordde tot hen: in waarheid, Ik zeg tot jullie, Ik weet niet wie jullie zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְעַל־כֵּן הִשָּׁמְרוּ לָכֶם שֶׁלֹּא תֵּדְעוּ הַיּוֹם וְהַשָּׁעָה שֶׁיִּבֵּא הֶחָתָן
      </p>
      <p class="nl">
        
          En daarom, bewaar jullie, omdat u niet weet van de dag en het uur dat de Bruidegom komt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לַתַּלְמִידָיו דִּמָּיוֹן אַחֵר מַלְכוּת שָׁמַיִם דּוֹמֶה לָאָדָם הוֹלֵךְ בַּדֶּרֶךְ רְחוֹקָה וַיִּקְרָא אֶת־עֲבָדָיו וְיִפִּקּוּד לָהֶם מָמוֹנוֹ
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen een ander vergelijk: het Koninkrijk van de Hemelen is gelijk een mens die op een verre reis ging, en hij riep zijn dienaren en hij verordende zijn vermogen tot hen.
        
      </p>
      <p class="margin">
        
          ‘op een verre reis’, letterlijk: ‘op een verre weg’<br />‘verordende’, dat is: verdeelde het in bewaring<br />‘zijn vermogen’, letterlijk: ‘zijn mammon’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        לְאֶחָד נָתַן חַמְשָׁה זְהוּבִים וְלִשְׁנֵי נָתַן שָׁנִים זְהוּבִים וְלִשְׁלִישֵׁי אֶחָד אִישׁ כָּרָאוּי לוֹ נָתַן לָהֶם וְיֵלֵךְ לְדָרְכוֹ
      </p>
      <p class="nl">
        
          Tot de één gaf hij vijf goudstukken, en tot de tweede gaf hij twee goudstukken, en tot de derde gaf hij één, elk in zijn aanzien gaf hij hen. En hij ging op reis.
        
      </p>
      <p class="margin">
        
          ‘goudstukken’, in de Griekse handschriften staat: ‘talenten’ (τάλαντον – talanton), één talent goud woog 91 kg<br />‘en hij ging op reis’, letterlijk: ‘en hij ging naar zijn weg’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְיֵלֵךְ הַמְּקַבֵּל הַחַמְשָׁה זְהוּבִים וְהִרְוִיחַ חַמְשָׁה אֲחֵרִים
      </p>
      <p class="nl">
        
          En de ontvanger van de vijf goudstukken ging en maakte winst van vijf andere.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וּכְמוֹ כֵּן הַמְּקַבֵּל שָׁנִים הָלַךְ קוֹנֶה וּמוֹכֵר וְהִרְוִיחַ חַמְשָׁה אֲחֵרִים
      </p>
      <p class="nl">
        
          En op diezelfde manier ging de ontvanger van twee, kocht en verkocht, en maakte winst van vijf andere.
        
      </p>
      <p class="margin">
        
          ‘vijf andere’, in enkele Shem Tov, Peshitta en Griekse handschriften staat: ‘twee andere’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְהַמְּקַבֵּל הָאֶחָד הָלַךְ וְחָפַר בָּאָרֶץ וְיִטְמוֹן אֶת־מָמוֹן אֲדוֹנָיו
      </p>
      <p class="nl">
        
          Maar de ontvanger van de één ging en groef in de aarde, en verborg het geld van zijn heer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְאַחֵר יָמִים רַבִּים בָּא אָדוֹן הָעֲבָדִים הָהֵם וִיבַקֵּשׁ מֵהֶם חֶשְׁבּוֹן הַמָמוֹן
      </p>
      <p class="nl">
        
          En na vele dagen kwam de heer van deze dienaren, en hij eiste van hen rekening van het vermogen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְיִגַּשׁ הַמְּקַבֵּל הַחַמְשָׁה זְהוּבִים וַיֹאמֶר לוֹ אֲדוֹנִי חַמְשָׁה זְהוּבִים נָתַתָּ לִי וְהֵא לְךָ חַמְשָׁה אֲחֵרִים אֲשֶׁר רַוְחַתִי
      </p>
      <p class="nl">
        
          En de ontvanger van de vijf goudstukken naderde, en hij zei tot hem: mijn heer, vijf goudstukken heeft u mij gegeven en hier heeft u vijf andere, die mijn winst zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיֹאמֶר לוֹ אֲדוֹנָיו אָמְנָם עֶבֶד טוֹב וְנֶאֱמָן אַתָּה וַיַּעַן הָיִית נֶאֱמָן בִּמְעַט אֲשִׂימְךָ עַל הַרְבֵּה בָּא בְּשִׂמְחַת אֲדוֹנֶיךָ
      </p>
      <p class="nl">
        
          En zijn heer zei tot hem: zeker dienaar, goed en betrouwbaar bent u, en u antwoordde betrouwbaar in het weinige, ik stel u over veel, kom in de vreugde van uw heer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְגַם הַמְּקַבֵּל הַשָׁנִים הַזְּהוּבִים נִגַּשׁ וַיֹאמֶר אֲדוֹנִי שָׁנִים זְהוּבִים נָתַתָּ לִי וְהִנֵּה שָׁנִים אֲחֵרִים אֲשֶׁר הִרְוַחְתִּי
      </p>
      <p class="nl">
        
          En ook de ontvanger van de twee goudstukken naderde en zei: mijn heer, twee goudstukken heeft u mij gegeven en zie twee andere, die mijn winst zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיֹאמֶר לוֹ אֲדוֹנָיו אָמְנָם עֶבֶד טוֹב וְנֶאֱמָן אַתָּה וְכִי הָיִית נֶאֱמָן בִּמְעַט אֲשִׂימְךָ עַל הַרְבֵּה בָּא בְּשִׂמְחַת אֲדוֹנֶיךָ
      </p>
      <p class="nl">
        
          En zijn heer zei tot hem: zeker dienaar, goed en betrouwbaar bent u, en omdat betrouwbaar bent in het weinige, ik stel u over veel, kom in de vreugde van uw heer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וְיִגַּשׁ הַמְּקַבֵּל הָאֶחָד וַיֹאמֶר אֲדוֹנִי יָדַעְתִּי שֶׁעֵז וְקָשֶׁה אַתָּהּ וְתִקְצוֹר אֲשֶׁר לֹא זָרַעְתָּ וְתֶאֱסוֹף אֲשֶׁר לֹא פִּזַּרְתָּ
      </p>
      <p class="nl">
        
          En de ontvanger van de één naderde en zei: mijn heer, ik weet dat u krachtig en hard bent, en u oogst waar niet gezaaid is, en u verzamelt waar niet gestrooid is.
        
      </p>
      <p class="margin">
        
          ‘krachtig’, kan ook vertaald worden als: ‘sterk’<br />‘hard’, kan ook vertaald worden als: ‘moeilijk’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וּמִיִּרְאָתְךָ הָלַכְתִּי וְטָמַנְתִּי הַזָּהוֹב שֶׁלְּךָ וְהֵא לְךָ שֶׁלְּךָ
      </p>
      <p class="nl">
        
          En uit vrees voor u, ben ik gegaan en verborg het goudstuk dat u gegeven heeft, en hier heeft u het terug.
        
      </p>
      <p class="margin">
        
          ‘gegeven’ en ‘terug’, er staat letterlijk: ‘gaan’ en ‘weggaan’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיַּעַן אֲדוֹנָיו וַיֹאמֶר לוֹ עֶבֶד רַע וְעָצֵל אַחֲרֵי שֶׁיָּדַעְתָּ שֶׁקּוֹצֵר אֲנִי אֲשֶׁר לֹא זָרַעְתִּי וְאוֹסֵף אֲשֶׁר לֹא פִּזַּרְתִּי
      </p>
      <p class="nl">
        
          Maar zijn heer antwoordde en zei tot hem: slechte en talme dienaar, nadat u weet dat ik oogst waar ik niet zaai, en verzamel waar ik niet strooi.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        לְזֹאת הָיִית חִיֵּיב לָתֵת נִכְסִי לְשׁוֹלְחֵנִי וּבְבוֹאִי הָיִיתִי מְקַבֵּל אֶת־שֶׁלִי עִם רֶיוַח
      </p>
      <p class="nl">
        
          Daarom, u bent schuldig om mijn rijkdom te geven aan de bankier en met mijn komst zou ik ontvangen dat van mij is, met winst.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        לְזֹאת קְחוּ מִמֶּנּוּ הַזָּהָב וּתְנֵוהוּ לַאֲשֶׁר רוֹוֵחַ הַחַמְשָׁה זְהוּבִים
      </p>
      <p class="nl">
        
          Daarom, neemt van hem het goudstuk en geef het tot degene die de vijf goudstukken winst heeft gemaakt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        לַאֲשֶׁר יֵשׁ לוֹ יִּנָּתֵן לוֹ וְלַאֲשֶׁר אֵין לוֹ הָרָאוּי לוֹ יִלָּקַח מִמֶּנּוּ
      </p>
      <p class="nl">
        
          Tot die heeft zal het gegeven worden, en tot die niet heeft zal waardig zijn om van hem genomen te worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְהָעֶבֶד הֶעָצֵל הַשְׁלִיכוּהוּ בְּמַחְשַׁכֵּי תַּחְתִּיּוֹת וְשָׁם יִהְיֶה לוֹ בְּכִי וְחָרוּק שִׁנַּיִם
      </p>
      <p class="nl">
        
          En de talmende dienaar, werp hem in de duisternis van de diepste plaatsen, en daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לַתַּלְמִידָיו וּבְבוֹא בֶּן־הָאָדָם בְּמַרְאֵהוֹ עִם מַלְאָכָיו אָז יָשַׁב עַל כִסֵּא כְּבוֹדוֹ
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot Zijn leerlingen: maar met de komst van de Mensenzoon, in Zijn verschijning met Zijn engelen, dan zal Hij zitten op de troon van Zijn eer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְיֶאֶסְפוּ לְפָנָיו כָּל הַגּוֹיִם וְיַפְרִיד בֵּינֵיהֶם כַּאֲשֶׁר יַפְרִיד הָרוֹעֶה בֵּין הַכְּשָׂבִים וּבֵין הָעִזִּים
      </p>
      <p class="nl">
        
          En voor Zijn aangezicht vermalen alle volkeren en Hij verdeelt hen, zoals de herder verdeelt de lammeren en de geiten.
        
      </p>
      <p class="margin">
        
          ‘en Hij verdeelt hen’, letterlijk: ‘en Hij deelt tussen hen’<br />‘zoals de herder verdeelt de lammeren en de geiten’, letterlijk: ‘zoals de herder deelt tussen de lammeren en tussen de geiten’<br />‘lammeren’, in enkele Shem Tov staat: ‘schapen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וְיָצִיג אֶת־הַכְּשָׂבִים לִימִינוֹ וְהָעִזִּים לִשְׂמֹאלוֹ
      </p>
      <p class="nl">
        
          En Hij zondert af de lammeren aan Zijn rechterhand, maar de geiten aan Zijn linkerhand.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        אָז יְדַבֵּר לַאֲשֶׁר לִימִינוֹ בּוּאוּ בְּרוּכִים בְּרוּכֵי אֲבִי וְיָרְשׁוּ לָכֶם מִמַּלְכוּת הַשָּׁמַיִם הַמּוּכָן לָכֶם מַבְרִיאַת הָעוֹלָם עַד־עַתָּה
      </p>
      <p class="nl">
        
          Dan spreekt Hij tot die aan Zijn rechterhand: kom gezegenden van Mijn gezegende Vader, en erf voor jullie van het Koninkrijk van de Hemelen dat bereid is voor jullie vanaf de schepping van de wereld tot nu.
        
      </p>
      <p class="margin">
        
          ‘erf’, kan ook vertaald worden als: ‘in bezit nemen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        כִּי רָעַבְתִּי וּנְתַתֶּם לִי לֶאֱכוֹל צָמֵאתִי וּנְתַתֶּם לִי לִשְׁתּוֹת אוֹרֵחַ הָיִיתִי וְתֶאֶסְפוּנִי
      </p>
      <p class="nl">
        
          Want Ik had honger en jullie gaven Mij te eten, Ik had dorst en jullie gaven Mij te drinken, Ik was een reiziger en u haalde Mij binnen,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        עָרוּם וְתַלְבִּישׁוּנִי חוֹלֶה וּתְבַקְּרוּנִי בַּבַּיִת הַסּוֹהֵר הָיִיתִי וְתָבוֹאוּ אֵלַי
      </p>
      <p class="nl">
        
          naakt en u kleedde Mij, ziek en u zorgde voor Mij, Ik was in de gevangenis en u kwam naar Mij.
        
      </p>
      <p class="margin">
        
          ‘gevangenis’, letterlijk: ‘het ronde huis’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        אָז יַעֲנוּ לוֹ הַצַּדִּיקִים אֲדוֹנֵנוּ מָתַי רְאִינוּךָ רָעֵב וְהִשְׂבַּעְנוּךָ צָמַא וְהִשְׁקִינוּךָ
      </p>
      <p class="nl">
        
          Toen antwoordden de rechtvaardigen tot Hem: onze Heer, wanneer hebben wij U zien honger lijden en hebben U verzadigd, dorst hebben en hebben U te drinken gegeven,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        עָרוּם וְכִסִּינוּךָ
      </p>
      <p class="nl">
        
          naakt en U bedekt,
        
      </p>
      <p class="margin">
        
          In Peshitta en Griekse handschriften begint dit vers: ‘wanneer hebben wij U als vreemdeling gezien en gastvrij onthaald’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        חוֹלֶה וּבִקַּרְנוּךָ בַּבַּיִת הַסַּהַר וּבָאנוּ אֵלֶיךָ
      </p>
      <p class="nl">
        
          ziek en zorgden voor U, in de gevangenis en kwamen tot U?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וַיַּעַן הַמֶלֶךְ וַיֹאמֶר לָהֶם אָמֵן אֲנִי אוֹמֶר לָכֶם שֶׁבְּכָל הַפְּעָמִים אֲשֶׁר עֲשִׂיתֶם לְאֶחָד עָנִי מִאֲחֵי אֵלּוּ הַקְּטַנִּים כָּאֵלּוּ עֲשִׂיתֶם לִי
      </p>
      <p class="nl">
        
          En de Koning antwoordt en zegt tot hen: amen, Ik zeg tot jullie, dat met elke keer dat jullie dit doen voor één van deze arme broers, de kleinste, dit doen jullie tot Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        וְגַם יְדַבֵּר לַאֲשֶׁר לִשְׂמֹאלוֹ סוּרוּ מִמֶּנִּי אֲרוּרִים וּבָאוּ בָּאֵשׁ עוֹלָמִית בִּמְקוֹם מוּכָן לָכֶם עִם הַשָּׂטָן וּמַלְאָכָיו
      </p>
      <p class="nl">
        
          Maar ook spreekt Hij tot die aan Zijn linkerhand: verdwijn van Mij, vervloekten, en ga in het eeuwige vuur, in de plaats bereid voor jullie met de satan en zijn engelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        שֶׁרָעַבְתִּי וְלֹא נְתַתֶּם לִי לֶאֱכוֹל צָמֵאתִי וְלֹא הִשְׁקֵיתֶם לִי
      </p>
      <p class="nl">
        
          Omdat Ik honger had, maar jullie gaven Mij niet te eten, Ik had dorst, maar jullie gaven Mij niet te drinken,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        הָיִיתִי אוֹרֵחַ וְלֹא אֲסַפְתֶּם אוֹתִי עָרוּם וְלֹא כִּסִּיתֶּם אוֹתִי הוֹלֶה וּבַבַּיִת הַסּוֹהֵר וְלֹא בַּקָּרָתָם אוֹתִי
      </p>
      <p class="nl">
        
          Ik was een reiziger, maar jullie hebben Mij niet binnengehaald, naakt, maar jullie hebben Mij niet bedekt, ziek en in de gevangenis, maar jullie hebben niet voor Mij gezorgd.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        אָז יַעֲנוּ גַּם הֵם וְיֹאמְרוּ אֵלָיו מָתַי רְאִינוּךָ אֲדוֹנֵנוּ רָעֵב וְצָמֵא אוֹ אוֹרֵחַ וְעָרוּם וְחוֹלֶה אוֹ בְּבֵית הַסּוֹהֵר וְלֹא הָיִינוּ עִמְּךָ מְשָׁרְתִים אוֹתְךָ
      </p>
      <p class="nl">
        
          Dan zullen zij ook antwoorden en zeggen tot Hem: wanneer, onze Heer, hebben wij U zien honger lijden en dorst hebben, of als reiziger en naakt, en ziek, of in de gevangenis, maar waren niet met U om U te dienen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        וְיַעֲנֶה אֲלֵיהֶם וַיֹאמֶר אֲנִי אוֹמֵר לָכֶם שֶׁכָּל הַפְּעָמִים אֲשֶׁר לֹא עֲשִׂיתֶם זֹאת לֶעָנִי אֶחָד מֵאֵלּוּ הַקְּטַנִּים כָּאֵלּוּ לֹא עֲשִׂיתֶם אֵלַי
      </p>
      <p class="nl">
        
          En Hij antwoordt hen en zegt: Ik zeg tot jullie, dat elke keer dat jullie dit niet deden voor één deze armen, deze kleinsten, dit hebben jullie niet gedaan tot Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        וְיֵלְכוּ אֵלֶּה לַדֵּרָאוֹן עוֹלָם וְהַצַּדִּיקִים לְהָיֵי עוֹלָם וּלְנֵצַח נְצָחִים
      </p>
      <p class="nl">
        
          En deze gaan in de eeuwige verdoemenis, maar de rechtvaardigen tot het eeuwige leven en tot in alle eeuwigheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>