<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר כִּלָּה יֵשׁוּעַ לְדַבֵּר כָּל הַדְּבָרִים הָאֵלֶּה אָמַר לְתַלְמִידָיו
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea klaar was deze woorden te spreken, dat Hij zei tot Zijn leerlingen:
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘woorden’ (had<sup>e</sup>variem) en ‘spreken’ (l<sup>e</sup>dabér)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        הַלֹּא תֵּדְעוּ שֶׁאַחַר שֵׁנִי יָמִים יִהְיֶה הַפֶּסַח וּבֶּן־הָאָדָם יִּמָּסְר בַּיָּד הַיְּהוּדִים לַצְּלִיבָה
      </p>
      <p class="nl">
        
          Weet u niet dat het over twee dagen Pesach is en de Mensenzoon wordt overgeleverd in de handen van Judeeërs om gehangen te worden?
        
      </p>
      <p class="margin">
        
          ‘over twee dagen’, letterlijk: ‘na twee dagen’<br />‘Pesach’, zie Ex. 12
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        אָז נֶאֶסְפוּ סְגָנֵי הַכֹּהֲנִים וּגְדוֹלֵי הָעָם בֶּחָצֵר נָגִיד הַכֹּהֲנִים וּשְׁמוֹ קַאיַפַשׂ
      </p>
      <p class="nl">
        
          Toen verzamelden zich de oversten van de priesters en de edelen van het volk in het hof van de leider van de priesters, en zijn naam is: Qajaphas.
        
      </p>
      <p class="margin">
        
          Qajaphas: (Kajafas) in het Aramees ‘rots die zichzelf uitholt’, maar deze betekenis is onzeker. Zijn volledige naam was: Joséph, bar Qajaphas. Hij werd door stadhouder Valerius Gratus in 18 GJT aangesteld als hogepriester. Hij was getrouwd met de dochter van Annas, of Ananus, die eerder hogepriester was
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיִוָּעֲצוּ יַחְדָּיו לִתְפּוֹשׂ אֶת־יֵשׁוּעַ בְּעָרְמָה וּלְהוֹרְגוֹ
      </p>
      <p class="nl">
        
          En zij raadpleegden tezamen om Jesjoea met listigheid te grijpen en Hem te doden.
        
      </p>
      <p class="margin">
        
          Het is niet toegestaan om iemand naar het leven te staan, zie Lev. 19:16
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְיֹאמְרוּ לֹא יִהְיֶה בַּחַג פָּן שָׁאוֹן יִהְיֶה בָּעָם
      </p>
      <p class="nl">
        
          Maar zij zeiden: niet op het feest, opdat er geen rumoer is onder het volk.
        
      </p>
      <p class="margin">
        
          ‘het feest’, dat is Pesach
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר הָיָה יֵשׁוּעַ בַּכְּפָר־חֲנַנְיָה בַּבַּית שִׁימוֹן הַמְּצוֹרָע
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea in K<sup>e</sup>phar-ChananJAH was, in het huis van Sjiemon, de melaatse,
        
      </p>
      <p class="margin">
        
          Dit gebeurde op de 13<sup>e</sup> Aviv<br />Kaphar-ChananJAH, dat is Beejt-ChananJAH, zie Matt. 21:17<br />‘de melaatse’, in de Peshitta staat: ‘de kruikenverkoper’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        נִגְּשָׁה אֵלָיו אִשָּׁה אַחַת בַּפַּךְ מְשִׁיחָה יְקָרָה וּתִּיָצַק אוֹתוֹ עַל־רֹאשׁוֹ וְהוּא מְסִבָּה לַשֻּׁלְחָן
      </p>
      <p class="nl">
        
          er naderde tot Hem één vrouw met een fles kostbare zalf en zij goot deze op Zijn hoofd, terwijl Hij aan tafel was.
        
      </p>
      <p class="margin">
        
          ‘aan tafel’, letterlijk: ‘rond de tafel’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיָרַע לָהֶם מְאֹד מַדּוּעַ הָאֲבַדּוֹן הַזֶּה
      </p>
      <p class="nl">
        
          En het was zeer slecht voor hen: waarom deze verkwisting?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        יוּכַל לְמוֹכְלָהּ בַּמְּחִיר רָב וְלָתֵת לָעֲנִיִּים
      </p>
      <p class="nl">
        
          Dit kan verkocht worden voor veel geld en om te geven tot de armen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        ויֵשׁוּעַ הַיּוֹדֵעַ כָּל דָּבָר לְאֵיזֶה עִנְיָן נַעֲשָׂה אָמַר לָהֶם אַתָּם מַאֲשִׁימִים אֶת־הָאִשָּׁה הַזֹּאת בֶּאֱמֶת מַעֲשֶׂה טוֹב וְנִפְלָא עָשְׂתָה עִמָּדִי
      </p>
      <p class="nl">
        
          Maar Jesjoea wist elk ding van de zaak die geschiedde en zei tot hen: jullie beschuldigen deze vrouw. In waarheid, een goede en wonderlijke daad deed zij aan Mij,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        כִּי הָעֲנִיִּים יִהְיוּ עִמָּכֶם תָּמִיד וַאֲנִי לֹא אֶהֱיֶה עִמָּכֶם תָּמִיד
      </p>
      <p class="nl">
        
          want de armen zijn voortdurend met jullie, maar Ik ben niet voortdurend met jullie.
        
      </p>
      <p class="margin">
        
          ‘voortdurend’, is een ander Hebreeuws woord dan het woord voor ‘eeuwig’ of ‘altijd’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְשֶׁמָּה זֹאת בַּגּוּפִי רוֹמֵז לִקְבוּרָתִי
      </p>
      <p class="nl">
        
          En wat dit is aan Mijn lichaam wijst heen naar Mijn begrafenis.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        אָמֵן אֲנִי אוֹמֵר לָכֶם בְּכָל מָקוֹם אֲשֶׁר תִּקְרָא בְּשׂוֹרָה זוֹ לֹעז אוּוַנְגֵיל בְּכָל הָעוֹלָם יֹאמַר אֲשֶׁר עָשְׂתָה זֹאת בְּזִכְרִי
      </p>
      <p class="nl">
        
          Amen, Ik zeg tot jullie: in elke plaats waar u dit goede nieuws noemt (vreemde taal: Oevanghel) in de wereld, wordt gezegd dat zij dit deed in Mijn herinnering. 
        
      </p>
      <p class="margin">
        
          Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        אָז הָלַךְ אֶחָד מֵהַשָּׁנִים עֶשֶׂר שֶׁשְּׁמוֹ יְהוּדָה אַיסְכָרְיוֹטָא לִגְדוֹלֵי הַכֹּהֲנִים
      </p>
      <p class="nl">
        
          Toen ging één van de twaalf, zijn naam is J<sup>e</sup>hoedah Ajscar<sup>e</sup>jota, naar de overpriesters.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיֹאמֶר לָהֶם מָה תַּתְנוּ לִי וַאֲנִי אֶמְסוֹר יֵשׁוּעַ לָכֶם וְיִפְסְקוּ אִתּוֹ שְׁלֹשִׁים כָּסֶף
      </p>
      <p class="nl">
        
          En hij zei tot hen: wat geven jullie mij, als ik Jesjoea aan jullie overlever? En men deelde hem dertig zilverstukken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וּמִכָּאן וְאֵילָךְ בַּקַשׁ עִנְיָן לַמַּסּוֹר אוֹתוֹ
      </p>
      <p class="nl">
        
          En vanaf toen af aan zocht hij een moment om Hem over te leveren.
        
      </p>
      <p class="margin">
        
          ‘vanaf toen af aan’, letterlijk: ‘vanaf hier en verder’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וּבַיּוֹם הָרִאשׁוֹן שֶׁל חַג הַמַּצּוֹת קָרְבוּ הַתַּלְמִידִים לִיֵשׁוּעַ לֵאמֹר אָנָה נָכִין לְךָ אֲכִילַת הַפֶּסַח
      </p>
      <p class="nl">
        
          En op de eerste dag, vanwege het Feest van de Matsot, naderden de leerlingen tot Jesjoea, door te zeggen: waar wilt U de maaltijd van Pesach bereiden?
        
      </p>
      <p class="margin">
        
          ‘En op de eerste dag’, dat is de eerste dag van de week, hieruit blijkt dat de verzen 17 en 18 niet in chronologie staan, maar vonden op plaats op de 11<sup>e</sup> Aviv<br />‘Feest van de Matsot’, zie Lev. 23:6-8, wordt ook vertaald als ‘feest van ongezuurde broden’, ‘feest van de ongehevelde broden’ en ‘feest van ongedesemde broden’<br />‘Matsot’, dat is meervoud van ‘matsah’: matze
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיֹאמֶר לָהֶם לְכוּ אֶל הָעִיר לְאֵיזֶה אִישׁ שֶׁיִדְּבֶנּוּ לִבּוֹ לַעֲשׂוֹת וְאָמְרוּ לוֹ כֹּה אָמַר הָרַב זְמַנִּי קָרוֹב הוּא עִמְּךָ אֶעֱשֶׂה פֶּסַח עִם תַּלְמִידִי
      </p>
      <p class="nl">
        
          En Hij zei tot hen: ga naar de stad, waar een man, die vrijwillig van hart is, om het te doen. En zegt tot hem: zo zegt de Rabbi, de tijd is nabij, Ik wil bij u Pesach houden met Mijn leerlingen. 
        
      </p>
      <p class="margin">
        
          ‘die vrijwillig van hart is’, letterlijk: ‘zijn hart is vrijwillig’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַיְהִי לָעֵת עֶרֶב וְהוּא יוֹשֵׁב לְשֻׁלְחָן עִם י''ב תַּלְמִידָיו
      </p>
      <p class="nl">
        
          En het gebeurde tegen de avond, en Hij zat aan tafel met Zijn twaalf leerlingen, 
        
      </p>
      <p class="margin">
        
          Dit gebeurde op de 14<sup>e</sup> Aviv
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        כַּאֲשֶׁר הָיוּ אוֹכְלִים אָמַר לָהֶם אוֹמֵר אֲנִי לָכֶם שֶׁאֶחָד מִכֶּם יִמְסְרֵנִי
      </p>
      <p class="nl">
        
          toen zij aan het eten waren, zei tot hen: Ik zeg tot jullie dat één van jullie Mij overlevert.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְיִתְעַצְּבוּ מְאֹד וְיֹאמְרוּ לוֹ כָּל אֶחָד לֵאמֹר אֲדוֹנִי הָאֲנִי זֶה
      </p>
      <p class="nl">
        
          En zij waren zeer bedroefd, en iedereen zei tot Hem, door te zeggen: mijn Heer, ben ik deze?
        
      </p>
      <p class="margin">
        
          ‘iedereen’, letterlijk: ‘elk één’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיַּעַן לָהֶם הַטּוֹבֵל יָדוֹ עִמִּי בַּקְּעָרָה הוּא יִמְכְּרֵנִי וְכוּלָּם הָיוּ אוֹכְלִים בַּקְּעָרָה אַחַת לָכֵן לֹא הִכִּירוּהוּ שֶׁאִלּוּ הִכִּירוּהוּ הִשְׁמִידוּהוּ
      </p>
      <p class="nl">
        
          En Hij antwoordde tot hen: degene die zijn hand doopt met Mij in de schotel, hij verkoopt Mij. En zij allen aten uit één schotel, zodoende herkenden zij hem niet, als zij hem herkenden hadden zij hem uitgeroeid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיֹאמֶר לָהֶם יֵשׁוּעַ אֱמֶת שֶׁבֶּן־הָאָדָם הוֹלֵךְ כְּכָתוּב בּוֹ אוֹי לָאָדָם הַהוּא אֲשֶׁר בִּשְׁבִילוֹ בֶּן־הָאָדָם יִמְסֹר טוֹב לוֹ שֶׁלֹּא נוֹלַד לָאִישׁ הַהוּא
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hen: waarlijk, dat de Mensenzoon gaat zoals geschreven is door Hem. Wee tot deze mens op zijn pad, die de Mensenzoon overlevert. Het is goed tot hem dat deze man niet geboren zou zijn.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וַיַּעַן יְהוּדָה אֲשֶׁר מְכָרוֹ וַיֹאמֶר לוֹ רַבִּי הַאֲנִי זֶה וַיֹאמֶר אַתָּהּ דַּבֶּרֶת
      </p>
      <p class="nl">
        
          En J<sup>e</sup>hoedah, die Hem verkoopt, antwoordde en zei tot Hem: Rabbi, ben Ik deze? En Hij zei: u heeft gesproken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        הֵמָּה אוֹכְלִים וְיִקַּח יֵשׁוּעַ אֶת־לֶחֶם וִיבָרֵךְ וִיחַלְּקֵהוּ וְיִתֵּן לַתַּלְמִידָיו וַיֹאמֶר קְחוּ וְאָכְלוּ זֶה הוּא גּוּפִי
      </p>
      <p class="nl">
        
          Zij waren aan het eten en Jesjoea nam brood, en zegende, en verdeelde, en gaf aan Zijn leerlingen, en zei: neemt en eet dit, dit is Mijn lichaam.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיִקַּח אֶת־הַכּוֹס וְיִתֵּן שְׁבָחִים לְאָבִיו וְיִתֵּן לָהֶם וַיֹאמֶר שָׁתוּ מִזֶּה כּוּלְּכֶם
      </p>
      <p class="nl">
        
          En Hij nam de beker, en gaf lofprijzing tot Zijn Vader, en gaf tot hen, en zei: drink van deze, jullie allen.
        
      </p>
      <p class="margin">
        
          ‘de beker’, dat is de derde beker van de seder (paasmaaltijd)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        זֶהוּ דָּמִי מִבְּרִית חֲדָשָׁה אֲשֶׁר יִשְׁפֹּךְ בַּעֲבוּר הָרַבִּים לְכַפָּרַת עוֹנוֹת
      </p>
      <p class="nl">
        
          Dit is Mijn bloed van het Nieuwe Verbond dat uitgegoten wordt voor velen ter verzoening van zonden.
        
      </p>
      <p class="margin">
        
          ‘verzoening’, het gebruikte woord wordt hetzelfde gespeld als het verzoendeksel op de Kist van de Getuigenis (verbondsark)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        אוֹמֵר אֲנִי לָכֶם לֹא אִשְׁתָּהּ אֲנִי מִכָּאן וְאֵילָךְ מִפְּרִי הַגֶּפֶן הַזֹּאת עַד הַיּוֹם הַהוּא שֶׁאִשְׁתָּהּ אוֹתוֹ חָדָשׁ עִמָּכֶם בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          Ik zeg tot jullie: Ik zal niet drinken, vanaf nu af aan, van de vrucht van de wijnstok, tot die dag dat Ik deze nieuw drink met jullie in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְיֵלְכוּ וְיָצְאוּ לָהָר הַזֶּתִים
      </p>
      <p class="nl">
        
          En zij gingen, en gingen uit, naar de Olijfberg.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        אָז אָמַר לָהֶם יֵשׁוּעַ בָּאוּ כֻּלְּכֶם הִתְעַצְּבוּ עָלַי הַלַּיְלָה שֶׁכֵּן כְּתִיב הַךְ אֶת־הָרוֹעֶה וּתְפוּצֶינָה הַצֹּאן
      </p>
      <p class="nl">
        
          Toen zei Jesjoea tot hen: kom, jullie allen, ben bedroefd met Mij vannacht, omdat zo is geschreven: “sla de Herder en het kleinvee zal zich verstrooien”,
        
      </p>
      <p class="margin">
        
          Citaat uit Zach. 13:7
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְאַחֲרֵי קוֹמִי מֵהַמִּיתָה אֲגַלֶּה לָכֶם בַּגָּלִיל
      </p>
      <p class="nl">
        
          en na Mijn opstanding van de dood, Ik zal tot jullie openbaren in Ghaliel.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וַיַּעַן פֶּיטְרוֹשׁ וַיֹּאמֶר לוֹ אִם כֻּלָּם יְעַצְּבוּ עָלֶיךָ אֲנִי לֹא אֶתְעַצֵּב לְעוּלָם
      </p>
      <p class="nl">
        
          En Petros antwoordde en zei tot Hem: wanneer zij allen bedroefd zijn over U, ik zal niet bedoefd zijn tot eeuwigheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ יֵשׁוּעַ אָמֵן אֲנִי אוֹמֵר לְךָ שֶׁבְּזֶה הַלַּיְלָה קוֹדֶם קְרִיאַת הַגֶּבֶר תִּכְפוֹר בִּי שְׁלֹשָׁה פְּעָמִים
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hem: amen, Ik zeg tot u, dat in deze nacht, voordat de haan gekraaid heeft, u Mij drie maal zult ontkennen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ פֶּיטְרוֹשׁ אִם יִתָּכֵן לִי לָמוּת עִמְּךָ לֹא אֶכְפּוֹר בְּךָ וְכָזֶה אָמְרוּ לוֹ כָּל הַתַּלְמִידִים
      </p>
      <p class="nl">
        
          En Petros zei tot Hem: wanneer het voor mij bepaald is om te sterven met U, ik zal U niet ontkennen. En zoals dit zeiden alle leerlingen tot Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        אָז בָּא יֵשׁוּעַ עִמָּהֶם לַכְּפָר גֵּיא־שְׁמֵנִים וַיֹּאמֶר שָׁבוּ נָא עַד שֶׁאֵלֵךְ לְשָׁם וְאֶתְפַּלֵּל
      </p>
      <p class="nl">
        
          Toen kwam Jesjoea met hen tot het dorp Ghé-sj<sup>e</sup>mèniem, en Hij zei: zit nu tot Ik naar daar ben gegaan en heb gebeden.
        
      </p>
      <p class="margin">
        
          Ghé-sj<sup>e</sup>mèniem: oliedal of dal van de oliën. In het Grieks ΓεΘσημανἰ (Gethsémani), wat afkomstig is van het Hebreeuwse גַּת שְׁמֵנִים (ghat-sj<sup>e</sup>mèniem): oliepers.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        וְיִקַּח אֶת־פֶּיטְרוֹשׁ וְאֶת־שֵׁנִי בְּנֵי־זַבְדִאֵל וְהִתְחִיל לְהִתְעַצֵּב וְלִהְיוֹת זָעַף
      </p>
      <p class="nl">
        
          En Hij nam Petros en de twee zonen van Zavdiël, en begon bedroefd te zijn en werd treurig.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        אָז אָמַר לָהֶם נַפְשִׁי מִתְעַצֶּבֶת עַד מוֹת סִמְכוּנִי וְשָׁמְרוּ עִמִּי
      </p>
      <p class="nl">
        
          Toen zei Hij tot hen: Mijn ziel is bedroefd tot de dood, steun Mij en waak met Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְיֵלֵךְ לְאַט לְאַט מְעַט וְיִפּוֹל עַל פָּנָיו וְיִתְפַּלֵּל וַיֹּאמֶר אֲבִי אִם יוּכַל לִהְיוֹת הָסֵר נָא מִמֶּנִּי הַכּוֹס הַזֶּה אָמְרָם לֹא כְּמוֹ שֶׁאֲנִי רוֹצֶה יִהְיֶה אֶלָּא כִּרְצוֹנְךָ
      </p>
      <p class="nl">
        
          En Hij ging langzaam een stukje verder, en Hij viel op Zijn gezicht, en Hij bad en zei: Mijn Vader, wanneer het kan, verwijder dan van Mij deze beker. Zeker, niet zoals Ik wil, maar zoals U wilt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְיִבֵּא אֶל הַתַּלְמִידִים וְיִמְצְאֵם יְשֵׁנִים וַיֹּאמֶר לְפֶּיטְרוֹשׁ כָּךְ הַאִינֶךָ יָכוֹל לִשְׁמוֹר עִמָּדִי שָׁעָה אַחַת
      </p>
      <p class="nl">
        
          En Hij kwam tot de leerlingen en trof hen slapend aan, en zei tot Petros: zo, kunt u niet waken met Mij voor één uur?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        שָׁמְרוּ וְהִתְפַּלְּלוּ פָּן תְּבִאוּ בַּנִּסָּיוֹן שֶׁהָאֱמֶת שֶׁהָרוּחַ נָכוֹן לִילָךְ לְבּוֹרֵאוֹ אַךְ הַבָּשָׂר חַלָּשׁ וְחוֹלֶה
      </p>
      <p class="nl">
        
          Waak en bidt, opdat u niet komt in verzoeking omdat de waarheid is: de geest is bereid om te gaan tot de Schepper, maar het vlees is zwak en ziek.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        וְיֵלֵךְ שֵׁנִית לְהִתְפַּלֵּל לֵאמוֹר אִם-לֹא תּוּכַל לְהָסִיר הַכּוֹס הַזֶּה אֶלָּא שֶׁאֶשְׁתֵּהוּ יִהְיֶה עָשׂוּי כִּרְצוֹנְךָ
      </p>
      <p class="nl">
        
          En Hij ging nogmaals om te bidden, door te zeggen: als het niet kan om deze beker te verwijderen, alleen dat Ik deze drink, het wordt gedaan naar Uw wil.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        וְיָשַׁב אַחֲרֵי־כֵּן וְיִמְצְאֵם יְשֵׁנִים שֶׁהָיוּ עֵינֵיהֶם כְּבֵדִים
      </p>
      <p class="nl">
        
          En Hij keerde hierna terug en trof hen slapend aan, omdat hun ogen waren zwaar geworden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        וְיַעֲזוֹב אוֹתָם וְיֵלֵךְ לְהִתְפַּלֵּל פַּעַם שְׁלִישִׁית כִּדְבָרִים הָרִאשׁוֹנִים
      </p>
      <p class="nl">
        
          En Hij liet hen achter en ging om te bidden voor de derde maal met de eerste woorden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        אָז בָּא יֵשׁוּעַ לַגָּלִיל לְתַלְמִידָיו וַיֹּאמֶר לָהֶם שְׁנוּ וְנוּחוּ הִנֵּה הַקְּרָב הָעֵת וּבֶּן־הָאָדָם יִמְסֹר בַּיָּד הַחֲטָאִים
      </p>
      <p class="nl">
        
          Toen kwam Jesjoea in de cirkel van Zijn leerlingen en zei tot hen: slaap en rust, zie, de tijd nadert en de Mensenzoon wordt overgeleverd in de hand van de zondaren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        קוּמוּ וְנֵלֵךְ שֶׁהִנּוֹ קָרוֹב מִי שֶׁיִּמְסְרֵנוּ
      </p>
      <p class="nl">
        
          Sta op en laten we heengaan, omdat zie, degene nadert die Hem overlevert.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        עוֹדֶנּוּ מִדְבָּר וְהִנֵּה יְהוּדָה אַסְכָרְיוֹטָא אֶחָד מִשְׁנַיִם עָשָׂר תַּלְמִידָיו בָּא וְעִמּוֹ חֲבוּרָה אַחַת רָבָה בַּחֲרָבוֹת וּבַשּׁוֹטִים שְׁלוּחִים מֵאֵת גְּדוֹלֵי הַכֹּהֲנִים וְשָׂרֵי הָעָם
      </p>
      <p class="nl">
        
          Tijdens zijn spreken, zie, J<sup>e</sup>hoedah Ascar<sup>e</sup>jota, één van Zijn twaalf leerlingen, kwam en met hem één grote menigte met zwaarden en met zwepen, gezonden door de overpriesters en de oversten van het volk.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        וַאֲשֶׁר מְסָרוּהוּ נָתַן לָהֶם אוֹת הַאִישׁ אֲשֶׁר אֶשָּׁקְנּוּ הוּא הוּא וּתְפָשׂוּהוּ
      </p>
      <p class="nl">
        
          En degene die Hem overleverde, gaf hen een teken: de Man die ik kus, Deze Die u moet grijpen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">49.</p>
      <p class="he">
        וּמִיָּד נִגַּשׁ אֶל יֵשׁוּעַ וַיֹּאמֶר לוֹ שָׁלוֹם עָלֶיךָ רַבִּי וְיַשְׁקֵהוּ
      </p>
      <p class="nl">
        
          En onmiddellijk naderde hij tot Jesjoea en zei tot Hem: sjaloom over U, Rabbi. En kustte Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">50.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ אֲהוּבִי מָה עָשִׂיתָ וְיִקְרְבוּ וְיִשְׁלְחוּ יָדָם בּוֹ וְיִתְפְשוּהוּ
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: mijn vriend, wat heeft u gedaan? En zij naderden, en staken uit hun handen naar Hem, en zij grepen Hem.
        
      </p>
      <p class="margin">
        
          ‘mijn vriend’, letterlijk: ‘mijn geliefde’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">51.</p>
      <p class="he">
        וְהִנֵּה אֶחָד מֵאֲשֶׁר הָיָה עִם יֵשׁוּעַ נָטָה יָדוֹ וְיִשְׁלוֹף חַרְבּוֹ וַיַּךְ עֶבֶד אֶחָד מְעַבְּדֵי הַכֹּהֲנִים וְיִכְרוֹת אָזְנוֹ
      </p>
      <p class="nl">
        
          En zie, één van degenen met Jesjoea, stak zijn hand uit en trok zijn zwaard, en sloeg een dienaar, één van de dienaren van de priesters, en hij sloeg zijn oor.
        
      </p>
      <p class="margin">
        
          ‘en hij sloeg zijn oor’, in Luk. 22:50-51 staat ‘zijn rechteroor’ en meldt dat Jesjoea het oor herstelt, Joh. 18:10 staat dat deze een dienaar van de hogepriester was en Malchus heette.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">52.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ הָשֵׁב חַרְבְּךָ אֶל נְדָנָהּ שֶׁהַשְׁלֵפִים חֶרֶב בַּחֶרֶב יִפּוֹלוּ
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: doe uw zwaard terug in haar schede, omdat die een zwaard uittrekt valt door het zwaard.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">53.</p>
      <p class="he">
        הֲלֹּא תָּבִין שֶּׁאוּכָל לִפְגוּעַ בְּאוֹיְבִי וְאָכֵן לִי עַתָּה יָתַר מִי''ב לִגְיוֹנוֹת  שֶׁל מַלְאָכִים
      </p>
      <p class="nl">
        
          Begrijpt u niet dat Ik mijn vijand kan treffen? En waarachtig, tot Mij zijn direct meer dan twaalf legioenen van engelen.
        
      </p>
      <p class="margin">
        
          ‘legioenen’, dit woord komt uit het Latijn (legio) en is een aanduiding voor een afdeling in het Romeinse leger. In de eerste eeuw bestond een Romeins legioen uit 5.000 tot 6.000 man.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">54.</p>
      <p class="he">
        וְאֵיךְ יִמַּלְאוּן הַכְּתוּבִים שֶׁכֵּן רָאוּי לַעֲשׂוֹת
      </p>
      <p class="nl">
        
          Maar hoe moeten de Schriften vervuld worden? Omdat het zo voorzien is, gedaan moet worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">55.</p>
      <p class="he">
        אַחֵר אָמַר יֵשׁוּעַ לַחֲבוּרָה כְּמוֹ אִם הָיִינוּ גַּנָּבִים בְּאַתָּם לָקַחַת אוֹתִי בַּחֲרָבוֹת וּבַשּׁוֹטִים וְהַלֹּא בְּכָל יוֹם הָיִיתִי עִמָּכֶם בַּמִּקְדָּשׁ מְלַמֶּדְכֶם וְלֹא עַכְבַתוּנִי
      </p>
      <p class="nl">
        
          Hierna zei Jesjoea tot de menigte: alsof wij dieven zijn nemen jullie Mij met zwaarden en met zwepen. Maar was Ik niet elke dag met jullie in het Heiligdom, jullie te onderwijzen en hinderden Mij niet?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">56.</p>
      <p class="he">
        אָמְנָם כָּל זֶה נַעֲשָׂה יַעַן יִמַּלְאוּן הַכְּתוּבִים מֵהַנְּבִיאִים אָז כָּל תַּלְמִידָיו הֱנִיחוּהוּ וּבָרְחוּ
      </p>
      <p class="nl">
        
          Zeker, al dit moet geschieden, omdat vervuld moet worden de schriften van de profeten. Toen verlieten al Zijn leerlingen Hem en vluchtten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">57.</p>
      <p class="he">
        וְהֵם הוֹלִיכוּ לְיֵשׁוּעַ לַבֵּית קַאיַפַשׁ גָּדוֹל הַכֹּהֲנִים וְאָז כָּל הַסּוֹפְרִים וְהַפְּרוּשִׁים נִקְהֲלוּ
      </p>
      <p class="nl">
        
          En zij voerden Jesjoea naar het huis van Qajaphas, de hogepriester. En toen verzamelden zich alle schriftgeleerden en P<sup>e</sup>roesjiem.
        
      </p>
      <p class="margin">
        
          ‘het huis van Qajaphas, de hogepriester’, volgens Joh. 18:13 werd Jesjoea eerst naar Annas, de schoonvader van Qajaphas, gebracht<br />‘hogepriester’, letterlijk: ‘de grote van de priesters’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">58.</p>
      <p class="he">
        וְפֶּיטְרוֹשׁ הָיָה הוֹלֵךְ אַחֲרָיו מֵרָחוֹק עַד בֵּית גָּדוֹל הַכֹּהֲנִים וְנִכְנַס לַבֵּית וְיָשַׁב לוֹ אֵצֶל הַאוּמָנִים עַד יִרְאָה הַתַּכְלִית
      </p>
      <p class="nl">
        
          En Petros volgden Hem van ver tot het huis van de hogepriester, en ging tot het huis en bleef bij Hem, nabij de koks tot hij het einde zou zien.
        
      </p>
      <p class="margin">
        
          In Joh. 18:15 staat dat Petros niet de enige leerling was die Hem volgde, dit is mogelijk Jochanan, één van de zonen van Zavdiël
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">59.</p>
      <p class="he">
        וּגְדוֹלֵי הַכֹּהֲנִים וְהַפְּרוּשִׁים הָיוּ רוֹצִים לִמְצוֹא עֲדֵי שֶׁקֶר נֶגֶד יֵשׁוּעַ יַעַן יְמִיתוּהוּ וְלֹא הָיוּ מוֹצָאִים
      </p>
      <p class="nl">
        
          En de overpriesters en de P<sup>e</sup>roesjiem wilden valse getuigen vinden tegen Jesjoea om Hem te doden, maar zij vonden niet.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">60.</p>
      <p class="he">
        וְאֶחָד אֲשֶׁר הֵכִינוּ הַרְבֵּה עֲדֵי שֶׁקֶר נֶגֶד יֵשׁוּעַ
      </p>
      <p class="nl">
        
          En één bereidde talrijke valse getuigen tegen Jesjoea, 
        
      </p>
      <p class="margin">
        
          ‘talrijke valse getuigen’, er waren twee getuigen nodig volgens Num. 35:30, Deut. 17:6 en 19:15, maar als die getuigen vals zijn, dan is de straf voor de beschuldigde voor de valse getuigen, zie Deut. 19:18-19, Spr. 19:5, 9 en 21:28
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">61.</p>
      <p class="he">
        לַסּוֹף בָּאוּ שֵׁנִי עֵדִים שְׁקָרִים וְיֹאמְרוּ זֶה אָמַר יֵשׁ לִי יְכוֹלֶת לְהַשְׁחִית מִקְדָּשׁ הָאֵל וְאַחֵד שְׁלֹשָׁה יָמִים לְתַקֵּן אוֹתוֹ
      </p>
      <p class="nl">
        
          tot er uiteindelijk twee valse getuigen kwamen en zij zeiden: Deze heeft gezegd: Ik kan het Heiligdom van de El verwoesten en na drie dagen het herstellen.
        
      </p>
      <p class="margin">
        
          ‘Ik kan het Heiligdom van de El verwoesten en na drie dagen het herstellen’ is te vinden in Joh. 2:19-21<br />‘herstellen’, letterlijk: ‘recht worden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">62.</p>
      <p class="he">
        וְגָדוֹל הַכֹּהֲנִים קָם וַיֹּאמֶר לוֹ אֵינְךָ עוֹנָה דָּבָר נֶגֶד הָעֵדוֹת שֶׁאִלוּ מְעֵידִים נֶגְדְּךָ
      </p>
      <p class="nl">
        
          En de hogepriester stond op en zei tot Hem: antwoordt U niet een woord tegen deze getuigen vanwege de getuigenissen tegen U?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">63.</p>
      <p class="he">
        וִיֵשׁוּעַ לֹא עָנָה דָּבָר וְגָדוֹל הַכֹּהֲנִים אָמַר לוֹ אֲנִי מַשְׁבִּיעֶךָ בָּאֵל חַי שֶׁתֹּאמַר לָנוּ אִם־אַתָּהּ מָשִׁיחַ בֶּן־הָאֵל
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde geen woord. En de hogepriester zei tot Hem: Ik zweer U bij de levende El, dat U ons zegt wanneer U de Messias bent, de Zoon van de El.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">64.</p>
      <p class="he">
        וַיַּעַן לוֹ יֵשׁוּעַ אַתָּה אוֹמֵר וְעוֹד אֲנִי אוֹמֵר לָכֶם עֲדַיִן תִּרְאוּ בֶּן־הָאֵל יוֹשֵׁב לַיָּמִין גְּבוּרַת הָאֵל בָּא בָּעֲבֵי שְׁחָקִים
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde: u zegt het en opnieuw zeg Ik het tot jullie: u ziet de Zoon van de El, zitten aan de machtige rechterhand van de El, komen op de donkere wolken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">65.</p>
      <p class="he">
        אָז גָּדוֹל הַכֹּהֲנִים קָרַע בְּגָדָיו וְאָמַר זֶה בֵּרַךְ  אֱלֹהִים וּמָה לָנוּ צוֹרֶךְ לָעֵדִים אֲחֵרִים וְהִנֵּה כּוּלְּכֶם שְׁמַעְתֶּם אֵיךְ בֵּרַךְ אֱלֹהִים
      </p>
      <p class="nl">
        
          Toen scheurde de hogepriester zijn klederen en zei: Deze lastert Elohiem, en waarom hebben wij andere getuigen nodig? En zie jullie allen, jullie hoorden hoe Elohiem is gelasterd.
        
      </p>
      <p class="margin">
        
          Het is voor de hogepriester verboden om zijn klederen te scheuren, zie Lev. 21:10
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">66.</p>
      <p class="he">
        מָה יִרְאָה לָכֶם שֶׁיִּתָּכֵן לַעֲשׂוֹת וְהֵם עָנוּ שֶׁחַיָּיב מִיתָה
      </p>
      <p class="nl">
        
          Wat is jullie inzicht, dat vastgesteld is om te doen? En zij antwoordden dat Hij schuldig is om te sterven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">67.</p>
      <p class="he">
        וְאָז רָקְקוּ בְּפָנָיו וְהִלְקוּהוּ עַל שִׁכְמוֹ וַאֲחֵרִים טִפֵּחַוּ לוֹ בְּפָנָיו
      </p>
      <p class="nl">
        
          En toen spuwden zij in Zijn gezicht, en geselden Hem op Zijn rug, en anderen sloegen Hem in Zijn gezicht,
        
      </p>
      <p class="margin">
        
          Hier wordt Jes. 50:6 vervuld
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">68.</p>
      <p class="he">
        אוֹמְרִים אָמוּר לָנוּ הַמָּשִׁיחַ מִי הַכָּךָ
      </p>
      <p class="nl">
        
          zij zeiden: zeg ons, Messias, wie sloeg U?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">69.</p>
      <p class="he">
        וְפֶּיטְרוֹשׁ הָיָה עוֹמֵד לַפֶּתַח הֶחָצֵר וְנִגְּשָׁה אֵלָיו שִׁפְחָה אַחַת וְאוֹמֶרֶת לוֹ וְהַלֹּא אַתָּהּ עִם יֵשׁוּעַ הַגַּלִילִי הָיִיתָ עוֹמֵד
      </p>
      <p class="nl">
        
          En Petros stond bij de ingang van het hof, en er naderde tot hem één dienstmeid en zei tot hem: en stond jij niet bij Jesjoea, de Ghalieler?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">70.</p>
      <p class="he">
        וְפֶּיטְרוֹשׁ כָּחַשׁ לָהּ בִּפְנֵי הַכֹּל וְאָמַר לָהּ אִשָּׁה אֵינִי יוֹדֵעַ מָה אֶת־אוֹמֶרֶת
      </p>
      <p class="nl">
        
          Maar Petros loog tot haar, voor allen, en zei tot haar: vrouw, u weet niet wat u zegt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">71.</p>
      <p class="he">
        וְכַאֲשֶׁר עָבַר הַשַׁעַר רָאָהוּ שִׁפְחָה אַחֶרֶת וְאָמַרְתָּ לְעוֹמְדִים שָׁם זֶה הָאִישׁ הָיָה עוֹמֵד עִם יֵשׁוּעַ בְּנָאצְרַת
      </p>
      <p class="nl">
        
          En toen ging hij door de poort, een andere dienstmeid zag hem en zei tot die daar stonden: deze man stond bij Jesjoea uit Natsrat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">72.</p>
      <p class="he">
        וּפַעַם אַחֶרֶת כָּחַשׁ יֵשׁוּעַ בַּשְּׁבוּעָה שֶׁלֹּא הִכִּירוּ
      </p>
      <p class="nl">
        
          En nog een keer loog hij Jesjoea met een eed dat hij Hem niet kende.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">73.</p>
      <p class="he">
        וְאַחַר כֵּן לַזְּמַן מְעַט נְגַשֵּׁוּ אֶל פֶּיטְרוֹשׁ הָעוֹמְדִים בֶּחָצֵר וְיֹאמְרוּ לוֹ אַתָּהּ הוּא מֵחֲבוּרַת זֶה הַנָּבִיא שֶׁמִּדְבָּרְךָ נֵכָר שֶׁאַתָּהּ מֵהֶם
      </p>
      <p class="nl">
        
          En na een kleine tijd naderden tot Petros die staan in het hof en zeiden tegen hem: jij bent van de groep van deze Profeet, omdat van jouw spraak  te herkennen is dat jij van hen bent.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">74.</p>
      <p class="he">
        אָז הִתְחִיל לַכְּפוֹר וּלִישָׁבֵע שֶׁבָּשּׂוּם זְמַן לֹא הִכִּירוּ וּמִיָּד קָרָא הַתַּרְנְגוֹל
      </p>
      <p class="nl">
        
          Toen begon hij te ontkennen en hij zwoer dat hij op geen enkel moment Hem had gekend. En onmiddellijk kraaide de haan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">75.</p>
      <p class="he">
        וּפֶּיטְרוֹשׁ נִזְכַּר מֵאֲשֶׁר אָמַר לוֹ יֵשׁוּעַ שֶׁקּוֹדֶם קְרִיאַת הַגֶּבֶר יִכְפוֹר בּוֹ שְׁלֹשָׁה פְּעָמִים וְאָז יָצָא לַחוּץ וּבָכָה בִּמְרִירוּת נָפְשׁוֹ
      </p>
      <p class="nl">
        
          En Petros herinnert wat Jesjoea zei tot hem, dat voordat de haan gekraaid heeft, hij Hem drie maal zal ontkennen. En toen ging hij naar buiten en huilde met de bitterheid van zijn ziel.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>