<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי בַּבָּקָר כָּל גְּדוֹלֵי הַחֲכָמִים וְהַקַּדְמוֹנִים לָקְחוּ עֵצָה נֶגֶד יֵשׁוּעַ שֶׁמִּכָּל וְכָל יַהַרְגוּהוּ
      </p>
      <p class="nl">
        
          En het gebeurde in de ochtend, al de grote wijzen en de oudsten namen raad tegen Jesjoea, dat zij Hem op elke mogelijke manier zouden doden.
        
      </p>
      <p class="margin">
        
          ‘dat zij Hem op elke mogelijke manier zouden doden’, invulling van Matt. 26:66 en vervulling van Ps. 2:2
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְקָשׁוּר הוֹלִיכוּהוּ לְבֵית פוטץ פִּילָאט שֶׁהָיָה גִּזְבָּר
      </p>
      <p class="nl">
        
          En voerden Hem gebonden naar het huis van Pontius Pilatus, die schatbewaarder was.
        
      </p>
      <p class="margin">
        
          ‘Pontius’, de spelling in Shem Tov (Potets, Ponets, Priets of Potes) zijn duidelijke misspellingen.<br />‘Pilatus’, de spelling in Shem Tov (Pilat) lijkt incompleet, in vers 22, 23 en 24 gespeld als ‘pilatos’.<br />Pontius Pilatus was praefectus (prefect of stadhouder) van Jehoedah van 26 – 36 GJT.<br />‘schatbewaarder’, het Hebreeuwse woord (ghizbar) wordt in Ezra 1:8 gebruikt.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְאָז כַּאֲשֶׁר רָאָה יְהוּדָה אַסְכָרְיוֹטָא שֶׁהָיָה נִדּוֹן הִתְחִיל לָשׁוּב בַּתְּשׁוּבָה וְחָזַר הַשִּׁלֵּשִׁים דִּינָרִים לַגָּדוֹל הַכֹּהֲנִים וּלְזִקְנֵי הֵעֵם
      </p>
      <p class="nl">
        
          En toen Jehoedah Ascarejota zag dat Hij geoordeeld was, begon hij te keren in bekering. En hij gaf de dertig denariën terug aan de hogepriester en de oudsten van het volk,
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘te keren’ (lasjoev) en ‘in bekering’ (bat’sjoevah).<br />‘denariën’, meervoud van denarius, zijn zilveren munten
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        אָמַר אֲנִי חָטָאתִי שֶׁשָּׁפַכְתִּי דָּם נָקִי וְהֵם אָמְרוּ לוֹ מָה־לָנוּ אַתָּה תִּרְאֶה
      </p>
      <p class="nl">
        
          hij zei: ik heb gezondigd, omdat ik onschuldig bloed heb uitgegoten. Maar zij zeiden tot hem: wat is dit tot ons? Jij moet maar zien.
        
      </p>
      <p class="margin">
        
          ‘onschuldig’, kan ook vertaald worden als: ‘rein’ en ‘zuiver’, in enkele Griekse handschriften staat: ‘rechtvaardig’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְזָרַק הַמָּעוֹת בַּמִּקְדָּשׁ וְהָלַךְ לוֹ וְלָקַח חֶבֶל אַחַת וְתָלָה עָצְמוּ
      </p>
      <p class="nl">
        
          Maar hij strooide de munten in het Heiligdom, ging en nam één touw, en hing zichzelf.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וּגְדוֹלֵי הַכֹּהֲנִים כַּאֲשֶׁר לָקְחוּ הַמָּעוֹת אָמְרוּ לֹא יִתָּכֵן שֶׁנִשִׂים אֵלּוּ הַמָּעוֹת בַּמִּקְדָּשׁ שֶׁדְּמֵי דָּם הֵם שֶׁנָּתְנוּ בַּעַד דְּמֵי יֵשׁוּעַ
      </p>
      <p class="nl">
        
          En de overpriesters namen toen de munten en zeiden: het is niet in orde dat deze munten gelegd worden in het Heiligdom, omdat het prijs is van bloed, omdat zij gegeven zijn voor het bloed van Jesjoea.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְיִוֹעֲצוּ וְיַתְנוּ אוֹתָם בַּעַד שָׂדֶה אָדָם יוֹצֵר חֶרֶס בַּעַד שֶׁיִקְבְּרוּ שָׁם הַגֵּרִים
      </p>
      <p class="nl">
        
          En zij beraadden en gaven het om het veld van een zekere pottenbakker van aardewerk, om daar de vreemdelingen te begraven.
        
      </p>
      <p class="margin">
        
          ‘een zekere’, letterlijk: een mens
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְלָכֵן נִקְרָא אוֹתוֹ שָׂדֶה אָהָל־דָּם עַד הַיּוֹם הַזֶּה
      </p>
      <p class="nl">
        
          En daarom wordt dat veld genoemd ‘tent van bloed’ tot op deze dag.
        
      </p>
      <p class="margin">
        
          ‘tent van bloed’, kan ook vertaald worden als ‘bedekking van bloed’, en klinkt in het Hebreeuws: ahal-dam. In het Aramees wordt het bloedakker (חקל דמא -chakal-dama) genoemd, dit klinkt naar het Grieks ‘akeldama’ (Ἀκελδαμά) uit Hand. 1:19. Volgens Eusebius van Ceasarea is dit veld gelegen op Tophet, in het dal van Hinnom, zie Jer. 19:6
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אָז נִשְׁלַם מַאֲמַר זְכַרְיָה הַנָּבִיא וָאוֹמַר לָהֶם אִם־טוֹב בְּעֵינֵיכֶם הָבוּ שְׂכָרִי וְאִם־לֹא חֲדָלוּ וַיִּשְׁקְלוּ אֶת־שְׂכָרִי שְׁלֹשִׁים כָּסֶף וַיֹּאמֶר יְהֹוָה אֵלַי הַשְׁלִיכֵהוּ אֶל־הַיּוֹצֵר אָדָם הַיְקָר אֲשֶׁר יָקַרְתִּי מֵהֶם
      </p>
      <p class="nl">
        
          Toen werd vervuld het woord van Z<sup>e</sup>charJAH, de profeet: “En Ik zeg tot hen: als het goed is in jullie ogen, breng Mijn loon. Maar zo niet, stop. En zij hebben Mijn loon gewogen: dertig zilverstukken. En J<sup>e</sup>HOVAH zei tot mij: werp het naar de pottenbakker. De kostbare Mens waarmee Ik voor hen waardevol ben.”
        
      </p>
      <p class="margin">
        
          ‘Z<sup>e</sup>charJAH, de profeet’, in verschillende Griekse handschriften, DuTillet en Münster staat: ‘Jirm<sup>e</sup>JAH, de profeet’ (Jeremia), in Minuscule 21 (Grieks handschrift) staat: ‘J<sup>e</sup>sjaJAH, de profeet’ (Jesaja)  en in andere Griekse handschriften en de Peshitta staat: ‘de profeet’<br />Citaat uit Zach. 11:12-13<br />‘de kostbare Mens’, in de Masoretentekst staat: ‘een heerlijke prijs’<br />Er is woordverband tussen "kostbaarheid" (hajqar) en "kostbaar" (jaqarti).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְזֶהוּ מֵהָאָדָם הַיּוֹצֵר חֶרֶס כַּאֲשֶׁר אֲדוֹנָי צִוָּה
      </p>
      <p class="nl">
        
          En dit is van de mens, de pottenbakker van aardewerk, zoals Adonai bevolen heeft.
        
      </p>
      <p class="margin">
        
          ‘Adonai’, een titel voor JHWH en betekent: mijn Heer<br />‘zoals Adonai bevolen heeft’, hier wordt bedoeld Jer. 32:7
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        ויֵשׁוּעַ הָיָה עוֹמֵד לִפְנֵי פִּילָאט וְשָׁאַל לוֹ הֲאַתָּה הוּא מֶלֶךְ הַיְּהוּדִים וְיֵשׁוּעַ אָמַר אַתָּהּ אוֹמֵר
      </p>
      <p class="nl">
        
          En Jesjoea stond voor het aangezicht van Pilatus, die Hem vroeg: bent U de Koning van de Judeeërs? En Jesjoea zei: u zegt het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְכַאֲשֶׁר יֵשׁוּעַ הָיָה רוּדַּף בַּעַד גְּדוֹלֵי הַכֹּהֲנִים וְזִקְנֵי הֵעֵם לַשּׁוּם דָּבָר שֶׁהָיוּ אוֹמְרִים עָלָיו לֹא הָיָה עוֹנָה
      </p>
      <p class="nl">
        
          En toen werd Jesjoea aangevallen door de overpriesters en de oudsten van het volk om een zaak te maken welke zij zeiden tegen Hem. Hij antwoordde niet.
        
      </p>
      <p class="margin">
        
          ‘aangevallen’, letterlijk: ‘achtervolgen’ en ‘opgejaagd worden’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְפִּילָאט אָמַר לוֹ אֵינְךָ רוֹאֶה כַּמָּה עֵדָיוֹת יֵשׁ נֶגְדְּךָ
      </p>
      <p class="nl">
        
          En Pilatus zei tot Hem: ziet U niet hoeveel getuigenissen er zijn tegen U?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְיֵשׁוּעַ לֹא עָנָה אֵלָיו דָּבָר וְפִּילָאט הָיָה נִפְלָא מִזֶּה מְאֹד
      </p>
      <p class="nl">
        
          En Jesjoea antwoordde geen woord tot hem. En Pilatus verwonderde zich zeer over dit.
        
      </p>
      <p class="margin">
        
          Hier gaat Jes. 53:7 in vervulling
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וּבַיּוֹם הַחַג הַנִּכְבָּד שֶׁל פֶּסַח הָיָה מִנְהָגָם שֶׁגִּזְבָּר הָעִיר הָיָה לָתֵת לָעָם אָסוּר אֶחָד מֵהָאֲסוּרִים אוֹתוֹ אֲשֶׁר יִרְצוּ
      </p>
      <p class="nl">
        
          En op de dag van het eervolle feest van Pesach, was het hun gewoonte dat de praefectus van de stad tot het volk een gevangene gaf uit de gevangenis die zij maar wilden.
        
      </p>
      <p class="margin">
        
          ‘uit de gevangenis’, letterlijk: ‘van de gevangenen’<br />‘die zij maar wilden’, letterlijk: ‘die zij behaagden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וּבַיָּד פִּילָאט הָיָה חָבוֹשׁ אֶחָד שֶׁהָיָה כִּמְעַט שׁוֹטֶה שְׁמוֹ בַּרַאבַּאשׂ וְנִלְקַח עַל רָצְחָה וְשָׂם אוֹתוֹ בַּבּוֹר
      </p>
      <p class="nl">
        
          En in de hand van Pilatus was één gevangene, welke bijna krankzinnig was, zijn naam was Barabbas. En hij was genomen vanwege moord en hij was in de kerker gezet.
        
      </p>
      <p class="margin">
        
          Barabbas: zoon van de vader, een Aramese naam, in enkele Griekse hanschriften wordt hij Jezus Barabbas genoemd, dit zou ook Jesjoea Barabbas kunnen zijn
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכַאֲשֶׁר נֶאֶסְפוּ אָמַר לָהֶם פִּילָאט אֵיזֶה מֵאֵלוּ תִּרְצוּ שֶׁאָנִיחַ בַּרַאבַּאשׂ אוֹ יֵשׁוּעַ שֶׁנִּקְרָא מָשִׁיחַ
      </p>
      <p class="nl">
        
          En toen zij verzameld waren, zei Pilatus tot hen: welke van deze wilt u dat ik loslaat, Barabbas of Jesjoea, die Messias genoemd wordt?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        לְפִי שֶׁפִּילָאט הָיָה יוֹדֵעַ שֶׁעַל שִׂנְאַת חִנָּם נִלְקַח
      </p>
      <p class="nl">
        
          Omdat Pilatus wist dat Hij genomen is vanwege redeloze haat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וּבְעוֹדוֹ יוֹשֵׁב בַּכִּסֵּא אִשְׁתּוֹ שָׁלְחָה לוֹ שָׁלִיחַ לֵאמֹר אֲחִילֶה אֲנִי מִמְּךָ שֶׁבַּשּׂוּם עִנְיָן לֹא תֹּאמַר דָּבָר כְּנֶגֶד אוֹתוֹ צַדִּיק שֶׁבְּזֹאת הַלַּיְלָה סָבַלְתִּי עִנְיָנִים רַבִּים בַּמַּרְאֶה בַּעֲדוֹ
      </p>
      <p class="nl">
        
          En terwijl hij zat op de troon, zijn vrouw zond tot hem een boodschapper, door te zeggen: ik smeek van u dat u op geen enkele manier te zeggen een zaak tegen Hem, een rechtvaardige, omdat in deze nacht heb ik veel geleden in een visioen omwille van Hem.
        
      </p>
      <p class="margin">
        
          ‘zijn vrouw’, volgens de overlevering zou dit Claudia Procula zijn geweest<br />Er is woordverband tussen ‘zond’ (sjalchah) en ‘boodschapper’ (sjaliach)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וּגְדוֹלֵי הַכֹּהֲנִים וְזִקְנֵי הַדָּת הִקְהִילוּ לָעָם שֶׁיִשְׁאֲלוּ אֶת־בַּרַבַּאשׂ וְשֶׁיֵשׁוּעַ יָמִית
      </p>
      <p class="nl">
        
          Maar de overpriesters en de oudsten van de wet verzamelden het volk, dat zij vroegen om Barabbas, zodat men Jesjoea liet doden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וַיַּעַן לָהֶם פִּילָאט אֵיזֶה מֵהֶם תִּרְצוּ שֶׁנָּנִיחַ וְהֵם אָמְרוּ בַּרַבַּאשׂ
      </p>
      <p class="nl">
        
          En Pilatus antwoordde: welke van hen wilt u dat losgelaten wordt? En zij zeiden: Barabbas.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם פִּילָאטוֹשׂ אִם כֵּן מָה אֶעֱשֶׂה מִיֵשׁוּעַ הַנִּקְרָא מָשִׁיחַ וְכוּלָּם עָנוּ שֶׁיִּתְלֶה
      </p>
      <p class="nl">
        
          En Pilatus zei tot hen: zo ja, wat moet ik doen met Jesjoea, die genoemd wordt Messias. En zij allen antwoordden dat Hij zou worden gehangen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וּפִּילָאטוֹשׂ אָמַר לָהֶם אֵיזוּ רָעָה עָשָׂה וְהֵם בַּחוֹזֶק הָיוּ זוֹעֲקִים יִתְלוֹהוֹ יִתְלוֹהוֹ יִתְלוֹהוֹ
      </p>
      <p class="nl">
        
          En Pilatus zei tot hen: watvoor kwaad heeft Hij gedaan? En zij riepen met volharding: laat men Hem hangen! Laat men Hem hangen! Laat men Hem hangen!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וּפִּילָאטוֹשׂ בִּרְאוֹתוֹ שֶׁלֹּא הָיָה תְּקוּמָה וְלֹא יָכוֹל לְהִשְׁלִים שׂוּם דָּבָר עִמָּהֶם קּוֹדֶם שֶׁיְּקוּם בַּעַד זֶה קְטָטָה גְּדוֹלָה בָּעָם לָקַח מַיִם וְרָחַץ יָדָיו בִּפְנֵי הָעָם וְאָמַר אֲנִי נָקִי מִהָדָּם שָׁמְרוּ לָכֶם מָה תַּעֲשׂוּ
      </p>
      <p class="nl">
        
          En Pilatus zag in dat hij geen stand hield en dat hij geen vrede kon sluiten met hen. Voordat men zou opstaan, vanwege dit, in een grote opstand door het volk, nam hij water en waste zijn handen voor het aangezicht van het volk, en zei: ik ben onschuldig van dit bloed. Bewaar jullie wat u doet.
        
      </p>
      <p class="margin">
        
          ‘water’, letterlijk: wateren<br />‘en waste zijn handen’, is een teken van onschuld over het oordeel, dit valt terug te voeren op Deut. 21:6-9, Ps. 26:6 en 73:13
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְעָנוּ כָּל הָעָם וְאָמְרוּ דָּמוֹ יִהְיֶה עָלֵינוּ וְעַל זָרַעֵינוּ
      </p>
      <p class="nl">
        
          En heel het volk antwoordde en zei: Zijn bloed is op ons en op ons nageslacht.
        
      </p>
      <p class="margin">
        
          ‘Zijn bloed is op ons en op ons nageslacht’, de verantwoordelijkheid voor het bloed is terug te vinden in Lev. 20:9, 11, 2 Sam. 1:13-16, 3:29, Jer. 51:35, Eze. 3:18, 22:4 en 33:4, 6.<br />‘ons nageslacht’, kan ook vertaald worden als: ‘ons zaad’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְאָז הֵנִיחַ לָהֶם בַּרַאבַּאשׂ וּמָסַר לָהֶם יֵשׁוּעַ לָקוּי וּמֵעוֹנָה שֶׁיִתְלוֹהוֹ
      </p>
      <p class="nl">
        
          En toen werd Barabbas tot hen losgelaten en werd Jesjoea tot hen overgeleverd, om te geselen en te martelen, dat men Hem hangen zou.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        אָז פָּרָשֵׁי הֶחָצֵר לָקְחוּ לִיֵשׁוּעַ בַּמִשְׁמָר וְיִקָּהֲלוּ בִּפְנֵי קָהָל רָב מֵעַמִּים רַבִּים
      </p>
      <p class="nl">
        
          Toen namen de ruiters van het hof Jesjoea in bewaring, en verzamelden zich voor het aangezicht van de grote gemeente van veel volk.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘verzamelden zich’ (v<sup>e</sup>jiqahaloe) en ‘gemeente’ (qahal)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וְיַלְבִּישׁוּהוּ לִיֵשׁוּעַ בִּגְדֵי מֶשִׁי וְיַעַטְפוּהוּ מְעִיל מֶשִׁי יָרוֹק
      </p>
      <p class="nl">
        
          En zij kleedden Jesjoea met kleding van zijde, en hulden Hem in een gewaad van groene zijde.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְעָשׂוּ עֲטָרָה מִקּוֹצִים וַיְשִׂימֵהוּ עַל־רֹאשׁוֹ וּשֵׂמוֹ לוֹ קָנָה אַחַת בַּיָּדוֹ הַיְּמָנִית וְכוֹרְעִים הָיוּ מַלְעִיגִים מִמֶּנּוּ שָׁלוֹם עָלֶיךָ מֶלֶךְ הַיְּהוּדִים
      </p>
      <p class="nl">
        
          En maakten een krans van doornen, en zette deze op Zijn hoofd, en gaven Hem één stengel in Zijn rechterhand. En bogen zich uit spot voor Hem: sjaloom over U, Koning van de Judeeërs.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְרוֹקְקִים לוֹ בְּפָנָיו וְהָיוּ לוֹקְחִים הַקְנָה וּמַכִּים בְּרֹאשׁוֹ
      </p>
      <p class="nl">
        
          En spuwden Hem in Zijn gezicht en namen de stengel en sloegen op Zijn hoofd.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְכַאֲשֶׁר הִלְעִיגוּ מִמֶּנּוּ מְאֹד הִפְשִׁיטוּ מִמֶּנּוּ הַמְּעִיל וְהִלְבִּישׁוּהוּ מַלְבּוּשָׁיו וְצוּוּ לִתְלוּתוֹ
      </p>
      <p class="nl">
        
          En toen zij Hem veel bespot hadden, deden zij Hem het gewaad uit en kleedde Hem met Zijn eigen kleren. En geboden om Hem te hangen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וְעוֹדָם יוֹצְאִים מֵהָעִיר פָּגְעוּ בָּאִישׁ שֶׁשְׁמוֹ שִׁמְעוֹן הַכְּנַעֲנִי וַאֲנָסוּהוּ שֶׁיּוֹלִיךְ הַצְּלִיבָה רֹצֵה לוֹמַר הַשְּׁתִי וְעָרֵב
      </p>
      <p class="nl">
        
          En terwijl zij de stad uitgingen, troffen zij een man, zijn naam was: Sjiem’on, de Kanaäniet. En dwongen hem dat hij ging met het hangwerktuig, dat is het kruis.
        
      </p>
      <p class="margin">
        
          ‘Sjiem’on, de Kanaäniet’, één van Zijn leerlingen volgens Mat. 10:4, in de Peshitta en Griekse handschriften staat: ‘Sjiemon uit Cyrene’, net als in Mark. 15:21 en Luk. 23:26<br />‘het kruis’, letterlijk: ‘kruisgewijs’ of ‘schering en inslag’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וּבָאוּ לְמָקוֹם נִקְרָא גוֹלְגוֹטַא הוּא הַר קָאלוּוַארִי
      </p>
      <p class="nl">
        
          En zij kwamen bij een plaats genaamd Gholghota, dit is de berg Qaloevari.
        
      </p>
      <p class="margin">
        
          Gholghota: (Golgotha) schedel, en is afkomstig van Hebreeuwse woord voor ‘kop’ of ‘schedel’ (ghoelgholet)<br />‘Qaloevari’, is Latijn (Calvari of Calvaria) voor hoofdschedel
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וְנָתְנוּ לוֹ יַיִן מִזּוּג בַּמָּרָה וְכַאֲשֶׁר הִתְחִיל לִשְׁתּוֹת הִרְגִּישׁוּ וְלֹא יִרְצֶה לִשְׁתּוֹת
      </p>
      <p class="nl">
        
          En zij gaven Hem wijn gemengd met gal, en toen Hij begon te drinken, nam waar wat het was, zodat Hij geen behagen had om te drinken.
        
      </p>
      <p class="margin">
        
          ‘wijn gemengd met gal’ heeft een verdovende werking, vervulling van Ps. 69:22
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְאַחֵר כַּאֲשֶׁר שֵׂמוּהוּ בַּצְּלִיבָה חֶלְקוּ בִּגְדָיו בַּגּוֹרָל
      </p>
      <p class="nl">
        
          En toen wanneer zij Hem geplaatst hadden op het hangwerktuig, verdeelden zij Zijn klederen door verloting.
        
      </p>
      <p class="margin">
        
          In Griekse handschriften is toegevoegd: ‘opdat vervuld zou worden, wat gezegd is door de profeet: Zij hebben Mijn klederen onder zich verdeeld, en hebben het lot over Mijn kleding geworpen’, naar Ps. 22:19
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        וְאַחֵר הֵנִיחוּ לוֹ עַל־רֹאשׁוֹ מִכְתָּב אֶחָד שֶׁהָיָה אוֹמֵר זֶה יֵשׁוּעַ נָזָארַת מֶלֶךְ יִשְׂרָאֵל
      </p>
      <p class="nl">
        
          En daarna zetten zij tot Hem, boven Zijn hoofd, één opschrift, welke zei: dit is Jesjoea Nazarat, Koning van Jisraël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        אָז נִתְלוּ עִמּוֹ שֵׁנִי גַּנָּבִים הָאֶחָד לִימִינוֹ וְהָאֶחָד לִשְׂמֹאלוֹ
      </p>
      <p class="nl">
        
          Toen werden twee dieven opgehangen met Hem, de ene aan Zijn rechterhand en de ander aan Zijn linkerhand.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וְהָעוֹבְרִים הָיוּ מַלְעִיגִים מִמֶּנּוּ וּמְנִיעִים רֹאשָׁם
      </p>
      <p class="nl">
        
          En de voorbijgangers bespotten Hem en schudden hun hoofden,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְאוֹמְרִים רְאֵה אֲשֶׁר חָרְבַּת מִקְדָּשׁ הָאֵל וּבְעוֹד שְׁלֹשָׁה יָמִים תִּבְנֶהוֹ תּוֹשִׁיעַ עַצְמְךָ וְאִם אַתָּה בֶּן־הָאֵל רַד מִן הַצְּלִיבָה
      </p>
      <p class="nl">
        
          en zeiden: zie Degene Die het Heiligdom van de El verwoest en in drie dagen weer opbouwt, verlos Uzelf en indien U de Zoon van de El bent, daal van het hangwerktuig.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘opbouwt’ (tivneho) en ‘Zoon’ (ben).<br />‘indien U de Zoon van de El bent’, dezelfde woorden van de tegenstander in Matt. 4:3
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        וּגְדוֹלֵי הַכֹּהֲנִים וְזִקְנֵי הֵעֵם הָיוּ מַלְעִיגִים מִמֶּנּוּ וְאוֹמְרִים
      </p>
      <p class="nl">
        
          En de overpriesters en oudsten van het volk bespotten Hem en zeiden:
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        הָאֲחֵרִים הוֹשִׁיעַ וְעָצְמוֹ לֹא יוּכַל לְהוֹשִׁיעַ אִם מֶלֶךְ יִשְׂרָאֵל הוּא יָרַד מִן הָעֵץ וְנַאֲמִין בוֹ
      </p>
      <p class="nl">
        
          De anderen zijn verlost, maar Zichzelf kan Hij niet verlossen, als Hij de Koning van Israël is, laat Hij afdalen van het hout en wij geloven in Hem.
        
      </p>
      <p class="margin">
        
          ‘hout’, kan ook vertaald worden als: ‘boom’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        כִּי הוּא נִשְׁעַן בָּאֵל יוֹשִׁיעֵהוּ עַתָּה אִם יִרְצֶה שֶׁהוּא אָמַר שֶׁהוּא בֶּן־הָאֱלֹהִים
      </p>
      <p class="nl">
        
          Want Hij steunt op El, laat Hem nu verlost worden, als Hij dat behaagt, omdat Hij zei dat Hij de Zoon van de Elohiem is.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        וְאוֹתָם הַדְּבָרִים עַצְמָם אָמְרוּ לוֹ הַגַּנָּבִים שֶׁהָיוּ נִתְלִים עִמּוֹ
      </p>
      <p class="nl">
        
          En de dieven, welke met Hem gehangen waren, zeiden tot Hem dezelfde woorden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        וְלַשָּׁעָה שִׁשִּׁית נַעֲשׂוּ חֲשׁוּכוֹת בְּכָל הָעוֹלָם וְעָמְדוּ עַד שָׁעָה תְּשִׁיעִית
      </p>
      <p class="nl">
        
          En op het zesde uur geschiedde duisternis in heel de wereld en het bleef tot het negende uur.
        
      </p>
      <p class="margin">
        
          ‘het zesde uur’, dat is ongeveer om 12.00 uur<br />‘het bleef’, letterlijk: ‘staan’<br />‘het negende uur’, dat is ongeveer om 15.00 uur
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        יֵשׁוּעַ צָעַק בַּקּוֹל גָּדוֹל אוֹמֵר בַּלָּשׁוֹן הַקוֹדֶשׁ אֵלִי אֵלִי לָמָה עֲזַבְתָּנִי
      </p>
      <p class="nl">
        
          Jesjoea riep met een grote stem en zei in de heilige taal: “Mijn El, Mijn El, waarom heeft U Mij verlaten?!”
        
      </p>
      <p class="margin">
        
          ‘heilige taal’, kan ook vertaald worden als: ‘heilige spraak’ en ‘heilige tong’, dat is: Hebreeuws<br />‘Mijn El, Mijn El, waarom heeft U Mij verlaten’ is een citaat uit Ps. 22:2 en klinkt in het Hebreeuws: ‘Eli, Eli, lamah azavtani’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        וְאֶחָד מֵהָעוֹמְדִים שָׁם אָמַר זֶה קוֹרֵא לְאֵלִיָה
      </p>
      <p class="nl">
        
          En één van die daar stonden zei: Deze roept tot EliJAH.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        וּמִיָּד לָקַח אִסְפּוֹג וּמַלְּאֵהוּ חוֹמֶץ וְנָתַן לוֹ לִשְׁתּוֹת
      </p>
      <p class="nl">
        
          En onmiddellijk nam hij een sponsachtig brood, gevuld met edik en gaf Hem te drinken.
        
      </p>
      <p class="margin">
        
          ‘edik’ was een azijnessence, aangelengd met water en honing. Volgens Jochanan (Joh. 19:29) was het omlegd met hysop
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">49.</p>
      <p class="he">
        וְהָאֲחֵרִים הָיוּ אוֹמְרִים נִרְאָה אִם יִבֵּא אֵלִיָה וְיוֹשִׁיעֵהוּ
      </p>
      <p class="nl">
        
          En anderen zeiden: laat ons zien dat EliJAH komt en Hem verlossen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">50.</p>
      <p class="he">
        וְיֵשׁוּעַ צָעַק פַּעַם אַחֶרֶת בַּקּוֹל גָּדוֹל וְשָׁלַח  נִשְׁמָתוֹ לְאָבִיו
      </p>
      <p class="nl">
        
          Maar Jesjoea riep nog een keer met een grote stem en zond Zijn levensadem tot Zijn Vader.
        
      </p>
      <p class="margin">
        
          ‘Maar Jesjoea riep’, volgens Luk. 23:45 riep Hij: “Vader, in Uw handen plaats Ik Mijn geest”<br />‘Zijn levensadem’, zie ook Gen. 2:7
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">51.</p>
      <p class="he">
        וּמּיָּד נִקְרַע פָּרֹכֶת הַמִּקְדָּשׁ לִשְׁנֵי קְרָעִים מִלְּמַעְלָה לְמַטָּה וְרַעֲשָׁהּ הָאָרֶץ וְנִשְׁתַּבְּרוּ הָאֲבָנִים
      </p>
      <p class="nl">
        
          En onmiddellijk scheurde het voorhangsel van het Heiligdom in twee stukken, van boven naar beneden, en de aarde beefde, en de stenen werden gebroken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">52.</p>
      <p class="he">
        וְהַקְּבָרִים נִפְתְּחוּ וְרַבִּים מִישֵׁינֵי אַדְמַת עָפָר קָמוּ
      </p>
      <p class="nl">
        
          En de graven werden geopend en velen, die ontslapen waren in stof van de aarde, stonden op.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">53.</p>
      <p class="he">
        וְיָצְאוּ מִקְּבוּרָתָם וְאַחַר שֶׁחַיוּ בָּאוּ בָּעִיר הַקָּדֵשׁ וְנִגְלוּ לָרַבִּים
      </p>
      <p class="nl">
        
          En zij gingen uit hun graven en na dit, kwamen zij levend in de Heilige Stad, en werden geopenbaard aan velen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">54.</p>
      <p class="he">
        וְשָׂר הַמֵּאָה וְהָעוֹמְדִים עִמּוֹ לִשְׁמוֹר יֵשׁוּעַ רָאוּ הַרְעָשַׁת הָאָרֶץ וְהַדְּבָרִים שֶׁנַּעֲשׂוּ וְיִפְחֲדוּ מְאֹד וְאוֹמְרִים בֶּאֱמֶת זֶה הָיָה בֶּן־הָאֱלֹוהַּ
      </p>
      <p class="nl">
        
          En de hoofdman over honderd en die met hem stonden om Jesjoea te bewaken, zagen het beven van de aarde en de dingen welke geschiedden, en zij waren zeer angstig, en zeiden: in waarheid, dit is de Zoon van de Eloah.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">55.</p>
      <p class="he">
        וְהָיוּ שָׁם נָשִׁים רַבּוֹת שֶׁהָיוּ עוֹמְדוֹת מֵרָחוֹק מֵאוֹתָן אֲשֶׁר שִׁמְשׁוֹ לִיֵשׁוּעַ מֵהַגָּלִיל עַד־כֹּה
      </p>
      <p class="nl">
        
          En daar waren vele vrouwen, welke stonden van ver,  degenen die Jesjoea gediend hadden, van Ghaliel tot nu toe.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">56.</p>
      <p class="he">
        וּבִכְלָלָן הָיְתָה מַארִיאַה מַגְדַלֵינַה וּמִרְיָם אֵם יַעֲקֹב וְיוֹסֵף וְאֵם בְּנֵי זַבְדִאֵל
      </p>
      <p class="nl">
        
          En onder hen waren: Mariah Maghdalenah, en Mirjam, moeder van Jaäqov en Joséph, en de moeder van zonen van Zavdiël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">57.</p>
      <p class="he">
        וְלָעֵת עָרֵב בָּא אָדָם עָשִׁיר שֶׁהָיָה מִכַרְנַאסִיאַה שְׁמוֹ יוֹסֵף וְהָיָה תַּלְמִיד מִיֵשׁוּעַ
      </p>
      <p class="nl">
        
          En tegen de avond kwam een rijk mens, welke was van Karnasiah, zijn naam was Joséph, en hij was een leerling van Jesjoea.
        
      </p>
      <p class="margin">
        
          ‘tegen de avond’, het dode lichaam mocht niet blijven hangen volgens Deut. 21:23<br />‘Karnasiah’, wat hiermee bedoeld wordt is onbekend, in de Peshitta staat: ‘Ramta’ en in de Griekse handschriften staat: ‘Harimathaia’ (Arimatea), waarschijnlijk Ramah, de geboorteplaats van Sj<sup>e</sup>moe’el (Samuël), zie 1 Sam. 1:1
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">58.</p>
      <p class="he">
        וְהָלַךְ לְפִּילָאט וְשָׁאַל לוֹ הַגּוּף מִיֵשׁוּעַ וְפִּלָאט צִוָּה שֶׁיַּתְנוּהוּ לוֹ
      </p>
      <p class="nl">
        
          En ging naar Pilatus en vroeg hem het lichaam van Jesjoea. En Pilatus beval dat Hem gegeven aan hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">59.</p>
      <p class="he">
        וְיוֹסֵף לָקְחוּ וְכָרְכוּ בִּבֶּגֶד מֶשִׁי חָשׁוּב מְאֹד
      </p>
      <p class="nl">
        
          En Joséph nam Hem en wikkelde Hem in een kleed van zeer kunstig zijde.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">60.</p>
      <p class="he">
        וְשָׂם אוֹתוֹ בְּקִבְרוֹ שֶׁהָיָה נֶחְצַב חָדָשׁ מֵאֶבֶן וְשָׂם אֶבֶן גְּדוֹלָה עַל פִּי הַקֶּבֶר
      </p>
      <p class="nl">
        
          En legde Hem in zijn graf, dat nieuw uitgehakt was uit steen. En zette een grote steen tegen de opening van het graf.
        
      </p>
      <p class="margin">
        
          ‘en legde Hem in zijn graf’, hier komt Jes. 53:9 in vervulling
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">61.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">62.</p>
      <p class="he">
        וּמִמָּחֳרָת יוֹם הַפֶּסַח גְּדוֹלֵי הַכֹּהֲנִים וְהַפְּרוּשִׁים בָּאוּ לְפִּילָאט
      </p>
      <p class="nl">
        
          En de dag na de dag van Pesach, de overpriesters en de P<sup>e</sup>roesjiem kwamen tot Pilatus,
        
      </p>
      <p class="margin">
        
          Dit gebeurde op de 15<sup>e</sup> Aviv, deze dag wordt een grote of hoge Sjabbat genoemd, niet te verwarren met een wekelijkse Sjabbat
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">63.</p>
      <p class="he">
        וְאָמְרוּ לוֹ אֲדוֹנֵנוּ אָנוּ מַזְכִּירִים שֶׁזֶּה הַשַּׁקְרָן הָיָה אוֹמֵר בְּעוֹדוֹ בַּחַיִּים שְׁלְקֵּץ שְׁלֹשָׁה יָמִים יַעֲמוֹד וְיִחְיֶה
      </p>
      <p class="nl">
        
          en zeiden tot hem: onze heer, wij herinneren dat deze leugenaar zei, toen Hij nog leefde, dat na drie dagen Hij opstaat en Hij leeft.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">64.</p>
      <p class="he">
        וְלָכֵן צִוָּה לִשְׁמוֹר קִבְרוֹ עַד יוֹם הַשְּׁלִישִׁי שֶׁבַּאוּלַי אֵיזֶה מִתַּלְמִידָיו יִבֵּא וְיִגְנוֹב אוֹתוֹ וְאַחֵר יֹאמְרוּ לָעָם שֶׁעָמַד מֵהַמָּוֶת וְאִם זֶה יַעֲשׂוּ גָּדַל יִהְיֶה עָוֹן הָאַחֲרוֹן מִן הָרִאשׁוֹן
      </p>
      <p class="nl">
        
          En daarom, beveel om Zijn graf te bewaken tot de derde dag, omdat misschien Zijn leerlingen komen en Hem stelen, en daarna zeggen tot volk, dat Hij is opgestaan uit de dood. Maar wanneer dit gedaan wordt, groter is de volgende ongerechtigheid dan de eerste.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">65.</p>
      <p class="he">
        וְפִּילָאט אָמַר לָהֶם בַּקְּשׁוּ שׁוֹמְרִים וְשָׁמְרוּ הַיּוֹתֵר טוֹב שֶׁתּוּכְלוּ
      </p>
      <p class="nl">
        
          En Pilatus zei tot hen: zoek wachters en bewaar het zo goed mogelijk dat u kunt.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen “wachters” (sjomriem) en “bewaar” (v<sup>e</sup>sjamroe).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">66.</p>
      <p class="he">
        וְהֵם שָׁלְמוּ בִּנְיָן הַקֶבֶר וַהֲתָמוּהוּ וְהֵנִיחוּ שָׂם שׁוֹמְרִים
      </p>
      <p class="nl">
        
          En zij voltooiden de constructie van het graf, doordat zij het verzegelden, en zetten de wachters.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>