<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וּבְיוֹם הָרִאשׁוֹן מֵהַשְּׁבוּעַ בְּהַשְׁכֶמָה בָּאוּ מִרְיָם מַגְדַלֵינָה וּמִרְיָם אַחֶרֶת לִרְאוֹת הַקֶּבֶר
      </p>
      <p class="nl">
        
          En op de eerste dag van de week, in de vroegte, kwamen Mirjam Maghdalenah en de andere Mirjam om het graf te zien.
        
      </p>
      <p class="margin">
        
          ‘eerste dag van de week’, in de Peshitta staat: ‘het einde van de Sjabbat, toen de eerste van de week was begonnen’ en in de Griekse handschriften staat: ‘en na het einde van de Sjabbat, bij het lichten tot één van de Sjabbatten’, zie Lev. 23:15
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְנִרְעֲשָׁה הָאָרֶץ שֶׁמַּלְאָךְ יְהֹוָה יָרַד מִן הַשָּׁמַיִם לַקֶּבֶר וְהָפַךְ הָאֶבֶן וְעָמַד
      </p>
      <p class="nl">
        
          En de aarde beefde, omdat een Engel van J<sup>e</sup>HOVAH neerdaalde vanuit de hemelen tot het graf, en wentelde de steen en stond.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וּמַרְאֵהוֹ הָיָה כַּשֶּׁמֶשׁ וּבְגָדָיו כַּשֶׁלֶג
      </p>
      <p class="nl">
        
          En zijn verschijning was als de zon en zijn kleding als sneeuw.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וּמִפַּחֲדוֹ נִבְהֲלוּ הַשּׁוֹמְרִים וְעָמְדוּ כַּמֵּתִים
      </p>
      <p class="nl">
        
          En uit vrees voor hem, waren de wachters verbijsterd en stonden als doden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וְעָנָה הַמַּלְאָךְ וְאָמַר לַנָּשִׁים אַל תִּפְחֲדוּ שֶׁאֲנִי יוֹדֵעַ שֶׁאֲתֶּן מְבַקְּשׁוֹת לִיֵשׁוּעַ אֲשֶׁר נְתָלָה
      </p>
      <p class="nl">
        
          Maar de engel antwoordde en zei tot de vrouwen: vreest u niet, omdat ik weet dat jullie zoeken Jesjoea, Die gehangen was.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        אֵינֶנּוּ כָּאן שֶׁכְּבָר חָי כְּמוֹ שֶׁאָמַר לָכֵן בּוֹאוּ וּרְאוּ הַמָּקוֹם אֲשֶׁר עָמַד שָׁם הָאָדוֹן
      </p>
      <p class="nl">
        
          Hij is hier niet, omdat Hij reeds leeft, zoals Hij zei. Daarom, kom en zie, de plaats waar de Heer opstond.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וּלְכוּ מִיָּד וְאִמְרוּ לְתַּלְמִידָיו שֶׁכְּבָר עָמַד שָׁם הָאָדוֹן וְהוּא יִהְיֶה לִפְנֵיכֶם וְשָׁם תִּרְאוּהוּ כַּאֲשֶׁר אָמַר לָכֶם
      </p>
      <p class="nl">
        
          En ga onmiddellijk en zeg Zijn leerlingen, dat de Heer reeds is opgestaan. En Hij is voor jullie aangezichten en u ziet Hem, zoals Hij zei tot jullie.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיָצְאוּ הַנָּשִׁים בְּפַחַד מֵהַקֶּבֶר בַּעֲבוּר רֹאוֹת הַמַּלְאָךְ וּבְשִׂמְחָה רַבָּה לְפִי שֶׁהָאָדוֹן עָמַד חָי וְיָרוּצוּ לֵאמֹר לְתַלְמִידָיו
      </p>
      <p class="nl">
        
          En de vrouwen gingen uit het graf, omdat zij de engel zagen en met grote vreugde omdat de Heer levend staat. En zij renden om het te zeggen tot Zijn leerlingen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְהֵמָּה הוֹלְכוֹת וְיֵשׁוּעַ עָבַר לִפְנֵיהֶם אוֹמֵר יְהֹוָה יוֹשִׁיעֲכֶן וְהֵם קָרְבוּ אֵלָיו וַיִּקְּדוּ לוֹ וְיִשְׁתַּחֲווּ לוֹ
      </p>
      <p class="nl">
        
          En zij gingen, maar Jesjoea ging voorbij voor hun aangezichten en zei: J<sup>e</sup>HOVAH verlost jullie! En zij naderden tot Hem, en bogen diep voor Hem, en betuigden eerbied tot Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        אָז אָמַר לָהֶן יֵשׁוּעַ אַל תִּפְחֲדוּ אִמְרוּ לְאַחַי שֶׁיִּלְכוּ לְגָּלִיל וְשָׁמָּה יִרְאוּנִי
      </p>
      <p class="nl">
        
          Toen zei Jesjoea tot hen: vreest u niet, zeg Mijn broeders dat zij gaan naar Ghaliel en daar zien zij Mij.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וּבְעוֹד שֶׁהֵן הוֹלְכוֹת אֵיזֶה מֵהַשּׁוֹמְרִים בָּאוּ לָעִיר וְהִגִּידוּ לַגָּדוֹלֵי הַכֹּהֲנִים כֹּל הַנַּעֲשֶׂה
      </p>
      <p class="nl">
        
          En terwijl zij gingen, enkele van de wachters kwamen in de stad en berichtten de overpriesters al wat geschied was.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְיַעֲדוּ לְעֵצָהּ עִם זִקְנֵי הָעַם וַיִתְּנוּ מָמוֹן רָב לַפָּרָשִׁים
      </p>
      <p class="nl">
        
          En zij vergaderden tot raad met de oudsten van het volk, en gaven veel geld tot de ruiters,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְאָמְרוּ לָהֶם אַתָּם תֹּאמְרוּ שֶׁבֹאוּ תַּלְמִידָיו לָיְלָה וְגָנְבוּהוּ בְּעוֹדְכֶם יְשָׁנִים
      </p>
      <p class="nl">
        
          en zeiden tot hen: jullie zeggen dat Zijn leerlingen kwamen in de nacht en stalen Hem terwijl jullie sliepen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        וְאִם זֶה יָבֹא לְאוֹזֶן פִּילָאט אָנוּ נְדַבֵּר עִמּוֹ בְּעִנְיָן יְנִיחְכֶם
      </p>
      <p class="nl">
        
          En wanneer dit komt tot de oren van Pilatus, wij bespreken dit met hem dat hij in deze zaak jullie met rust laat.
        
      </p>
      <p class="margin">
        
          ‘in deze zaak jullie met rust laat’, letterlijk: ‘in de zaak jullie laat liggen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְהֵם לָקָחוּ הַמִּטַבֵּעַ וְאָמְרוּ כֵּן כְּמוֹ שֶׁלִּמְּדוּם וְזֶה הַדָּבָר בְּסּוֹד בֵּין הַיְּהוּדִים עַד הַיּוֹם הַזֶּה
      </p>
      <p class="nl">
        
          En zij namen het metaal en zeiden zo, zoals dat hun geleerd was. En dit woord in samenspanning is onder de Judeeërs tot deze dag.
        
      </p>
      <p class="margin">
        
          ‘het metaal’, dat is het geld (zie vers 12) waarmee zij omgekocht werden
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְאַחֵר זֶה כַּאֲשֶׁר הַשְּׁנַיִם עָשָׂר תַּלְמִידָיו הָלְכוּ לַגָּלִיל נִרְאָה לָהֶם בָּהָר אֲשֶׁר בּוֹ הִתְפַּלְּלוּ
      </p>
      <p class="nl">
        
          En na dit, toen Zijn twaalf leerlingen gingen naar Ghaliel verscheen Hij tot hen op de berg waar zij Hem aanbaden.
        
      </p>
      <p class="margin">
        
          ‘Zijn twaalf leerlingen’, in Peshitta en Griekse handschriften staat: ‘elf leerlingen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְכַאֲשֶׁר רָאוּהוּ הִשְׁתַּחֲווּ לוֹ וְיֵשׁ מֵהֶם שֶׁנִסְתַפְקוּ בּוֹ
      </p>
      <p class="nl">
        
          En toen zij Hem zagen, betuigden zij Hem eerbied, maar er waren van hen die Hem twijfelden.
        
      </p>
      <p class="margin">
        
          ‘twijfelden’, letterlijk: ‘afkeurend handgeklap’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְיֵשׁוּעַ קָרַב אֲלֵיהֶם וְאָמַר לָהֶם לִי נָתַן כֹּל הַיְּכוֹלֶת בַּשָּׁמַיִם וּבָאָרֶץ
      </p>
      <p class="nl">
        
          En Jesjoea naderde tot hen en zei tot hen: aan Mij is gegeven alle macht in de hemelen en op de aarde.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        לְכוּ אַתָּם וְלָמְדוּ אוֹתָם לְקַיֵּים כֹּל הַדְּבָרִים אֲשֶׁר צִיוֵּיתִי אֶתְכֶם עַד־עוֹלָם
      </p>
      <p class="nl">
        
          Ga, jullie, en leert hen tot bekrachtiging alle dingen die Ik jullie geboden heb voor altijd.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        
      </p>
      <p class="nl">
        
          
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov
        
      </p>
    </div>
  
</div>