<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        בַּיָּמִים הָהֵם בָּא יוֹחָנָן הַמַּטְבִּיל דּוֹרֵשׁ בְּמִדְבָּר יְהוּדָה
      </p>
      <p class="nl">
        
          In die dagen kwam Jochanan, de doper, en predikte in de woestijn van J<sup>e</sup>hoedah.
        
      </p>
      <p class="margin">
        
          Jochanan: (Johannes) JHWH is genadig<br />‘predikte’, kan ook vertaald worden als: ‘zoeken’ en ‘onderzoeken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְאָמַר חָזְרוּ בַּתְּשׁוּבָה שֶׁמַּלְכוּת שָׁמַיִם קְרוֹבָה לְבָא
      </p>
      <p class="nl">
        
          En hij zei: “Keer terug in berouw, omdat het Koninkrijk der Hemelen nadert om te komen!
        
      </p>
      <p class="margin">
        
          ‘Koninkrijk der Hemelen’ wordt in de andere Evangeliën genoemd: Koninkrijk van Elohiem, mogelijk heeft MattitJAH gelet op Dan. 4:26
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        לְקַייֵּם מָה שֶׁנֶּאֱמַר עַל פִּי יְשַׁעְיָהוּ הַנָּבִיא קוֹל קוֹרַא בַּמִּדְבָּר פָּנּוּ דֶּרֶךְ יהוה יַשְּׁרוּ בָּעֲרָבָה מְסִילָּה לֵאלֹהֵינוּ
      </p>
      <p class="nl">
        
          Tot bekrachtiging wat gezegd is over de mond van J<sup>e</sup>sja‘JAHOE, de profeet: “Een stem roept in de woestijn: Bereidt de weg van JHWH! Maak recht in de woestijnvlakte een gebaande weg tot onze Elohiem!”
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 40:3
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְהִנֵּה יוֹחָנָן הָיָה לָבוּשׁ מִצֶּמֶר הַגְּמַלִים וְאָזוּר וְעוֹר שָׁחוֹר אֵזוֹר בְּמָתְנָיו וּמָזוֹנוֹ הָאַרְבֶּה וּדְבַשׁ וַיַּעֲרִים
      </p>
      <p class="nl">
        
          En zie! Jochanan was gekleed met wol van een dromedaris en omgordt een zwart leren gordel om zijn heupen. En zijn voedsel was sprinkhanen, bijenhoning en honingraat.
        
      </p>
      <p class="margin">
        
          ‘en omgordt met een zwart leren gordel’ in Ms. 2234 (marx 15) te Bibliotheek van de Joodse Theologische Seminarie van Amerika, New York staat: ‘en boven zijn mannelijk lid omgordt met een zwart leren gordel’<br />‘bijenhoning’ wordt ook ‘wilde honing’ genoemd, niet te verwarren met de sap van de dadel dat ‘honing’ wordt genoemd.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        אָז יָצְאוּ אֵלָיו מִירוּשָׁלַם וּמִכָּל יְהוּדָה וּמִכָּל הַמַּלְכוּת סְבִיבוֹת הַיַּרְדֵּן
      </p>
      <p class="nl">
        
          Toen ging naar hem uit J<sup>e</sup>roesjalajiem, en uit heel J<sup>e</sup>hoedah, en uit heel het koninkrijk rondom de Jardén.
        
      </p>
      <p class="margin">
        
          ‘koninkrijk’, mogelijk wordt hier bedoeld het gebied Perea<br />Jardén: (Jordaan) ‘afdalen’ of ‘daalt af van Dan’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאָז מִתְוַדִּים חַטָּאתָם וְטוֹבְלִים בַּיַּרְדֵּן עַל מַאֲמָרוֹ
      </p>
      <p class="nl">
        
          En toen zij hun zonden beleden, lieten zij zich dopen in de Jardén op zijn zeggen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיָּרֵא כִּי רַבִּים מֵהַפְּרוּשִׁים בְּלֹעֵז פָארִיזֶיאִי וּמִן הַצְדוּקִים בָּאוּ לִטְבִּילתוֹ וַיֹּאמֶר אֲלֵהֶם  שֹׁרֶשׁ פְּתָנִים מִי לָמַד לָהֶם לִבָּרוֹחַ מִן הַקֶּצֶף לְעָתִיד לְבֹא מֵהָאֵל
      </p>
      <p class="nl">
        
          En zie, dat velen uit de P<sup>e</sup>roesjiem, in de vreemde taal Farizei, en uit de Ts<sup>e</sup>doeqiem kwamen tot zijn doop, zei hij tot hen: “Wortel van gifslangen! Wie leert hen om te vluchten van de bereidde woede die komt van de El?
        
      </p>
      <p class="margin">
        
          <br />7.<br />P<sup>e</sup>roesjiem: (Farizeeën) apart gezet, volgens Titus Flavius Josephus waren er 6000 Peroesjiem in de tijd van Herodes de Grote.<br />Vreemde taal: Grieks<br />Ts<sup>e</sup>doeqiem: (Sadduceeën) van Zadok (Tsadoq)<br />‘wortel van gifslangen’, in twee Shem Tov teksten staat ‘zaad van slangen’ 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        עֲשׂוּ פְּרִי תְּשׁוּבָה הַשְּׁלֵמָה
      </p>
      <p class="nl">
        
          Maak vrucht en kom terug in de vrede!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְאֶל־תֹּאמְרוּ בִּלְבַבְכֶם אָבִינוּ אַבְרָהָם אָמֵן אֲנִי אוֹמֵר לָכֶם שֶׁיּוּכַּל הָאֱלֹהִים לְהָקִים עַתָּ בְּנוּ אַבְרָהָם מִן הַאֲבָנִים הָאֵלֶּה
      </p>
      <p class="nl">
        
          En jullie mogen niet zeggen in jullie hart: ‘Onze vader is Avraham’. Amen, ik zeg u dat de Elohiem nu zonen kan oprichten voor Avraham uit deze stenen.
        
      </p>
      <p class="margin">
        
          ‘Amen’ betekent: ‘zeker’ of ‘zo zij het’<br />Er is woordverband tussen ‘zonen’ (b<sup>e</sup>noe) en ‘stenen’ (avániem)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וּכְבָר הִגִּיעַ הַגַּרְזֶן לַשֶּׁרֶשׁ הָעֵץ אֲשֶׁר לֹא יַעֲשֶׂה פְּרִי טוֹב יִכָּרֵת וּבָאֵשׁ יִשְּׂרֹף 
      </p>
      <p class="nl">
        
          En reeds reikt de bijl tot de wortel van boom, opdat die geen goede vrucht maken afgesneden wordt en door vuur wordt verbrand.”
        
      </p>
      <p class="margin">
        
          ‘geen goede vrucht’ is een tegenstelling tot ‘de vrucht’ in vers 8
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">&nbsp;</p>
      <p class="he">
        וְיִשְׁאֲלוּ לוֹ הַחֲבּוּרוֹת אִם־כֵּן מָה נַעֲשֶׂה וַיַּעַן לָהֶם יוֹחָנָן מִי שֶׁיֵּשׁ לוֹ שְׁתֵּי כָּתְנוֹת יִתֵּן הָאֶחָד לְמִי שֶׁאֵין לוֹ וְיַבֹאוּ הָעַם לְהַטְבִּיל <br />וַיִּשְׁאֲלוּהוּ רַבִּים מָה נַעֲשֶׂה וַיַּעַן לָהֶם יוֹחָנָן תִּצְטַעֲרוּ לַשּׁוּם אִישׁ וְלֹא תְּעָנְשׁוּם וְתִשְׂמְחוּ בְּחֶלְקֵיכֶם וְכָל הָעַם הָיוּ חוֹשְׁבִים וּמְדַמִּים בְּלִבָּם נִמּוֹל אִם בַּאוּלַי יוֹחָנָן הוּא יֵשׁוּעַ
      </p>
      <p class="nl">
        
          En de menigte vroeg hem: “Zo ja, wat kan er gedaan worden?” En Jochanan antwoordde hen: “Wie twee tunieken heeft geeft één aan wie geen heeft.” En het volk kwam om gedoopt te worden.<br />En velen vroegen hem: “Wat kan er gedaan worden?” En Jochanan antwoordde hen: “Heb berouw, stel je niet onder een sterveling en straf hen niet, maar verheug jullie in jullie deel.” En het hele volk dacht en overlegde in hun besneden hart: “Misschien is deze Jochanan Jesjoea?”
        
      </p>
      <p class="margin">
        
          Dit tekstgedeelte ontbreekt in Peshitta en Griekse handschriften<br />‘nu’, letterlijk: ‘meteen’<br />‘tunieken’, dit woord wordt gebruik in Gen. 3:21 toen Adam en zijn vrouw bekleed werden door Elohiem
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">11.</p>
      <p class="he">
        וְיוֹחָנָן עָנָה לְכוּלָּם בֶּאֱמֶת הִנְנִי מַטְבִּיל אֶתְכֶם בִּימֵי תְּשׁוּבָה וְאַחֵר יָבֹא אַחֲרָי חָזַק מִמֶּנִּי שֶׁאֵינִּי רָאוּי לְהַתִּיר שְׂרוֹךְ נַעֲלָוֹ הוּא יַטְבֵּיל אֶתְכֶם בָּאֵשׁ רוּחַ הַקָּדוֹשׁ
      </p>
      <p class="nl">
        
          Maar Jochanan antwoordde tot hen allen in waarheid: zie, ik doop jullie met water tot jullie terugkeer, maar een Ander komt na mij, sterker en meer dan mij, welke ik toegelaten ben te zien de riem van Zijn sandaal. Hij doopt jullie met vuur van de Heilige Geest.
        
      </p>
      <p class="margin">
        
          ‘welke ik toegelaten ben te zien’ dat is het neerbuigen op de grond tot de hoogte van sandalen
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">12.</p>
      <p class="he">
        אֲשֶׁר בְּיָדוֹ מְזֹרֶה לִזְרוֹת אֶת-גַּרְנוּ וְיֶאֱסוֹף הַדָּגָן לְאוֹצָרוֹ וְהַתֶּבֶן עַד־כִּי יִשְׂרוֹף בָאֵשׁ אֲשֶׁר לֹא תִּכְבֶּה  
      </p>
      <p class="nl">
        
          Omdat een wan is in Zijn hand om te strooien op Zijn dorsvloer en Hij haalt het koren binnen tot Zijn voorraadkamer, maar het stro verbrandt Hij met vuur dat niet dooft.
        
      </p>
      <p class="margin">
        
          ‘wan’ dat is een mand om koren te zuiveren van kaf en stro<br />In DuTillet en Münster staat dit vers als volgt:<br />‘Omdat een wan is in Zijn hand om te reinigen op Zijn dorsvloer en Hij haalt Zijn tarwe tot de voorraadschuur, maar het kaf verbrandt Hij met vuur dat niet dooft’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">13.</p>
      <p class="he">
        אָז בָּא יֵשׁוּעַ מֵהַגָּלִיל אֶל אֶת־הַיַּרְדֵּן לְהַטְבִּיל מִיּוֹחָנָן
      </p>
      <p class="nl">
        
          Toen kwam Jesjoea vanuit Ghaliel over de Jardén tot de doop van Jochanan.
        
      </p>
      <p class="margin">
        
          Jochanan doopte bij Beejt-Avarah (huis van de doorgang) volgens Joh. 1:28, dat is de plaats waar J<sup>e</sup>hosjoea (Jozua) met het volk Jisraël door de Jardén ging, zie Joz. 3 en 4.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">14.</p>
      <p class="he">
        וְיוֹחָנָן הָיָה מִסְפֹק לְהַטְבִּילוֹ וַיֹאמֶר אֲנִי רָאוּי לְהַטְבִּיל מִיָדֶךָ וְאִתָּה בֹּא אֵלָי
      </p>
      <p class="nl">
        
          Maar het gebeurde dat Jochanan met afkeurend handgeklap Hem weerhield tot het dopen en hij zei: ik zie dat ik door Uw hand gedoopt moet worden, maar U komt naar mij?
        
      </p>
      <p class="margin">
        
          ‘weerhield’, in Münster staat: ‘tegenhouden’ of ‘weigeren’<br />‘ik zie dat ik door Uw hand gedoopt moet worden’ in DuTillet staat: ‘ik ben behoeftig door Uw hand gedoopt te worden’ en in Münster staat: ‘ik heb nood’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">15.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹאמֶר לוֹ הַנָּח שֶׁכֵּן אֲנוּ חַייִבִים לְהִשְׁלִים כֹּל צְדָקָה וְאָז הִטְבִּילוּהוּ יוֹחָנָן
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde en zei tot hem: Laat los, want op deze manier moeten wij voldoen alle gerechtigheid. En toen doopte Jochanan Hem.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt:<br />‘Laat los, nu! Want dit teken moet opgaan tot het vervullen van alle gerechtigheid. En toen liet hij los en doopte Hem’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">16.</p>
      <p class="he">
        וּמִיַּד שֶׁעָלָה מִן הַמַּיִם נִפְתְּחו לוֹ הַשָּׁמַיִם וַיַּרְא רוּחַ אֱלֹהִים יוֹרֶדֶת כְּיוֹנָה וְשָׁרְתָה עָלָיו
      </p>
      <p class="nl">
        
          En onmiddellijk nadat Hij opstond uit de wateren, gingen de hemelen open voor Hem, en hij zag de Geest van Elohiem neerdalen als een duif en diende op Hem.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt:<br />‘En nadat Jesjoea gedoopt was, en opstond uit de wateren, en zie! de hemelen gingen open boven Hem, en hij zag de Geest van de Elohiem neerdalen uit de hemelen zoals de gelijkenis van een duif en kwam op Hem.’<br />‘Geest van Elohiem’ komt voor het eerst voor Gen. 1:2<br />‘diende’ kan ook vertaald worden als: ‘in dienst staan van’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">17.</p>
      <p class="he">
        וְהִנֵּה קוֹל מִן הַשָׁמַיִם אוֹמֵר זֶה בְּנִי אֲהוֹבִי מְאֹד מְאֹד נֶאֱהָב וְחֶפְצִי בּוֹ
      </p>
      <p class="nl">
        
          En zie! een stem uit de hemelen zei: dit is Mijn geliefde Zoon, zeer, zeer beminnelijk en Mijn behagen is in Hem!
        
      </p>
      <p class="margin">
        
          ‘zeer beminnelijk en Mijn behagen is in Hem’ in DuTillet en Münster staat: ‘in Hem zal Mijn ziel voldoen’
        
      </p>
    </div>
  
</div>