<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אָז לוֹקֵחַ יֵשׁוּעַ בְרוּחַ הַקָדוֹשׁ לְמִדְבָּר לְהַתִּנַסּוֹת מֵהַשָׂטָן
      </p>
      <p class="nl">
        
          Toen werd Jesjoea meegenomen door de Heilige Geest naar de woestijn tot het verzoeken door de satan.
        
      </p>
      <p class="margin">
        
          ‘door de Heilige Geest’, in DuTillet en Münster staat: ‘door de hand van de Geest’<br />‘naar de woestijn’, in DuTillet staat: ‘in de woestijn van J'hoedah’<br />‘tot het verzoeken’, in DuTillet en Münster staat: ‘om verzocht te worden’<br />‘de satan’, letterlijk: de tegenstander. 
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיָּצוֹם אַרְבָּעִים יוֹם וְאַרְבָּעִים לָיְלָה אַחֲרֵי-כֵן נִרְעָב
      </p>
      <p class="nl">
        
          En Hij vastte veertig dagen en veertig nachten, daarna leed Hij honger.
        
      </p>
      <p class="margin">
        
          In Ex. 34:28 wordt verteld dat Mosjeh veertig dagen en veertig nachten vastte en ook EliJAH in 1 Kon. 19:8.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וַיִּקְרַב הַמְנַסֶּה וַאמֶר לוֹ אִם בֵּן אֱלֹהִים אַתָּה אֱמוֹר שֶׁהָאֲבָנִים הַאֵלֶּה יָשׁוּבוּ לֶחֶם
      </p>
      <p class="nl">
        
          En de verzoeker naderde en zei tot Hem: indien U de Zoon van Elohiem bent, zegt U dan dat deze stenen omkeren tot brood.
        
      </p>
      <p class="margin">
        
          ‘naderde’, in DuTillet en Münster staat: ‘komen’<br />‘omkeren’ in DuTillet en Münster staat: ‘maken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיַּעַן יֵשׁוּעַ וַיֹּאמֶר לוֹ הוּא כָתוּב כִּי לֹא עַל-הַלֶּחֶם לְבַדּוֹ יִחְיֶה הָאָדָם כִּי עַל-כָּל-מוֹצָא פִי-יַהְוֶה יִחְיֶה הָאָדָם
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde en zei tot hem: dit staat geschreven: “Want de mens zal niet leven op het brood alleen, maar op alles wat uitgaat van de mond van JAHWEH zal de mens leven”
        
      </p>
      <p class="margin">
        
          Citaat uit Deuteronomium 8:3, deze tekst staat in de context van de oproep tot gehoorzaamheid.<br />‘de mens’, letterlijk: de Adaam.<br />‘Jesjoea’, in Münster staat: ‘Hij’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        אָז לָקַח אוֹתוֹ הַשָׂטָן בַּעִיר הָקָדוֹשׁ וַיַּעַמִידֵהוּ עַל מָקוֹם הַיּוֹתֵר גָּבוֹהַ שֶׁבַּכֹּל הַמִקֹדֶשׁ
      </p>
      <p class="nl">
        
          Toen nam de satan Hem mee naar de Heilige Stad en hij deed Hem staan hoog boven de Heilige Plaats,
        
      </p>
      <p class="margin">
        
          ‘Heilige Stad’, dat is J’roesjalajiem<br />‘Heilige Plaats’, dat is de Heilige Tempel.<br />‘hoog boven de Heilige Plaats’, in DuTillet en Münster staat: ‘op de hoek van het Heiligdom’.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו אִם בֵּן אֱלֹהִים אַתָּה דָלַג לְמַטָּה וְכְּתִיב כִּי מַלְאָכָיו יְצַוֶּה-לָּךְ לִשְׁמָרְךָ בְּכָל-דְּרָכֶיךָ עַל-כַּפַּים יִשָּׂאוּנְךָ פֶּן-תִּגּוֹף בָּאֶבֶן רַגְלֶיךָ
      </p>
      <p class="nl">
        
          en hij zei tot Hem: indien U de Zoon van Elohiem bent spring omlaag, opdat er geschreven staat: “Want Hij beveelt Zijn engelen voor U dat zij U bewaren op Uw Weg, zoals handen U dragen, opdat niet Uw voet zich stoot aan een steen”
        
      </p>
      <p class="margin">
        
          Citaat uit Psalm 91:11-12, deze tekst staat in de context van Elohiems bescherming in gevaren.<br />‘spring’, in DuTillet en Münster staat: ‘zich neerwerpen’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיַּעַן אֵלָיו יֵשׁוּעַ שֵׁנִית כֵּן כְּתִיב לֹא תְנָסֶּה אֶת-יַהְוֶה אֱלֹהֶיךָ
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde voor de tweede maal: zo staat er geschreven: “U zult niet verzoeken, JAHWEH, uw Elohiem”
        
      </p>
      <p class="margin">
        
          Citaat uit Deuteronomium 6:16
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וַיִּשָּׂא אוֹתוֹ הַשָׂטָן בַּהַר גָּבוֹהַּ מְאֹד וַיַּרְאֵהוּ כָּל מִמַלְכוֹת הָאָרֶץ וּכְבוֹדָם
      </p>
      <p class="nl">
        
          En de satan nam Hem mee op een zeer hoge berg en liet Hem zien alle koninkrijken van de aarde en hun heerlijkheid,
        
      </p>
      <p class="margin">
        
          ‘En de satan nam Hem mee’, in DuTillet en Münster staat: ‘En opnieuw nam de satan Hem mee’<br />‘de aarde’, in DuTillet en Münster staat: ‘de wereld’, in Textus Receptus staat: ‘kosmos’ (κόσμος)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ כָּל אֵלֶּה אֶתֵּן לְךָ אִם תִּכְרַע וְתִשְׁתַּחֲווּ אֶלִי
      </p>
      <p class="nl">
        
          en hij zei tot Hem: dit alles geef ik aan U, als U knielt en eerbied betuigt voor mij.
        
      </p>
      <p class="margin">
        
          ‘als U knielt’, in DuTillet en Münster staat: ‘als U zich neerwerpt’<br />‘eerbied betuigt’, dit is hetzelfde Hebreeuwse woord als gebruikt wordt in Matth. 2:11
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        אָז עָנַה לוֹ יֵשׁוּעַ לֵךְ הַשָׂטָן בַּלֹעֵז שָׂאטָאנָאס שְׁכֵּן כָּתוּב אֶת יַהְוֶה הִתְפַּלֵּל וְאוֹתוֹ לְבַדּוֹ תַעֲבוֹד
      </p>
      <p class="nl">
        
          Toen antwoordde Jesjoea tot hem: Ga satan! (in de vreemde taal: satanas) Zo staat geschreven: “bid JAHWEH en vereer Hem alleen”.
        
      </p>
      <p class="margin">
        
          Komt uit Deuteronomium 6:13 en 10:20.<br />Vreemde taal: Grieks<br />‘bid tot JAHWEH en vereer Hem alleen’, in DuTillet en Münster staat: Betuig JAHWEH, uw Elohiem, eer en dient Hem alleen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        אָז עָזַב אוֹתוֹ הַשָׂטָן וְהִנֵּה מַלְאָכִים קָרְבוּ אֵלָיו וַיְשָׁרְתוּהוּ
      </p>
      <p class="nl">
        
          Toen liet de satan Hem achter, maar zie! engelen naderden tot Hem en dienden Hem.
        
      </p>
      <p class="margin">
        
          ‘achterlaten’, kan ook vertaald worden met ‘in de steek laten’.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וַיְהִי בַּיָמִים הָהֵם וַיִּשָׁמַע יֵשׁוּעַ כִּי נִמָסַר יוֹחָנָן בַּמַאֲסָר וַיֵּלַך אֶל הַגָלִיל
      </p>
      <p class="nl">
        
          En het gebeurde in die dagen, en Jesjoea hoorde het, toen JOchanaan overleverd was in de gevangenis, en Hij ging naar Ghaliel.
        
      </p>
      <p class="margin">
        
          ‘overgeleverd was in de gevangenis’, in DuTillet en Münster staat: ‘binden’ of ‘vastmaken’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְיַּעֲבוֹר אֶת-נָאזָרִית וְיִשְׁכּוֹן בַּכְּפַר-נַחוּם רָאִיתָה בַּלֹעֵז מַארִיטְמָה בַּקָצֶה אֶרֶץ זְבוּלוּן וְנַפְתָּלִי
      </p>
      <p class="nl">
        
          Maar Hij ging N'tsaret voorbij en ging wonen in K'phar-Nachoem, (in de vreemde taal: Maritima) in het grensgebied van Z'voelon en Naphtali.
        
      </p>
      <p class="margin">
        
          ‘Maar Hij ging N’tsaret voorbij en ging wonen’ in DuTillet en Münster staat: ‘Maar Hij liet N’tsaret achter zich, reisde door en ging wonen’<br />K’phar-Nachoem: (Kapernaüm) dorp van Nachoem (Nahum)<br />‘in het grensgebied’, in DuTillet en Münster staat: ‘stad aan de zee, in het grensgebied’<br />‘Maritima’, betekent: ‘aan de zee’ en komt ook voor in de Vulgata<br />Vreemde taal: Latijn<br />Z’voelon (Zebulon) woning<br />Naphtali: (Naftali) worstelaar of mijn strijd
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        לְקַיֵּים מָה שֶׁאֱמַר יְשַׁעְיָהוּ הַנָבִיא
      </p>
      <p class="nl">
        
          Zo kwam in vervulling wat J'sjaJAH, de profeet, zei:
        
      </p>
      <p class="margin">
        
          ‘wat J'sjaJAH, de profeet zei’, in DuTillet en Münster staat: ‘wat gezegd is over de mond van J'sjaJAH, de profeet, dit woord’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        אַרְצָה זְבוּלוּן וְאַרְצָה נַפְתָּלִי דֶּרֶךְ הַיָּם עֵבֶר אֵת הַיַּרְדֵּן גָּלִיל הַגּוֹיִם
      </p>
      <p class="nl">
        
          “Land van Z'voelon en land van Naphtali, aan de weg langs de zee en aan de overkant van de Jardeen, Ghaliel van de heidenen.
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 8:23, in het citaat missen de woorden: ‘opdat het later belangrijk wordt’ na ‘land van Z’voelon en land van Naphtali’<br />‘Ghaliel’ kan ook vertaald worden als: landstreek.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        הָעָם הַהוֹלְכִים בַּחוֹשָׁךְ רָאוּ אוֹר גָּדוֹל יוֹשְׁבֵי בְּאֶרֶץ צַלְמָוֶת אוֹר נָגַהּ עֲלֵיהֶם
      </p>
      <p class="nl">
        
          Het volk dat rondwandelt in duisternis heeft een groot Licht gezien, voor hen die wonen in het land en de diepe duisternis, is een stralend Licht opgegaan!”
        
      </p>
      <p class="margin">
        
          Citaat uit Jesaja 9:1
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        מִכְאָן וָאֵילַךְ הַתְחִיל יֵשׁוּעַ לְדָּרוֹשׁ וְלְדִּבֵּר חָזַרוּ בַּתְּשׁוּבָה שֶׁמַלְכוּת הַשָׁמַיִם קְרוֹבָה
      </p>
      <p class="nl">
        
          Vanaf daar ging Jesjoea voort en begon te prediken door te spreken: Keer terug! De terugkeer van het Koninkrijk van de Hemelen nabij is!
        
      </p>
      <p class="margin">
        
          ‘vanaf daar’, dat is K'phar-Nachoem zie vers 13, in DuTillet staat: ‘en toen’, in Münster staat: ‘en hiervandaan’.<br />‘tot het spreken’, in DuTillet en Münster staat: ‘tot het oproepen door te zeggen:’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיַּלִךְ יֵשׁוּעַ עַל שָׁפַת הַיָּם הַגָּלִיל וַיַּרְא שְׁנֵי אַחִים שִׁמְעוֹן שֶׁנִקְרָא שִׁימוֹן וְנִקִרָא פְּיֶיטְרוֹס וְאַנְדְרֶיאָה אָחִיו מַשְׁלִיכֵים מִכְמֶרוֹתִיהֵם בַּיָם שְׁהָיוּ דּיָּיגִים
      </p>
      <p class="nl">
        
          En Jesjoea ging langs de oever van de zee van Ghaliel en Hij zag twee broers: Sjimeon, die genoemd wordt Sjimon en die genoemd wordt Petros, en Andrea, zijn broer, werpende hun netten in de zee, zij waren vissers.
        
      </p>
      <p class="margin">
        
          Sjim'on of Sjimon: verhoring<br />Petros: (Petrus) rots, een Griekse naam, in DuTillet en Münster staat: Kepha, rots, een Aramese naam<br />Andrea (Andreas) dapper, een Griekse naam<br />‘werpende’, in DuTillet en Münster staat: ‘loslaten’<br />‘zij waren vissers’, in DuTillet en Münster staat: ‘omdat zij vissers waren’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וַיֹּאמֶר לָהֵם לְכוּ אַחַרִי וְאעָשַׂה אֶתְכֶם דּיָּיגִים מִאֲנָשִׁים
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: Kom, achter Mij! En Ik maak jullie vissers van mannen.
        
      </p>
      <p class="margin">
        
          ‘van mannen’, in DuTillet staat: ‘van de mannen’, in Münster staat: ‘van de mens’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְיֵעָזְבוּ מִכְמֶרוֹתִיהֵם באוֹתָה שָׁעַה וַיַּלְכוּ אַחֲרָיו
      </p>
      <p class="nl">
        
          En zij verlieten meteen hun netten en volgden achter Hem.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En zij lieten hun handen af en lieten achter de netten en volgden achter Hem.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְיֵט מִשָּׁם וַיַּרְא שְׁנֵי אַחִים אֲחֵרִים יַעֲקֹב וְיוֹחָנָן אַחִים בְּנֵי זַבְדִּיאֵל בַּלֹעֵז זָבָאדָאוֹ וְזָאבָאדָה עִם אָבִיהֵם בָּאֳנִיָּה מֵכִינִים מִכְמֶרוֹתִיהֵם וָיַּקרָא אוֹתָם
      </p>
      <p class="nl">
        
          En Hij keerde vandaar om en Hij zag twee andere broers, Jaäqov en JOchanaan, broers, zonen van Zavdieel (in de vreemde taal: Zabadao en Zabadah), met hun vader in het schip herstellende hun netten. Maar Hij riep hen.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En Hij ging vandaar en Hij zag twee broers, Jaäqov, zoon van Zavdi, en JOchanaan zijn broer in het schip met Zavdi, hun vader, hun netten aan het vastnaaien.’<br />Jaäqov, beter bekend als: Jakobus, de Griekse variant<br />Zavdieel: (Zebedeüs) geschenk van El, Zavdi: geschenk<br />Vreemde taal: Latijn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְיְמַהֲרוּ וַיַּנִּיחוּ מִכְמֶרוֹתִיהֵם וְאֶת-אֲבִיהֶם וַיַּלְכוּ אַחֲרָיו
      </p>
      <p class="nl">
        
          En zij haastte zich, en lieten hun netten en hun vader achter zich en volgden achter Hem.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En zij lieten hun handen af en lieten het schip en hun vader achter en volgenden achter Hem.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיָּסָב יֵשׁוּעַ אֶל אֶרֶץ הַגָּלִיל לְלָמַד קַהֵלוֹתֶם וְמְבָשַּׂר לָהֶם זֵבֶד טוּב בַּלֹעֵז מַאוָונְגְיֶילְייוֹ מִמַלְכוּת הַשָׁמַיִם וְמִרָפַא כָּל חוֹלִים וְכָּל מַדְוֶה בַּעַם
      </p>
      <p class="nl">
        
          En Jesjoea ging rond door het land Ghaliel, lerende in hun gemeenten en boodschapte aan hen het Goede Geschenk (in de vreemde taal: Mavangeleo) van het Koninkrijk van de Hemelen. En Hij genas al hun zieken en al de ziekten van het volk.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En Jesjoea ging door heel de omgeving van Ghaliel en hij leerde in hun huizen van samenkomsten en Hij verkondigde het Koninkrijk, en hij genas alle zieken en alle smart van het volk.’<br />Vreemde taal: Latijn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיַּלִךְ שְׁמוּעֹתוֹ בַּכֹּל אֶרֶץ סוּרִיָא וַיִּשְּׂאוּ אֵלָיו כָּל הַחוֹלִים מִּכֹּל מִינֵּי חָלַאיִם מְשׁוֹנִים אֲחוּזִים הַשֵׁדִים וְהַנִבְעַתִים מִרוּחַ רָעָה וְהֵמתִּרְעַשִׁים וַיְרַפֵּא אוֹתָם
      </p>
      <p class="nl">
        
          En het gerucht ging door heel het land Syrië en men droeg al de zieken naar Hem, van verschillende ziekten, en die gevat zijn door demonen en overvallen zijn door een kwade geest, zodat zij hevig beefden, en Hij genas hen.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En er ging een gerucht uit tot heel Aram, en men bracht tot Hem allen die lijdende waren aan vele ziekten, en door demonen bezeten, en gevallenen en verlamden; en Hij genas hen’<br />In Münster staat in plaats van ‘gevallenen’: ‘maanzieken’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וַיַּלְכוּ אַחֲרָיו רַבּוֹת מִקָפְּוֹלִי וְהַגָּלִיל מִיְרוּשָׁלֵם וְיְהוּדָה וּעֵבֶר הַיַרְדֵּן
      </p>
      <p class="nl">
        
          En velen volgden achter Hem van Qapeoli en Ghaliel, vanuit J'roesjalajiem en J'hoedah, en de overkant van de Jardeen.
        
      </p>
      <p class="margin">
        
          ‘En velen volgden achter Hem’, in DuTillet en Münster staat: ‘En vele scharen kwamen Hem achterna’.<br />Qapeoli, dat is Capitolias in het huidige Jordanië, één van de tien steden (Dekapolis).<br />‘van Qapeoli en Ghaliel’, in DuTillet en Münster staat: ‘van Ghaliel en van de Dekapolis’<br />Dekapolis, letterlijk: tien steden.
        
      </p>
    </div>
  
</div>