<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי אַחֲרֵי זֶה בְּעֵת הַהִיא וַיַּרְא הַחֲבוּרוֹת וַיַּעַל הָהָר וַיֵּשֶׁב <br />וְיַקְרִיבוֹ לוֹ תַּלְמִידִיוֹ
      </p>
      <p class="nl">
        
          En het gebeurde na dit, toen Hij de menigte zag, dat Hij ging op de berg en ging zitten. <br />En Zijn leerlingen naderden tot Hem.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En toen Jeshua de menigte zag, ging Hij op een berg en ging daarna zitten. En zijn leerlingen naderden tot Hem.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וַיִפְתַּח פִּיו וַיִדָבַר אֶליהֵם לֵאמֹר
      </p>
      <p class="nl">
        
          En Hij opende Zijn mond en sprak tot hen door te zeggen:
        
      </p>
      <p class="margin">
        
          ‘en Hij sprak’, in DuTillet en Münster staat: ‘en Hij leerde’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        אַשְׁרֵי שְׁפַלִי-רוּחַ שֶׁלָהֶם מַלְכוּת הַשָׁמַיִם
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen de nederigen van geest, aan hen is het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          ‘gelukkig zijn te prijzen’ kan ook vertaald worden als: ‘gezegend’ en ‘gelukkig prijzen’, het Griekse woord hiervoor is: makarios (μακάριος).<br />‘nederigen van geest’, in DuTillet en Münster staat: ‘armen van de geest’, hierbij is het woord ‘arm’ bedoeld als: zonder bezit
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        אַשְׁרֵי הַחוּכִים שֶׁיִנוּחָמוּ
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen die verwachten, zij worden getroost.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Gelukkig zijn te prijzen die rouwen, want zij worden getroost’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        אַשְׁרֵי הַעֲנָוִים שֶׁהֵם יִרְשׁוּ אָרֶץ
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen de zachtmoedigen, zij erven de aarde.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Gelukkig zijn te prijzen de zachtmoedigen, want zij verzorgen de aarde.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        אַשְׁרֵי שֶׁרְעֵבִים וּצְמֵאִים אֶת-צֶדֶק כִּי הֵם יִשְׂבָּעוּ
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen de hongerigen en dorstigen naar rechtvaardigheid, want zij zullen verzadigd worden.
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov en is overgenomen van DuTillet
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        אַשְׁרֵי רַחֲמָנִיִם כִּי לָהֶם יְרְחָם
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen de barmhartigen, want aan hen zal barmhartigheid geschieden.
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov en is overgenomen van DuTillet
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        אַשְׁרֵי זִכִּי הַלֵב וְהֵמָּה יִרְאוּ אֱלֹקִים
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen die rein zijn van hart, doordat zij God zien.
        
      </p>
      <p class="margin">
        
          ‘rein zijn’ kan ook vertaald worden als: ‘onschuldig’, in DuTillet en Münster staat een woord (בָרֵי) dat ook vertaald kan worden als: ‘zuiver’.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        אַשְׁרֵי רוֹדֵפִי שָׁלוֹם שֶׁבְּנֵי הָאֱלֹקִים יִּקָּרָאוּ
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen die vrede achtervolgen, zij worden zonen van de God genoemd.
        
      </p>
      <p class="margin">
        
          ‘die vrede achtervolgen’, in DuTillet en Münster staat: ‘vredestichters’, het Griekse woord hiervoor is: eirēnopoios (εἰρηνοποιός).
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        אַשְׁרֵי הַנִרְדֶּפִים לְצֶדֶק שֶׁלָהֶם מַלְכוּת הַשָׁמַיִם
      </p>
      <p class="nl">
        
          Gelukkig zijn te prijzen die vervolgd worden om de gerechtigheid, aan hen is het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          ‘om de gerechtigheid’, in DuTillet en Münster staat: ‘over het pad van de gerechtigheid gaan’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        אַשְׁרֵיכֶם כַּאֲשֶׁר יִרְדֹּפוּ וְיִגִּדְּפוּ אֵתְכֶם וַיִּאמְרוּ אֵלַיכֶם כָּל-רֹעַ בַּעֲדִי וַיְכַזְּבוּ
      </p>
      <p class="nl">
        
          Gelukkig zijn jullie te prijzen wanneer men u vervolgt en men hoont over jullie. En men allerlei slechtheid over jullie spreekt omwille van Mij, maar men liegt.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Gelukkig zijn te prijzen jullie wanneer de mannen u vervloeken en jullie vervolgen en allerlei narigheid over jullie vertellen, omwille van Mij.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        שִׂישׂוּ וְשִׂמְחוּ שֶׁשְׂכַרְכֶם רַב מְאֹד בַּשָׁמָיִם שֶׁכֵּן רִדְּפוּ הָנְבִיאִים
      </p>
      <p class="nl">
        
          Verblijd en verheug u, jullie loon is zeer groot in de Hemelen, op die manier zijn de profeten vervolgd.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Verheug u en juich, want jullie loon, deze is groot, is in de Hemelen, want op die manier zijn de profeten voor u vervolgd.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        בַּעִתּ הַהיִא אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ מֶלַח אִתַּם בַּעוֹלָם אִם הַמֶּלַח יִבָטַל טַעְמוֹ בִמָּה יוּמֶלַח וְאִינוֹ שָׁוַה כִּלּוּם אַלָא שֶׁיוּשְׁלַךְ בַּחוּץ לְהֱיוֹת מִרְמָס רְגָלִים
      </p>
      <p class="nl">
        
          Op dat moment zei Jeshua tot Zijn leerlingen: u bent het zout van de wereld. Indien het zout uitgewerkt is in zijn smaak, waarmee zal het gezouten worden? Het is nergens meer geschikt voor, maar om buiten geworpen te worden en onder de voet te worden vertrapt.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Jullie zijn het zout van de aarde. Maar indien het zout zouteloos is geworden, waarmee zal het gezouten worden? Het heeft geen baat meer, maar alleen om naar buiten geworpen te worden en door de mens vertrapt te worden.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        מָאוֹר אַתֶּם בַּעוֹלָם עִיר בְּנוּיָה עַל הָהָר לֹא תּוּכַל לְהִסָּתֵר
      </p>
      <p class="nl">
        
          Jullie zijn een lamp in de wereld. Een stad die gebouwd is op een berg, kan niet verborgen zijn.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Zie, jullie zijn een licht in de wereld, die verborgen kan zijn. Een stad welke gelegen is op een berg.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְלֹא יַדְלִיקוֹ נֵר לְהַשִׂים אוֹתוֹ בַּמָקוֹם נִסְתָּר שֶׁלֹא תָּאִיר רַק מֵשִׂימִים אוֹתוֹ עִל הַמְּנוֹרָה לְהָאִיר לְכָל בְּנֵי הַבָּיִת
      </p>
      <p class="nl">
        
          Maar men steekt niet een lamp aan en zet deze in een verborgen plaats, waar deze niet kan schijnen, maar zet deze op een menora tot het licht voor alle zonen van het huis.
        
      </p>
      <p class="margin">
        
          ‘in een verborgen plaats, waar deze niet kan schijnen’, in DuTillet en Münster staat: ‘onder een schepel’, een schepel is een inhoudsmaat voor droge goederen en komt overeen met ca. 12 liter.<br />‘menora’, dat is een zevenarmige kandelaar.<br />‘zonen van het huis’, in DuTillet en Münster staat: ‘zij die in het huis zijn’.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        כֵּן יָאִיר מִאוֹרְכֶם לִפְּנֵי כֹּל אָדָם לְהָרָאוּתֶם מַעֲשֶׂיכֶם הַטּוֹבִים הַמִשׁוּבַּחוֹת וְמִכָּבֵדוֹת לְאֲבִיכֶם שֶׁבַּשָׁמָיִם
      </p>
      <p class="nl">
        
          Zo schijnt jullie licht tot het aangezicht van alle mensen, tot het zien van jullie goede werken, welke gelukkig geprezen worden, opdat men groot maakt jullie Vader, Welke in de Hemelen is.
        
      </p>
      <p class="margin">
        
          ‘alle mensen’, in DuTillet en Münster staat: ‘zonen van de mensen’<br />‘tot het zien van jullie goede werken’, in DuTillet en Münster staat: ‘opdat zij zien jullie goede werken’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        בַּעִתּ הַהיִא אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ אַל-תְּחַשְׁבוּ שְׁבָאתִי לְהֵפֵר הַתוֹרָה אוֹ הַנְּבִיאִים לֹא בָאתִי לְהָפֵר אַלָא לְהַשְׁלִים
      </p>
      <p class="nl">
        
          Op dat moment zei Jeshua tot Zijn leerlingen: denk niet dat Ik gekomen ben tot het verbreken van de Torah en de Profeten, Ik ben niet gekomen tot het verbreken ervan, maar tot het voltooien ervan.
        
      </p>
      <p class="margin">
        
          ‘verbreken’ kan ook vertaald worden als: ‘tenietdoen’ of ‘verijdelen’<br />‘de Torah en de Profeten’, dat wil zeggen de gehele Tanach<br />‘en de Profeten, Ik ben niet gekomen tot het verbreken ervan’ komt uit Ms. Heb. 28 (Rijksbibliotheek te Leiden), in DuTillet en Münster staat: ‘de Torah en de Profeten, Ik ben niet gekomen tot het ophouden ervan’<br />‘maar tot het voltooien’ in DuTillet en Münster staat: ‘maar tot het vervullen ervan.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        בַּאֱמֶת אָנִי אוֹמַר לְכֶם כִּי עַד שֶׁיָּעְבִרוּ שָׁמַיִם וְאֶרֶץ אוֹת אַחַת וְנְקּוּדָּה אַחַת לֹא תְבַטֵּל מִהַתוֹרָה אוֹ מִהַנְבִיאִים שֶׁהַכֹּל יִתְקַיֵּים
      </p>
      <p class="nl">
        
          In waarheid zeg Ik tot jullie: want tot aan de hemelen en de aarde voorbijgaan, niet één teken en één punt van Torah en Profeten zal ophouden, want alles zal bekrachtigd worden.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Amen en waarachtig zeg Ik tot jullie: want tot aan de hemelen en de aarde voorbijgaan, niet één jod en één steek van de Torah zal voorbijgaan, tot aan alles vervuld is.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְאֲשֶׁר יִעֲבוֹר מַאֲמָר א מִהַמִצְווֹת אִלּוּ אֲשֶׁר אֶלְמַד אֲחֵרִים בֵּן הָבַל יִקָּרֵא בְּמַלְכוּת הַשָׁמַיִם וְהַמִקַיֵּים וְהַמִלְמַד גָּדוֹל יִקָּרֵא בַּמַלְכוּת הַשָׁמַיִם
      </p>
      <p class="nl">
        
          Zodat hij die voorbijgaat aan één woord van deze geboden en ook deze leert, zal een zoon van niets genoemd worden in het Koninkrijk van de Hemelen. Maar wie deze bekrachtigt en leert zal groot genoemd worden in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Maar wie één van deze geboden buiten werking stelt en deze leert aan de zonen van de mensen, deze wordt klein genoemd in het Koninkrijk van de Hemelen’, de Münster voegt eraan toe: ‘Maar hij de alles doet en leert de vermaningen, deze zal groot zijn in het Koninkrijk van de Hemelen.’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        בַּעִתּ הַהיִא אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ בַּאֱמֶת אָנִי אוֹמַר לְכֶם אִם לֹא תַּגְדֵּל צִדְקַתְכֶם יוֹתֵר מִהַפְרוּשִׁים וְהַחֲכָמִים לֹא תָּבוֹאוּ בַּמַלְכוּת הַשָׁמַיִם
      </p>
      <p class="nl">
        
          Op dat moment zei Jeshua tot Zijn leerlingen: in waarheid zeg Ik tot jullie: indien jullie gerechtigheid niet groter is dan de Farizeeën en de wijzen, u zult niet komen in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Maar ik zeg tot jullie: als jullie gerechtigheid niet overvloediger is dan de gerechtigheid van de Farizeeën en de schriftgeleerden, u zult niet komen in het Koninkrijk van de Hemelen.’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        הֲלֹא שְׁמַעְתֶּם מָה שֶׁנֶאֱמַר לְקַדְמוֹנִים לֹא תִרְצָח וְאֲשֶׁר יִּרְצַח חַיָּיב הוּא לַמִּשְׁפָּט מָוֶת
      </p>
      <p class="nl">
        
          Hebben jullie niet gehoord wat tot de ouden is gezegd: “u zult niet moorden” en wie moordt die zal schuldig zijn aan het vonnis van de doodstraf. 
        
      </p>
      <p class="margin">
        
          ‘de ouden’, dat zijn de voorvaderen die de Torah ontvingen en doorgaven volgens Deut. 4:9, 6:7 en 11:19<br />‘u zult niet moorden’, dit is een citaat uit Ex. 20:13 en Deut. 5:17<br />‘van de doodstraf’ komt niet voor in de DuTillet, Münster, Peshitta en Textus Receptus
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם שֶׁהַמַכְעִיס לְחֶבִירוֹ חַיָּיב הוּא לְמִּשְׁפָּט וְאֲשֶׁר יִקְרָא לְאָחִיו פִּחוּת יִחַיָּיב בַּמִּשְׁפָּט בַּהַקָהָל וְאֲשֶׁר יִקָּרְאוּהוֹ שׁוֹטֶה חַיָּיב לְאֵשׁ גֵהִינֹם
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie: hij die toornig is naar zijn metgezellen, die zal schuldig zijn tot dit vonnis. En hij die zijn broer minderwaardig noemt, hij is schuldig naar het vonnis van de gemeenschap. Maar hij die hem een idioot noemt, is schuldig tot het vuur van het dal van Hinnom.
        
      </p>
      <p class="margin">
        
          ‘idioot’ kan ook vertaald worden met ‘gek’ of ‘dwaas’, in DuTillet staat: ‘dwaas’ en in Münster staat: ‘leeghoofd’ (raqa)<br />‘dal van Hinnom’ wordt in de Peshitta genoemd: ‘gihanā’, in het Grieks: ‘gehenna’ (γέεννα), maar volgens Jer. 19:2-6 wordt dit dal genoemd: ‘moorddal’ of ‘dal van slachting’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאִם תַּקְרִיב קָרְבָּנְךָ לְהַמִזְבֵּחַ וְתִזָּכִיר שֶׁהָיַה לְךָ עִם חָבֵרךְ דִּין וְהוּא מִתְּרֹעֵם מִמֶּךָ מִאֵיזֶה דָּבָר
      </p>
      <p class="nl">
        
          En indien u een offergave doet naderen tot het altaar, maar u herinnert dat u een geding heeft met uw metgezel en hij klaagt over u vanwege deze zaak,
        
      </p>
      <p class="margin">
        
          ‘een offergave doet naderen’, letterlijk: ‘een nadering doen naderen’<br />In DuTillet en Münster staat dit vers als volgt: ‘En indien u een offergave doet naderen tot het altaar, maar daar herinnert u dat er iets is dat uw broer tegen u heeft,’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        הַנַּח קָרְבָּנְיךָ שָׁם לִפְּנֵי הַמִזְבֵּח וְלְךָ לְרָצוּתוֹ קוֹדֵם וְאַחַר כְּךָ הִקְרַב קָרְבָּנִיךָ
      </p>
      <p class="nl">
        
          laat uw offergave daar achter, voor het aangezicht van het altaar, en ga eerst om behagen te vinden in hem. En kom hierna terug om uw offergave te doen naderen.
        
      </p>
      <p class="margin">
        
          ‘eerst’, letterlijk: ‘voor’, ‘voordat’ of ‘voorheen’, in DuTillet en Münster staat: ‘eerst’ (תְּחִלָּה)<br />‘behagen te vinden in hem’, ‘hem’ dat is ‘uw metgezel’ in vers 23, in DuTillet en Münster staat: ‘verzoen eerst voor het aangezicht van uw broer’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        אָז אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ רָאָה שֶׁתְּמַהֵר לִרְצוֹת שׂוֹנַאֲךָ בַּלֶכֶתךָ עִמּוֹ בַּדֶּרֶךְ פֶּן יִמַסוּר אוֹתְךָ לְשׁוֹפֵט וְזֶה הַשׁוֹפֵט יִמַסוּרךָ לְעֶבֶד לְתֵּת אוֹתְךָ לְבֵּית הַסּוֹהַר
      </p>
      <p class="nl">
        
          Toen zei Jeshua tot Zijn leerlingen: zie, dat u haast heeft om behagen te vinden bij uw vijand, terwijl u met hem op de weg gaat, opdat hij u niet levert aan de rechter en deze rechter u levert aan de dienaar om u in de gevangenis te zetten.
        
      </p>
      <p class="margin">
        
          ‘vijand’ kan ook vertaald worden als: ‘hater’ of ‘iemand die een hekel aan u heeft’<br />In DuTillet en Münster staat dit vers als volgt: ‘Weest spoedig welgezind tot uw tegenstander, terwijl u nog met hem op de weg bent, opdat de tegenstander u niet in de hand van de rechter levert en de rechter u aan de opzichter levert en u in de gevangenis zendt.’<br />‘tegenstander’ kan ook vertaald worden als: ‘aanklager’ of ‘satan’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        בַּאֱמֶת אָנִי אוֹמַר לְךָ לֹא תֵצֵא מִשָׁם עַד תִנָּתֶן פְּרוּטָה אַחֲרוֹנָה
      </p>
      <p class="nl">
        
          In waarheid zeg Ik tot jullie: u zult niet daaruit komen van daar totdat u de laatste Prutah is teruggegeven.
        
      </p>
      <p class="margin">
        
          ‘in waarheid’, in DuTillet en Münster staat: ‘amen’<br />‘Prutah’, dat is de kleinste munteenheid in het land Israël rond de eerste eeuw van de gangbare jaartelling, in DuTillet en Münster staat: ‘kwadrant’ dat is de kleinste munteenheid in het Romeinse Rijk<br />‘teruggegeven’ in DuTillet en Münster staat: ‘terugbetalen’, ‘vergelden’ of ‘vergoeden’ (שֶׁתְּשַׁלֵם)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        עוֹד אָמַר לְהֵם שְׁמַעְתֶּם מָה שֶׁנֶאֱמַר לְקַדְמוֹנִים לֹא תִנְאָף
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: hebben jullie niet gehoord wat tot de ouden is gezegd: “u zult geen overspel plegen”.
        
      </p>
      <p class="margin">
        
          ‘u zult geen overspel plegen’, dit is een citaat uit Ex. 20:14 en Deut. 5:18, dit kan ook vertaald worden als: ‘u zult niet echtbreken’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם שֶׁכָּל הַרוֹאֶה אִשָּׁה וְיַחְמוֹד אוֹתָה כְּבָר נְּאָף עִמָּה בַּלִבָּה
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie: al wie kijkt naar een vrouw en haar begeert heeft reeds overspel met haar gepleegd,  in het hart.
        
      </p>
      <p class="margin">
        
          ‘in het hart’, in DuTillet en Münster staat: ‘in zijn hart’<br />Het hart is de zetel van het verstand, zie Spr. 6:32.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְאִם יְסִיתְךָ עֵינֶיךָ הַיָמִין נַקֵּר אוֹתָּהּ וְתַּשְׁלִיכָה מִמֶּךָ כִּי טוֹב לְךָ שֶׁיּאבֵד אֶחָד מִן אֵיבָרֶיךָ מֵהִשָֹׁלֵחָ כָּל-גּוּפְךָ אֶל גֵּיהִינֹם
      </p>
      <p class="nl">
        
          En indien uw rechteroog u verleidt: steek het uit en werp het weg, want het is u goed dat één lid ten gronde gaat dan dat uw hele lichaam in het dal van Hinnom gezonden wordt.
        
      </p>
      <p class="margin">
        
          ‘want het is beter dat één lid te gronde gaat dan dat uw hele lichaam in het dal van Hinnom gezonden wordt’ komt niet voor in Shem Tov, maar is overgenomen van DuTillet en Münster
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְכֵן אִם יְסִיתְךָ יָדְךָ חַתּוּךָ אוֹתָּהּ כִּי טוֹב לְךָ שֶׁתַפְסִיד אֶחַד מִאִבָרֶיךָ מִכָּל גּוּפְךָ בַּגֵּהִינֹם
      </p>
      <p class="nl">
        
          En zo, indien uw hand u verleidt: breek het van u, want het is u goed dat u één lid verliest dan dat uw hele lichaam in het dal van Hinnom gaat.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En indien uw rechterhand u ergert, hak het af en werpt het van u, want het is u goed dat één lid ten gronde gaat dan dat uw hele lichaam in het dal van Hinnom gezonden wordt’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ שְׁמַעְתֶּם מָה שֶׁנֶאֱמַר לְקַדְמוֹנִים שֶׁכֹּל הַעוֹזִב אִשְׁתּוֹ וְשִׁלַּח לָתֵת לָהּ גֵט כְּרִיתוּת וְבַּלֹעֵז לִיבֵילָ רִיפוּדְײו
      </p>
      <p class="nl">
        
          Opnieuw zei Jeshua tot Zijn leerlingen: hebben jullie niet gehoord wat tot de ouden is gezegd: al wie zijn vrouw verlaat en haar wegzendt, die geeft haar een echtscheidingsbrief. In de vreemde taal: libela repudio.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Bovendien zei Hij: hij die zijn vrouw wegzendt dat hij schrijft een echtscheidingsbrief’, de DuTillet voegt eraan toe: ‘en deze haar geeft, opdat hij haar wegzend uit zijn huis.’<br />Vreemde taal: Latijn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם שֶׁכָּל הַעוֹזִב אִשְׁתּוֹ יֵשׁ לוֹ לָתֵת לָהּ גֵט כְּרִיתוּת כִּי אִם עַל דָּבָר נָאוֹף הוּא הַנוֹאֵף וְהַלוֹקֵחַ אוֹתָּהּ יִנֵאַף
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie: al wie zijn vrouw verlaat, zonder een zaak, moet haar een echtscheidingsbrief geven, want vanwege de zaak van overspel: hijzelf pleegt overspel. En wie haar tot vrouw neemt, die pleegt overspel.
        
      </p>
      <p class="margin">
        
          ‘de zaak van overspel’, in DuTillet en Münster staat: ‘de zaak van ontucht’<br />De Torah over het huwelijk is te lezen in Lev. 18:1-30 en Lev. 20:10-23.
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        עוֹד שְׁמַעְתֶּם מָה שֶׁנֶאֱמַר לְקַדְמוֹנִים לֹא תִשָּׁבְעוּ בַּשְׁמִי לַשָּׁקֶר וְתָּשִׁיב לְיַהְוֶה שְׁבוּעַתךָ
      </p>
      <p class="nl">
        
          Opnieuw, hebben jullie niet gehoord wat tot de ouden is gezegd: u zult geen valse eed afleggen in Zijn Naam, maar u zult terugbrengen tot JAHWEH uw eed.
        
      </p>
      <p class="margin">
        
          ‘u zult geen valse eed afleggen in Zijn Naam’ is gedeeltelijk geciteerd uit Lev. 19:12<br />‘maar u zult terugbrengen tot JAHWEH uw eed’, in DuTillet en Münster staat: ‘maar al uw geloften zult u voldoen aan JAHWEH’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם לְבִלְתִּי הִשָּׁבֵעַ בַּשׂוּם עִניָין לַשָּׁוְא לֹא בַּשָׁמַיִם שֶׁכֵּסֵּא הָאֱלֹקִים הִיא
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie om niet vals te zweren bij het geven van een antwoord, niet bij de Hemelen, dat is de troon van de God,
        
      </p>
      <p class="margin">
        
          ‘om niet vals te zweren bij het geven van antwoord’, in Münster staat: ‘u zult niet zweren, op geen enkele manier’<br />‘manier’ kan ook vertaald worden als: ‘weg’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְלֹא בְּאֶרֶץ שֶׁהֲדוֹם רִגְלָיוֹ הוּא לֹא בַּיְרוּשָׁלָם שֶׁעִיר אֱלֹקִים הִיא
      </p>
      <p class="nl">
        
          niet bij de aarde, dat is de voetenbank van Zijn voeten, en niet bij Jeruzalem, dat is de stad van God,
        
      </p>
      <p class="margin">
        
          ‘Jeruzalem’, is overgenomen van zes manuscripten van Shem Tov, in Ms. Add. no. 26964. (Brits Bibliotheek, Londen) staat: ‘Hemelen’<br />‘dat is de stad van God’, in DuTillet en Münster staat: ‘want dat is de stad van de grote Koning’<br />‘stad’ kan ook vertaald worden als: ‘woonplaats’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְלֹא בַּרֹאשׁךָ שֶׁלֹא תּוּכַל לְעָשׁוֹת שֵׂעָר א לָבָן אוֹ שָׁחוֹר
      </p>
      <p class="nl">
        
          en niet bij uw hoofd, omdat u niet één haar wit of zwart kunt maken.
        
      </p>
      <p class="margin">
        
          In DuTillet staat dit vers als volgt: ‘en zweert niet bij uw hoofd, aangezien het niet in uw vermogen is om één haar wit en weer zwart te maken’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        אֲבָל יְהִיוֹ דִּבְרֵיכֶם הֵן הֵן וְגַּם לֹא לֹא כָּל הַנוֹסַף עַל זֶה הוּא רַע
      </p>
      <p class="nl">
        
          Maar laat jullie woord zijn: ja, ja en ook nee, nee. Alles wat wordt toegevoegd boven dit, dat is kwaad.
        
      </p>
      <p class="margin">
        
          ‘wordt toegevoegd’ in DuTillet en Münster staat: ‘de rest’ of ‘een voordeel boven’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        וְעוֹד שְׁמַעתֶם מָה שֶׁנֶאֱמַר בַּתוֹרָה עַיִן תַּחַת עַיִן שֵׁן תַּחַת שֵׁן
      </p>
      <p class="nl">
        
          Opnieuw, hebben jullie niet gehoord wat in de Torah is gezegd: “oog voor oog en tand voor tand”.
        
      </p>
      <p class="margin">
        
          ‘oog voor oog en tand voor tand’ is gedeeltelijk geciteerd uit Ex. 21:24, letterlijk: ‘oog in van plaats een oog en tand in plaats van een tand’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">39.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם לְבִלְתִּי שִׁלַּם רַע תַּחַת רַע אֲבָל הַמַכָּה בַּלְחִיךָ הַיָמִין הָכֵן לוֹ הַשְׂמאׁל
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie om niet kwaad voor kwaad te vergelden, maar wie u slaat op uw rechterwang, keer tot hem de linker.
        
      </p>
      <p class="margin">
        
          ‘om niet kwaad voor kwaad te vergelden’, in Dutillet en Münster staat: ‘u zult staan tegen de kwade’<br />‘de linker’, in DuTillet en Münster staat: ‘de andere’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">40.</p>
      <p class="he">
        וְאֲשֶׁר יִרְצֶה לְחֲלוֹק עַמְּךָ בַּמִשְׁפָּט וְלְגְזוֹל כֻּתֹּנִיךָ עֲזוֹב אֶלָיוֹ מְעִילךָ
      </p>
      <p class="nl">
        
          En wie behagen heeft in een zaak tegen u bij het gerecht, zodat hij uw tuniek rooft, laat uw bovenkleed bij hem achter.
        
      </p>
      <p class="margin">
        
          ‘een zaak’, in DuTillet en Münster staat: ‘twist’ of ‘geding’<br />‘bovenkleed’, In DuTillet en Münster staat: ‘mantel’ of ‘staatiekleed’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">41.</p>
      <p class="he">
        וְאֲשֶׁר יִשְׁאָל אוֹתךָ לְיֵלֵךְ עִמּוֹ אָלֶף פְסִיעָוֹת לֵךְ עִמּוֹ אַלְפַיִּים
      </p>
      <p class="nl">
        
          En hij die van u eist om duizend stappen met hem te gaan, ga met hem tweeduizend.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En Hij die u dwingt om één mijl met hem te gaan, ga met hem twee’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">42.</p>
      <p class="he">
        הַשׁוֹאֵל מִמֶּךָ תֵּן לוֹ וְהַרוֹצֶה לְלֹוֶת מִמֶּךָ אַל תִּמְנַע
      </p>
      <p class="nl">
        
          Hij die eist van u: geeft het hem. En hij die behagen heeft om van u te lenen: weiger niet.
        
      </p>
      <p class="margin">
        
          ‘weiger niet’, in DuTillet en Münster staat: ‘niet afwenden’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">43.</p>
      <p class="he">
        עוֹד אָמַר יֵשׁוּעַ לְתַּלְמִידִיוֹ שְׁמַעְתֶּם מָה שֶׁנֶאֱמַר לְקַדְמוֹנִים וְאָהַבְתָּ לְאוֹהַבךָ וְתִּשְׂנָא לְשׂוֹנֵאךָ
      </p>
      <p class="nl">
        
          Opnieuw zei Jeshua tot Zijn leerlingen: hebben jullie niet gehoord wat tot de ouden is gezegd: u zult liefhebben die u lief hebben en haten die u haten.
        
      </p>
      <p class="margin">
        
          ‘die u haten’, in DuTillet en Münster staat: ‘uw vijand’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">44.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לְכֶם אֶהֱבוּ אוֹיְבֵיכֶם וְעֲשׂוּ טוֹבָה לְשׂוֹנֵאכֶם וְמִכְעִיסכֶם וְהִתְפַּלְּלוּ בַּשְׁבִיל רוֹדְפֵיכֶם וְלוֹחֲצֵיכֶם
      </p>
      <p class="nl">
        
          Maar Ik zeg tot jullie: heb jullie vijand lief, en doe het goede aan jullie hater en die jullie krenken, en bidt voor die jullie vervolgen en jullie onderdrukken,
        
      </p>
      <p class="margin">
        
          De woorden ‘heb lief’, ‘doe’ en ‘bidt’ staan in gebiedende wijs<br />‘onderdrukken’, in DuTillet en Münster staat een woord dat ook vertaald kan worden als: ‘onrecht doen’ en ‘geweld doen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">45.</p>
      <p class="he">
        לְמַעַן תִּהְיוּ בְנֵי אֲבִיכֶם שֶׁבַּשָׁמַיִם שֶׁמִזְרִיחַ שֶׁמֶשׁוֹ עַל טוֹבִים וְרָעִים וּמַמְטִיר עַל רְשָׁעִים וְצַדִּיקִים
      </p>
      <p class="nl">
        
          omdat jullie zonen zijn van jullie Vader, die in de Hemelen is, Hij laat Zijn zon opkomen over goeden en slechten en laat het regenen over goddelozen en rechtvaardigen.
        
      </p>
      <p class="margin">
        
          ‘godelozen en rechtvaardigen’, in DuTillet en Münster is deze volgorde omgekeerd
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">46.</p>
      <p class="he">
        אִם תֶּאֱהָבוּ אוֹהַבֵיכֶם אֵיזֶה שָׂכָר לְכֶם הֲלֹא עָזִּי פָּנִים אוֹהַבִים אוֹהַבֵיהֶם
      </p>
      <p class="nl">
        
          Als jullie liefhebben die u lief hebben, wat is dan jullie loon? Of de gezichten van machtigen liefhebben die jullie lief hebben?
        
      </p>
      <p class="margin">
        
          ‘of de machtigen gezichten liefhebben die jullie lief hebben?’, in DuTillet en Münster staat: ‘of de heren die innen, doen deze dat ook?’<br />‘de heren die innen’, dat zijn tollenaars of belastinginners
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">47.</p>
      <p class="he">
        וְאִם-תִּשְׁאֲלוּ בַּשָׁלוֹם אֶחֵיכֶם לְבַד מַה-תַּעֲשׂוּ עַל יָתֶר הֲלֹא גַם הַגּוֹיִם עוֹשִׂים זּאֹת
      </p>
      <p class="nl">
        
          Maar als jullie vragen naar de vrede van jullie broer, wat doen jullie boven de anderen? Of doen de heidenen niet ook dit?
        
      </p>
      <p class="margin">
        
          Dit vers ontbreekt in Shem Tov en is overgenomen van DuTillet
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">48.</p>
      <p class="he">
        הָיוֹ אַתֶּם תְמִימִים כַּאֲשֶׁר תַּם אֲבִיכֶם
      </p>
      <p class="nl">
        
          Laat jullie volkomen zijn, zoals jullie Vader volkomen is.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘Daarom laat jullie volkomen zijn, zoals jullie Vader, Die in de Hemelen is, Hij is volkomen.’
        
      </p>
    </div>
  
</div>