<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        הִשָּׁמֵרוּ פֶּן תַּעֲשׂוּ צִדְקַתכֶם לִפְּנִי הַאָדָם לְהָלֵל אֵתְכֶם וְאִם תַּעֲשׂוּ לֹא יִהְיֶה לָכֶם שָׂכָר מֵאֵת אֲבִיכֶם שֶׁבַּשָׁמַיִם
      </p>
      <p class="nl">
        
          Behoed je, opdat niet jullie gerechtigheid doen voor het aangezicht van de mens, dat zij jullie prijzen. Maar als jullie dat doen, zal het gebeuren dat jullie geen loon hebben van jullie Vader, Die in de hemelen is.
        
      </p>
      <p class="margin">
        
          ‘de mens, dat zij jullie prijzen’, in DuTillet en Münster staat: ‘de mannen, opdat zij jullie zien’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם יֵשׁוּעַ כַּאֲשֶׁר תַּעֲשׂוּ צְדָקָה לֹא תִּרְצוּ לְהַעֲבִיר כָּרוֹז וְחֲצוֹצְרוֹת לְפְּנִיכֶם כְּמוֹ הַחֲנֵפִים בַּלֹעֵז אִיפּוֹקְרִיטֶיש שֶׁעוֹשִׂים צִדְקָתָם בְּרְחוֹבוֹת וְבַּשׁוָוקִים בַּעַד שֶׁיְכַבְּדוּ אוֹתָם בְּנֵי אָדָם <br />אָמֵן אֲנִי אוֹמֶר לָכֶם שֶׁכְּבָר קִבְּלוּ שְׂכָרֶם
      </p>
      <p class="nl">
        
          Opnieuw zei Jesjoea tot hen: wanneer u gerechtigheid doet, heb geen behagen in het verspreiden ervan door een proclamatie of met trompetten voor jullie aangezicht, zoals de huichelaars (in de vreemde taal: hypokrites) die hun gerechtigheid doen op pleinen en straten om geëerd te worden door de zonen van mensen.<br />Amen, Ik zeg tot jullie dat zij reeds hun loon genomen hebben.
        
      </p>
      <p class="margin">
        
          ‘proclamatie’ is een Aramees woord en komt alleen voor in Dan. 3:4<br />Vreemde taal: Grieks<br />‘hypokrites’, dit woord staat in de Textus Receptus voor het woord ‘huichelaars’ (ὑποκριτής)<br />‘in het verspreiden ervan door een proclamatie of met trompetten’ in DuTillet en Münster staat: ‘in het steken van de sjofar’<br />‘om gezien te worden door de zonen van mensen’, in DuTillet en Münster staat: ‘om geëerd te worden door mannen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְאַתֶּם כַּאֲשֶׁר תַּעֲשֵׂה צְדָקָה אַל יָדַע שְׂמאׁלךָ מָה יַעֲשֶׂה יְמִינךָ
      </p>
      <p class="nl">
        
          Maar als jullie gerechtigheid doen, laat uw linkerhand niet weten wat uw rechthand doet,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        לְהֱיוֹת מַתְּנָתָךְ בַּסָתַר וְאָבִיךָ הַרוֹאֶה הַנִסְתָּרוֹת יְשַׁלֶּם לְךָ
      </p>
      <p class="nl">
        
          laat uw geschenk in het verborgene zijn. Maar uw Vader, Die het ziet wat verborgen is, vergeldt het u.
        
      </p>
      <p class="margin">
        
          ‘vergeldt het u’, in de DuTillet, Münster, Peshitta en Textus Receptus is hieraan toegevoegd ‘in het openbaar’, zie ook vers 6 en 18
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        בַּעִתּ הַהיִא אָמַר יֵשׁוּעַ לְתַּלְמִידָיו בַּשָׁעַה שֶׁתִּתְפַּלֵּלוּ אַל תָּרִימוּ קוֹל וְאַל תִּהְיוּ כְּחֲנֵפִים הַעֲצָבִּים הַאוֹהָבִים לְהִתְפַּלֵּל בַּבָּתֵּי כְּנֵסֵיוֹת וְבַּמִקְצוֹע חֲצֵרוֹת וְמִתְפַּלֵּלִים בַּגְּבוֹהוֹת שֶׁיֵרָאוּ אוֹתָם וְיְשַׁבְּחוּ בְּנֵי אָדָם <br />אָמֵן אֲנִי אוֹמֶר לָכֶם שֶׁכְּבָר קִבְּלוּ שְׂכָרֶם
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Zijn leerlingen: wanneer u bidt, verhef uw stem niet en wees niet zoals de huichelaars zijn, die zich inspannen en die het lief hebben om te bidden in de huizen van samenkomsten en op de hoek van de binnenplaatsen, en verheven bidden om gezien te worden door hen en geprezen te worden door de zonen van de mensen.<br />Amen, Ik zeg tot jullie dat zij reeds hun loon genomen hebben.
        
      </p>
      <p class="margin">
        
          ‘en verheven bidden om gezien te worden door hen en geprezen te worden door de zonen van de mensen’, in twee teksten van Shem Tov staat: ‘en verheven bidden om gehoord te worden’, in DuTillet en Münster staat: ‘en bidden om gezien te worden door de mannen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        וְאַתָּה בַּהִתְפַּלֵּלךָ בָּא לְמִשְׁכָּבךָ וְסְגוֹר דַּלְתֵיךָ בַּעַדךָ וְהִתְפַּלֵּל לְאָבִיךָ בַּסָתַר וְאָבִיךָ הַרוֹאֶה בַּסָתַר יְשַׁלֶּם לְךָ
      </p>
      <p class="nl">
        
          Maar u, in uw bidden, ga tot uw bed en sluit uw deur achter u, zodat u bidt tot uw Vader in het verborgen. Maar uw Vader, die het ziet in het verborgen, vergeldt het u.
        
      </p>
      <p class="margin">
        
          ‘bed’, in DuTillet en Münster staat: ‘kamer’<br />‘vergeldt het u’, in de DuTillet, Münster, Peshitta en Textus Receptus is hieraan toegevoegd ‘in het openbaar’, zie ook vers 4 en 18
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְאַתֶּם כַּאֲשֶׁר תִתְפַּלֵּלוּ אַל תִּרְבּוּ דְּבָרִים כְּמוֹ שֶׁהַמִינִים חוֹשְׁבִים שֶׁבְּרוֹב דְּבָרִים יִשְׁמְעוּם
      </p>
      <p class="nl">
        
          Maar wanneer jullie bidden, doe dat niet met grote woorden zoals de ketters doen, die denken door de veelheid van woorden verhoord te worden.
        
      </p>
      <p class="margin">
        
          ‘bidden’ staat in gebiedende wijs, zie ook vers 9<br />‘ketters’, in DuTillet en Münster staat: ‘heidenen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְאַתֶּם אַל תִּדָּמוּ לָהֶם שֶׁאֲבִיכֶם שֶׁבַּשָׁמַיִם יוֹדֵעַ דְּבָרִיכֶם קוֹדְּם שֶׁתִּשִׁאֵלוּ מִמֶּנּוּ
      </p>
      <p class="nl">
        
          En jullie, lijk niet op hen, omdat jullie Vader, Die in de hemelen is, jullie woorden weet voordat u het vraagt van Hem.
        
      </p>
      <p class="margin">
        
          ‘lijk’ staat in de gebiedende wijs<br />‘jullie woorden weet’, in DuTillet en Münster staat: ‘weet wat jullie nodig hebben’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְכֵן תִתְפַּלֵּלוּ<br />אָבִינוּ שֶׁבַּשָׁמַיִם יִתְקַדֵּשׁ שִׁמְךָ
      </p>
      <p class="nl">
        
          En bidt zo:<br />Onze Vader, Die in de hemelen is, heilige zich Uw Naam
        
      </p>
      <p class="margin">
        
          ‘bidt’ staat in de gebiedende wijs, zie ook vers 7<br />‘heilige zich’ dit is de wederkerende vorm en duidelijk niet dat Hij geheiligd wordt door mensen: Elohiem is hier het voorwerp en het onderwerp
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיִתְבָּרֵךְ מַלְכוּתְךָ רְצוֹנְךָ יִהְיֶה עָשׂוּי בַּשָׁמַיִם וּבָּאָרֶץ
      </p>
      <p class="nl">
        
          en zegene zich Uw koninkrijk. Uw welbehagen doen gebeuren in de hemelen en op de aarde.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘en laat Uw koninkrijk komen. Uw welbehagen geschiedde zoals in de hemelen en op aarde’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וַתִתֵּן לַחְמֵנוּ תְּמִידִית תֶּן-הַיּוֹם לָנוּ
      </p>
      <p class="nl">
        
          En geef ons brood voortdurend, geef ons vandaag.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וּמְחוֹל לָנוּ חַטֹּאתֵינוּ כַּאֲשֶׁר אֲנַחְנוּ מוֹחֲלִים לַחוֹטִאים לָנוּ
      </p>
      <p class="nl">
        
          En vergeef ons onze zonden, zoals wij vergeven die tot ons zondigen.
        
      </p>
      <p class="margin">
        
          In DuTillet en Münster staat dit vers als volgt: ‘En vergeef ons onze schulden, zoals wij vergeven onze bezitters van schulden’<br />‘zoals’ kan ook vertaald worden als ‘gelijk’ of ‘omdat’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וְאַל תְּבִיאֶנוּ לִידֵי נִסָּיוֹן וְשָׁמְרֵינוּ מִכָּל רָע אָמֵן
      </p>
      <p class="nl">
        
          En laat ons niet komen in de macht van de verzoeking en behoudt ons van alle kwaad. Amen.
        
      </p>
      <p class="margin">
        
          In de DuTillet, Münster, Peshitta en Textus Receptus is aan dit vers toegevoegd: ‘Want van U is het Koninkrijk en de kracht en de heerlijkheid, tot in eeuwigheid’, maar ontbreekt ook in Luk. 11:4
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        אִם-תִּמְחֲלוּ לְבְּנֵי אָדָם עֲוֹנוֹתֵיהֶם יְמְחוֹל אֲבִיכֶם שֶׁבַּשָׁמַיִם עֲוֹנוֹתֵיכֶם
      </p>
      <p class="nl">
        
          Als u vergeeft de zonen van de mensen hun zonden, jullie Vader, Die in de hemelen is, vergeeft jullie zonden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְאִם לֹא תְמְחֹלוּ לָהֶם לֹא יְמְחוֹל לָכֶם עֲוֹנוֹתֵיכֶם לָכֶם
      </p>
      <p class="nl">
        
          Maar als u hen niet vergeeft, vergeeft Hij jullie niet van jullie zonden.
        
      </p>
      <p class="margin">
        
          ‘Maar als u hen niet vergeeft’ staat in gebiedende wijs
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם וְכַּאֲשֶׁר תָּצוּמוּ אַל תִּהְיוּ כְּחֲנֵפִים הַעֲצָבִּים שֶׁמִרֹאִים עַצְמָם עֲצָבִּים וְמִשְׁנִים פְּנֵיהֶם לְהֵרָאוֹת צוֹמוּתֶם לְבְּנֵי אָדָם <br />אָמֵן אֲנִי אוֹמֶר לָכֶם שֶׁכְּבָר קִבְּלוּ שְׂכָרֶם
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: en wanneer u vast, wees niet zoals de huichelaars zijn, die zich inspannen om hun gebeente te laten zien en zich inspannen hun gezicht veranderen, om hun vasten te laten zien aan zonen van de mensen.<br />Amen, Ik zeg tot jullie dat zij reeds hun loon genomen hebben.
        
      </p>
      <p class="margin">
        
          ‘zonen van de mensen’, in DuTillet en Münster staat: ‘mensenogen’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְאַתֶּם בַּצוֹמְכֶם רַחֲצוּ רֹאשֵׁיכֶם
      </p>
      <p class="nl">
        
          Maar jullie, in jullie vasten, was jullie hoofden,
        
      </p>
      <p class="margin">
        
          ‘was jullie hoofden’ staat in gebiedende wijs<br />In DuTillet en Münster staat dit vers als volgt: ‘En jullie, wanneer u vast, uw hoofd inwrijven en uw gezicht wassen’<br />In de Peshitta en Textus Receptus staat dit vers als volgt: ‘Maar jullie, wanneer jullie vasten. Was jullie gezichten en zalf jullie hoofden’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        שֶׁלֹא תִּרְאוּ מִתְּעַנִים לְבְּנֵי אָדָם אַלָא לְאָבִיךָ שֶׁהוּא בַּסָתַר וְאָבִיךָ שֶׁהוּא בַּסָתַר יְשַׁלֶּם לְךָ
      </p>
      <p class="nl">
        
          dat u niet laat zien het lijden aan zonen van de mensen, maar tot uw Vader, Die in het verborgen is. Zodat uw Vader, Die in het verborgen is, u het vergeldt.
        
      </p>
      <p class="margin">
        
          ‘het lijden aan zonen van de mensen’, in DuTillet en Münster staat: ‘het vasten aan mannen’<br />‘u het vergeldt’, in DuTillet, Münster en Textus Receptus is hieraan toegevoegd ‘in het openbaar’, zie ook vers 4 en 6
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם אַל תַּרְבּוּ לְצְבוֹר אוֹצָרוֹת בָּאָרֶץ כְּדֵי שֶׁיִאָכַלְנוּ רָקַב וְתּוֹלֵעַה אוֹ יַחְפְּרוּ הַגַּנָּבִים וְיִגָּנְבוּם
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: vergroot niet tot een ophoping schatten op de aarde, waar het verteert en de worm het vermolmd, of de dieven graven en stelen het.
        
      </p>
      <p class="margin">
        
          ‘vermolmd’, synoniemen zijn: verrotten en bederven
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        עֲשׂוּ לָכֶם אוֹצָרוֹת בַּשָׁמַיִם בַּמָקוֹם שֶׁרִימָּה וְתּוֹלֵעַה לֹא יֹאכְלֵם וְבַּמָקוֹם שֶׁהַגַּנָּבִים לֹא יַחְפְּרוּ וְיִגָּנְבוּ
      </p>
      <p class="nl">
        
          Maak jullie schatten in de hemelen, in de plaats waar de maden en de worm niet verteren, en in de plaats waar de dieven niet graven en stelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        בַּאוֹתוֹ מָקוֹם שֶׁיִהְיֶה אוֹצָרךָ שָׁם יִהְיֶה לִבֶּךָ
      </p>
      <p class="nl">
        
          In de plaats waar uw schat is, daar is uw hart.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְנִיר גּוּפְךָ עֵינֶיךָ אִם עֵינֶיךָ לְנוֹכַח יַבִּיטוּ כָּל גּוּפְךָ יַזהִיר
      </p>
      <p class="nl">
        
          En de lamp van uw lichaam zijn uw ogen, wanneer uw ogen rechtuit kijken, wordt heel uw lichaam verlicht.
        
      </p>
      <p class="margin">
        
          ‘wanneer uw ogen rechtuit kijken, wordt heel uw lichaam verlicht’ in DuTillet en Münster staat: ‘en als uw ogen onschuldig zien, zal heel uw lichaam in een groot licht zijn’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאִם עֵינֶיךָ כֵּהוֹ כָּל-גּוּפְך יַחֲשִׁיךָ וְאִם הַאוֹר שֶׁבְךָ יַחֲשִׁיךְ מַחְשָׁכִים יהָיוּ כָּל דְּרָכֶיךָ 
      </p>
      <p class="nl">
        
          Maar wanneer uw ogen dof zijn, is heel uw lichaam verduisterd. En wanneer het licht in u verduisterd, verduisterd worden al uw wegen.
        
      </p>
      <p class="margin">
        
          ‘duister’ staat in het Hebreeuws in het meervoud<br />‘verduisterd worden al uw wegen’ in DuTillet en Münster staat: ‘hoe groot is de duisternis?!’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        בַּעִתּ הַהיִא אָמַר יֵשׁוּעַ לְתַּלְמִידָיו לֹא יוּכַל אִישׁ לְעֲבוֹד לְשְׁנֵי אֲדוֹנִים כִּי אִם הָאֶחָד יִשְׂנָא וְהָאַחֵר יִאָהַב אוֹ לְאֶחָד יְכַבֵּד וְלְאַחֵר יִבָּזַה לֹא תּוּכְלוּ לְעֲבוֹד הָאֵל וְהַעוֹלָם
      </p>
      <p class="nl">
        
          Op dat moment zei Jesjoea tot Zijn leerlingen: een man kan geen twee heren dienen, maar hij zal de één haten en de ander zal hij liefhebben, of tot de één eer bewijzen en de ander zal hij verachten. U kunt niet dienen de El en de wereld.
        
      </p>
      <p class="margin">
        
          ‘wereld’, in DuTillet, Münster, Peshita en Textus Receptus staat: ‘mammon’ en is een Semitisch woord voor ‘geld’ of ‘rijkdom’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        לָכֵן אֲנִי אוֹמֶר לָכֶם שֶׁלֹא תְּדָאַגוּ לְמַאֲכָל לְנַפְשׁוֹתֵיכֶם וְלֹא בַּמַלְבּוּשׁ לְגּוּפָכֶם שֶׁהַנֶפֶשׁ יְקָרָה מִהַמָזוֹן וְהַגּוּף מִהַמַלְבּוּשׁ
      </p>
      <p class="nl">
        
          Daarom zeg Ik tot jullie: wees niet bezorgd voor het voedsel voor jullie ziel en niet in de kleding voor jullie lichaam, de ziel is kostbaarder dan het voedsel en het lichaam dan de kleding.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        הִסְתָכֵּלוּ בְעוֹף הַשָׁמַיִם אֲשֶׁר לֹא יִזְרוֹעוֹ וְלֹא יִקְצוֹרוֹ וְלֹא יַאַסְפוּ לָאוֹצָרוֹת וְאֲבִיכֶם הַעֶלְיוֹן מְכַלְכֵּל אֶתְכֶם הֲלֹא אַתֶּם יְקָרִים מִהֵם
      </p>
      <p class="nl">
        
          Kijk naar de vogels in de hemelen: zij zaaien niet, zij oogsten niet en verzamelen niet tot rijkdom, maar jullie Vader, de Allerhoogste, verzorgt hen, of niet? Jullie zijn kostbaarder dan zij.
        
      </p>
      <p class="margin">
        
          ‘de Allerhoogste’, in DuTillet en Münster staat: ‘Die in de hemelen is’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        מִי בַּכֶם מִהַדּוֹאֲגִים שֶׁיוּכַל לְהוֹסִיף בַּקוֹמָתוֹ אַמָּה אַחַת
      </p>
      <p class="nl">
        
          Wie van jullie, die bezorgd zijn, kunnen één el toevoegen aan hun lengte?
        
      </p>
      <p class="margin">
        
          ‘die bezorgd zijn’, in DuTillet en Münster: ‘die denken’<br />‘el’, een gewone el is ca. 45cm en een lange el is ca. 52,5cm, zie Ez. 40:5 en 1 Kron. 3:3<br />‘lengte’, letterlijk: ‘hoogte’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        אִם-כֵּן אַל מָה תִדְאֲגוּ בַּלְבוּשׁ רָאוּ חֲבַצֶּלֶת הַשָׁרוֹן לֹעֵז גְיִליְוֹן בַּהַגְּדֹלָה אַיִנָה טָווּה וְאוֹרְגֹת
      </p>
      <p class="nl">
        
          Zo ja: wees niet bezorgd met wat u zich kleedt. Zie de lelie van de Sjaron (vreemde taal: Krinon) in het groeien spint en weeft ze niet, 
        
      </p>
      <p class="margin">
        
          ‘lelie van de Sjaron’, het is onduidelijk welke plant precies bedoeld wordt, mogelijk: Lilium candidum, beter bekend als: Madonnalelie, zie Hooglied 2:1 en Jes. 35:1, in DuTillet en Münster staat: ’leliën van het veld’<br />‘Sjaron’ dat is de kuststreek tussen de Karmel en de rivier Jarkon.<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וַאֲנִי אוֹמַר לָכֶם שֶׁהַמֶלֶךְ שְׁלֹמֹה בַּכֹּל כָּבוֹדוֹ לֹא הָיַה מִלְבוּשׁ כָּמוֹהָ
      </p>
      <p class="nl">
        
          en Ik zeg tot jullie dat koning Sj'lomoh in al zijn heerlijkheid niet bekleedt is als haar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְאִם תֶּבֶן הַנִשְׁאַר בַּקמוֹת לֹעֵז פֶינֹן אֲשֶׁר הַיּוֹם לֵחֹה וְמָחָר יָבְשָׁה וְמִשִׂימִים אוֹתָהּ בַּתַּנּוּר הַאֵל מִלְבִּישׁ אוֹתָהּ כֹּל שְׁכֵּן אַתֶּם קַטַנֵּי אֱמֻנָה
      </p>
      <p class="nl">
        
          Maar wanneer het overgebleven stro, bij het opkomen, (vreemde taal: penon) vandaag in levenskracht en morgen droog gevallen, opdat het gezet wordt in de oven, de El bekleedt haar, des te meer bent u, geringen van vertrouwen.
        
      </p>
      <p class="margin">
        
          Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְאִם-כֵּן שַׁהַאֵל יַחְשׁוֹב מִכֶּם אַל תִדְאֲגוּ לוֹמַר מָה נֶאֱכַל וְמָה נִשְׁתֶּה
      </p>
      <p class="nl">
        
          En zo ja: zo denkt de El meer aan jullie. Wees niet bezorgd door te zeggen: wat zullen we eten? En wat zullen we drinken?
        
      </p>
      <p class="margin">
        
          De DuTillet en Münster voegen toe: ‘of in wat zullen we ons kleden?‘
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        שַׁכָּל אֵלֶּה הַגוּפִים מְבַקְּשִׁים וַיּוֹדַע אֲבִיכֶם שַׁכָּל אֵלֶּה אַתֶּם צָרִיכִּים
      </p>
      <p class="nl">
        
          Al dit wat het lichaam zoekt. Maar jullie Vader weet al dit, jullie nood.
        
      </p>
      <p class="margin">
        
          ‘lichaam’ staat in het meervoud, in DuTillet en Münster staat: ‘heidenen’<br />‘Vader’, in DuTillet en Münster staat: ‘Vader, Die in de hemelen is’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        בִּקְשׁוּ קוֹדֵם מַלְכוּת אֱלֹהִים וְצִדְקָתוֹ וְכָּל אֵלֶּה הַדְּבָרִים יִנָּתְנוּ לָכֶם
      </p>
      <p class="nl">
        
          Zoek eerst het Koninkrijk van Elohiem en Zijn gerechtigheid, opdat al deze dingen jullie gegeven wordt.
        
      </p>
      <p class="margin">
        
          ‘Koninkrijk van Elohiem’ is synoniem voor het Koninkrijk van de Hemelen<br />‘gegeven wordt’, in DuTillet en Münster staat: ‘verzamelen’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        לָכֵן אַל תִדְאֲגוּ לְיוֹם מָחָר שֶׁיוֹם מָחָר יִדְאָגוּ מִמֶּנּוּ דַּי לוֹ לְיוֹם בַּצַרתוֹ
      </p>
      <p class="nl">
        
          Daarom, wees niet bezorgd over de dag van morgen, omdat de dag van morgen voor hem uit genoeg zorgen bestaat, de dag in zijn benauwdheid.  
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>