<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        אַל תָּדִּינוּ פֶּן תָּדּוּנוּ
      </p>
      <p class="nl">
        
          Oordeelt u niet, opdat u niet geoordeeld wordt.
        
      </p>
      <p class="margin">
        
          ‘oordeelt’, dit staat in de vorm van rechtspreken
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        בָּאֵיזֶה דִּין תָּדּוּנוּ וְבָּאֵיזֶה מִדָּה תָּמוֹדּוּ יָּמוֹדּוּ לָכֶם
      </p>
      <p class="nl">
        
          In wat oordeel u oordeelt en wat voor maat u meet, Hij zal jullie meten.
        
      </p>
      <p class="margin">
        
          ‘meten’, staat in de zeldzame poël-vorm
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְלָמָּה תָּרָאוּ קַשׁ בָּעַיִן זוּלַתךָ וְלֹא תָּרָאַה קוֹרָה שֶׁבַּעֵינֶיךָ
      </p>
      <p class="nl">
        
          En waarom ziet u de stoppel in het oog van uw naaste, maar ziet u niet de balk in uw ogen?
        
      </p>
      <p class="margin">
        
          ‘stoppel’, na het maaien op de akker achtergebleven stukje van de halm<br />‘balk’ kan ook vertaald worden als ‘boomstam’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְאֵיךְ תָּאׁמַר לְזוּלַתךָ כַּתַּר-לִי זְעֵיר וָאוֹצִיא קַשׁ מִעֵינֶיךָ וְהִנֵּה הַקֹרָה בַּעֵינֶיךָ
      </p>
      <p class="nl">
        
          En hoe zegt u tegen uw naaste: wacht op mij een weinig en ik zal de stoppel uit uw ogen halen. Maar zie! De balk is in uw ogen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        הַחָנֵף תּוֹצִיא קוֹדֵם הַקוֹרָה מִעֵינֶיךָ וְאַחַר כַּך תּוֹצִיא הַקַשׁ מִעַיִן זוּלַתךָ
      </p>
      <p class="nl">
        
          Huichelaar! Eerst de balk uit uw ogen halen en daarna de stoppel uit het oog van uw naaste halen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם אַל תִּתֵּנוּ בָּשָׂר קָדַשׁ לְכְּלָבִים וְאַל תָּשִׂימוּ פְּנִינִים לִפְנֵי חֲזִיר פֶּן יִכִּרְסֵמנוּ אוֹתָהּ לְעֵינֵיכֶם וְיִחֲזִרוּ אוֹתָהּ לִקְרוֹעַ אֶתְכֶם
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: u geeft geen heilig vlees aan de honden en u legt geen parels voor een everzwijn, opdat hij niet deze kaalvreet en hij deze stukgescheurd teruggeeft aan jullie.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        שָׁאֲלוּ מִהַאֵל וְיִנָּתֵן לָכֶם בִּקְשׁוּ וְתִּמְצָאוּ דִּפְקוּ וְיִפִּתְחוּ לָכֶם
      </p>
      <p class="nl">
        
          Vraag van de El en Hij geeft het jullie. Zoekt en jullie vinden het. Klopt en Hij opent voor jullie.
        
      </p>
      <p class="margin">
        
          ‘vraag’, ‘zoekt’, ‘vinden’, ‘klopt’ en ‘opent’ staan in de gebiedende wijs<br />‘en Hij geeft het jullie’ kan ook vertaald worden als: ‘zodat Hij het jullie geeft’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        כָּל הַשׁוֹאֵל יִקַבֵּל וְלְאֲשְׁר יְבַקֵּשׁ יִמְצָא וְלִקוֹרֵא יִפְתַּח
      </p>
      <p class="nl">
        
          Allen die vragen, die ontvangen. En wie zoekt, die vindt. En die roept, Hij opent.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        מִי בַּכֶם שֶׁיְבַקֵּשׁ בְּנוֹ מִמֶּנּוּ לִפְרוֹס לֶחֶם וְיִתֵּן לוֹ אֶבֶן
      </p>
      <p class="nl">
        
          Wie van jullie, waarvan zijn zoon vraagt van hem een stuk brood, maar hij geeft aan hem een steen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        אוֹ אִם יְבַקֵּשׁ דָּג וְיִתֵּן נָחָשׁ
      </p>
      <p class="nl">
        
          Of wanneer hij vraagt om een vis, maar hij geeft een slang?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְאִם אַתֶּם עִם הֱיוֹתְכֶם רָעִים תָּבוֹאוּ לָתֵת מַתָּנוֹת טוֹבוֹת לִבְנֵיכֶם כֹּל שְׁכֵּן אֲבִיכֶם שֶׁבַּשָׁמַיִם שֶׁיִתֵּן רוּחוֹ הַטּוֹבָה לְמְבַקְשָׁיו
      </p>
      <p class="nl">
        
          Maar wanneer jullie, die slecht zijn, komen tot het geven van goede gaven voor jullie zonen, des te meer jullie Vader, Die in de hemelen is, geeft Zijn Goede Geest aan hen die vragen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְכָּל מָה שֶׁתִּרֶצוּ שֶׁיַעֲשׂוּ לָכֶם בְּנֵי אָדָם עֲשׂוּ לָהֶם זֹאת הַתּוֹרָה וְדִּבְרֵי הַנְבִיאִים
      </p>
      <p class="nl">
        
          En alles waar u behagen in schept dat de zonen van mensen doen tot jullie, doe dat aan hen, dit is de Torah en de woorden van de profeten.
        
      </p>
      <p class="margin">
        
          Vergelijkbare teksten als dit vers zijn te vinden in Tob. 4:15, Sir. 31:15, Luk. 6:31
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        בַּזְמָן הַהוּא אָמַר יֵשׁוּעַ לְתַּלְמִידוֹ בָּאוּ בַּשַׁעַר הַצָּר שֶׁשַׁעַר הַאֲבַדּוֹן רָחָב וְמְצוּלָה וְרַבִּים הוֹלְכִים בָהּ
      </p>
      <p class="nl">
        
          Op de vastgestelde tijd zei Jesjoea tot Zijn leerlingen: ga door de nauwe poort. De poort van de ondergang is breed en diep, en velen gaan door haar.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        כַּמָּה הַשַׁעַר צָר וְכַמָּה כָּבֵד הַדֶּרֶךְ הַמִיּישֶׁר לְחַיִּים וְמְעַטִּים הַמוֹצְאִים אוֹתוֹ
      </p>
      <p class="nl">
        
          Hoe nauw is de poort en hoe zwaar de weg, de rechte, tot het leven, maar weinig bereiken hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        עוֹד אָמַר לָהֶם הַזָהַרוּ מִנְּבִיאֵי הַשֶׁקֶר הַבָּאִים לָכֶם בַּמַלְבּוּשׁי הַצֶמֶר דוֹמִים לְצֹאן שֶׁבְתוֹכָם זְאֵבִים טוֹרָפִים
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: pas op voor valse profeten, die tot jullie komen in wol gekleed, zoals schapen, van binnen zijn het rovende wolven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וְבְּמַעֲשֵׂיהֶם תְכִּירוּם הִילְקוֹט אָדָם מִן הַקוֹצִים עֲנָבִים וְמִן הַבַּרְקֳונִים תְּאֵנִים
      </p>
      <p class="nl">
        
          Maar hun daden zal u herkennen. Raapt een mens uit doornenstuiken druiven? En uit distels vijgen?
        
      </p>
      <p class="margin">
        
          ‘raapt’, dat is oogsten of verzamelen
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        שֶׁכָּל עֵץ טוֹב יַעֲשֶׂה פְּרִי טוֹב וְכָּל עֵץ רַע יַעֲשֶׂה פְּרִי רַע
      </p>
      <p class="nl">
        
          Omdat elke goede boom goede vrucht voortbrengt en elke slechte boom slechte vrucht voortbrengt,
        
      </p>
      <p class="margin">
        
          ‘voortbrengt’, letterlijk: ‘doen’ of ‘maken’, zie ook de verzen 18 en 19
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וְעֵץ הַטוֹב לֹא יוּכָל לַעֲשׂוֹת פְּרִי רַע וְעֵץ רַע לֹא יוּכָל לַעֲשׂוֹת פְּרִי טוֹב
      </p>
      <p class="nl">
        
          maar de goede boom kan geen slechte vrucht voortbrengen en een slechte boom kan geen goede vrucht voortbrengen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְכָּל עֵץ אֲשֶׁר לֹא יַעֲשֶׂה פְּרִי טוֹב כַּאֲשֶׁר יִשָּׂרֵף
      </p>
      <p class="nl">
        
          Opdat elke boom die geen goede vrucht voortbrengt, verbrand wordt.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        לָכֵן כְּפְּרִיִּים רֹצֵה לוֹמַר בַּמַעֲשֵׂיהֶם תַּכִּירוּם
      </p>
      <p class="nl">
        
          Daarom zoals vruchten, dat is in hun daden, u herkent hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        שֶׁכָּל הַאוֹמַר אֵלָי אֲדוֹנִי לֹא יָבֹא בְּמַלְכוּת הַשָׁמַיִם אֲבָל כָּל הָעוֹשֵׂה רָצוֹן אָבִי שֶׁבַּשָׁמַיִם יְכַנֵּס בְּמַלְכוּת הַשָׁמַיִם
      </p>
      <p class="nl">
        
          Allen die zeggen tot Mij “mijn Heer” gaan niet in het Koninkrijk van de Hemelen, maar allen die doen het welbehagen van Mijn Vader, Die in de hemelen is, verzamelen in het Koninkrijk van de Hemelen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        רַבִּים יֹאמֵרוּ אֵלָי בַּיּוֹם הַהוּא אֲדוֹנִי אֲדוֹנִי הֲלֹא בַּשִׁמְךָ נָבָאנוּ וְבַּשִׁמְךָ שֵׁדִים הוֹצֵאתָנוּ וְאוֹתוֹת רַבּוֹת עַל שִׁמְךָ עָשִׂינוּ
      </p>
      <p class="nl">
        
          Velen zeggen tot Mij op die dag: mijn Heer! mijn Heer! Immers in Uw Naam hebben wij geprofeteerd, en in Uw Naam hebben wij demonen laten uitgaan en vele wondertekens door Uw Naam gedaan.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וְאָז אָמַר לָהֶם מֵעוֹלָם לֹא יָדָעְתִּי אֶתְכֶם סוּרוּ מִמֶּנִּי כָּל-פּוֹעֲלֵי אָוֶן
      </p>
      <p class="nl">
        
          En toen zei Hij tot hen: van eeuwigheid zijn jullie niet gekend. Verdwijn van Mij, alle werkers van ellende.
        
      </p>
      <p class="margin">
        
          ‘Verdwijn van Mij, alle werkers van ellende’ is een citaat uit Ps. 6:9, in de Septuagint en de  Griekse handschriften staat: ‘Verdwijn van Mij, alle werkers van wetteloosheid’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        עוֹד אוֹמָר לָהֶם כָּל הַשׁוֹמֵעַ דְּבָרִים אִלוּ וְעוֹשֵׂה אוֹתָם דוֹמֶה לְאִישׁ חָכָם שֶׁבָנַה בֵיתוֹ בַּסֶלַע
      </p>
      <p class="nl">
        
          Opnieuw zei Hij tot hen: al die deze woorden hoort en hen doet, is gelijk een wijs man die zijn huis bouwt op een rots.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְיָרַד הַגֶּשֶׁם עָלָיו וְהַרוּחוֹת מֵקִישׁוֹת אוֹתוֹ וְלֹא יִפּוֹל לְפִי שֶׁיְסוֹדוֹ אֶבֶן
      </p>
      <p class="nl">
        
          En de regen daalde tegen het neer en de winden sloegen het, maar het valt niet omdat zijn grondvest is een steen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וְכָּל הַשׁוֹמֵעַ דִּבְרֵי אֵלֶּה וְלֹא יַעֲשֵׂם דוֹמֶה לְאִישׁ שׁוֹטֶה אֲשֶׁר בָנָה בֵיתוֹ עַל הַחוֹל
      </p>
      <p class="nl">
        
          Maar al die deze woorden hoort en hen niet doet, is gelijk een dwaas man die zijn huis bouwt op het zand.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיָּרְדוּ גְּשָׁמִים וַיָּבֹאוּ זָרַמִים וַיַּפִּילוּהוֹ וְנֹפֵל מַפָּלָה גְּדוֹלָה
      </p>
      <p class="nl">
        
          En de regens daalden neer en de stromen kwamen, zodat het viel, en de val was een grote val.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וְבַּעוֹד שֶׁיֵשׁוּעַ הָיָה מֵדָבַר דְּבָרִים אִלוּ כָּל הָעָם הֱיוּ תָּמַהִּים מְגוּדָל טוֹב הַנהָגָתוֹ
      </p>
      <p class="nl">
        
          En terwijl Jesjoea al deze woorden sprak was het volk verbijsterd van de goede maat van Zijn autoriteit,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        לְפִי שֶׁהוּא שֶׁהָיָה דוֹרֵש לָהֶם בַּכֹּחַ גָּדוֹל שֶׁלֹא כַּאֲשֶׁר הַחֲכָמִים
      </p>
      <p class="nl">
        
          omdat deze prediking was tot hen met grote kracht, niet zoals de wijzen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>