<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר יָרַד יֵשׁוּעַ הָנוֹצְרִי מִן הָהָר וַחֲבוּרוֹת רַבּוֹת אַחֲרָיו
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea, de Notsri, afdaalde van de berg, dat een grote menigte Hem volgde.
        
      </p>
      <p class="margin">
        
          ‘de Notsri’ (Nazarener) is afkomstig uit Ms. Heb. 28 (Rijksbibliotheek, Leiden)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְהִנֵּה מְצוֹרָע אֶחָד בָּא וְיִשְׁתַּחֲוֶה לוֹ לֵאמֹר אֲדוֹנִי אִם תּוּכַל לִרְפַאת אֵלַי
      </p>
      <p class="nl">
        
          Maar zie! Een zekere melaatse kwam en boog diep voor Hem, door te zeggen: mijn Heer, als U kunt, wilt U mij genezen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וְיֵט יֵשׁוּעַ אֶת־יָדוֹ וְיָגַע בּוֹ לֵאמֹר רוֹצֶה אֲנִי שֶׁתְּטַהֵר וּבְאוֹתָהּ שָׁעָה נְטַהֵר הַמְּצוֹרָע מִצִּרְעָתוֹ
      </p>
      <p class="nl">
        
          En Jesjoea strekte Zijn hand uit en raakte Hem aan, door te zeggen: Ik heb behagen dat u rein bent. En in dat uur werd de melaatse gereinigd van zijn melaatsheid.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ הִשָּׁמֵר לְךָ פָּן תַּגִּיד לָאָדָם וּלֵךָ לְכֹּהֵן וְהַקְרֵב קֹרְבַּנֶךָ כַּאֲשֶׁר צִוָּה מֹשֶׁה בְּתּוֹרַתְכֶם
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hem: let u op, dat u dit niet aan de mensen vertelt, maar ga tot de priester en nader met uw nadering, zoals Mosjeh u opgedragen heeft in jullie Torah.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘nader’ (vehaqrév) en ‘uw nadering’ (qorbanecha)<br />Mosjeh: (Mozes) uittrekken uit het water, zie Ex. 2:10
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        וַיְהִי בְּבוֹאוֹ בַּכְּפָר־נַחוּם הֲמָרָתָהּ וְיִבֵּא אֵלָיו שַׂר הַמֵּאוֹת וְיִּתְחַנֵּן לוֹ
      </p>
      <p class="nl">
        
          En het gebeurde bij Zijn binnenkomst in K<sup>e</sup>phar-Nachoem, de Martah, dat een hoofdman over honderden tot Hem kwam en hij smeekte Hem om genade,
        
      </p>
      <p class="margin">
        
          ‘Maratah’, bedoelende aan de zee<br />‘hoofdman over honderden’ dat is een Centurio in het Romeinse leger, deze had het gezag over 200 tot 1000 soldaten
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        לֵאמֹר אֲדוֹנִי בְּנִי שׁוֹכֵב בְּבֵיתִי מֵחוֹלִי הַכָּווּץ בַּלֹעֵז פַּרַלֵאטִיקוֹ וּמִתְחַלְחֵל מֵהַמַּחֲלָה
      </p>
      <p class="nl">
        
          door te zeggen: mijn Heer, mijn zoon ligt in mijn huis van verlammingsziekte, in de vreemde taal: paralytico, en beeft door de ziekte.
        
      </p>
      <p class="margin">
        
          ‘mijn zoon’, in Peshitta staat ‘mijn jongen’ of ‘mijn bediende’ en in Griekse handschriften staat ‘mijn kind’, ‘mijn jongen’ of ‘mijn knecht’ (παῖς).<br />Er is woordverband tussen ‘mijn zoon’ (b<sup>e</sup>ni) en ‘in mijn huis’ (b<sup>e</sup>veejto).<br />Vreemde taal: Latijn
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וַיֹּאמֶר אֵלָיו יֵשׁוּעַ אֲנִי אֵלֵךְ וַאֲרַפְּאֵהוּ
      </p>
      <p class="nl">
        
          En Jesjoea zei tot hem: Ik zal gaan en hem genezen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וַיַּעַן שַׂר הַמֵּאוֹת וַיֹּאמֶר לוֹ אֲדוֹנִי אֵינִּי רָאוּי שֶׁתָּבֵא תַּחַת גַּגִּי אֶלָּא שֶׁתִּגְזוֹר אוֹמֵר וִירַפֵּא
      </p>
      <p class="nl">
        
          Maar de hoofdman over honderden antwoordde en zei tot Hem: mijn Heer, ik ben het niet waard dat U komt onder mijn dak, maar U spreekt Uw besluit en hij zal genezen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וְאֲנִי אָדָם חוֹטֵא וְיֵשׁ לִי מֶמְשֶׁלֶת וְתַּחַת יְדֵי פְּרוּשִׁים וּפָרָשִׁים וְרוֹכְבִים וַאוֹמֵר אֲנִי לְאֶחָד מֵהֶם לְךָ וְיֵלֵךְ וּלְאַחֵר בָּא וְיִבֵּא וּלְעַבְדֵי עָשׂוּ זֶה וְיַעֲשׂוּ
      </p>
      <p class="nl">
        
          Maar ik ben een zondig mens. En er is macht tot mij en ben onder de hand van P<sup>e</sup>roesjiem, maar ik heb paarden en ruiters en zeg tot één van hen “ga” en hij gaat, en tot een ander “kom” en hij komt, en tot mijn knechten “doe dit” en zij doen het.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיִשְׁמַע יֵשׁוּעַ וְיִתְמַהּ וּלְבָאִים אַחֲרָיו אָמַר אָמֵן אֲנִי אוֹמֵר לָכֶם לֹא מָצָאתִי אֱמוּנָה גְּדוֹלָה בְּיִשְׁרָאֵל כְּמוֹ בָּזֶה
      </p>
      <p class="nl">
        
          En Jesjoea hoorde het en was verbaasd, en zei tot Zijn volgelingen: amen, Ik zeg tot jullie: geen groter geloof deed mij vinden in Jisraël, gelijk in deze.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        אוֹמֵר אֲנִי לָכֶם שֶׁיָּבוֹאוּ רַבִּים מִמִּזְרָח וּמִמַּעֲרָב וְיָנוּחוּ עִם אַבְרָהָם וְעִם יִצְחָק וְעִם יַעֲקֹב בְּמַלְכוּת שָׁמַיִם
      </p>
      <p class="nl">
        
          Ik zeg tot jullie dat velen zullen komen uit het oosten en uit het westen en zij zullen rusten met Avraham, en met Jitschaq, en met Jaäqov in het Koninkrijk der Hemelen,
        
      </p>
      <p class="margin">
        
          ‘uit het oosten en uit het westen’ kan ook vertaald worden als: ‘uit het morgenland en uit het avondland’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וּבְנֵי הַמַּלְכוּת יוּשְׁלְכוּ בְּמַחְשַׁכֵּי גְהִינָם וְשָׁם יִהְיֶה בֶּכִי וְחִירוֹק שִׁנַּיִם
      </p>
      <p class="nl">
        
          maar zonen van het Koninkrijk zullen teruggeworpen worden in de duisternis van het dal van Hinom, en daar is geween en geknars van tanden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        וַיֹּאמֶר יֵשׁוּעַ לַשַּׂר הַמֵּאוֹת לְךָ וְכַּאֲשֶׁר הֶאֱמַנְתָּ יַעֲשֶׂה לְךָ וְנִרְפָּא הַנַּעַר בַּעֵת הַהִיא
      </p>
      <p class="nl">
        
          En tot de hoofdman over honderden zei Jesjoea: ga en gelijk u gelooft, het is gedaan tot u. En de jongen werd gezond op dat moment.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        בַּעַת הַהיִא בָּא יֵשׁוּעַ לְבֵית פֶּיטְרוֹשׁ וְהִנֵּה חוֹתַנְתּוֹ שׁוֹכֶבֶת מַקְדֵּחַת
      </p>
      <p class="nl">
        
          Op dat moment kwam Jesjoea tot het huis van Petros en zie! zijn schoonmoeder lag van hete koorts.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וְיָגַע לְיָדָהּ וְיַעֲזְבֶהָ הַקַּדַּחַת וְתִקֹּם וּתְשָׁרְתָם
      </p>
      <p class="nl">
        
          En Hij raakte haar hand aan en de hete koorts verliet haar, zodat zij opstond en zij diende hen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        וַיְהִי לְעֵת-הַעֶרֶב וְיַבְּאוּ אֵלָיו אֲחוּזֵי הַשֵּׁדִים וִירַפְּאֵם בְּמַאֲמָרוּ לְבַד וְכָל הַחוֹלִים רִיפֵא
      </p>
      <p class="nl">
        
          En het gebeurde tegen de tijd van de avond dat tot Hem kwamen hen die ingesloten zijn door de demonen, maar Hij genas hen met een woord alleen en alle zieken genas Hij,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        לְגַמוֹר מָה שֶׁנֶּאֱמַר עַל פִּי יְשַׁעְיָה הַנָּבִיא זִכְרוֹנוֹ לִבְרָכָה אָכֵן חֳלָיֵינוּ הוּא נָשָׂא וּמַכְאֹבֵינוּ סְבָלָם
      </p>
      <p class="nl">
        
          tot het voltooien wat door de mond van J<sup>e</sup>sjaJAH, de profeet, in gezegende herinnering, is gezegd: “waarachtig, onze ziekten heeft Hij opgenomen, ons leed heeft Hij gedragen”
        
      </p>
      <p class="margin">
        
          ‘door de mond van J<sup>e</sup>sjaJAH, de profeet’, letterlijk: over de mond van J<sup>e</sup>sjaJAH, de profeet<br />‘in gezegende herinnering’ is een Joods gezegde gebaseerd op Spr. 10:7<br />Citaat uit Jesaja 53:4
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיְהִי אַחֲרֵי זֹאת וְיָרֵא יֵשׁוּעַ חֲבוּרוֹת רַבּוֹת סְבִיבוֹתָיו וִיצַוֶּה לָלֶכֶת עָבַר הַיָּם
      </p>
      <p class="nl">
        
          En het gebeurde na dit, doordat Jesjoea zag de grote menigte rondom Hem en Hij gebood tot het gaan naar de overkant van de zee.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיִקְרַב חָכָם אֶחָד וַיֹּאמֶר לוֹ אֲדוֹנִי אֵלַךְ אַחֲרֶיךָ בַּכֹּל מָקוֹם שֶׁתֵלֵךְ
      </p>
      <p class="nl">
        
          En één wijze naderde en zei tot Hem: mijn Heer, ik zal U volgen naar welke plaats U gaat.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וַיַּעַן אֵלָיו יֵשׁוּעַ לַשּׁוּעָלִים חוֹרִים וְלָעוּף קִנִּים וְלַבֵּן־הָאָדָם בֵּן־הַבְּתוּלָה אֵין מָקוֹם לְהַכְנִיס רֹאשׁוֹ
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoordde tot hem: de vossen hebben holen en de vogels hebben nesten, maar de Mensenzoon, de Zoon van de maagd, heeft geen plaats om Zijn hoofd te plaatsen.
        
      </p>
      <p class="margin">
        
          ‘Mensenzoon’ is een messiaanse titel afkomstig uit Dan. 7:13<br />‘de Zoon van de maagd’ komt niet voor in Peshitta en Griekse handschriften
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        וְאֶחָד מִתַּלְמִידָיו אָמַר לוֹ עָזוֹב אוֹתִי שֶׁאֵלַךְ וְאֶקָבּוֹר אֶת־אֲבִי
      </p>
      <p class="nl">
        
          En één van Zijn leerlingen zei tot Hem: laat mij gaan om mijn vader te begraven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וַיֹּאמֶר לוֹ יֵשׁוּעַ בָּא אַחֲרֵי וְעָזוּב הַמֵּתִים לִקְבּוֹר מֵתֵיהֶם
      </p>
      <p class="nl">
        
          Maar Jesjoea zei tot hem: kom, volg Mij en laat de doden hun doden begraven.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר בָּא יֵשׁוּעַ בָּאֳנִיָּה וְיָבוֹאוּ תַּלְמִידָיו אַחֲרָיו
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea in een schip ging, en Zijn leerlingen gingen na Hem,
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיְהִי סָעַר גָּדוֹל בַּיָּם וְהַגַּלִּים נִכְנֵסִים בָּאֳנִיָּה וְהָאֳנִיָּה חָשְׁבָהּ לְהִשָּׁבֵר
      </p>
      <p class="nl">
        
          en er kwam een grote storm op de zee, en golven verzamelden zich in het schip, en het schip dacht om gebroken te worden.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וְיִקְרְבוּ אֵלָיו תַּלְמִידָיו וִיקִיצוּהוּ לֵאמֹר אֲדוֹנֵינוּ הוֹשִׁיעָנוּ פָּן נֶאֱבַד
      </p>
      <p class="nl">
        
          En Zijn leerlingen naderden tot Hem, doordat zij erg bang waren, door te zeggen: onze Heer, red ons, opdat we niet vergaan!
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַיֹּאמֶר אֲלֵיהֶם לָמָּה תִּרְאוּ קְּטַנֵּי אֱמֻנָה וְיִקֹּם וְיִצוֹ לַיָּם וְלָרוּחוֹת שֶׁיָּנוּחוּ וּמִיָּד נָחוּ
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: waarom vrezen jullie, kleingelovigen? En Hij stond op en beval de zee en de winden dat zij rusten en onmiddellijk gingen zij rusten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְהָאֲנָשִׁים אֲשֶׁר שָׁם תָּמְהוּ וַיֹּאמְרוּ מִי הוּא זֶה שֶׁהָרוּחוֹת וְהַיָּם עוֹשִׂים רְצוֹנוֹ
      </p>
      <p class="nl">
        
          En de mannen die daar waren, waren verbaast en zeiden: Wie is Deze, dat de winden en de zee doen naar Zijn welbehagen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר עָבַר הַיָּם וְיַעֲבוֹר עָבַר לַיָּם בְּמַלְכוּת גָדַרִי נִקְרָאִים בַּלֹעֵז גְיִיְנִיטְרָארוֹס וְיִפְגְּעוּ בּוֹ שָׁנִים אֲחוּזֵי שֵׁדִים יוֹצְאִים מֵהַקְּבָרִים מִשְׁתַּגְּעִים עַד שֶׁלֹא יוּכַל אִישׁ לָעִבּוּר בַּדֶּרֶךְ הַהִיא
      </p>
      <p class="nl">
        
          En het gebeurde toen aan de overkant van de zee, doordat zij verdergingen aan de overkant van de zee dat zij in het koninkrijk kwamen van de Ghaddari, die genoemd worden in de vreemde taal: Ginitratos. En twee die ingesloten waren door demonen ontmoeten Hem, kwamen uit de graven tevoorschijn, van krankzinnigheid kon geen man voorbijgaan op die weg.
        
      </p>
      <p class="margin">
        
          Ghaddari: Gadarenen<br />Vreemde taal: Grieks
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        וְיִצְעֲקוּ אֵלָיו הַשֵׁדִים לֵאמֹר מָה לָךְ עִמָּנוּ יֵשׁוּעַ בֵּן־אֱלֹהִים בָּאתָ קוֹדֵם הַזְּמַן לְצַעֲרֵנוּ וְגַם לְהִשְׁמִידֵנוּ וְיֵשׁוּעַ אָמַר לָהֶם צְאוּ מִשָּׁם מַחֲנוֹת רָעוֹת
      </p>
      <p class="nl">
        
          En de demonen riepen tot Hem door te zeggen: wat heeft U tegen ons, Jesjoea, Zoon van Elohiem? Komt U voor de tijd om ons te pijnigen en zelfs ons uit te roeien? Maar Jesjoea zei tot hen: Ga uit van daar, kampen van kwaad!
        
      </p>
      <p class="margin">
        
          ‘voor de tijd’, dat is het moment waarop de demonen worden veroordeeld, zie. Opb. 20:10
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְשָׁם קָרוֹב מֵהֶם עֶדְרֵי חֲזִירִים רַבִּים רוֹעִים
      </p>
      <p class="nl">
        
          En daar was nabij hen een kudde van vele everzwijnen aan het grazen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְיִפְגְּעוּ בּוֹ הַשֵּׁדִים יָעֵן יֵשׁ לָנוּ לָצֵאת מִכָּאן תַּן לָנוּ רְשׁוּת לְבָא בְּאֵלּוּ הַחֲזִירִים
      </p>
      <p class="nl">
        
          En de demonen verzochten Hem: aangezien, wij moeten uitgaan vanhier, geeft ons autoriteit om in te gaan in deze everzwijnen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם לְכוּ וְיָצְאוּ הַשֵּׁדִים מֵהָאֲנָשִׁים וְיַבְּאוּ בַּחֲזִירִים וְיֵלְכוּ כָּל הַעֵדֶר בַּבֶּהָלָה וְנִשְׁמְטוּ בַּיָּם וּמֵתוּ בַּמַּיִם
      </p>
      <p class="nl">
        
          En Hij zei tot hen: ga! Zodat de demonen uit de mannen gingen en ingingen in de everzwijnen, en heel de kudde kwam in verschikking en werd neergeworpen in zee en stierf in de wateren.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וְיִפְחֲדוּ הַרוֹעִים וְיִבְרְחוּ וְיַגִּידוּ בָּעִיר הַכֹּל וּתְהוֹם כָּל הָעִיר
      </p>
      <p class="nl">
        
          En die lieten grazen schrokken, zodat zij vluchtten en berichtten alles in de stad. En heel de stad was in rep en roer.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וְיָצְאוּ לִקְרַאת יֵשׁוּעַ וְיָרְאוּ אוֹתוֹ וְיֶחֱלּוּ פָּנָיו לְבִלְתִּי עֲבוּר בִּגְבוּלָם
      </p>
      <p class="nl">
        
          En zij gingen uit en riepen Jesjoea. En zij zagen Hem en beefden van Zijn gezicht, en smeekten Hem niet verder te gaan in hun gebied.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
</div>