<div class="chapter">
  
  
    <div class="line odd">
      <p class="line-number">1.</p>
      <p class="he">
        וְאָז יֵשׁוּעַ בָּא בָּאֳנִיָּה וְיָשׁוּטוּ וְיָשׁוּבוּ לְעִירוֹ
      </p>
      <p class="nl">
        
          En toen ging Jesjoea in het schip en zeilde terug naar Zijn stad.
        
      </p>
      <p class="margin">
        
          ‘Zijn stad’, dat is K<sup>e</sup>phar-Nachoem
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">2.</p>
      <p class="he">
        וְיִקְרְבוּ לְפָנָיו חוֹלֶה אֶחָד מִכִּוּוּץ בְּלֹעֵז פַּרַלֵאטִיקוֹ מוּשְׁכָּב עַל מִטָּתוֹ וְיָרֵא יֵשׁוּעַ אֱמוּנָתָם וַיֹּאמֶר לְחוֹלֶה הִתַחְזֵק בְּנִי בֶּאֱמוּנַת הָאֵל כִּי נִמְחֲלוּ עוֹנוֹתֶיךָ
      </p>
      <p class="nl">
        
          En men bracht voor Zijn aangezicht één met verlammingsziekte, in de vreemde taal: paralytico, neergelegd op zijn bed. En Jesjoea zag hun geloof en Hij zei tot de zieke: heb goede moed, Mijn zoon, door geloof van de El dat uw zonden zijn vergeven.
        
      </p>
      <p class="margin">
        
          ‘bracht’, letterlijk: naderen<br />Vreemde taal: Latijn<br />‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">3.</p>
      <p class="he">
        וּקְצָת הַחֲכָמִים אוֹמְרִים בְּלִבָּם זֶהוּ מְגַדֵּף
      </p>
      <p class="nl">
        
          En enkele wijzen zeiden in hun hart: dit is laster.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">4.</p>
      <p class="he">
        וְיָרֵא יֵשׁוּעַ מַחְשָׁבוֹתָם וַיֹּאמֶר אֲלֵיהֶם לָמָּה תְּחַשְׁבוּ רָעָה בִּלְבַבְכֶם
      </p>
      <p class="nl">
        
          Maar Jesjoea zag hun gedachten en zei tot hen: waarom bedenkt u kwaad in jullie hart?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">5.</p>
      <p class="he">
        זֶהוּ קַל לֵאמֹר נִמְחַל עוֹנֶיךָ אוֹ קוּם וְלֵךְ
      </p>
      <p class="nl">
        
          Is het gemakkelijker om te zeggen: “uw zonden zijn vergeven” of “sta op en ga”?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">6.</p>
      <p class="he">
        רַק לְהוֹדִיעֲכֶם שֶׁבֶּן־אָדָם יָכוֹל אָדָם לַמָּחוֹל עוֹנוֹת בָּאָרֶץ אָז אָמַר לְחוֹלֶה קוּם וְקַח מִיטָּתְךָ וְלֵךְ
      </p>
      <p class="nl">
        
          Maar om jullie te informeren dat de Mensenzoon kan mensen van zonden vergeven op de aarde. Toen zei Hij tot de zieke: sta op, neem uw bed en ga.
        
      </p>
      <p class="margin">
        
          ‘bed’ kan ook vertaald worden als: lijkbaar
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">7.</p>
      <p class="he">
        וְיִקֹּם וְיֵלֵךְ אֶל בֵּיתוֹ
      </p>
      <p class="nl">
        
          Zodat hij opstond en ging naar zijn huis.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">8.</p>
      <p class="he">
        וְיָרְאוּ הַחֲבוּרוֹת וְיָרְאוּ מְאֹד וִיהַלְּלוּ לָאֵל אֲשֶׁר נָתַן יָכוֹלְתְּ לִבְנֵי אָדָם לַעֲשׂוֹת כָּאֵלֶּה
      </p>
      <p class="nl">
        
          Doordat de menigte dit zag, vreesde zij zeer en prezen tot de El, Die geeft de zonen van mensen het vermogen om deze dingen te doen.
        
      </p>
      <p class="margin">
        
          Er is woordverband tussen ‘zag’ (v<sup>e</sup>rar’oe) en ‘vreesde’ (v<sup>e</sup>rar’oe)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">9.</p>
      <p class="he">
        וַיְהִי כַּאֲשֶׁר עָבַר יֵשׁוּעַ מִשָּׁם וְיָרֵא אִישׁ אֶחָד יוֹשֵׁב עַל שֻׁלְחָן הַחֲלוֹף מַתִּתְיָה שְׁמוֹ בְּלֹעֵז מָאטיֵאוֹ וַיֹּאמֶר לוֹ לְךָ אַחֲרִי וְיִקֹּם וְיֵלֵךְ אַחֲרָיו
      </p>
      <p class="nl">
        
          En het gebeurde toen Jesjoea verder ging van daar en Hij zag een zekere man zitten aan de wisseltafel, MattitJAH is zijn naam, in de vreemde taal: Mateo. En Hij zei tegen hem: kom achter Mij! En hij stond op en ging achter Hem.
        
      </p>
      <p class="margin">
        
          MattitJAH of MattitJAHOE: (Mattheus) geschenk van JHWH, wordt in Luk. 5:27 ‘Levi’ (hechten) genoemd en in Mark. 2:14 ‘Levi, de zoon van Alfeüs’<br />Vreemde taal: Latijn
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">10.</p>
      <p class="he">
        וְיוֹלִיכוּהוֹ לְבֵיתוֹ לְאָכוּל וַיְהִי בַּעַת אָכְלוּ וְהִנֵּה פָּרִיצִים רַבִּים וּרְשָׁעִים בַּשֻּׁלְחָן וְסוֹעֲדִים עִם יֵשׁוּעַ וְתַלְמִידָיו
      </p>
      <p class="nl">
        
          En hij bracht Hem naar zijn huis, tot het eten, en het gebeurde terwijl zij aten, en zie, vele geweldplegers en slechten waren aan tafel, en dineerden met Jesjoea en Zijn leerlingen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">11.</p>
      <p class="he">
        וְיָרְאוּ הַפְּרוּשִׁים וַיֹּאמֵרוּ לְתַלְמִידָיו לָמָּה רַבְּכֶם יוֹשֵׁב וְאוֹכֵל עִם הַפָּרִיצִים וְהַרְשָׁעִים
      </p>
      <p class="nl">
        
          En de P<sup>e</sup>roesjiem zagen het en zeiden tegen Zijn leerlingen: waarom zit jullie Rabbi en eet met geweldplegers en slechten?
        
      </p>
      <p class="margin">
        
          ‘Rabbi’ betekent leraar en komt van het woord ‘groot’, de titel komt niet voor in de Torah, wel de vergelijkbare titel ‘Nasji’ (leider)
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">12.</p>
      <p class="he">
        וְיִשְׁמָע יֵשׁוּעַ וַיֹּאמֶר הַבְּרִיאִים אֵינָם צְרִיכִים לִרְפוּאָה כִּי אִם הַחוֹלִים
      </p>
      <p class="nl">
        
          Maar Jesjoea hoorde het en zei: de gezonden hebben geen nood voor genezing, maar de zieken.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">13.</p>
      <p class="he">
        לְכוּ וְלָמְדוּ הַכָּתוּב כִּי חֶסֶד חָפַצְתִּי וְלֹא־זָבַח וְלֹא בָּאתִי לְהָשִׁיב הַצַּדִּיקִים כִּי אִם הָרְשָׁעִים
      </p>
      <p class="nl">
        
          Ga en leer de Schrift: “Want Ik verlang naar verbondsliefde en geen offer”, zodat Mijn komst is niet voor het herstel van de rechtvaardigen, maar de slechten.
        
      </p>
      <p class="margin">
        
          Citaat uit Hos. 6:6
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">14.</p>
      <p class="he">
        אָז קָרְבוּ אֵלָיו תַּלְמִידֵי יוֹחָנָן וַיֹּאמֵרוּ לוֹ לָמָּה אָנוּ וְהַפְּרוּשִׁים מִתְעַנִּים הַרְבֵּה פְּעָמִים וְתַלְמִידֶיךָ אֵינָם מִתְעַנִּים
      </p>
      <p class="nl">
        
          Toen naderden leerlingen van Jochanan tot Hem en zeiden tot Hem: waarom vasten wij en de P<sup>e</sup>roesjiem vele malen, maar Uw leerlingen vasten niet?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">15.</p>
      <p class="he">
        וַיַּעַן לָהֶם יֵשׁוּעַ וַיֹּאמֶר לֹא יוּכְלוּ חַבֵירֵי הֶחָתָן לִבְכּוּת וּלְהִתְעַנּוֹת בִּהְיוֹתוֹ עִמָּהֶם יָבוֹאוּ יָמִים וְיִּלָּקַח מֵהֶם הֶחָתָן וְיָצוּמוּ
      </p>
      <p class="nl">
        
          Maar Jesjoea antwoorde en zei tot hen: de vrienden van de bruidegom kunnen niet wenen en vasten, Hij is met hen. Er komen dagen en men neemt de bruidegom van hen, zodat zij gaan vasten.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">16.</p>
      <p class="he">
        לֹא יְאַבֵּד אִישׁ חֲתִיכַת מַלְבּוּשׁ חָדָשׁ בְּמַלְבּוּשׁ יָשָׁן שֶׁחוֹזֶק הַחֲתִיכָה הַחֲדָשָׁה יִמְשׁוּךְ מֵהַמַּלְבּוּשׁ הַבְּלוּיָה וְיִקְרַע יוֹתֵר
      </p>
      <p class="nl">
        
          Niemand laat een nieuw stuk kleed verloren gaan door aan een oud kleed te zetten, welke de kracht van het nieuwe stuk de lompen uitrekt en de rest stukscheurt.
        
      </p>
      <p class="margin">
        
          ‘niemand’, letterlijk: ‘geen man’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">17.</p>
      <p class="he">
        וְלֹא יָשִׂימוּ יַיִן חָדָשׁ בַּכֵּלִים יְשָׁנִים פָּן יִשְׁבְּרוּ הַכֵּלִים וְיִשְׁפּוֹךְ הַיַּיִן וְהַכֵּלִים יְאַבְּדוּ רַק יַיִן חָדָשׁ בַּכְּלִי חָדָשׁ וּשְׁנֵיהֶם יִשְׁמְרוּ
      </p>
      <p class="nl">
        
          En niemand doet nieuwe wijn in oude vaten, opdat de vaten niet breken en de wijn uitgegoten wordt en verloren gaat. Maar doet nieuwe wijn in een nieuw vat en beiden zijn behouden.
        
      </p>
      <p class="margin">
        
          Oude zakken hebben hun elasticiteit verloren, wat neerkomt op het vermogen van een persoon om elastisch te zijn in zijn geloofssysteem om meer te leren. Deze analogie is het gevolg doordat de P<sup>e</sup>roesjiem mensen worden gevuld menselijke leringen, waardoor er geen elasticiteit is om de waarheid te leren.
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">18.</p>
      <p class="he">
        וַיְהִי בִּדְבָרוּ אֲלֵיהֶם וְיִקְרַב שַׂר אֶחָד וְיִשְׁתַּחֲוֶה לוֹ לֵאמֹר אֲדוֹנִי בִּתִּי אִתָּהּ עַתָּה מֵתָה בָּא נָא וְשָׂיַם יָדְךָ עָלֶיהָ וְהַחַיָּה
      </p>
      <p class="nl">
        
          En het gebeurde, wanneer Hij sprak tot hen, een zekere hoofdman naderde en boog diep voor Hem, door te zeggen: mijn Heer, mijn dochter is nu gestorven. Kom toch en leg Uw hand op haar en zij zal leven.
        
      </p>
      <p class="margin">
        
          ‘hoofdman’, in Mark. 5:22 en Luk. 8:41 wordt verteld dat deze hoofdman Jaïrus heette. Jaïrus is de Griekse vorm van de Hebreeuwse naam: Jaïr (Hij verlicht)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">19.</p>
      <p class="he">
        וְיִקֹּם יֵשׁוּעַ וְיֵלֵךְ הוּא וְתַלְמִידָיו עִמּוֹ
      </p>
      <p class="nl">
        
          En Jesjoea stond op en ging, Hij, en Zijn leerlingen met Hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">20.</p>
      <p class="he">
        וְהִנֵּה אִשָּׁה אַחַת שׁוֹפַעַת דָּם שְׁתַּיִם עֲשָׂרָה שָׁנָה בָּא אַחֲרָיו וְתִגַּע בַּצִּיצִית בִּגְדּוֹ
      </p>
      <p class="nl">
        
          Maar zie! een vrouw die twaalf jaar bloedvloeiingen had, kwam achter Hem en raakte de tsitsit van Zijn kleed.
        
      </p>
      <p class="margin">
        
          ‘tsitsit’ dat zijn de schouwdraden aan het bovenkleed, zie Num. 15:37-41 en Deut. 22:12
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">21.</p>
      <p class="he">
        אוֹמֶרֶת בִּלְבָבָהּ אִם אֶגַּע בִּלְבוּשׁוֹ לְבַד אֵרָפֵא מִיָּד
      </p>
      <p class="nl">
        
          Zij zei in haar hart: als ik Zijn kleed alleen aanraak, ik zal direct genezen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">22.</p>
      <p class="he">
        וְיָסֵב פָּנָיו וַיֹּאמֶר אֵלֶיהָ הִתְחַזְּקִי בִּתִּי בְּשֵׁם יהוה שֶׁאֱמוּנַתְךָ רְפְּאֲךָ וּבְּאוֹתָהּ שָׁעָה נִרְפֵּאת
      </p>
      <p class="nl">
        
          Maar Hij draaide Zijn gezicht om en zei tegen haar: Heb goede moed, mijn dochter, in de Naam van JHWH, omdat uw geloof uw genezing is. En op dat moment werd zij genezen.
        
      </p>
      <p class="margin">
        
          ‘geloof’, letterlijk: ‘trouw’ en ‘zekerheid’<br />Er is woordverband tussen ‘uw genezing’ (r<sup>e</sup>pacha) en ‘werd zij genezen’ (nirpét)
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">23.</p>
      <p class="he">
        וַיְהִי בְּבוֹאוֹ בְּבֵית הַשַּׂר וְיָרֵא אֲנָשִׁים רַבִּים בּוֹכִים
      </p>
      <p class="nl">
        
          En het gebeurde bij Zijn binnenkomst in het huis van de hoofdman, zag Hij vele mannen wenen.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">24.</p>
      <p class="he">
        וַיֹּאמֶר לָהֶם צְאוּ כּוּלְּכֶם חוֹצֶה וְאַל תִּבְכּוּ שֶׁהַנַּעֲרָה יְשָׁנָה וְלֹא מֵתָה וַיְהִי כִּמִצְחָק בְּעֵינֵיהֶם וְאוֹמְרִים הַלֹּא אָנוּ רוֹאִים שֶׁהִיא מֵתָה
      </p>
      <p class="nl">
        
          Maar Hij zei tot hen: Ga uit naar buiten, jullie allen, en ween niet, omdat het meisje slaapt en is niet dood. En het was bespottelijk in hun ogen en zeiden: hebben wij niet gezien dat zij dood is?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">25.</p>
      <p class="he">
        וּבְהוֹצִיאָם אוֹתָם הַחוּצָה בָּא אֵלֶיהָ יֵשׁוּעַ וְיָגַע בְּיָדָהּ וְתִקֹּם הַנַּעֲרָה
      </p>
      <p class="nl">
        
          Maar toen zij naar buiten gebracht waren, Jesjoea kwam tot haar en raakte haar hand aan, zodat het meisje opstond.
        
      </p>
      <p class="margin">
        
          In Luk. 8:51 wordt gemeld dat alleen Petros, Jaäqov, Jochanan, de vader en de moeder erbij waren
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">26.</p>
      <p class="he">
        וַתֵּצֵא שְׁמוּעָה זֹאת בְּכָל הָאָרֶץ הַהִיא
      </p>
      <p class="nl">
        
          En dit bericht ging door heel het land.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">27.</p>
      <p class="he">
        וְיַעֲבוֹר מִשָּׁם יֵשׁוּעַ וְהִנֵּה שְׁנֵי עִוְּרִים רָצִים אַחֲרָיו וְצוֹעֲקִים אֵלָיו חָנִינוּ בֶּן־דָּוִד
      </p>
      <p class="nl">
        
          En Jesjoea ging verder van daar en zie, twee blinden liepen achter Hem en riepen tot Hem: heb genade, Zoon van David!
        
      </p>
      <p class="margin">
        
          ‘liepen’ kan ook vertaald worden als: rennen<br />‘riepen’ kan ook vertaald worden als: schreeuwen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">28.</p>
      <p class="he">
        וַיְהִי בְּבוֹאוֹ הַבַּיִת וְיִקְרְבוּ אֵלָיו הָעִוְּרִים וַיֹּאמֶר
      </p>
      <p class="nl">
        
          En het gebeurde bij Zijn binnenkomst in het huis, dat de blinden naderden tot Hem, en Hij zei:
        
      </p>
      <p class="margin">
        
          In de Peshitta en Griekse handschriften is aan dit vers toegevoegd: ‘en Jesjoea zei tegen hen: gelooft u dat Ik dat kan doen? Zij zeiden tegen Hem: Ja, onze Heer’
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">29.</p>
      <p class="he">
        אֱמוּנַתְכֶם תְּרַפֵּא אֶתְכֶם
      </p>
      <p class="nl">
        
          jullie geloof is jullie genezing.
        
      </p>
      <p class="margin">
        
          In Peshitta en Griekse handschriften begint dit vers: ‘Toen raakte Hij hun ogen aan en zei’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">30.</p>
      <p class="he">
        וְתִפְקַחְנָה עֵינֵי שְׁנֵיהֶם מִיָּד וְיָרְאוּ וְיָצוּם לֵאמֹר הִשָּׁמְרוּ פֶּן יוֹדֵעַ הַדָּבָר
      </p>
      <p class="nl">
        
          En direct worden hun beider ogen geopend en zagen. Maar Hij gebood hen door te zeggen: behoed je, opdat men niet weet van deze zaak.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">31.</p>
      <p class="he">
        וְהֵם יָצְאוּ וַיִּגַּלוּהוּ בְּכָל הָאָרֶץ הַהִיא
      </p>
      <p class="nl">
        
          En zij gingen uit, maar openbaarden dit in heel het land.
        
      </p>
      <p class="margin">
        
          ‘openbaren’ kan ook vertaald worden als: blootleggen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">32.</p>
      <p class="he">
        וַיֵצֵא מִשָּׁם יֵשׁוּעַ וַיָּבִיאוּ לְפָנָיו אִישׁ אִלֵּם וְהַשֵּׁד בְּתוֹכוֹ
      </p>
      <p class="nl">
        
          En Jesjoea ging uit van daar en een stomme man kwam voor Zijn aangezicht en een demon was te midden van hem.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">33.</p>
      <p class="he">
        וְיוֹצִיא אֶת־הַשֵּׁד וִידַבֵּר הָאֵלֶם וְיִפְלֵאוּ הַחֲבוּרוֹת וַיֹּאמֵרוּ לֹא נִרְאָה כָּזֶה בְּיִשְׁרָאֵל
      </p>
      <p class="nl">
        
          En Hij deed uit de demon en de stomme sprak. En de menigte verwonderde en zei: zoiets als dit is niet gezien in Jisraël.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">34.</p>
      <p class="he">
        וַיֹּאמֵרוּ הַפְּרוּשִׁים בֶּאֱמֶת בַּשֵּׁם הַשֵּׁדִים מוֹצִיא הַשֵּׁדִים
      </p>
      <p class="nl">
        
          Maar de P<sup>e</sup>roesjiem zeiden: in waarheid, in de naam van de demonen gaan de demonen uit.
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">35.</p>
      <p class="he">
        וְיָסֵב אֵת כָּל הֶעָרִים וְהַמִּגְדָּלִים מְלַמֵּד בְּבָתֵּי כְּנֵסִיּוֹת וּמְבַשֵּׂר בְּשׂוֹרוֹת וּמַרְפֵּא כָּל חֹלִים וְכָל מַדְוֶה
      </p>
      <p class="nl">
        
          En Hij ging rond in alle steden en plaatsen lerende in de huizen van samenkomsten, en bracht het goede nieuws, en Hij genas al hun zieken en al de ziekten.
        
      </p>
      <p class="margin">
        
          ‘plaatsen’, letterlijk: torens<br />‘huizen van samenkomsten’, Beejt Knesset in het Hebreeuws en Synagoge in het Grieks<br />‘het goede nieuws’, in de Peshitta en Griekse handschriften wordt hieraan toegevoegd: van het Koninkrijk’
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">36.</p>
      <p class="he">
        וְיָרֵא יֵשׁוּעַ הַחֲבוּרוֹת וְיַחְמוֹל עֲלֵיהֶם שֶׁהָיוּ יְגֵעִים וְשׁוֹכְבִים כַּצֹאן אֲשֶׁר אֵין לָהֶם רוֹעֶה
      </p>
      <p class="nl">
        
          Maar Jesjoea zag de menigte en had medelijden over hen, omdat zij vermoeid waren en liggen als schapen: is er geen herder voor hen?
        
      </p>
      <p class="margin">
        
          
        
      </p>
    </div>
  
    <div class="line odd">
      <p class="line-number">37.</p>
      <p class="he">
        אָז אָמַר לְתַלְמִידָיו הֲקָמָה מְרוּבֶּה וְהַקּוֹצְרִים מְעַטִּים
      </p>
      <p class="nl">
        
          Toen zei Hij tot Zijn leerlingen: het rijpend graan is talrijk, maar er zijn weinig oogsters.
        
      </p>
      <p class="margin">
        
          ‘oogsters’, dat zijn degenen die oogst binnenhalen
        
      </p>
    </div>
  
    <div class="line even">
      <p class="line-number">38.</p>
      <p class="he">
        חָלוּ־נָא פְּנֵי־בַּעַל הֲקָמָה וְיִשְׁלַח הַקּוֹצְרִים רַבִּים לְקָצוּר קוֹמָתוֹ
      </p>
      <p class="nl">
        
          Tracht toch het aangezicht van de Eigenaar van het rijpend graan gunstig te stemmen, zodat Hij uitzendt de vele oogsters tot het oogsten van Zijn rijpend graan.
        
      </p>
      <p class="margin">
        
          ‘Eigenaar’, letterlijk: Baäl
        
      </p>
    </div>
  
</div>