<h2>Verantwoording</h3>

<p>In 1380, met enkele revisies in 1385 en rond 1400, voltooide Shem Tov ben-Izaak ben-Shaprut (Ibn Shaprut) zijn boek genaamd: Even Bohan (אבן בהן), toetssteen. In dit boek legt hij de beginselen van het Joodse geloof vast, onderbouwd met citaten uit de Tenach (Oude Testament), gericht om zich af te zetten tegen de Christenen. Om zijn standpunten te onderbouwen voegde hij in het twaalfde hoofdstuk het Goede Bericht naar MattitJAH (Mattheus) toe, telkens onderbroken met polemisch commentaar.</p>

<p>Op deze website is het Goede Bericht naar MattitJAH uit Even Bohan gelicht en vertaalt naar het Nederlands. Toen het vertaalwerk begon bestond nog geen Nederlandse vertaling van dit Hebreeuwse Mattheusevangelie. Het polemisch commentaar is ertussenuit gehaald, zodat een doorgaande tekst wordt gepresenteerd. De vers- en hoofdstukindeling is gelijk aan dat van de Statenvertaling, behalve daar waar de Shem Tov-tekst afwijkt.</p>

<p>Er wordt nog gewerkt aan tekstkritiek, vergelijking met andere Hebreeuwse teksten van het Mattheusevangelie en tekstanalyse. De eerste negen hoofdstukken waren al in 2014 op deze website gepubliceerd. De overige hoofdstukken werden in 2023 toegevoegd. In de tussenliggende periode zijn diverse manuscripten van Even Bohan gedigitaliseerd, waardoor deze bestudeerd konden worden. Dit werk is nog gaande.</p>

<h3>Bronnen</h3>

<p>De Hebreeuwse tekst op deze website is samengesteld uit de verschillende manuscripten van Even Bohan. Net als prof. G. Howard in zijn boek ‘The Gospel of Matthew according to a Primitive Hebrew Text’ (Mercer University Press, 1987) zijn de volgende twee manuscripten als basistekst genomen:</p>
<ul>
  <li>Ms. Add. no. 26964, British Library, Londen.</li>
  <li>Ms. Opp. Add. 4° 72, Bodleian Library, Oxford.</li>
</ul>

<p>Prof. G. Howard heeft in zijn apparatus de volgende manuscripten verwerkt:</p>
<ul>
  <li>Ms. Mich. 119, Bodleian Library, Oxford.</li>
  <li>Ms. Mich. 137, Bodleian Library, Oxford.</li>
  <li>Ms. 2209 (Marx 19), Library of the Jewish Theological Seminary of America, New York.</li>
  <li>Ms. 2234 (Marx 15), Library of the Jewish Theological Seminary of America, New York.</li>
  <li>Ms. 2279 (Marx 18), Library of the Jewish Theological Seminary of America, New York.</li>
  <li>Ms. 2426 (Marx 16), Library of the Jewish Theological Seminary of America, New York.</li>
  <li>Ms. Heb. 28, Bibliotheek der Rijksuniversiteit, Leiden.</li>
</ul>

<p>Daarnaast zijn voor de publicatie op deze website de volgende manuscripten bestudeerd:</p>
<ul>
  <li>Ms. Opp. Add. 4° 111, Bodleian Library, Oxford. Het bevat alleen de lijst van generaties (Mat. 1:1-16).</li>
  <li>Ms. 2460, Library of the Jewish Theological Seminary of America, New York. Het bevat alleen de lijst van generaties (Mat. 1:1-16).</li>
  <li>Ms. 5489, Library of the Jewish Theological Seminary of America, New York.</li>
  <li>X 150 sup./1 / Luz. 64, Biblioteca Ambrosiana, Milaan.</li>
  <li>Ms. 53, Biblioteca del Talmud Torah di Livorno, Livorno.</li>
  <li>Ms. 760 (2259), Biblioteca Palatina Parmiense, Parma.</li>
  <li>Ms. Plutei 2.17, Biblioteca Medicea Laurenziana, Florence.</li>
  <li>Ms. 2.10.143 (II.X.143), Biblioteca Central, Florence.</li>
  <li>Vat. Ebr. 101, Biblioteca Apostolica Vaticana, Vaticaanstad.</li>
  <li>214 (MS 3099), Biblioteca Casanatense, Rome.</li>
  <li>Breslau 59b (Breslau 233 / Cat Saraval 26b), Juedisch-theologisches Seminar, Wrocław.</li>
</ul>

<p>Voor de vergelijking met andere Hebreeuwse teksten van het Mattheusevangelie zijn de volgende teksten bestudeerd:</p>
<ul>
  <li>Munster-tekst, gepubliceerd door Sebastian Münster in 1537. ‘Evangelium Secundum Matthaeum in lingva Hebraica’</li>
  <li>DuTillet-tekst, gepubliceerd door Jean du Tillet in 1555. Heb.MSS.132, Bibliothèque Nationale, Parijs.</li>
</ul>

<p>De Hebreeuwse tekst is voorzien van niqoed (streepjes en puntjes) naar de Tiberische vocalisatie, dit is niet zo in de manuscripten.</p>

<h3>Nederlandse vertaling</h3>

<p>De Nederlandse vertaling poogt een tekstgetrouwe vertaling te zijn. Dichtbij de Hebreeuwse tekst. Er is gekozen om de Hebreeuwse namen en specifieke termen te verklanken in plaats van de gangbare spelling te gebruiken. Hiervoor zijn de volgende uitgangspunten genomen:</p>
<ul>
  <li>Een hoorbare sj<sup>e</sup>wa wordt weergegeven als een <sup>e</sup>. Een stomme sj<sup>e</sup>wa wordt weggelaten;</li>
  <li>Na een korte klinker wordt de volgende medeklinker verdubbeld, indien het Hebreeuws een korte klank heeft;</li>
  <li>De Hebreeuwse letters ‘gimmel’ (ג), ‘qoph’ (ק) en zachte ‘pe’ (פ) worden weergegeven als respectievelijk: ‘gh’ (een klank vergelijkbaar met het Engelse woord ‘give’), ‘q’ en ‘ph’ (de f-klank zoals in de naam ‘Phillips’;</li>
  <li>En wanneer een naam eindigt met de Hebreeuwse letter ‘he’ (ה) wordt de lange klank niet verdubbeld, maar met een ‘h’ afgesloten.</li>
</ul>

<p>De Heilige Naam of Tetragrammaton (vierletterige Naam) wordt in de Hebreeuwse tekst van het Mattheusevangelie door Ibn Shaprut niet weergegeven, behalve als afkorting ה׳ of als ‘haSjem’ (השם), wat ‘de Naam’ betekent. Dit is een indicatie dat de Heilige Naam er gestaan moet hebben in het manuscript wat Ibn Shaprut gebruikte voor zijn boek. Om die reden is de Heilige Naam in de Hebreeuwse tekst en vertaling op deze website hersteld. De vocalisatie van de Heilige Naam is na diepgaand onderzoek bepaald en als zodanig in de niqoed rondom de Hebreeuwse letters opgenomen.</p>

<p>De Naam van de Messias, Jesjoea, wordt in de Hebreeuwse tekst door Ibn Shaprut slechts op twee plekken volledig geschreven. Andere keren wordt de naam afgekort tot ‘jesju’. In de Hebreeuwse tekst en vertaling op deze website wordt de Naam van de Messias als Jesjoea weergegeven.</p>

<p>Andere Namen voor de Allerhoogste worden eveneens aangetroffen:</p>
<ul>
  <li>Adonai (אֲדֹנָי): Heer</li>
  <li>El (אֵל): God, korte vorm</li>
  <li>Eloah (אֱלוֹהַּ): God</li>
  <li>Elohiem (אֱלֹהִים): God, meervoudsvorm. In verschillende manuscripten van Even Bohan komt deze Naam voor als ‘Eloqiem’ (אֱלֹקִים).</li>
</ul>


<p>“en u zult Zijn naam noemen <strong>Jesjoea</strong>, want Hij zal Mijn volk <strong>verlossen (josji’a)</strong> van hun overtredingen”</p> – Mat. 1:21
