<h2>Verantwoording</h3>

<h3>Werk in uitvoering</h3>

<p>Op deze website worden de vorderingen op het omvangrijke project rondom het Hebreeuwse Mattheusevangelie, ofwel: Het Goede Bericht van Matit-JAHU.</p>
<p><strong>Dit project is nog niet afgerond. Alle teksten zijn nog in beweging. Het is waarschijnlijk dat er nog fouten in zitten of dat zaken nog incompleet zijn.</strong></p>
<p>Het project omvat de volgende onderdelen:</p>

<ul>
  <li>Onderzoek naar authenticiteit. De beschikbare bronnen worden onderzocht of deze authentiek zijn en hoe dit zich verhoud met de Griekse handschriften van het Mattheusevangelie. </li>
  <li>Het plaatsen van klinkertekens. Zowel het Shem Tov Manuscript als het DuTillet Manuscript is het Hebreeuws zonder de klinkertekens. Deze klinkertekens behoren oorspronkelijk niet bij de tekst, maar zijn eraan toegevoegd om de Hebreeuwse tekst leesbaar te maken. De meeste woorden zijn terug te leiden tot de Hebreeuwse tekst van het Oude Testament. Op enkele plaatsen is de meest voor hand liggende klinkertekens gekozen.</li>
  <li>Vertalen van de Hebreeuwse tekst. De Hebreeuwse tekst wordt zo getrouw mogelijk vertaald naar het Nederlands. In de kanttekeningen staan opmerkingen die betrekking hebben tot woordverbanden die door de vertaling naar het Nederlands wegvallen en namen die in het Hebreeuws een andere uitspraak kennen.</li>
  <li>De Hebreeuwse woorden worden voorzien van de Strong-codering. Hierdoor zijn woorden terug te vinden in het Oude Testament en mogelijke verbanden te leggen.</li>
</ul>

<h3>Bronnen</h3>

<p>De Hebreeuwse handschriften ten grondslag aan dit document zijn een combinatie van:</p>
<ul>
  <li>Shem Tov Manuscript, onderdeel van de Even Bohan</li>
  <li>DuTillet Manuscript</li>
</ul>

<p>Hierbij is gebruik gemaakt van de transcriptie van het Shem Tov Manuscript afkomstig van Torah Resource Institute. Deze versie is gecorrigeerd door Grzekasz Kaszynski en gepubliceerd op 12 december 2010.</p>

<p>Het Shem Tov Manuscript is vergeleken met de kopieën te vinden van het British Library en de Bibliotheek der Rijksuniversiteit te Leiden. Het DuTillet Manuscript, welke te vinden is bij Bibliotheque Nationale te Parijs, is vergeleken met het Shem Tov Manuscript. </p>

<p>De gebruikte versies van het DuTillet Manuscript is de publicatie van Wellsprings of Torah te Waxhaw (Verenigde Staten), deze heeft naast een transcriptie van de Hebreeuwse tekst een Aramese tekst en een Engelse vertaling daarvan, de transcriptie van de Hebreeuwse tekst met de Griekse tekst (UBS) gepubliceerd door het Torah Resource Institute en het boek ‘An Old Hebrew Tekst of St. Matthew’s Gospel’ door Hugh J. Schonfield (T&T Clark, 1927), een Engelse vertaling.</p>

<p>De Hebreeuwse tekst in dit document is voornamelijk gebaseerd op het Shem Tov Manuscript. Er is gekozen om daar waar het DuTillet Manuscript afwijkt van het Shem Tov Manuscript de tekst aan te vullen, tussen haken, of een kanttekening te plaatsen.</p>

<h3>Namen</h3>

<p>Met betrekking tot namen is gekozen om zoveel mogelijk de Herziene Statenvertaling te volgen, om de leesbaarheid van de Nederlandse vertaling te behouden. Voor enkele namen is een uitzondering gemaakt:</p>
<ul>
  <li>De Naam van God wordt in de Nederlandse vertaling weergegeven zoals deze in de uitspraak behoord te klinken. Deze transliteratie van de Hebreeuwse Naam is overgenomen van het Griekse manuscript die de transliteratie van De Naam getrouwelijk heeft overgezet.</li>
  <li>De Naam van de Messias. De Latijnse naam ‘Jezus’, welke afkomstig is van het Griekse ‘Jésous’, is geen juiste weergave van de Hebreeuwse naam: Jeshua. In de Hebreeuwse tekst komt verschillende keren de naam ‘Jeshu’ voor, dit is een schrijfwijze die veel voorkomt in de Talmud-literatuur, vooral bedoeld om de Messias niet al de Verlosser te erkennen. Daarom is in de Hebreeuwse tekst dit aangepast naar: Jeshua.</li>
  <li>De naam ‘Mirjam’, die in het Grieks ‘Maria’ is, is een weergave van de Hebreeuwse naam. Vanwege betekenis wordt de Hebreeuwse weergave gevolgd.</li>
</uL>