<h2>Verantwoording</h3>

<h3>Werk in uitvoering</h3>

<p>Op deze website worden de vorderingen geplaatst op het omvangrijke project rondom het Hebreeuwse Mattheusevangelie, ofwel: Het Goede Bericht naar MattitJAH.</p>
<p><strong>Dit project is nog niet afgerond. Alle teksten zijn nog in beweging. Het is waarschijnlijk dat er nog fouten in zitten of dat zaken nog incompleet zijn.</strong></p>
<p>Het project omvat de volgende onderdelen:</p>

<ul>
  <li>Vertalen van de Hebreeuwse tekst. De Hebreeuwse tekst wordt zo getrouw mogelijk vertaald naar het Nederlands. In de kanttekeningen staan opmerkingen die betrekking hebben tot woordverbanden die door de vertaling naar het Nederlands wegvallen en namen die in het Hebreeuws een andere uitspraak kennen;</li>
  <li>Het plaatsen van klinkertekens. Zowel de Shem Tov-teksten als het DuTillet Manuscript is het Hebreeuws zonder de klinkertekens. Deze klinkertekens behoren oorspronkelijk niet bij de tekst, maar zijn eraan toegevoegd om de Hebreeuwse tekst leesbaar te maken. De meeste woorden zijn terug te leiden tot de Hebreeuwse tekst van Tenach (Oude Testament). Op enkele plaatsen is de meest voor hand liggende klinkertekens gekozen;</li>
  <li>Onderzoek naar authenticiteit. De beschikbare bronnen worden onderzocht of deze authentiek zijn en hoe dit zich verhoud met de Griekse handschriften van het Mattheusevangelie.</li>
</ul>

<h3>Bronnen</h3>

<p>De Hebreeuwse handschriften ten grondslag aan dit document zijn een combinatie van:</p>
<ul>
  <li>Shem Tov teksten, onderdeel van de Even Bohan</li>
  <li>DuTillet Manuscript</li>
  <li>Munster tekst, onderdeel van het boek: ‘Evangelium Secundum Matthaeum in lingva Hebraica’ uitgegeven door Sebastian Münster</li>
</ul>

<p>De basistekst is gebaseerd op Ms.Add.no.26964 (British Library, Londen) en Ms. Opp. Add. 4° 72 (Bodleian Bibliotheek, Oxford). Dit is gelijk wat door prof. G. Howard is gedaan in het boek ‘The Gospel of Matthew according to a Primitive Hebrew Text’ (Mercer University Press, 1987), echter er zijn nog andere versies die vergeleken worden met de basistekst. Daar waar de andere versies afwijken, wordt afgewogen wat de beste lezing is. Prof. G. Howard had beschikking tot 9 versies, momenteel zijn er nog 15 versies beschikbaar. </p>

<p>De gebruikte versie van het DuTillet Manuscript is onder meer te vinden in het boek ‘An Old Hebrew Tekst of St. Matthew’s Gospel’ door Hugh J. Schonfield (T&T Clark, 1927).</p>

<p>De Münster tekst is onderdeel van het boek: ‘Evangelium Secundum Matthaeum in lingva Hebraica’ uitgegeven door Sebastian Münster. Als opschrift heeft Sebastiaan Münster geschreven: Torah van de Messias.</p>

<p>De Hebreeuwse tekst in dit document is gebaseerd op het Shem Tov. Er is gekozen om daar waar het DuTillet Manuscript en de Münster tekst afwijkt van het Shem Tov een kanttekening te plaatsen.</p>

<h3>Namen</h3>

<p>De Hebreeuwse namen worden in de vertaling weergegeven volgens het oranje boekje (Hebreeuwse en Jiddisje woorden in het Nederlands). Daarnaast worden eigen ‘regels’ gehanteerd om de uitspraak van de Hebreeuwse namen in de oorspronkelijke klank te behouden:</p>
<ul>
  <li>Waar de Heilige Naam voorkomt, hetzij gedeeltelijk, in een persoonsnaam, wordt deze weergegeven met hoofdletters;</li>
  <li>Een hoorbare sjewa wordt weergegeven als een <sup>e</sup>. Een stomme sjewa wordt weggelaten;</li>
  <li>Na een korte klinker wordt de volgende medeklinker verdubbeld, indien het Hebreeuws een korte klank heeft;</li>
  <li>De Hebreeuwse letters ‘gimmel’, ‘qoph’ en zachte ‘pe’ worden weergegeven als respectievelijk: ‘gh’ (een klank vergelijkbaar met het Engel ‘give’), ‘q’ en ‘ph’ (de f-klank zoals in de naam ‘Phillips’;</li>
  <li>En wanneer een naam eindigt op de Hebreeuwse letter ‘he’, wordt de lange klank niet verdubbeld, en wordt met een ‘h’ afgesloten.</li>
  
<p>De Naam van de Messias. De Latijnse naam ‘Jezus’, welke afkomstig is van het Griekse ‘Jésous’, is geen juiste weergave van de Hebreeuwse naam: Jesjoea. In de Hebreeuwse tekst komt verschillende keren de naam ‘Jesju’ voor, dit is een schrijfwijze die veel voorkomt in de Talmud-literatuur, vooral bedoeld om de Messias niet als de Verlosser te erkennen.</p>
</uL>
